backups/workflows/Agente de facturacion.json
{"createdAt":"2025-11-09T06:04:41.963Z","updatedAt":"2025-11-09T06:04:41.963Z","id":"tIctf8sxuNdgakVJ","name":"Agente de facturacion","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-688,512],"id":"880397dc-2223-4c4c-95b5-4f53cedda213","name":"OpenAI Chat Model"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,320],"id":"c9d1c67f-74be-4998-a6e8-285ad96eb14b","name":"OpenAI Chat Model1"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai//api/v1/parsing/job/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1408,480],"id":"d1617626-11e6-4526-8a3a-303ca5b55639","name":"Policia"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}/result/markdown","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-768,240],"id":"78643c40-7fcf-4540-a2c6-1f7817c28990","name":"Familiar"},{"parameters":{"descriptionType":"manual","toolDescription":"Update my list of clients","operation":"update","documentId":{"__rl":true,"value":"1psGNFypuB1H_U06pZ5r_1HmP8-hcrqkk1P5bqKgNjBk","mode":"list","cachedResultName":"Facturas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1psGNFypuB1H_U06pZ5r_1HmP8-hcrqkk1P5bqKgNjBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":675036266,"mode":"list","cachedResultName":"BD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1psGNFypuB1H_U06pZ5r_1HmP8-hcrqkk1P5bqKgNjBk/edit#gid=675036266"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $fromAI(\"name\") }}","Estado":"={{ $fromAI(\"Estado\") }}"},"matchingColumns":["Nombre"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Edad","displayName":"Edad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Género","displayName":"Género","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Teléfono","displayName":"Teléfono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FechaInscripción","displayName":"FechaInscripción","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Plan","displayName":"Plan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[784,352],"id":"0c064c39-e78e-419b-9631-563de612d950","name":"Actualizar"},{"parameters":{"descriptionType":"manual","toolDescription":"Read my list of clients","documentId":{"__rl":true,"value":"1psGNFypuB1H_U06pZ5r_1HmP8-hcrqkk1P5bqKgNjBk","mode":"list","cachedResultName":"Facturas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1psGNFypuB1H_U06pZ5r_1HmP8-hcrqkk1P5bqKgNjBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":675036266,"mode":"list","cachedResultName":"BD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1psGNFypuB1H_U06pZ5r_1HmP8-hcrqkk1P5bqKgNjBk/edit#gid=675036266"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1088,304],"id":"1abc424d-1aaa-4d79-a8de-fa2f0471b1f3","name":"Leer"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1pIEaHWpqJzD9Mx7GSjxszVrRsPHu99Jk","mode":"list","cachedResultName":"Files","cachedResultUrl":"https://drive.google.com/drive/folders/1pIEaHWpqJzD9Mx7GSjxszVrRsPHu99Jk"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-2016,272],"id":"a6a037e6-7098-4f7e-99fc-0066190663c3","name":"Espera por un archivo creado en esa carpeta de drive"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1824,544],"id":"ee4dc55f-7d1e-4cf4-9480-34e9d4c99311","name":"Descarga el archivo"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ÉXITO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7425f6b7-aa76-40b1-8435-d9893b4b0469","leftValue":"={{ $json.status }}","rightValue":"PENDING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AÚN NO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-960,448],"id":"9eb5d4f5-12e6-471c-a79f-aef2b2912197","name":"Evalua si se llego a procesar el request"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1216,704],"id":"426d7edb-8a58-4ded-b451-cdd46b5aedef","name":"Espera 5 segundos y vuelve al flujo anterior","webhookId":"6d0e1fa9-1b53-4a63-896b-5a325c93bc44"},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai//api/v1/parsing/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"continuous_mode","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1664,272],"id":"72f27ae1-1a5d-4852-8f91-3b63c5c04775","name":"Envia el archivo a llama para su procesamiento"},{"parameters":{"promptType":"define","text":"={{ $json.markdown }}","hasOutputParser":true,"options":{"systemMessage":"=# Sistema de Procesamiento de Recibos\n\nEres un agente especializado en procesar recibos y estructurar la información. Tu objetivo es:\n1. Extraer información relevante del texto del recibo\n2. Crear un JSON estructurado\n3. Actualizar registros en dos hojas de Excel diferentes\nObservacion: El nombre del cliente estara marcado como NAME:\n\n## Instrucciones de Procesamiento\n\n1. Del recibo debes extraer:\n   - Fecha\n   - Número de recibo/factura\n   - Monto total\n   - Cliente\n   - Items/productos\n   - Método de pago\n   - IVA (si aplica)\n\n2. Estructura el JSON así:\n\n{\n  \"fecha\": \"YYYY-MM-DD\",\n  \"numero_recibo\": \"string\",\n  \"cliente\": {\n    \"nombre\": \"string\",\n    \"id\": \"string\"\n  },\n  \"items\": [\n    {\n      \"descripcion\": \"string\",\n      \"cantidad\": null,\n      \"precio_unitario\": null,\n      \"subtotal\": null\n    }\n  ],\n  \"metodo_pago\": \"string\",\n  \"total\": null,\n  \"iva\": null\n}\n\n\n\nPASOS A SEGUIR\n\n1. Hacer el OUTPUT EN UN JSON que se te pidio"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-528,192],"id":"ea4fb34e-fb34-4bac-a9db-47791e709032","name":"Solo genera la respuesta en json"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"fecha\": \"YYYY-MM-DD\",\n  \"numero_recibo\": \"string\",\n  \"cliente\": {\n    \"nombre\": \"string\",\n    \"id\": \"string\"\n  },\n  \"items\": [\n    {\n      \"descripcion\": \"string\",\n      \"cantidad\": null,\n      \"precio_unitario\": null,\n      \"subtotal\": null\n    }\n  ],\n  \"metodo_pago\": \"string\",\n  \"total\": null,\n  \"iva\": null\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-256,608],"id":"c7b0ea1f-8f29-4b43-ade8-d660c390d4e5","name":"Estructura de salida json"},{"parameters":{"jsCode":"// Obtenemos el arreglo 'items' que viene dentro de output\nconst invoiceItems = items[0].json.output.items;\n\n// Recorremos ese arreglo para formar nuestra cadena\nconst combinedString = invoiceItems.map(item => {\n  return `Descripción: ${item.descripcion}, ` +\n         `Cantidad: ${item.cantidad}, ` +\n         `Precio Unitario: ${item.precio_unitario}, ` +\n         `Subtotal: ${item.subtotal}`;\n}).join(' | ');\n\nreturn [\n  {\n    json: {\n      combined: combinedString\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,272],"id":"ec503d3e-2ea2-4c0b-931d-076d93564812","name":"Combina todos los items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a4e3704-4004-4d18-9600-312bd1637383","leftValue":"={{ $('Solo genera la respuesta en json').item.json.output.cliente.nombre }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[256,144],"id":"6aa5facf-4a90-489d-ba1a-f0783530799f","name":"Si existe el nombre de cliente"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1psGNFypuB1H_U06pZ5r_1HmP8-hcrqkk1P5bqKgNjBk","mode":"list","cachedResultName":"Facturas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1psGNFypuB1H_U06pZ5r_1HmP8-hcrqkk1P5bqKgNjBk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1psGNFypuB1H_U06pZ5r_1HmP8-hcrqkk1P5bqKgNjBk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $('Solo genera la respuesta en json').item.json.output.fecha }}","ID":"={{ $('Solo genera la respuesta en json').item.json.output.cliente.id }}","Cliente":"={{ $('Solo genera la respuesta en json').item.json.output.cliente.nombre }}","Metodo de Pago":"={{ $('Solo genera la respuesta en json').item.json.output.metodo_pago }}","Total":"={{ $('Solo genera la respuesta en json').item.json.output.total }}","Items":"={{ $json.combined }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cliente","displayName":"Cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Items","displayName":"Items","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Metodo de Pago","displayName":"Metodo de Pago","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total","displayName":"Total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,0],"id":"c41e9307-4766-488e-a3fd-37a76d7d9e79","name":"Añade la factura como fila"},{"parameters":{"promptType":"define","text":"={{ $('Solo genera la respuesta en json').item.json.output.cliente.nombre }}","options":{"systemMessage":"Tienes que buscar el nombre que te dan, en el google sheets y vas a tener que actualizar el estado a \"PAGADO\"\n\nTienes 2 herramientas\n\n1er Herramienta\nVer Google Sheets, tienes que buscar el nombre del cliente\n\n2da Herramienta Actualizar filas\nTienes que actualizar la columa de estado a \"PAGADO\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[704,32],"id":"b570245a-e99b-4abd-a667-05fa75d48c2c","name":"Actualiza el estado de la factura del cliente a pagado"},{"parameters":{"amount":25},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[464,112],"id":"1eacb01f-3be7-48b3-bbe8-b0eae24f9d5f","name":"Espera 25 segundos para evitar la sobrecarga de solicitudes","webhookId":"51c7dbff-d85d-4092-9442-9e17ca684e07"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Solo genera la respuesta en json","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Actualiza el estado de la factura del cliente a pagado","type":"ai_languageModel","index":0}]]},"Policia":{"main":[[{"node":"Evalua si se llego a procesar el request","type":"main","index":0}]]},"Familiar":{"main":[[{"node":"Solo genera la respuesta en json","type":"main","index":0}]]},"Actualizar":{"ai_tool":[[{"node":"Actualiza el estado de la factura del cliente a pagado","type":"ai_tool","index":0}]]},"Leer":{"ai_tool":[[{"node":"Actualiza el estado de la factura del cliente a pagado","type":"ai_tool","index":0}]]},"Espera por un archivo creado en esa carpeta de drive":{"main":[[{"node":"Descarga el archivo","type":"main","index":0}]]},"Descarga el archivo":{"main":[[{"node":"Envia el archivo a llama para su procesamiento","type":"main","index":0}]]},"Evalua si se llego a procesar el request":{"main":[[{"node":"Familiar","type":"main","index":0}],[{"node":"Espera 5 segundos y vuelve al flujo anterior","type":"main","index":0}]]},"Espera 5 segundos y vuelve al flujo anterior":{"main":[[{"node":"Policia","type":"main","index":0}]]},"Envia el archivo a llama para su procesamiento":{"main":[[{"node":"Policia","type":"main","index":0}]]},"Solo genera la respuesta en json":{"main":[[{"node":"Combina todos los items","type":"main","index":0}]]},"Estructura de salida json":{"ai_outputParser":[[{"node":"Solo genera la respuesta en json","type":"ai_outputParser","index":0}]]},"Combina todos los items":{"main":[[{"node":"Añade la factura como fila","type":"main","index":0}]]},"Si existe el nombre de cliente":{"main":[[{"node":"Espera 25 segundos para evitar la sobrecarga de solicitudes","type":"main","index":0}]]},"Añade la factura como fila":{"main":[[{"node":"Si existe el nombre de cliente","type":"main","index":0}]]},"Espera 25 segundos para evitar la sobrecarga de solicitudes":{"main":[[{"node":"Actualiza el estado de la factura del cliente a pagado","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4f431968-dfe3-4873-9452-22c2fc794643","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"tIctf8sxuNdgakVJ","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}