backups/workflows/Agente creador de carruseles.json
{"createdAt":"2025-11-09T06:05:00.414Z","updatedAt":"2025-11-09T06:05:06.114Z","id":"AcEuKe5e7KIdzdIX","name":"Agente creador de carruseles","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1744,912],"id":"3389739a-5f5e-4f6c-b963-52fece672c69","name":"Think"},{"parameters":{"toolDescription":"Website Research","method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Investiga sobre el siguiente tema que el usuario quiere: {{ $json.text }}  y dame un resumen con informacion actualizada y de calidad\"\n    }\n  ],\n  \"max_tokens\": 3000,\n  \"temperature\": 0.4\n}"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1488,944],"id":"f50a9add-472c-4c78-bed6-8a6eed29a9bc","name":"AGENTE DE BUSQUEDA","disabled":true},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,0],"id":"69945a4d-a4a4-4345-8eca-65c17b85c568","name":"Recibir mensajes de Telegram","webhookId":"e4aa05f0-2549-4274-879f-922a43bd2f0f"},{"parameters":{"resource":"folder","name":"={{ $json.message.text }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"17ZMWhTaERE1y1eXYq4N8iQQ_iXVNIuk8","mode":"list","cachedResultName":"Carrusels","cachedResultUrl":"https://drive.google.com/drive/folders/17ZMWhTaERE1y1eXYq4N8iQQ_iXVNIuk8"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,192],"id":"1163d787-2287-442e-aa70-949021e78376","name":"Crear carpeta del prompt"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Recibir mensajes de Telegram').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"2555fee6-a238-4614-b744-0d3e4bfe4a94"}],"combinator":"and"},"renameOutput":true,"outputKey":"TEXTO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"22c17688-edc8-495e-9d87-bf70ac2743d4","leftValue":"={{ $('Recibir mensajes de Telegram').item.json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"AUDIO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[432,368],"id":"584eccb2-bd17-4265-94cd-9e7fb8d5cef9","name":"Detectar si es texto o audio"},{"parameters":{"resource":"file","fileId":"={{ $('Recibir mensajes de Telegram').item.json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[688,992],"id":"d5796c24-2e3a-465f-af8e-23d73a883f34","name":"Obtener archivo del audio","webhookId":"81b24c0c-1a6c-461c-b5a7-525ffe3148fc"},{"parameters":{"assignments":{"assignments":[{"id":"edb26c7e-b4aa-4f7c-b827-6c0f3da8669d","name":"text","value":"={{ $('Recibir mensajes de Telegram').item.json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,656],"id":"a4540616-2041-4684-b2ba-d80de055e245","name":"Extraer texto del mensaje"},{"parameters":{"promptType":"define","text":"=Tema para carrusel: {{ $json.text }} ","hasOutputParser":true,"options":{"systemMessage":"=Eres un agente inteligente \n\nInstrucciones:\n\nRecibirás un tema a investigar.\n\nDebes:\n\nExtrae las ideas principales que expliquen todo entendiblemente, el carrusel debe tener de 8-15 slides dependiendo la complejidad y extension del contenido\n\nEs importante que el carrusel siga un storytelling y sea congruente\n\nLas ideas deben ser claras, relevantes y enfocadas en aportar valor, porque esto lo ocupare para hacer un carrusel despues entonces debe contener informacion completa.\n\nIMPORTANTE:\n\nIgnora información irrelevante como menús, comentarios o contenido promocional.\n\nResponde en formato JSON, así:\n\n{\n  \"main_topic\": \"tema principal\",\n  \"scraped_summary\": [\n    { \"id\": 1, \"idea\": \"Frase resumen de la idea 1\" },\n    { \"id\": 2, \"idea\": \"Frase resumen de la idea 2\" },\n    { \"id\": 3, \"idea\": \"Frase resumen de la idea 3\" },\n    { \"id\": 4, \"idea\": \"Frase resumen de la idea 4\" },\n    { \"id\": 5, \"idea\": \"Frase resumen de la idea 5\" }\n  ]\n}\n\n\nEs importante que todas las ideas vayan en orden de storytelling y hagan sentido la pasada con la nueva\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1248,672],"id":"c8e3b1c8-0bd4-4b3f-91a1-b1dc3541f4c3","name":"Generar ideas del carrusel"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[912,1104],"id":"f1b10ce8-edc9-49e7-bb5d-d437b1cc0736","name":"Transcribir audio a texto"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1232,896],"id":"2bd9dba6-dc06-4b93-ba69-ca30328125c1","name":"Modelo a usar"},{"parameters":{"jsonSchemaExample":"{\n  \"main_topic\": \"tema principal\",\n  \"scraped_summary\": [\n    { \"id\": 1, \"idea\": \"Frase resumen de la idea 1\" },\n    { \"id\": 2, \"idea\": \"Frase resumen de la idea 2\" },\n    { \"id\": 3, \"idea\": \"Frase resumen de la idea 3\" },\n    { \"id\": 4, \"idea\": \"Frase resumen de la idea 4\" },\n    { \"id\": 5, \"idea\": \"Frase resumen de la idea 5\" }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1888,896],"id":"6c0aa334-c173-491f-9a14-5f52482d8522","name":"Estructura de salida json"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2a4cb70f-bf1c-4e86-8be7-3ce800237dd3","leftValue":"={{ $json.output.scraped_summary }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1568,352],"id":"e0ee4618-8517-49b3-af61-8660ca94c445","name":"Validar si existe las ideas"},{"parameters":{"jsCode":"// Este código es para un nodo \"Code\" de tipo \"Function\" en n8n\n\n// Accedemos al arreglo de ideas\nconst input = items[0].json.output.scraped_summary;\n\n// Unimos todas las ideas en un solo string con formato de lista numerada\nconst ideasText = input.map(entry => `${entry.id}. ${entry.idea}`).join('\\n\\n');\n\n// Devolvemos el string como único output\nreturn [\n  {\n    json: {\n      ideas_text: ideasText\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,64],"id":"00492b8b-7153-44d8-b87c-7ba4c67226c6","name":"Parsear las ideas a json"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Eres un copywriter especializado en contenido técnico para LinkedIn.\nVas a recibir un texto que resume conceptos clave extraídos de un artículo técnico.\n\nTu tarea:\n\nReescribir cada idea en 1 frase impactante, técnica y clara para un carrusel de LinkedIn.\n\nMantén el tema principal de cada idea (no cambies de tema).\n\nUsa estructura de mini historia en cada frase:\n➔ Presenta brevemente el problema ➔ Menciona el impacto ➔ Insinúa solución o esperanza.\n\nEl tono debe ser profesional, informativo y atractivo (no sensacionalista, no clickbait vacío).\n\nCada frase debe tener entre 12 y 20 palabras máximo.\n\nEL numero de slides dependera de el tema pero no te limites a un numero\n\nDevuélvelo en el siguiente formato JSON:\n\n{\n  \"slides\": [\n    { \"slide\": 1, \"text\": \"Frase lista para Slide 1\" },\n    { \"slide\": 2, \"text\": \"Frase lista para Slide 2\" },\n    { \"slide\": 3, \"text\": \"Frase lista para Slide 3\" },\n    { \"slide\": 4, \"text\": \"Frase lista para Slide 4\" },\n    { \"slide\": 5, \"text\": \"Frase lista para Slide 5\" }\n  ]\n}\n\nEJEMPLOS\n\nIdea Original | Reescritura Mejorada\n84% de fraude en ATMs, necesidad de IoT seguro | \"El 84% de los fraudes en ATMs revelan la urgencia de reforzar la conectividad IoT como defensa principal.\"\nIoT encripta y detecta fraudes | \"La encriptación IoT permite detectar amenazas en tiempo real antes de que los atacantes actúen.\"\nRed de ATMs desconectados = vulnerabilidad | \"Un cajero desconectado es un blanco perfecto: el uptime IoT es vital para la seguridad continua.\"\nMonitoreo IoT detecta amenazas temprano | \"Con monitoreo IoT, los ataques se detectan y neutralizan antes de comprometer los cajeros automáticos.\"\nSeguridad integral: IoT + físico + humano | \"La seguridad efectiva combina conectividad segura, protección física y supervisión humana estratégica.\"\n\n\nSi recibes un texto que tu pienses que no hace mucho sentido corrijelo y adaptalo para que haga sentido","role":"system"},{"content":"=IDEAS: {{ $('Validar si existe las ideas').item.json.output.main_topic }}\nEste es el tema principal:{{ $('Recibir mensajes de Telegram').item.json.message.text }}\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2128,240],"id":"868831c3-2883-49c0-a307-3b2b85dada8c","name":"Reescribir las ideas en copy para slides"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewFi// Este código es para un nodo \"Code\" tipo \"Function\" en n8n\n\n// Accedemos al array de slides\nconst slides = items[0].json.message.content.slides;\n\n// Unimos todos los textos de los slides en un solo string\nconst combinedText = slides.map(slide => `${slide.slide}. ${slide.text}`).join('\\n\\n');\n\n// Devolvemos el resultado como un solo campo\nreturn [\n  {\n    json: {\n      combined_slides_text: combinedText\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2528,480],"id":"493b83a6-6186-46e3-b1c5-15e8283047d4","name":"Unir copy final para prompts"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Eres un agente IA experto en generar prompts de estilo infográfico para carruseles de LinkedIn. Se te proporcionara el esquema del carrusel para cada slide y tu tarea es crear una única prompt final de alta calidad para cada frase, que sirva directamente como input para el modelo de imagenes de ChatGPT\n\n**Tu salida** debe ser un JSON EXACTO con esta estructura, **incluyendo un elemento en `prompts` por cada slide recibido**:\n\n{\n  \"estilo\": \"infográfico\",\n  \"formato\": \"1:1\",\n  \"resolucion\": \"alta\",\n  \"tipografia\": \"Sora\",\n  \"prompts\": [\n    {\n      \"slide\": <numero de slide 1>,\n      \"prompt\": \"<instrucción infográfico para slide 1>\"\n    },\n    {\n      \"slide\": <numero de slide 2>,\n      \"prompt\": \"<instrucción infográfico para slide 2>\"\n    },\n    ...  \n  ]\n}\n.\n\nPara cada “prompt”:\n\n1. Inicia con “Estilo infográfico:”.\n2. Describe el fondo (por ejemplo: “fondo blanco con sección superior verde suave”).\n3. Menciona el gráfico o diagrama central (barras, pastel, embudo, iconos minimalistas).\n4. Detalla la ubicación y formato del texto (Fuente Sora, tamaño, color, posición).\n5. Incorpora el `titulo` y la `descripcion` de forma clara.\n6. Añade `iconos` indicados, explicando su estilo lineal.\n7. Aplica la `paleta de colores` sugerida, usando los hex proporcionados o la paleta corporativa (verde, blanco).\n8. Asegura que el mensaje siga una narrativa de venta: guía al lector del problema a la acción final (CTA).\n\nColores: Azul, Blanco\nTipografia: Winky Rough\nIconos: Minimalistas\n\n\n\nEjemplo de output\n\n    {\n      \"slide\": 1,\n      \"prompt\": \"Estilo infográfico: Crea una portada para un carrusel de 5 slides titulado “Cómo vender tu producto en 5 pasos” alta resolución, fondo gris muy claro. En la parte superior, un gran título en Fuente Sora bold: “Cómo vender tu producto en 5 pasos”. Debajo, un icono de megáfono en estilo lineal y un pequeño gráfico de barras estilizado que muestre un ligero crecimiento (10 %). Usa colores corporativos (azul oscuro para el título, gris para texto secundario, highlight verde para detalles).\"\n    },\n    {\n      \"slide\": 2,\n      \"prompt\": \"Estilo infográfico: Identifica a tu audiencia. Fondo blanco con una sección superior en azul suave. A la izquierda, un diagrama de pastel dividido en tres segmentos (Mercado, Demografía, Necesidades) con porcentajes ficticios. A la derecha, un texto breve en Sora regular: “Paso 1: Conoce a tu cliente ideal” y debajo “Segmenta por comportamiento, edad y motivaciones”. Incluye pequeños iconos para persona, lupa y gráfico.\"\n    },\n    {\n      \"slide\": 3,\n      \"prompt\": \"Estilo infográfico: Define tu propuesta de valor. Fondo gris claro, encabezado en Sora bold: “Paso 2: Propuesta de valor única”. Debajo, tres columnas con iconos de bombilla, escudo y moneda, cada uno con un título corto (“Innovación”, “Confianza”, “ROI”) y una descripción en Sora regular de dos líneas. Usa líneas finas para separar columnas y puntos de color verde como bullets.\"\n    },\n    {\n      \"slide\": 4,\n      \"prompt\": \"Estilo infográfico: Supera las objeciones. Fondo blanco, diagrama de embudo de ventas en el centro con cuatro niveles (Conocimiento, Interés, Deseo, Acción), cada nivel en un tono distinto de azul. Al lado derecho, tres burbujas de texto en Sora: “¿Es caro?”, “¿Funciona para mí?”, “¿Y el soporte?”. Bajo cada burbuja, una flecha apuntando al embudo y una respuesta breve en verde: “Coste vs Valor”, “Casos de éxito”, “Atención 24/7”.\"\n    },\n    {\n      \"slide\": 5,\n      \"prompt\": \"Estilo infográfico: Cierra la venta y CTA. Fondo degradado suave de gris a blanco, encabezado en Sora bold: “Paso 5: Cierre y acción”. Incluye un icono de apretón de manos y un gran botón simulado en verde con texto “Empieza hoy” en Sora white. Debajo, tres indicadores numerados en círculo (1, 2, 3) con textos breves: “Agenda demo”, “Prueba gratis”, “Recibe asesoría”.\"\n    }\n\n\n\nIMPORTANTE\n-NO debe haber fondos transparentes\n-Asegurate de seguir las politicas de OpenAI","role":"system"},{"content":"=Este es el tema principal: {{ $('Validar si existe las ideas').item.json.output.main_topic }}\nAquí están los textos de las frases para las cuales debes generar las instrucciones:\n{{ $json.combined_slides_text }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2656,240],"id":"0c300c4d-0b9a-4b8e-8f5b-67c524233403","name":"Crear prompts por slide"},{"parameters":{"fieldToSplitOut":"message.content.prompts","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3008,480],"id":"07c1c677-9568-4f9e-9a58-63a0b09c2ca0","name":"Separar prompts por slide"},{"parameters":{"maxItems":18},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[3344,480],"id":"2f8323bd-d985-4786-bd01-c9deca1302da","name":"Limitar numero maximo de slides"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"gpt-image-1"},{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"size","value":"1024x1536"},{"name":"quality","value":"medium"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3552,736],"id":"8cf6389b-f46f-46f5-ba48-0d95f42e93c9","name":"Generar imagenes con openai"},{"parameters":{"operation":"toBinary","sourceProperty":"data[0].b64_json","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3824,512],"id":"0b146b26-864a-462f-b51d-eae41ec608b5","name":"Convertir las imagenes a archivo"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Recibir mensajes de Telegram').item.json.message.chat.id }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4208,496],"id":"f7d21d96-868d-4158-9045-c4654facc36a","name":"Enviar los carruseles al usuario","webhookId":"94efc49d-a403-499f-bb71-8e16e3277504"}],"connections":{"Think":{"ai_tool":[[{"node":"Generar ideas del carrusel","type":"ai_tool","index":0}]]},"AGENTE DE BUSQUEDA":{"ai_tool":[[{"node":"Generar ideas del carrusel","type":"ai_tool","index":0}]]},"Recibir mensajes de Telegram":{"main":[[{"node":"Crear carpeta del prompt","type":"main","index":0}]]},"Crear carpeta del prompt":{"main":[[{"node":"Detectar si es texto o audio","type":"main","index":0}]]},"Detectar si es texto o audio":{"main":[[{"node":"Extraer texto del mensaje","type":"main","index":0}],[{"node":"Obtener archivo del audio","type":"main","index":0}]]},"Obtener archivo del audio":{"main":[[{"node":"Transcribir audio a texto","type":"main","index":0}]]},"Extraer texto del mensaje":{"main":[[{"node":"Generar ideas del carrusel","type":"main","index":0}]]},"Generar ideas del carrusel":{"main":[[{"node":"Validar si existe las ideas","type":"main","index":0}]]},"Transcribir audio a texto":{"main":[[{"node":"Generar ideas del carrusel","type":"main","index":0}]]},"Modelo a usar":{"ai_languageModel":[[{"node":"Generar ideas del carrusel","type":"ai_languageModel","index":0}]]},"Estructura de salida json":{"ai_outputParser":[[{"node":"Generar ideas del carrusel","type":"ai_outputParser","index":0}]]},"Validar si existe las ideas":{"main":[[{"node":"Parsear las ideas a json","type":"main","index":0}]]},"Parsear las ideas a json":{"main":[[{"node":"Reescribir las ideas en copy para slides","type":"main","index":0}]]},"Reescribir las ideas en copy para slides":{"main":[[{"node":"Unir copy final para prompts","type":"main","index":0}]]},"Unir copy final para prompts":{"main":[[{"node":"Crear prompts por slide","type":"main","index":0}]]},"Crear prompts por slide":{"main":[[{"node":"Separar prompts por slide","type":"main","index":0}]]},"Separar prompts por slide":{"main":[[{"node":"Limitar numero maximo de slides","type":"main","index":0}]]},"Limitar numero maximo de slides":{"main":[[{"node":"Generar imagenes con openai","type":"main","index":0}]]},"Generar imagenes con openai":{"main":[[{"node":"Convertir las imagenes a archivo","type":"main","index":0}]]},"Convertir las imagenes a archivo":{"main":[[{"node":"Enviar los carruseles al usuario","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6543739f-d571-4f8c-8d3d-fc530dfb2325","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"AcEuKe5e7KIdzdIX","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}