backups/workflows/Agente de reservas 2.0 SaaS.json
{"createdAt":"2025-11-18T15:32:42.108Z","updatedAt":"2025-11-24T17:21:12.137Z","id":"epDIniGVx7xNzqE1","name":"Agente de reservas 2.0 SaaS","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Mensaje del usuario: {{ $('Redis').item.json.response }}\nEl numero de telefono del usuario es:{{ $('Webhook').item.json.body.conversation.messages[0].sender.phone_number }}","options":{"systemMessage":"=## 1. DEFINICIÓN DE IDENTIDAD\nEres un **asistente de reservas** para **Estudio Clínica Dental**.  \nTu rol es atender a los clientes respondiendo preguntas frecuentes y gestionando reservas, modificaciones y cancelaciones de citas.\n\n---\n\n## 2. HERRAMIENTAS DISPONIBLES\n\n- **think**  \n  Usar esta herramienta SIEMPRE. Resume mentalmente el problema y planifica la respuesta.\n\n- **conocimiento**  \n  Usar siempre para responder cualquier pregunta o duda que tenga el cliente respecto al negocio, horarios, servicios o consultas.\n\n- **buscar_usuario**:busca al usuario en la base de datos para verificar si esta registrado en el crm.\n\n- **registrar_usuario**: si el usuario no existe en el CRM debes registrarlo\n\n- **reservar_cita**  \n  Para reservar la cita una vez validada la fecha y hora.\n\n- **comprobar_fecha**:\n  Para comprobar la fecha antes de reservar.\n\n- **modificar_cita**  \n  Para modificar citas agendadas.\n\n- **cancelar_cita**  \n  Para cancelar citas agendadas.\n\n- **derivar_humano**  \n  Para derivar a asesor humano cuando se necesite ayuda extra o el cliente lo requiera.\n\n---\n\n## 3. OBJETIVO PRINCIPAL\nEl propósito principal del agente es **realizar las reservas de manera efectiva**, liberando tiempo a los empleados y asegurando una atención rápida y precisa a los clientes.\n\n---\n\n## 4. INSTRUCCIONES ESPECÍFICAS\n- Verificar si el usuario existe en el CRM con \"buscar_usuario\".\n- Si el usuario existe preguntale que desea realizar.\n- Si el usuario no existe, preguntale su nombre y apellido y registralo en el CRM con \"registrar_usuario\", luego pregunta que desea realizar.\n\n- Para **reservar una cita**:\n  - Pregunta siempre al usuario la **fecha y hora** en que desea su cita.\n  - Es sumamente importante que recibas siempre la FECHA y HORA. Si solo recibes la fecha, pregunta por la hora.\n  - Es obligatorio usar `comprobar_fecha` antes de realizar la reserva.\n\n  - Si la fecha es válida, utiliza `reservar_cita` para agendarla.\n  - Entrega los datos de la cita agendada,incluir emojis:\n\n     -📅 Fecha: (colocar fecha)\n     -📍 Link meet:(colocar link)\n\n- Para **modificar una cita**:\n  - Pregunta al usuario la **fecha y hora actual de su cita**.\n  - Pregunta para cuándo desea **cambiar su cita** (nueva fecha y hora).\n  - Es sumamente importante que recibas siempre la FECHA y HORA. Si solo recibes la fecha, pregunta por la hora.\n  -Utiliza `modificar_cita` para proceder con la modificacion. \n\n  - Entrega los datos de la cita modificada,incluir emojis:\n\n     -📅 Fecha nueva cita: (colocar fecha nueva cita)\n     -📍 Link meet:(colocar link)\n\n- Para **cancelar una cita**:\n  - Pregunta al usuario la **fecha y hora actual** de la cita que desea cancelar.\n  - Utiliza `cancelar_cita` para proceder con la cancelación.\n\n- Usa `conocimiento` para responder cualquier duda sobre horarios, servicios, consultas o información general del negocio.\n\n- Antes de responder o ejecutar cualquier acción, utiliza `think` para organizar y planificar tu respuesta.\n\n- Sé amable, claro y breve en tus respuestas.\n\n- Para las fechas siempre utilizar el formato ISO sin zona horaria\n\n- Para **derivar atencion a un asesor**: deriva atencion a un asesor cuando el cliente necesite ayuda extra\n\n## 5. NOTAS IMPORTANTES PARA TI.\n\n- Usa \"think\" siempre antes de actuar\n- Si es un servicio oficial llama a \"conocimiento\" con el nombre exacto\n- Si es una pregunta llama a \"conocimiento\" con la frase textual del cliente\n- Nunca agendes nada sin verificar antes la fecha\n- Nunca agendes sin antes recibir la fecha y hora\n- Siempre cierra con una actitud cálida, profesional y empática\n- Por favor evita usar ni incluir asteriscos ni comillas.\n- Asegúrate de que tu mensaje sea breve y directo, sin usar saltos de línea.\n- La fecha de hoy es {{ $now }}\n- Es importante manejar las fechas en formato ISO sin zona horaria\n- Para hacer las reservas siempre debes recibir la fecha y hora soliticada. Si recibes solo la fecha pregunta porfavor que te digan la hora.\n-Si el cliente no se acuerda del horario de su fecha, dale la opcion de derivar a un asesor para ser atendido.\n\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1008,-544],"id":"b8ebf0b7-d853-4cc7-81a5-b8a0728ec4ba","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.conversation.messages[0].sender.phone_number }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1104,-224],"id":"dc2b9e43-db39-4c0c-959d-a7e4963373b2","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"H8BZiMyQn9N1EgIv","name":"Postgres account"}}},{"parameters":{"description":"Herramienta para reflexionar y planificar antes de responder. Úsala siempre para analizar el contexto, entender la intención del usuario y decidir los próximos pasos."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-992,-176],"id":"afb888a1-29d7-43c5-a831-6f99b1d07b69","name":"Think"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Herramienta para responder a preguntas del usuario.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-1184,0],"id":"474c2103-38ae-43c1-bce4-18ffaa0e5858","name":"conocimiento","credentials":{"supabaseApi":{"id":"btYsZzK9vEUB7NIb","name":"Supabase account Fantino"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1104,272],"id":"c63565c2-239f-41e0-ac70-3de347e3eda9","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"qPtoS3F65dS7YPJZ","name":"OPENAI PRESLA APIKEY"}}},{"parameters":{"description":"LLama a esta tool para realizar las reservas del cliente.","workflowId":{"__rl":true,"value":"QEeSvOWGY9D8pOrt","mode":"list","cachedResultUrl":"/workflow/QEeSvOWGY9D8pOrt","cachedResultName":"reservar_citas_clinica"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00`, 'string') }}","Telefono":"={{ $('Webhook').item.json.body.conversation.messages[0].sender.phone_number }}","Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', `Nombre del usuario`, 'string') }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-560,-240],"id":"f398fdd4-c5c3-4f97-bcd9-e15bd7dd9a41","name":"reservar_cita"},{"parameters":{"description":"Herramienta encargada de comprobar las fechas ingresadas","workflowId":{"__rl":true,"value":"cZ2JD776vzX4RF5g","mode":"list","cachedResultUrl":"/workflow/cZ2JD776vzX4RF5g","cachedResultName":"comprobar_fecha_clinica"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00\n`, 'string') }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-672,-208],"id":"69ec499f-b76d-484f-b965-c9e7f7522799","name":"comprobar_fecha"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"caf542fe-bc18-4389-b681-4bcf16c85bf8","leftValue":"={{ $json.body.message_type }}","rightValue":"incoming","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4304,-448],"id":"10f7efc1-9c0e-4578-a93f-4e9d2180e68e","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4112,-240],"id":"d110860a-0870-474e-a272-d3d746c20d20","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ab13a4b-c606-48d6-a1f9-23f4fe51c347","leftValue":"={{ $json.body.conversation.messages[0].sender.custom_attributes.bot_off }}","rightValue":"bot off","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4048,-464],"id":"f8ff3922-fcdc-46bf-b7e4-5755af8491d8","name":"If2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.conversation.messages[0].attachments[0].file_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"},"id":"3d7bf356-e75d-43a7-958e-b731bde14a5f"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c44ac4d2-6462-470d-882b-0dbb3db98840","leftValue":"={{ $json.body.conversation.messages[0].attachments[0].file_type }}","rightValue":"image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d190e0e5-43ac-4a8b-8871-59bd6b2b484e","leftValue":"={{ $json.body.conversation.messages[0].content_type }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Otro"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3824,-480],"id":"f807f810-a145-4e05-ab07-8c2c31891009","name":"Switch"},{"parameters":{"url":"={{ $json.body.conversation.messages[0].attachments[0].data_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3520,-736],"id":"224fcc45-061c-4709-8fc0-565d1ee7ab39","name":"get audio"},{"parameters":{"url":"={{ $json.body.conversation.messages[0].attachments[0].data_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3504,-528],"id":"78c5bcd6-0145-4934-ac48-dc4c3725adfa","name":"get image"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3248,-736],"id":"786b5186-df6c-43b9-b3df-111335cbd4ea","name":"OpenAI1","credentials":{"openAiApi":{"id":"qPtoS3F65dS7YPJZ","name":"OPENAI PRESLA APIKEY"}}},{"parameters":{"assignments":{"assignments":[{"id":"ab3e1c44-9a2c-48d7-a5d2-41339a74c99e","name":"content","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2992,-736],"id":"fd43924c-c891-48c9-beae-da355c6ca2a4","name":"audio content1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"Describe la imagen lo mejor posible.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3248,-528],"id":"b2593fd0-cdb3-49bd-bda9-cac3bb02c371","name":"describe image1","credentials":{"openAiApi":{"id":"qPtoS3F65dS7YPJZ","name":"OPENAI PRESLA APIKEY"}}},{"parameters":{"assignments":{"assignments":[{"id":"ab3e1c44-9a2c-48d7-a5d2-41339a74c99e","name":"content","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,-528],"id":"9b92d940-ffdc-4ecb-b84e-c3a562282496","name":"imagen content1"},{"parameters":{"assignments":{"assignments":[{"id":"167b012f-c39d-456c-be8e-6e26462ef70e","name":"content","value":"={{ $json.body.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3248,-288],"id":"a3a430a7-3471-4529-b3ce-bb3851ecaff1","name":"text content1"},{"parameters":{"operation":"delete","key":"={{ $('Webhook').item.json.body.conversation.messages[0].sender.phone_number }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1232,-544],"id":"667f176f-23ef-45b2-9895-432c47f0a2ac","name":"Redis","credentials":{"redis":{"id":"LPbWxLRrzlCEphig","name":"Redis DB"}}},{"parameters":{"assignments":{"assignments":[{"id":"d5f82380-4858-4361-908e-98e45c98f092","name":"response","value":"={{ $('Redis10').item.json.mensajes.join() }}","type":"string"},{"id":"b3db797c-6f2b-4232-8e0c-021bc8e299ca","name":"phone","value":"={{ $('Webhook').item.json.body.conversation.messages[0].sender.phone_number }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1424,-544],"id":"81116a52-9201-42f9-bef7-7bd7762488bf","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1488,-336],"id":"cf305ea1-e349-4503-9f97-da00c385e8b9","name":"No Operation, do nothing2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8a313a41-eadc-4ada-bc2a-feff79845de9","leftValue":"={{ $json.mensajes.last() }}","rightValue":"={{ $('texto final').item.json.chat_input }}","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1680,-528],"id":"a9fb5c0f-4b4e-496d-8b84-82a384f1fd8c","name":"If"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2160,-528],"id":"8ddc0d10-cfb0-45be-969f-d05b5984a5f0","name":"Wait","webhookId":"098d8624-6dc3-405b-b0eb-5b7185411e01"},{"parameters":{"operation":"push","list":"={{ $('Webhook').item.json.body.conversation.messages[0].sender.phone_number }}","messageData":"={{ $json.chat_input }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2400,-528],"id":"a2a41c3a-0fa1-418e-ba1c-6e9c11cf9323","name":"Redis8","credentials":{"redis":{"id":"LPbWxLRrzlCEphig","name":"Redis DB"}}},{"parameters":{"operation":"get","propertyName":"mensajes","key":"={{ $('Webhook').item.json.body.conversation.messages[0].sender.phone_number }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1904,-528],"id":"a47c04fb-c331-47c3-b039-d0f4ec29d1e6","name":"Redis10","credentials":{"redis":{"id":"LPbWxLRrzlCEphig","name":"Redis DB"}}},{"parameters":{"method":"POST","url":"=https://inbox2.presla.co/api/v1/accounts/1/conversations/{{ $('Webhook').item.json.body.conversation.messages[0].conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"EKMSYmS4DF9GoVJHQuGbehkh"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.output }}"},{"name":"private","value":"false"},{"name":"message_type","value":"outgoing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-624,-544],"id":"c84b8cc2-0d69-4c6b-b23a-e99efb88c8bb","name":"Enviar mensaje chatwoot","executeOnce":false},{"parameters":{"description":"LLama a esta herramienta para modificar citas.","workflowId":{"__rl":true,"value":"VtBNJBQYhz027rud","mode":"list","cachedResultUrl":"/workflow/VtBNJBQYhz027rud","cachedResultName":"modificar_cita_clinica"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $('Webhook').item.json.body.conversation.messages[0].sender.name }}","Telefono":"={{ $('Webhook').item.json.body.conversation.messages[0].sender.phone_number }}","Fecha actual":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_actual', `Fecha actual de la cita en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00\n`, 'string') }}","Fecha nueva":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_nueva', `Fecha nueva de la cita en formato ISO sin zona horaria, ejemplo:\n2025-07-13T15:30:00`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Fecha actual","displayName":"Fecha actual","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Fecha nueva","displayName":"Fecha nueva","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-464,-288],"id":"3b6be481-e7ef-40fe-b681-71bed4678c76","name":"modificar_cita"},{"parameters":{"description":"LLama a esta herramienta cuando el cliente requiera atencion extra o quiere ser atendido por un humano.","workflowId":{"__rl":true,"value":"N44dtuN1LxQOtWWP","mode":"list","cachedResultUrl":"/workflow/N44dtuN1LxQOtWWP","cachedResultName":"enviar_asesor"},"workflowInputs":{"mappingMode":"defineBelow","value":{"conversation id":"={{ $('Webhook').item.json.body.conversation.messages[0].conversation_id }}","contact id":"={{ $('Webhook').item.json.body.conversation.contact_inbox.contact_id }}"},"matchingColumns":[],"schema":[{"id":"conversation id","displayName":"conversation id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"contact id","displayName":"contact id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-224,-416],"id":"377bfc4b-f69f-4518-8608-880f96926e60","name":"enviar_asesor"},{"parameters":{"description":"LLama a esta herramienta para cancelar la cita.","workflowId":{"__rl":true,"value":"6ru0GOYRI4uptJuA","mode":"list","cachedResultUrl":"/workflow/6ru0GOYRI4uptJuA","cachedResultName":"cancelar_cita"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha la cual quiere ser eliminada en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00`, 'string') }}","Telefono":"={{ $('Webhook').item.json.body.conversation.messages[0].sender.phone_number }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-352,-336],"id":"b4c079b9-593e-41af-9dc8-341cd60ff178","name":"cancelar_cita"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4226e1c-d47a-466e-a4d6-0b7bedddbcc5","leftValue":"={{ $json.summary }}","rightValue":"={{ $('Webhook').item.json.body.conversation.messages[0].sender.phone_number }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2352,320],"id":"bf8f17a0-8423-4481-9b37-7ea859ff0a80","name":"Obtener ID"},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"eventId":"={{ $json.id }}","updateFields":{"summary":"=🟢{{ $json.summary }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-2128,320],"id":"89577470-1112-4ca1-9b5f-96fe2b53ffa7","name":"Google Calendar1","credentials":{"googleCalendarOAuth2Api":{"id":"M4oiVRFfJr25RYuH","name":"Google Calendar account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4226e1c-d47a-466e-a4d6-0b7bedddbcc5","leftValue":"={{ $json.summary }}","rightValue":"={{ $('Webhook').item.json.body.conversation.messages[0].sender.phone_number }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2320,48],"id":"a767f354-adbc-4c78-8408-3596ddbf69f7","name":"Obtener ID1"},{"parameters":{"httpMethod":"POST","path":"ce73860c-422d-4d18-9448-ca08a6875ab4","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4592,-448],"id":"37513f0b-807a-446e-adc8-4b62628ccf96","name":"Webhook","webhookId":"ce73860c-422d-4d18-9448-ca08a6875ab4"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.content }}","rightValue":"/No podré asistir","operator":{"type":"string","operation":"equals"},"id":"1709fd6a-25e1-43eb-9ee0-3631a035ea61"}],"combinator":"and"},"renameOutput":true,"outputKey":"Cancela cita"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7007be59-2587-4754-8da8-34504f5e452c","leftValue":"={{ $json.body.content }}","rightValue":"/Si confirmo cita","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Confirma cita"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3120,192],"id":"34a7233a-0007-4059-836d-32e29d69ca91","name":"Switch1"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"limit":20,"timeMin":"={{$now}}","timeMax":"={{ $now.plus({ day: 1 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-2544,48],"id":"4a6a34c1-6e3d-4899-a61f-72547e32f657","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"M4oiVRFfJr25RYuH","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"eventId":"={{ $json.id }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-2112,48],"id":"a54df27a-312b-4017-95cd-bf644924afd8","name":"Delete an event","credentials":{"googleCalendarOAuth2Api":{"id":"M4oiVRFfJr25RYuH","name":"Google Calendar account"}}},{"parameters":{"method":"POST","url":"=https://devchatwoot.iacondiego.es/api/v1/accounts/1/conversations/{{ $('Webhook').item.json.body.conversation.messages[0].conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"gCwFAc6nj7kGQMMbfGM1c1rD"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Su cita ha sido cancelada, si quiere volver a agendar vuelva a contactarse por este medio, que este muy bien!"},{"name":"private","value":"false"},{"name":"message_type","value":"outgoing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1904,48],"id":"a847e9be-2ef1-4ea1-a212-7f5fbac682dd","name":"Enviar mensaje chatwoot1","executeOnce":false},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"limit":20,"timeMin":"={{ $json.startDate }}","timeMax":"={{ $json.endDate }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-2544,320],"id":"5052785d-2957-47c7-8077-4f760665d05b","name":"Get many events1","credentials":{"googleCalendarOAuth2Api":{"id":"M4oiVRFfJr25RYuH","name":"Google Calendar account"}}},{"parameters":{"method":"POST","url":"=https://devchatwoot.iacondiego.es/api/v1/accounts/1/conversations/{{ $('Webhook').item.json.body.conversation.messages[0].conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"gCwFAc6nj7kGQMMbfGM1c1rD"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Perfecto lo esperamos mañana, nos vemos😉"},{"name":"private","value":"false"},{"name":"message_type","value":"outgoing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1920,320],"id":"926aa611-03a4-4044-9935-54e79984e749","name":"Enviar mensaje chatwoot2","executeOnce":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"016a0aef-07ec-4825-9667-67878457542b","leftValue":"={{ $json.body.conversation.messages[0].content }}","rightValue":"/No podré asistir","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e5956087-0d17-4f44-a2c0-aa5911a931b0","leftValue":"={{ $json.body.conversation.messages[0].content }}","rightValue":"/Si confirmo cita","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3504,-304],"id":"6eda120b-cf4e-4353-920b-a05a1b0b572c","name":"Confirmacion de citas"},{"parameters":{"assignments":{"assignments":[{"id":"a30bf65d-3d1a-42ef-bfe6-d03e02b86638","name":"chat_input","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2608,-528],"id":"53f099ae-c9b9-4e17-9570-20085dccb711","name":"texto final"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1248,-240],"id":"f8932606-56c5-4754-bade-8acbcc399ca6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"qPtoS3F65dS7YPJZ","name":"OPENAI PRESLA APIKEY"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appqJTfOiskkbXITf","mode":"list","cachedResultName":"Agente de Citas 2.0","cachedResultUrl":"https://airtable.com/appqJTfOiskkbXITf"},"table":{"__rl":true,"value":"tblRml1gWdpw8tVra","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://airtable.com/appqJTfOiskkbXITf/tblRml1gWdpw8tVra"},"filterByFormula":"={Telefono}=\"{{ $('Webhook').item.json.body.conversation.messages[0].sender.phone_number }}\"","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-896,-176],"id":"2ef26ad5-e80c-4465-a4a1-c5303e90c3a0","name":"buscar_usuario","credentials":{"airtableTokenApi":{"id":"koP0UPsgGTHwpHeE","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appqJTfOiskkbXITf","mode":"list","cachedResultName":"Agente de Citas 2.0","cachedResultUrl":"https://airtable.com/appqJTfOiskkbXITf"},"table":{"__rl":true,"value":"tblRml1gWdpw8tVra","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://airtable.com/appqJTfOiskkbXITf/tblRml1gWdpw8tVra"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', `Nombre del cliente`, 'string') }}","Telefono":"={{ $('Webhook').item.json.body.conversation.messages[0].sender.phone_number }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-768,-176],"id":"778e8989-05bb-4cf3-8b7d-7e3e2b76d106","name":"registrar_usuario","credentials":{"airtableTokenApi":{"id":"koP0UPsgGTHwpHeE","name":"Airtable Personal Access Token account"}}},{"parameters":{"jsCode":"const item = $input.first();\nconst inputDate = item.json.formattedDate.trim();   // \"22/04/2025\"\n\n// --- 1. Parsear la fecha DD/MM/YYYY -----------------------------\nconst [day, month, year] = inputDate.split('/').map(Number); // → [22, 4, 2025]\n\n// --- 2. Construir un Date y sumarle 1 día -----------------------\nlet base = new Date(year, month - 1, day);          // mes = 0-based\nbase.setDate(base.getDate() + 1);                   // +1 día\n\n// --- 3. Helper para devolver ISO sin zona horaria --------------\nconst toISO = (d, hour) => {\n  // Creamos un Date en UTC para la hora pedida\n  const utc = new Date(Date.UTC(\n    d.getFullYear(),\n    d.getMonth(),\n    d.getDate(),\n    hour, 0, 0\n  ));\n  return utc.toISOString().slice(0, 19);            // YYYY-MM-DDTHH:MM:SS\n};\n\n// --- 4. Guardar resultados --------------------------------------\nitem.json.startDate = toISO(base, 8);   // 08:00:00\nitem.json.endDate   = toISO(base, 18);  // 18:00:00\n\nreturn [item];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2720,48],"id":"418eab88-642a-4ecb-8a6b-69357f530a5c","name":"Code"},{"parameters":{"operation":"formatDate","date":"={{ $now }}","format":"custom","customFormat":"dd/MM/yyyy ","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2912,48],"id":"6e2fce1e-6b67-4c82-b3b8-33db9030e4b1","name":"Date & Time"},{"parameters":{"jsCode":"const item = $input.first();\nconst inputDate = item.json.formattedDate.trim();   // \"22/04/2025\"\n\n// --- 1. Parsear la fecha DD/MM/YYYY -----------------------------\nconst [day, month, year] = inputDate.split('/').map(Number); // → [22, 4, 2025]\n\n// --- 2. Construir un Date y sumarle 1 día -----------------------\nlet base = new Date(year, month - 1, day);          // mes = 0-based\nbase.setDate(base.getDate() + 1);                   // +1 día\n\n// --- 3. Helper para devolver ISO sin zona horaria --------------\nconst toISO = (d, hour) => {\n  // Creamos un Date en UTC para la hora pedida\n  const utc = new Date(Date.UTC(\n    d.getFullYear(),\n    d.getMonth(),\n    d.getDate(),\n    hour, 0, 0\n  ));\n  return utc.toISOString().slice(0, 19);            // YYYY-MM-DDTHH:MM:SS\n};\n\n// --- 4. Guardar resultados --------------------------------------\nitem.json.startDate = toISO(base, 8);   // 08:00:00\nitem.json.endDate   = toISO(base, 18);  // 18:00:00\n\nreturn [item];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2720,320],"id":"c8f8a260-71ed-4464-8dde-51e2a2fa5d66","name":"Code1"},{"parameters":{"operation":"formatDate","date":"={{ $now }}","format":"custom","customFormat":"dd/MM/yyyy ","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2912,320],"id":"7bb08617-4925-4deb-8ac3-b2ca1bba2116","name":"Date & Time1"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appqJTfOiskkbXITf","mode":"list","cachedResultName":"Agente de Citas 2.0","cachedResultUrl":"https://airtable.com/appqJTfOiskkbXITf"},"table":{"__rl":true,"value":"tblRml1gWdpw8tVra","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://airtable.com/appqJTfOiskkbXITf/tblRml1gWdpw8tVra"},"filterByFormula":"{Telefono}=\"+51950823801\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-32,-96],"id":"620fefe6-0b3b-4ed5-865a-41f26067aaaf","name":"Search records","credentials":{"airtableTokenApi":{"id":"koP0UPsgGTHwpHeE","name":"Airtable Personal Access Token account"}}},{"parameters":{"content":"## Esta anidado al chatwoot de pruebas\n## (inbox2) y credenciales de airtable de fantino","height":176,"width":448},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-816,-896],"id":"cab8ea6a-6c6b-49d4-b058-ef939910b07a","name":"Sticky Note"}],"connections":{"AI Agent":{"main":[[{"node":"Enviar mensaje chatwoot","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"conocimiento":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"conocimiento","type":"ai_embedding","index":0}]]},"reservar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"comprobar_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"If1":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"get audio","type":"main","index":0}],[{"node":"get image","type":"main","index":0}],[{"node":"Confirmacion de citas","type":"main","index":0}]]},"get audio":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"get image":{"main":[[{"node":"describe image1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"audio content1","type":"main","index":0}]]},"audio content1":{"main":[[{"node":"texto final","type":"main","index":0}]]},"describe image1":{"main":[[{"node":"imagen content1","type":"main","index":0}]]},"imagen content1":{"main":[[{"node":"texto final","type":"main","index":0}]]},"text content1":{"main":[[{"node":"texto final","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Redis","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis10","type":"main","index":0}]]},"Redis8":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Redis10":{"main":[[{"node":"If","type":"main","index":0}]]},"Redis":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"modificar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"enviar_asesor":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cancelar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Obtener ID":{"main":[[{"node":"Google Calendar1","type":"main","index":0}]]},"Obtener ID1":{"main":[[{"node":"Delete an event","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Date & Time","type":"main","index":0}],[{"node":"Date & Time1","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Obtener ID1","type":"main","index":0}]]},"Delete an event":{"main":[[{"node":"Enviar mensaje chatwoot1","type":"main","index":0}]]},"Get many events1":{"main":[[{"node":"Obtener ID","type":"main","index":0}]]},"Google Calendar1":{"main":[[{"node":"Enviar mensaje chatwoot2","type":"main","index":0}]]},"Confirmacion de citas":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"text content1","type":"main","index":0}]]},"texto final":{"main":[[{"node":"Redis8","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"buscar_usuario":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"registrar_usuario":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Code","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Get many events1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"AI Agent":[{"json":{"output":"¡Hola! Bienvenido a Estudio Clínica Dental. Para poder ayudarte mejor, ¿podrías decirme tu nombre y apellido? Así te registro y podré gestionar tu solicitud rápidamente."}}]},"versionId":"4588df19-2999-48c8-856c-8cf4bfd571b4","triggerCount":0,"tags":[{"createdAt":"2025-11-17T14:36:32.455Z","updatedAt":"2025-11-17T14:36:32.455Z","id":"hrIDh4R5vrcVht8l","name":"hoy"}],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"epDIniGVx7xNzqE1","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}