backups/workflows/cancelar_cita CAL.json
{"createdAt":"2025-11-28T00:00:37.743Z","updatedAt":"2025-11-28T02:38:23.141Z","id":"zE7xHm4hFzNWT51x","name":"cancelar_cita CAL","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-12-03T16:00:00-05:00\",\n  \"Telefono\":\"+56954675214\"\n}"},"id":"89d55f76-8237-4eac-b392-69e071fc4417","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-32,0]},{"parameters":{"promptType":"define","text":"=fecha cita: {{ $json.FechaOriginal }}\ntelefono:{{ $('When Executed by Another Workflow').item.json.Telefono }}","options":{"systemMessage":"=# Rol  \nEres un agente virtual especializado en la gestión y eliminacion de citas.\n\n# Tarea  \nTu tarea es eliminar citas según las solicitudes de los usuarios, siguiendo un proceso estructurado. Para ello, debes:  \n\n1. **Comprobar si la cita existe y coincide con el numero de telefono del usuario**: Usa la herramienta \"buscar_cita\".  \n\n2. Si coincide elimina la cita con \"eliminar_cita\".\n\n3. Si no coincide hazle saber al usuario que el numero no coincide con el de la cita.  \n\n\n# Notas  \n- La fecha de hoy es {{ $now }}  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[400,0],"id":"ee5343ac-96a4-46d6-945f-89b4d6d27f6e","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,224],"id":"1594bc96-a495-4707-8c0a-bb39ad6a7f64","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"qPtoS3F65dS7YPJZ","name":"OPENAI PRESLA APIKEY"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"limit":1,"timeMin":"={{ $json.FechaOriginal }}","timeMax":"={{ $json.FechaMasUnaHora }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[608,384],"id":"595d4b06-99d3-422d-9350-8ee5aea6a191","name":"buscar_cita","disabled":true},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"eventId":"={{ $fromAI(\"EventID\",\"event id de la cita actual\")}}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[784,384],"id":"3f765003-fc61-43e0-971c-054160e796fb","name":"eliminar_cita","disabled":true},{"parameters":{"jsCode":"const fechaOriginal = new Date($input.first().json.Fecha);\nfechaOriginal.setHours(fechaOriginal.getHours() + 1);\n\n// Formatear a 'YYYY-MM-DDTHH:mm:ss'\nconst fechaFormateada = fechaOriginal\n  .toISOString()\n  .substring(0, 19);\n\nreturn [\n  {\n    json: {\n      FechaOriginal: $input.first().json.Fecha,\n      FechaMasUnaHora: fechaFormateada,\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"a8b8ca2c-635e-4931-b394-f56fee4d45a8","name":"Code"},{"parameters":{"toolDescription":"Herramienta para buscar uuid de la reunion actual","url":"https://api.cal.com/v2/bookings","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"afterStart","value":"={{ $('Code').item.json.FechaOriginal }}"},{"name":"beforeEnd","value":"={{ $('Code').item.json.FechaMasUnaHora }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-08-13"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[512,256],"id":"5106243a-fc5d-46e7-81fd-03c7492d9948","name":"buscar_uuid","credentials":{"httpHeaderAuth":{"id":"MVqQuvYRe4TTCjc5","name":"CAL Fantino APIKEY Agente de citas 2.0"}}},{"parameters":{"method":"POST","url":"=https://api.cal.com/v2/bookings/{{ $fromAI(\"uuid\",\"uuid de la cita actual\") }}/cancel","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-08-13"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"cancellationReason\": \"User requested cancellation\"\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[704,240],"id":"82315c34-522b-4fe4-bea4-beabb04b099b","name":"eliminar_cita_actual","credentials":{"httpHeaderAuth":{"id":"MVqQuvYRe4TTCjc5","name":"CAL Fantino APIKEY Agente de citas 2.0"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"buscar_cita":{"ai_tool":[[]]},"eliminar_cita":{"ai_tool":[[]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"buscar_uuid":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"eliminar_cita_actual":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"Fecha":"2025-12-03T16:00:00-05:00","Telefono":"+56954675214"}}]},"versionId":"f61fab63-ab54-46e0-a82c-8c4ab840ffaa","triggerCount":0,"tags":[{"createdAt":"2025-11-17T14:36:32.455Z","updatedAt":"2025-11-17T14:36:32.455Z","id":"hrIDh4R5vrcVht8l","name":"hoy"},{"createdAt":"2025-11-24T17:21:34.835Z","updatedAt":"2025-11-24T17:21:34.835Z","id":"hJTfClhVd9g7R0a9","name":"CAL"}],"shared":[{"createdAt":"2025-11-28T00:00:37.743Z","updatedAt":"2025-11-28T00:00:37.743Z","role":"workflow:owner","workflowId":"zE7xHm4hFzNWT51x","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}