backups/workflows/cancelar_cita.json
{"createdAt":"2025-11-17T14:37:48.304Z","updatedAt":"2025-11-28T00:00:26.134Z","id":"6ru0GOYRI4uptJuA","name":"cancelar_cita","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-07-10T16:00:00\",\n  \"Telefono\":\"+56954675214\"\n}"},"id":"51ac0471-b0ba-4aaa-84e7-0341ccc7e59d","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-32,0]},{"parameters":{"promptType":"define","text":"=fecha cita: {{ $json.FechaOriginal }}\ntelefono:{{ $('When Executed by Another Workflow').item.json.Telefono }}","options":{"systemMessage":"=# Rol  \nEres un agente virtual especializado en la gestión y eliminacion de citas.\n\n# Tarea  \nTu tarea es eliminar citas según las solicitudes de los usuarios, siguiendo un proceso estructurado. Para ello, debes:  \n\n1. **Comprobar si la cita existe y coincide con el numero de telefono del usuario**: Usa la herramienta \"buscar_cita\".  \n\n2. Si coincide elimina la cita con \"eliminar_cita\".\n\n3. Si no coincide hazle saber al usuario que el numero no coincide con el de la cita.  \n\n\n# Notas  \n- La fecha de hoy es {{ $now }}  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[400,0],"id":"f9776d92-d01d-4d1b-94d8-aee4476022ec","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,224],"id":"333e2a49-00c6-4640-8aaf-ad478d9bd595","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"s0q6CUNupwhY9NPd","name":"Variable OpenAI Pruebas Credentials"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"limit":1,"timeMin":"={{ $json.FechaOriginal }}","timeMax":"={{ $json.FechaMasUnaHora }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[512,272],"id":"cb2a6066-4acc-491f-9550-ae20d3c6e688","name":"buscar_cita"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"eventId":"={{ $fromAI(\"EventID\",\"event id de la cita actual\")}}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[672,240],"id":"8531fac7-c22d-4189-87b2-d2c355b81a50","name":"eliminar_cita"},{"parameters":{"jsCode":"const fechaOriginal = new Date($input.first().json.Fecha);\nfechaOriginal.setHours(fechaOriginal.getHours() + 1);\n\n// Formatear a 'YYYY-MM-DDTHH:mm:ss'\nconst fechaFormateada = fechaOriginal\n  .toISOString()\n  .substring(0, 19);\n\nreturn [\n  {\n    json: {\n      FechaOriginal: $input.first().json.Fecha,\n      FechaMasUnaHora: fechaFormateada,\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"1c40b139-01dc-4956-82e4-e2145aa984a1","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"buscar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"eliminar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1b5a3269-0874-4839-9c07-c02d5398e544","triggerCount":0,"tags":[{"createdAt":"2025-11-17T14:36:32.455Z","updatedAt":"2025-11-17T14:36:32.455Z","id":"hrIDh4R5vrcVht8l","name":"hoy"}],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"6ru0GOYRI4uptJuA","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}