backups/workflows/Chatwoot Evolution API.json
{"createdAt":"2025-11-17T14:35:55.121Z","updatedAt":"2025-11-17T14:36:33.930Z","id":"754ww8z5fsWGBSH1","name":"Chatwoot Evolution API","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2752,432],"id":"26f22b1a-848a-4d5c-8daa-7210cf221010","name":"OpenAI Chat Model"},{"parameters":{"toolDescription":"They are the types of products that exist in the market, but it's a categories, is not a products, but use to search products","url":"https://amc.pleyadesworldgames.com/api/v2/items/request-options","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[3040,432],"id":"e7b711a1-0f6d-4aa0-beba-bc15a2887ce7","name":"Categories"},{"parameters":{"toolDescription":"search for names of stores that leave only by product name or store name, use a categories like products name to search items","url":"https://amc.pleyadesworldgames.com/api/v2/items/request-stores?name","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `search by store name`, 'string') }}"},{"name":"item","value":"search by product name"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[3152,432],"id":"b316f06a-3a75-4624-a834-6c0487e8d85e","name":"Stores name"},{"parameters":{"toolDescription":"here you are looking for the name of the product and all its data","url":"https://amc.pleyadesworldgames.com/api/v2/items/request-items","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `search only by product name`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[3264,432],"id":"ae41bf8b-51ed-42f0-b889-268f835e9c8f","name":"Products name"},{"parameters":{"httpMethod":"POST","path":"537662ba-0067-404d-b68a-6436f80309c7","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1328,288],"id":"21783dcd-62eb-4044-aad9-00c07f24d4c5","name":"Webhook","webhookId":"537662ba-0067-404d-b68a-6436f80309c7"},{"parameters":{"promptType":"define","text":"=mensaje:{{ $('Edit Fields2').item.json.response }}","options":{"systemMessage":"=# Rol\nEres MIA de AMC Importaciones, una asesora de compras amigable, rápida y confiable. Tu misión es convertir prospectos en ventas dentro del marketplace ZELIA, guiando siempre al cliente hacia productos con disponibilidad. Tienes acceso a la base de datos de productos de ZELIA a través de n8n y nunca debes inventar productos, características ni precios. Cada mensaje debe ser amable, optimista y resolutivo, orientado a cerrar la venta, con un máximo de 160 caracteres por mensaje y hasta dos emojis.\n\n# Tarea\nTu tarea es asistir al cliente en todo el proceso de compra, priorizando la experiencia y la conversión. Debes:\n- Saludar cordialmente y ofrecer una breve descripción del producto consultado.\n- Preguntar el nombre del cliente y en qué sector o zona se encuentra ubicado.\n- Consultar si conoce ZELIA y explicar brevemente que es una plataforma de entregas a domicilio.\n- Verificar si el cliente tiene cuenta en ZELIA antes de enviar el enlace del producto.\n- Si no tiene cuenta:\n  - Enviar el enlace de registro: https://enlinea.matchbot.chat/auth/sign-up\n  - Explicar los pasos para registrarse:\n    - Ingresar sus datos personales\n    - Confirmar el numero de contacto\n    - Finalizar el registro\n  - Pedir que regrese al chat una vez registrado para enviarle el enlace del producto.\n- Una vez confirmado el registro, enviar el enlace del producto correspondiente.\n- Si el cliente solicita direcciones, compartir los enlaces de Google Maps de las sucursales.\n- Si pregunta por métodos de pago, explicar que se aceptan: pago contra entrega, depósitos bancarios y transferencias.\n- Incentivar la compra mencionando la entrega rápida.\n- En caso de no concretar la compra, hacer un seguimiento una sola vez después de 24 horas.\n\n# Detalles Específicos\n- Nunca inventar productos, precios, enlaces ni características.\n- Solo mostrar productos con stock disponible (> 0) provenientes de la base de datos de ZELIA.\n- No incluir enlaces genéricos ni externos excepto:\n  - Registro: https://enlinea.matchbot.chat/auth/sign-up\n  - Mapas de sucursales:\n    - Norte – https://maps.app.goo.gl/Qc6HDU5eCpZyCCVC7?g_st=ic\n    - Centro – https://maps.app.goo.gl/Bz1qxnFhGyrh97XdA\n    - Sur – https://maps.app.goo.gl/TcWEvAu9f3cfjxiB9\n- El tono debe ser cercano, profesional y optimista.\n- Utiliza hasta 2 emojis por mensaje, y un máximo de 160 caracteres por respuesta.\n- Mostrar hasta 3 alternativas si no hay coincidencia exacta con la solicitud.\n- Solo pedir datos personales cuando sean necesarios para la entrega o seguimiento, explicando claramente su propósito.\n\n# Contexto\nEres asistente virtual de AMC Importaciones, una empresa ecuatoriana de retail que comercializa productos a través del marketplace ZELIA. Cuenta con tres sucursales físicas en Quito: Norte, Centro y Sur. El objetivo es facilitar una compra ágil y confiable, con entregas en menos de 12 horas dentro de Quito y asesoramiento personalizado. AMC ofrece productos de tecnología, hogar, accesorios y más, y es reconocida por su comunidad por ofrecer buena atención, calidad y precios competitivos.\n\n# Ejemplos\nHola, estoy interesado en una plancha de cabello.\nIA:\n¡Hola! 😊 Bienvenido a AMC Importaciones te saluda Mia Asesora comercial, manejaré el servicio de entrega a domicilio que lleva tus productos de forma rápida y segura hasta donde estés 🛵📦\n¿Tienes alguna duda sobre el producto o prefieres que avancemos con el proceso de compra?\n\nSi el cliente quiere comprar:\nIA:\n Perfecto 🙌 Para ayudarte con tu compra, primero necesito saber si ya tienes una cuenta activa en nuestra plataforma.\n¿Ya estás registrado en ZELIA? 👉 https://enlinea.matchbot.chat/auth/sign-up\n\n🔐 Si el cliente dice que no tiene cuenta:\nCliente: No tengo cuenta\n IA: ¡Sin problema! Solo sigue estos pasos, es muy fácil y rápido:\n 🔗 Haz clic aquí para registrarte\n1️⃣ Ingresa tus datos\n 2️⃣ Confirma tu correo electrónico\n 3️⃣ Completa el registro\n✅ Cuando termines, vuelve a este chat y te mostraré las opciones disponibles para tu sector 💇‍♀️🔥\n\n✅ Si el cliente ya tiene cuenta / ya se registró:\nCliente: Ya me registré / Sí tengo cuenta\n IA: ¡Perfecto! 🙌\n ¿Podrías decirme tu nombre y en qué sector estás ubicado? Así puedo mostrarte los productos más cercanos a tu zona 📍\n\n🛒 Luego de recibir nombre y sector:\nIA: Gracias, [nombre] 😊\n Estas son algunas opciones de planchas de cabello disponibles para tu sector:\nPlancha ClassicPro – $27,99 → Comprar ahora\n\n\nPlancha SteamXpress – $29,50 → Comprar ahora\n\n\n🚚 Recuerda que ZELIA entrega el mismo día de tu compra, de forma segura y confiable.\n\n📍 Si pregunta por direcciones:\nIA: Claro, nuestras sucursales físicas están en Quito. Aquí te comparto las ubicaciones:\nSucursal Norte: Ver en mapa\n\n\nSucursal Centro: Ver en mapa\n\n\nSucursal Sur: Ver en mapa\n\n\n\n💳 Si pregunta por métodos de pago:\nIA: Aceptamos varias formas de pago para tu comodidad:\nPago contra entrega\n\n\nDepósito bancario\n\n\nTransferencia electrónica\n\n\n¡Tú eliges el método que más te convenga! 🛒💳\n\n\n# Notas\n- No mostrar productos sin stock.\n- Siempre confirmar si el cliente tiene cuenta antes de enviar enlaces de productos.\n- Evitar tecnicismos o lenguaje confuso.\n- Priorizar la conversión y la entrega rápida.\n- Si no hay compra, hacer seguimiento cordial una sola vez tras 24 horas.\n- Pedir datos de contacto solo si es necesario para continuar el proceso.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2752,208],"id":"d59cd7d3-2dff-42d6-aa9b-846e047c9049","name":"ZELIA"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.phone }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2928,432],"id":"2d3be478-da56-4545-8990-4e629da15f47","name":"Postgres Chat Memory"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"caf542fe-bc18-4389-b681-4bcf16c85bf8","leftValue":"={{ $json.body.message_type }}","rightValue":"incoming","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1024,288],"id":"65851374-b2e5-46b6-b470-107d9ff0e69e","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-736,448],"id":"1e3d5348-f76f-4aa4-b88b-98fc24fc9a55","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ab13a4b-c606-48d6-a1f9-23f4fe51c347","leftValue":"={{ $json.body.conversation.messages[0].sender.custom_attributes.bot_off }}","rightValue":"bot off","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-736,272],"id":"a75123c5-5820-49d6-a266-0a498c1db497","name":"If2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.conversation.messages[0].attachments[0].file_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"},"id":"3d7bf356-e75d-43a7-958e-b731bde14a5f"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c44ac4d2-6462-470d-882b-0dbb3db98840","leftValue":"={{ $json.body.conversation.messages[0].attachments[0].file_type }}","rightValue":"image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d190e0e5-43ac-4a8b-8871-59bd6b2b484e","leftValue":"={{ $json.body.conversation.messages[0].content_type }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Otro"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-384,272],"id":"b9f59a9f-3b2f-4e54-a20d-b9e82d58cd36","name":"Switch"},{"parameters":{"url":"={{ $json.body.conversation.messages[0].attachments[0].data_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"ee6b3395-2362-4e01-b494-3e25e35ac622","name":"get audio"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[304,0],"id":"d8817985-6aa8-436a-8349-2d6ff4ea1906","name":"OpenAI"},{"parameters":{"assignments":{"assignments":[{"id":"ab3e1c44-9a2c-48d7-a5d2-41339a74c99e","name":"content","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,0],"id":"28e91ff9-3dc0-4b7a-855f-e04f870c8188","name":"audio content"},{"parameters":{"url":"={{ $json.body.conversation.messages[0].attachments[0].data_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[32,224],"id":"abb75f91-e412-4887-b340-2315d7bb9a9e","name":"get image"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"Describe la imagen lo mejor posible.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[304,224],"id":"0ca2c41c-452a-4592-8357-79902222b192","name":"describe image"},{"parameters":{"assignments":{"assignments":[{"id":"ab3e1c44-9a2c-48d7-a5d2-41339a74c99e","name":"content","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,224],"id":"5bda1e80-e08c-4906-989f-bd797c4e870e","name":"imagen content"},{"parameters":{"assignments":{"assignments":[{"id":"167b012f-c39d-456c-be8e-6e26462ef70e","name":"content","value":"={{ $json.body.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,464],"id":"7f887b2f-c4f2-4a67-b394-a37e24524d1c","name":"text content"},{"parameters":{"assignments":{"assignments":[{"id":"a30bf65d-3d1a-42ef-bfe6-d03e02b86638","name":"chat_input","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1008,224],"id":"365488d5-eda5-440e-a962-b8aef49ccfd1","name":"chat input"},{"parameters":{"operation":"delete","key":"={{ $('Webhook').item.json.body.conversation.messages[0].sender.phone_number }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2480,208],"id":"64b4029c-e24d-488e-b9bf-56b660d0b9df","name":"Redis9"},{"parameters":{"assignments":{"assignments":[{"id":"d5f82380-4858-4361-908e-98e45c98f092","name":"response","value":"={{ $('Redis6').item.json.mensajes.join() }}","type":"string"},{"id":"b3db797c-6f2b-4232-8e0c-021bc8e299ca","name":"phone","value":"={{ $('Webhook').item.json.body.sender.identifier }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2288,208],"id":"82d8cfec-4c17-4329-816a-2f890b8e9980","name":"Edit Fields2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2288,544],"id":"e35b4d51-e62b-443d-a3c6-72c7ec2241f4","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8a313a41-eadc-4ada-bc2a-feff79845de9","leftValue":"={{ $json.mensajes.last() }}","rightValue":"={{ $('chat input').item.json.chat_input }}","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2032,224],"id":"92497065-d05c-48c0-a44d-31a01270d117","name":"If6"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1552,224],"id":"ec70c584-9f0a-48e7-8a05-a484fab29d60","name":"Wait6","webhookId":"0a64e419-6904-4df8-a1c6-f00757e58bf3"},{"parameters":{"operation":"push","list":"={{ $('Webhook').item.json.body.conversation.messages[0].sender.phone_number }}","messageData":"={{ $json.chat_input }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1248,224],"id":"e203ac23-aebb-4432-9826-9779cb070874","name":"Redis7"},{"parameters":{"operation":"get","propertyName":"mensajes","key":"={{ $('Webhook').item.json.body.conversation.messages[0].sender.phone_number }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1808,224],"id":"58828c46-c34a-4499-9873-179188824999","name":"Redis6"},{"parameters":{"method":"POST","url":"=https://devchatwoot.matchbot.chat/api/v1/accounts/1/conversations/{{ $('Webhook').item.json.body.conversation.messages[0].conversation_id }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"txmPqEzD5hVAQ4VwikCqv6oB"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.output }}"},{"name":"private","value":"false"},{"name":"message_type","value":"outgoing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3152,208],"id":"29557a14-d353-4ac2-8b65-856d98fcd0a1","name":"HTTP Request1","executeOnce":false}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"ZELIA","type":"ai_languageModel","index":0}]]},"Categories":{"ai_tool":[[{"node":"ZELIA","type":"ai_tool","index":0}]]},"Stores name":{"ai_tool":[[{"node":"ZELIA","type":"ai_tool","index":0}]]},"Products name":{"ai_tool":[[{"node":"ZELIA","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"If1","type":"main","index":0}]]},"ZELIA":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"ZELIA","type":"ai_memory","index":0}]]},"If1":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Switch":{"main":[[{"node":"get audio","type":"main","index":0}],[{"node":"get image","type":"main","index":0}],[{"node":"text content","type":"main","index":0}]]},"get audio":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"audio content","type":"main","index":0}]]},"audio content":{"main":[[{"node":"chat input","type":"main","index":0}]]},"get image":{"main":[[{"node":"describe image","type":"main","index":0}]]},"describe image":{"main":[[{"node":"imagen content","type":"main","index":0}]]},"imagen content":{"main":[[{"node":"chat input","type":"main","index":0}]]},"text content":{"main":[[{"node":"chat input","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"Switch","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Redis9","type":"main","index":0}]]},"If6":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Redis6","type":"main","index":0}]]},"Redis7":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Redis6":{"main":[[{"node":"If6","type":"main","index":0}]]},"chat input":{"main":[[{"node":"Redis7","type":"main","index":0}]]},"Redis9":{"main":[[{"node":"ZELIA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"devwebhook.matchbot.chat","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89","content-length":"3968","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"devwebhook.matchbot.chat","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"bce22231d60f","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"account":{"id":1,"name":"Matchbot"},"additional_attributes":{},"content_attributes":{},"content_type":"text","content":null,"conversation":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Api","contact_inbox":{"id":4,"contact_id":2,"inbox_id":1,"source_id":"2392b376-5933-4327-8ab6-9879c51a7b20","created_at":"2025-07-08T17:34:14.781Z","updated_at":"2025-07-08T17:34:14.781Z","hmac_verified":false,"pubsub_token":"NbtvYXZfinMKeYgmjVXcpkgo"},"id":2,"inbox_id":1,"messages":[{"id":15,"content":null,"account_id":1,"inbox_id":1,"conversation_id":2,"message_type":0,"created_at":1751997655,"updated_at":"2025-07-08T18:00:55.925Z","private":false,"status":"sent","source_id":"WAID:769547FB689DBE930B1DA5D82B7168D4","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":2,"external_source_ids":{},"additional_attributes":{},"processed_message_content":null,"sentiment":{},"conversation":{"assignee_id":null,"unread_count":1,"last_activity_at":1751997655,"contact_inbox":{"source_id":"2392b376-5933-4327-8ab6-9879c51a7b20"}},"attachments":[{"id":4,"message_id":15,"file_type":"image","account_id":1,"extension":null,"data_url":"https://devchatwoot.matchbot.chat/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--d24eaa591dded51728298a32471b40ec5dd786e4/ob7xt.jpeg","thumb_url":"https://devchatwoot.matchbot.chat/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--d24eaa591dded51728298a32471b40ec5dd786e4/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--b96a39b879d1977ee7d01977bc27a62ee5e12b27/ob7xt.jpeg","file_size":159357,"width":999,"height":570}],"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":2,"identifier":"593985469425@s.whatsapp.net","name":"593985469425","phone_number":"+593985469425","thumbnail":"","blocked":false,"type":"contact"}}],"labels":[],"meta":{"sender":{"additional_attributes":{},"custom_attributes":{},"email":null,"id":2,"identifier":"593985469425@s.whatsapp.net","name":"593985469425","phone_number":"+593985469425","thumbnail":"","blocked":false,"type":"contact"},"assignee":null,"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":1,"first_reply_created_at":"2025-07-08T17:34:15.396Z","priority":null,"waiting_since":1751997377,"agent_last_seen_at":1751997615,"contact_last_seen_at":1751997335,"last_activity_at":1751997655,"timestamp":1751997655,"created_at":1751996054,"updated_at":1751997655.935717},"created_at":"2025-07-08T18:00:55.925Z","id":15,"inbox":{"id":1,"name":"AMC Matchbot"},"message_type":"incoming","private":false,"sender":{"account":{"id":1,"name":"Matchbot"},"additional_attributes":{},"avatar":"","custom_attributes":{},"email":null,"id":2,"identifier":"593985469425@s.whatsapp.net","name":"593985469425","phone_number":"+593985469425","thumbnail":"","blocked":false},"source_id":"WAID:769547FB689DBE930B1DA5D82B7168D4","attachments":[{"id":4,"message_id":15,"file_type":"image","account_id":1,"extension":null,"data_url":"https://devchatwoot.matchbot.chat/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--d24eaa591dded51728298a32471b40ec5dd786e4/ob7xt.jpeg","thumb_url":"https://devchatwoot.matchbot.chat/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--d24eaa591dded51728298a32471b40ec5dd786e4/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--b96a39b879d1977ee7d01977bc27a62ee5e12b27/ob7xt.jpeg","file_size":159357,"width":999,"height":570}],"event":"message_created"},"webhookUrl":"https://devwebhook.matchbot.chat/webhook/537662ba-0067-404d-b68a-6436f80309c7","executionMode":"production"}}]},"versionId":"504de884-9dfd-40f1-957e-be7fb18a486c","triggerCount":0,"tags":[{"createdAt":"2025-11-17T14:36:32.455Z","updatedAt":"2025-11-17T14:36:32.455Z","id":"hrIDh4R5vrcVht8l","name":"hoy"}],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"754ww8z5fsWGBSH1","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}