backups/workflows/comprobar_disponibilidad CAL.json
{"createdAt":"2025-11-24T17:43:04.276Z","updatedAt":"2025-11-27T22:59:30.438Z","id":"PudKboIVq76uSf65","name":"comprobar_disponibilidad CAL","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"FechaOriginal"},{"name":"FechaMasUnaHora"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[304,432]},{"parameters":{"url":"https://api.cal.com/v2/calendars/busy-times","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"loggedInUsersTz","value":"America/Lima"},{"name":"dateFrom","value":"={{ $json.FechaOriginal }}"},{"name":"dateTo","value":"={{ $json.FechaMasUnaHora }}"},{"name":"calendarsToLoad[0][credentialId]","value":"1489254"},{"name":"calendarsToLoad[0][externalId]","value":"camarafantino1@gmail.com"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-09-04"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,432],"id":"864efe7a-54f8-4c7e-a6cb-5f60ca72d681","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"MVqQuvYRe4TTCjc5","name":"CAL Fantino APIKEY Agente de citas 2.0"}}},{"parameters":{"url":"https://api.cal.com/v2/calendars/credentials","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"userId","value":"1893709"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,-80],"id":"93252517-c7f8-4c22-8273-94cab00e90eb","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"MVqQuvYRe4TTCjc5","name":"CAL Fantino APIKEY Agente de citas 2.0"}}},{"parameters":{"url":"https://api.cal.com/v2/me","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,-80],"id":"31230cd1-29db-4355-bf70-e458dd661edc","name":"HTTP Request2","credentials":{"httpHeaderAuth":{"id":"MVqQuvYRe4TTCjc5","name":"CAL Fantino APIKEY Agente de citas 2.0"}}},{"parameters":{"url":"https://api.cal.com/v2/calendars","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"userId","value":"1893709"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-09-04"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,-80],"id":"0b2f8483-a4a4-4ac8-a0ff-31705ea55560","name":"HTTP Request3","credentials":{"httpHeaderAuth":{"id":"MVqQuvYRe4TTCjc5","name":"CAL Fantino APIKEY Agente de citas 2.0"}}},{"parameters":{"jsCode":"// --- Normalizar fecha para que siempre tenga Z ---\nfunction normalizar(f) {\n  if (!f) return null;\n  if (typeof f !== \"string\") return null;\n  return f.endsWith(\"Z\") ? f : f + \"Z\"; // Añadir 'Z' si no está presente\n}\n\n// --- Convertir la fecha de UTC a la zona horaria de Perú (-05:00) ---\nfunction convertirAHorariosLocales(fecha) {\n  const fechaOriginal = new Date(fecha); // Crear el objeto Date desde el string con la zona horaria incluida\n  const offsetHoras = -5; // Offset para la zona horaria de Perú (-05:00)\n  \n  // Corregir la hora en base al offset de la zona horaria\n  fechaOriginal.setHours(fechaOriginal.getHours() + offsetHoras);\n  return fechaOriginal;\n}\n\n// --- Obtener fechas solicitadas ---\nconst inicioSolicitado = convertirAHorariosLocales($('When Executed by Another Workflow').first().json.FechaOriginal);\nconst finSolicitado = convertirAHorariosLocales($('When Executed by Another Workflow').first().json.FechaMasUnaHora);\n\n// Si alguna fecha no es válida, marcar inmediatamente no disponible\nif (isNaN(inicioSolicitado) || isNaN(finSolicitado)) {\n  return [\n    {\n      response: [\n        { available: false, error: \"Fechas inválidas\" }\n      ]\n    }\n  ];\n}\n\n// --- Obtener busyTimes desde el nodo HTTP ---\nconst raw = $input.item.json;\nconst busyTimes = Array.isArray(raw) ? raw[0].data : (raw.data || []);\n\n// --- Función de solapamiento ---\nfunction seSolapan(aInicio, aFin, bInicio, bFin) {\n  // Solapan si: inicio < finOtro Y inicioOtro < fin\n  return aInicio < bFin && bInicio < aFin;\n}\n\nlet isAvailable = true;\n\n// --- Revisar cada bloque ocupado ---\nfor (const b of busyTimes) {\n  const ocupadoInicio = convertirAHorariosLocales(b.start);\n  const ocupadoFin = convertirAHorariosLocales(b.end);\n\n  if (seSolapan(inicioSolicitado, finSolicitado, ocupadoInicio, ocupadoFin)) {\n    isAvailable = false;\n    break;\n  }\n}\n\n// --- Salida EXACTA que necesitas ---\nreturn [\n  {\n    response: [\n      {\n        available: isAvailable\n      }\n    ]\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,432],"id":"ffaf9bbe-dbef-420e-aee3-0dcde540b6bd","name":"Code in JavaScript"},{"parameters":{"content":"## SUBNODO SOLO PARA FORMATEAR LA RESPUESTA DE CAL (MIGRACION DE GOOGLE CALENDAR)","height":176,"width":400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[400,176],"id":"d8e9ab04-beb5-4668-876c-c8944bd6784e","name":"Sticky Note"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"FechaOriginal":"2025-12-02T11:00:00-05:00","FechaMasUnaHora":"2025-12-02T12:00:00-05:00"}}]},"versionId":"bca4675f-6894-4155-ae69-b433c9f8b6d3","triggerCount":0,"tags":[{"createdAt":"2025-11-24T17:21:44.159Z","updatedAt":"2025-11-24T17:21:44.159Z","id":"N9Ts4rh9w1HwhzNI","name":"Agente de reservas 2.0"},{"createdAt":"2025-11-24T17:21:34.835Z","updatedAt":"2025-11-24T17:21:34.835Z","id":"hJTfClhVd9g7R0a9","name":"CAL"}],"shared":[{"createdAt":"2025-11-24T17:43:04.276Z","updatedAt":"2025-11-24T17:43:04.276Z","role":"workflow:owner","workflowId":"PudKboIVq76uSf65","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}