backups/workflows/comprobar_fecha_clinica CAL.json
{"createdAt":"2025-11-24T17:24:51.997Z","updatedAt":"2025-11-27T23:23:39.570Z","id":"UvJdPSxIYNrLBBbz","name":"comprobar_fecha_clinica CAL","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-07-09T15:30:00\" \n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-768,208],"id":"785e0952-4cbc-4453-aade-61bc1e4e2abb","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"6d12b307-21cb-482a-a7a2-9c61a5399282","name":"Es domingo","value":"Invalido, el dia cae dia domingo, no atendemos ese dia, porfavor escoja otro","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,80],"id":"9874ba56-ae30-4daa-9e7a-2ced824060e6","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"35618fe3-477f-430e-91cd-60c46a5c8d9b","name":"Fecha valida?","value":"=Estado:{{ $json.horaEstado }}\nJustificacion:{{ $json.horaJustificacion }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1248,368],"id":"fff55140-da01-40b7-a1a4-a5e528eb1bca","name":"Edit Fields1"},{"parameters":{"jsCode":"function convertirAHorasMinutos(horaStr) {\n  const [hh, mm] = horaStr.split(':').map(Number);\n  return hh * 60 + mm;\n}\n\nfor (const item of $input.all()) {\n  const horaInput = item.json.hora; // Ej: \"11:30\"\n  const minutosInput = convertirAHorasMinutos(horaInput);\n\n  // Definir rangos en minutos\n  const inicioAtencion = convertirAHorasMinutos(\"08:00\");\n  const finAtencion = convertirAHorasMinutos(\"18:00\");\n  const inicioAlmuerzo = convertirAHorasMinutos(\"12:00\");\n  const finAlmuerzo = convertirAHorasMinutos(\"14:00\");\n\n  let estado = \"válido\";\n  let justificacion = \"\";\n\n  if (minutosInput < inicioAtencion || minutosInput >= finAtencion) {\n    estado = \"inválido\";\n    justificacion = \"Hora fuera de horario de atención\";\n  } else if (minutosInput >= inicioAlmuerzo && minutosInput < finAlmuerzo) {\n    estado = \"inválido\";\n    justificacion = \"Horario de almuerzo\";\n  }\n\n  item.json.horaEstado = estado;\n  item.json.horaJustificacion = justificacion;\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,368],"id":"27584e0a-c707-472a-b65e-1872dccc19ab","name":"Verificacion hora, cambiar codigo si necesita cambiar horarios"},{"parameters":{"jsCode":"function convertirAHorasMinutos(horaStr) {\n  const [hh, mm] = horaStr.split(':').map(Number);\n  return hh * 60 + mm;\n}\n\nfor (const item of $input.all()) {\n  const horaInput = item.json.hora; // Ej: \"11:30\"\n  const minutosInput = convertirAHorasMinutos(horaInput);\n\n  // Definir rangos en minutos\n  const inicioAtencion = convertirAHorasMinutos(\"10:00\");\n  const finAtencion = convertirAHorasMinutos(\"16:00\");\n  const inicioAlmuerzo = convertirAHorasMinutos(\"14:00\");\n  const finAlmuerzo = convertirAHorasMinutos(\"15:00\");\n\n  let estado = \"válido\";\n  let justificacion = \"\";\n\n  if (minutosInput < inicioAtencion || minutosInput >= finAtencion) {\n    estado = \"inválido\";\n    justificacion = \"Hora fuera de horario de atención\";\n  } else if (minutosInput >= inicioAlmuerzo && minutosInput < finAlmuerzo) {\n    estado = \"inválido\";\n    justificacion = \"Horario de almuerzo\";\n  }\n\n  item.json.horaEstado = estado;\n  item.json.horaJustificacion = justificacion;\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,160],"id":"314ef4a3-9c5b-4f0a-a252-eb9ddcb67b1d","name":"Verificar horarios sabado"},{"parameters":{"assignments":{"assignments":[{"id":"35618fe3-477f-430e-91cd-60c46a5c8d9b","name":"Fecha valida?","value":"=Estado:{{ $json.horaEstado }}\nJustificacion:{{ $json.horaJustificacion }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1248,160],"id":"000460b6-2cff-4634-955b-ce4180fa9a9a","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"d31283d5-aa5a-432d-a457-9a071ee666f6","name":"mensaje enviado","value":"La fecha ingresada es pasada, porfavor ingrese una fecha valida","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,16],"id":"5911022c-5dcd-47d3-b085-d001ac611266","name":"Edit Fields3"},{"parameters":{"jsCode":"const fechaTexto = $input.first().json.Fecha;\nconst fechaInput = new Date(fechaTexto);\nconst fechaActual = new Date();\n\n// Formatear ambas fechas a YYYY-MM-DD\nconst formatoFecha = (fecha) => fecha.toISOString().substring(0, 10);\n\nconst fechaInputStr = formatoFecha(fechaInput);\nconst fechaActualStr = formatoFecha(fechaActual);\n\nif (fechaInputStr < fechaActualStr) {\n  return [\n    {\n      json: {\n        valida: false,\n        mensaje: \"Fecha inválida. Es una fecha pasada.\",\n        fecha: fechaInputStr\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        valida: true,\n        mensaje: \"La fecha es válida (hoy o en el futuro).\",\n        fecha: fechaInputStr\n      }\n    }\n  ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,208],"id":"bec3d8ac-16dc-4af9-afe0-7eda08b5c496","name":"Fecha pasada o futura?"},{"parameters":{"jsCode":"const raw = $('When Executed by Another Workflow').first().json.Fecha;\n\n// Convertir a objeto Date sin perder la zona horaria\nconst date = new Date(raw);\n\n// Formatear componentes\nconst dd = String(date.getDate()).padStart(2, '0');\nconst mm = String(date.getMonth() + 1).padStart(2, '0'); // getMonth() es base 0\nconst yyyy = date.getFullYear();\nconst HH = String(date.getUTCHours() - 5).padStart(2, '0'); // Aseguramos que la hora esté ajustada a -05:00\nconst min = String(date.getUTCMinutes()).padStart(2, '0');\n\n// Resultado final\nconst formatted = `${dd}/${mm}/${yyyy} ${HH}:${min}`;\n\nreturn [{ json: { formato_final: formatted } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,224],"id":"83a5bc20-5026-4135-bac8-04acb9eea3f2","name":"Formatear fecha"},{"parameters":{"jsCode":"const input = $input.first().json.formato_final; // \"17/04/2025 08:00\"\n\nconst [fechaRaw, hora] = input.split(\" \");\nconst [dia, mes, año] = fechaRaw.split(\"/\");\n\nconst fechaISO = `${año}-${mes}-${dia}T00:00:00Z`;\nconst fechaDate = new Date(fechaISO);\n\nconst diasSemana = [\"domingo\", \"lunes\", \"martes\", \"miércoles\", \"jueves\", \"viernes\", \"sábado\"];\nconst diaSemana = diasSemana[fechaDate.getUTCDay()];\n\nreturn [{\n  json: {\n    query: input,\n    fecha: fechaRaw,\n    hora: hora,\n    diaSemana: diaSemana\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,224],"id":"c16732c3-7d8a-4626-a182-5f6e3994d031","name":"Obtener hora y dia de la semana"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa43dfb1-0038-4295-ba3b-775630ef858f","leftValue":"={{ $json.diaSemana }}","rightValue":"domingo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,224],"id":"6883c377-1e6a-45dc-8f91-f751cd1055c0","name":"Es domingo?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05d80444-201b-40ac-83a3-642c56669aa3","leftValue":"={{ $json.diaSemana }}","rightValue":"=sábado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[688,272],"id":"1aeec22a-0626-4928-a2fd-af909eadb9bb","name":"es sabado?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b5fbe098-7ea1-4cda-abc8-ec9b060131c3","leftValue":"={{ $json.valida }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,208],"id":"d95f7c4f-3645-4276-8b6e-8bfb0687375f","name":"valida?"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Fecha pasada o futura?","type":"main","index":0}]]},"Verificacion hora, cambiar codigo si necesita cambiar horarios":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Verificar horarios sabado":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Fecha pasada o futura?":{"main":[[{"node":"valida?","type":"main","index":0}]]},"Formatear fecha":{"main":[[{"node":"Obtener hora y dia de la semana","type":"main","index":0}]]},"Obtener hora y dia de la semana":{"main":[[{"node":"Es domingo?","type":"main","index":0}]]},"Es domingo?":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"es sabado?","type":"main","index":0}]]},"es sabado?":{"main":[[{"node":"Verificar horarios sabado","type":"main","index":0}],[{"node":"Verificacion hora, cambiar codigo si necesita cambiar horarios","type":"main","index":0}]]},"valida?":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Formatear fecha","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"Fecha":"2025-12-02T17:00:00-05:00"}}]},"versionId":"5153b584-5409-44b5-b37e-612968e93513","triggerCount":0,"tags":[{"createdAt":"2025-11-24T17:21:44.159Z","updatedAt":"2025-11-24T17:21:44.159Z","id":"N9Ts4rh9w1HwhzNI","name":"Agente de reservas 2.0"},{"createdAt":"2025-11-24T17:21:34.835Z","updatedAt":"2025-11-24T17:21:34.835Z","id":"hJTfClhVd9g7R0a9","name":"CAL"}],"shared":[{"createdAt":"2025-11-24T17:24:51.997Z","updatedAt":"2025-11-24T17:24:51.997Z","role":"workflow:owner","workflowId":"UvJdPSxIYNrLBBbz","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}