backups/workflows/comprobar_fecha_clinica.json
{"createdAt":"2025-11-17T14:38:00.029Z","updatedAt":"2025-11-24T17:24:36.813Z","id":"cZ2JD776vzX4RF5g","name":"comprobar_fecha_clinica","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-07-09T15:30:00\" \n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-768,208],"id":"fbefff40-7d2f-447f-bba1-c154c432d50f","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"6d12b307-21cb-482a-a7a2-9c61a5399282","name":"Es domingo","value":"Invalido, el dia cae dia domingo, no atendemos ese dia, porfavor escoja otro","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,80],"id":"b66cf42e-22d9-4255-933a-e57ad3a867f6","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"35618fe3-477f-430e-91cd-60c46a5c8d9b","name":"Fecha valida?","value":"=Estado:{{ $json.horaEstado }}\nJustificacion:{{ $json.horaJustificacion }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1248,368],"id":"6db554e0-2b88-44b6-85ef-3a263c7f647f","name":"Edit Fields1"},{"parameters":{"jsCode":"function convertirAHorasMinutos(horaStr) {\n  const [hh, mm] = horaStr.split(':').map(Number);\n  return hh * 60 + mm;\n}\n\nfor (const item of $input.all()) {\n  const horaInput = item.json.hora; // Ej: \"11:30\"\n  const minutosInput = convertirAHorasMinutos(horaInput);\n\n  // Definir rangos en minutos\n  const inicioAtencion = convertirAHorasMinutos(\"08:00\");\n  const finAtencion = convertirAHorasMinutos(\"18:00\");\n  const inicioAlmuerzo = convertirAHorasMinutos(\"12:00\");\n  const finAlmuerzo = convertirAHorasMinutos(\"14:00\");\n\n  let estado = \"válido\";\n  let justificacion = \"\";\n\n  if (minutosInput < inicioAtencion || minutosInput >= finAtencion) {\n    estado = \"inválido\";\n    justificacion = \"Hora fuera de horario de atención\";\n  } else if (minutosInput >= inicioAlmuerzo && minutosInput < finAlmuerzo) {\n    estado = \"inválido\";\n    justificacion = \"Horario de almuerzo\";\n  }\n\n  item.json.horaEstado = estado;\n  item.json.horaJustificacion = justificacion;\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,368],"id":"cee18aaa-e046-46db-917c-57cdcd128c1e","name":"Verificacion hora, cambiar codigo si necesita cambiar horarios"},{"parameters":{"jsCode":"function convertirAHorasMinutos(horaStr) {\n  const [hh, mm] = horaStr.split(':').map(Number);\n  return hh * 60 + mm;\n}\n\nfor (const item of $input.all()) {\n  const horaInput = item.json.hora; // Ej: \"11:30\"\n  const minutosInput = convertirAHorasMinutos(horaInput);\n\n  // Definir rangos en minutos\n  const inicioAtencion = convertirAHorasMinutos(\"10:00\");\n  const finAtencion = convertirAHorasMinutos(\"16:00\");\n  const inicioAlmuerzo = convertirAHorasMinutos(\"14:00\");\n  const finAlmuerzo = convertirAHorasMinutos(\"15:00\");\n\n  let estado = \"válido\";\n  let justificacion = \"\";\n\n  if (minutosInput < inicioAtencion || minutosInput >= finAtencion) {\n    estado = \"inválido\";\n    justificacion = \"Hora fuera de horario de atención\";\n  } else if (minutosInput >= inicioAlmuerzo && minutosInput < finAlmuerzo) {\n    estado = \"inválido\";\n    justificacion = \"Horario de almuerzo\";\n  }\n\n  item.json.horaEstado = estado;\n  item.json.horaJustificacion = justificacion;\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,160],"id":"bda9e1e9-9fdc-480f-b420-d1b12030d4bd","name":"Verificar horarios sabado"},{"parameters":{"assignments":{"assignments":[{"id":"35618fe3-477f-430e-91cd-60c46a5c8d9b","name":"Fecha valida?","value":"=Estado:{{ $json.horaEstado }}\nJustificacion:{{ $json.horaJustificacion }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1248,160],"id":"ba3fe2d5-f273-4ea1-864d-fc2b5ad5e1d3","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"d31283d5-aa5a-432d-a457-9a071ee666f6","name":"mensaje enviado","value":"La fecha ingresada es pasada, porfavor ingrese una fecha valida","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,16],"id":"1bc841e7-fdde-4100-a597-12c797108f99","name":"Edit Fields3"},{"parameters":{"jsCode":"const fechaTexto = $input.first().json.Fecha;\nconst fechaInput = new Date(fechaTexto);\nconst fechaActual = new Date();\n\n// Formatear ambas fechas a YYYY-MM-DD\nconst formatoFecha = (fecha) => fecha.toISOString().substring(0, 10);\n\nconst fechaInputStr = formatoFecha(fechaInput);\nconst fechaActualStr = formatoFecha(fechaActual);\n\nif (fechaInputStr < fechaActualStr) {\n  return [\n    {\n      json: {\n        valida: false,\n        mensaje: \"Fecha inválida. Es una fecha pasada.\",\n        fecha: fechaInputStr\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        valida: true,\n        mensaje: \"La fecha es válida (hoy o en el futuro).\",\n        fecha: fechaInputStr\n      }\n    }\n  ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,208],"id":"d193f96e-b5b0-45e1-86da-dc1d451842f5","name":"Fecha pasada o futura?"},{"parameters":{"jsCode":"const raw = $('When Executed by Another Workflow').first().json.Fecha;\n\n// Convertir a objeto Date\nconst date = new Date(raw);\n\n// Formatear componentes\nconst dd = String(date.getDate()).padStart(2, '0');\nconst mm = String(date.getMonth() + 1).padStart(2, '0'); // getMonth() es base 0\nconst yyyy = date.getFullYear();\nconst HH = String(date.getHours()).padStart(2, '0');\nconst min = String(date.getMinutes()).padStart(2, '0');\n\n// Resultado final\nconst formatted = `${dd}/${mm}/${yyyy} ${HH}:${min}`;\n\nreturn [{ json: { formato_final: formatted } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,224],"id":"332a45b4-1901-45f4-9510-f45b65eea66c","name":"Formatear fecha"},{"parameters":{"jsCode":"const input = $input.first().json.formato_final; // \"17/04/2025 08:00\"\n\nconst [fechaRaw, hora] = input.split(\" \");\nconst [dia, mes, año] = fechaRaw.split(\"/\");\n\nconst fechaISO = `${año}-${mes}-${dia}T00:00:00Z`;\nconst fechaDate = new Date(fechaISO);\n\nconst diasSemana = [\"domingo\", \"lunes\", \"martes\", \"miércoles\", \"jueves\", \"viernes\", \"sábado\"];\nconst diaSemana = diasSemana[fechaDate.getUTCDay()];\n\nreturn [{\n  json: {\n    query: input,\n    fecha: fechaRaw,\n    hora: hora,\n    diaSemana: diaSemana\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,224],"id":"5183ae91-aa37-4ee7-bdcc-a8c9fc015012","name":"Obtener hora y dia de la semana"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa43dfb1-0038-4295-ba3b-775630ef858f","leftValue":"={{ $json.diaSemana }}","rightValue":"domingo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,224],"id":"907f3bec-7bf0-4fc9-9793-771913b8ec6b","name":"Es domingo?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05d80444-201b-40ac-83a3-642c56669aa3","leftValue":"={{ $json.diaSemana }}","rightValue":"=sábado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[688,272],"id":"933774e3-dde9-41d0-a7ce-5e1df3721e6a","name":"es sabado?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b5fbe098-7ea1-4cda-abc8-ec9b060131c3","leftValue":"={{ $json.valida }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,208],"id":"bf87c1fb-10a9-4015-9ae5-9ded69b85359","name":"valida?"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Fecha pasada o futura?","type":"main","index":0}]]},"Verificacion hora, cambiar codigo si necesita cambiar horarios":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Verificar horarios sabado":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Fecha pasada o futura?":{"main":[[{"node":"valida?","type":"main","index":0}]]},"Formatear fecha":{"main":[[{"node":"Obtener hora y dia de la semana","type":"main","index":0}]]},"Obtener hora y dia de la semana":{"main":[[{"node":"Es domingo?","type":"main","index":0}]]},"Es domingo?":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"es sabado?","type":"main","index":0}]]},"es sabado?":{"main":[[{"node":"Verificar horarios sabado","type":"main","index":0}],[{"node":"Verificacion hora, cambiar codigo si necesita cambiar horarios","type":"main","index":0}]]},"valida?":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Formatear fecha","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"Fecha":"2025-07-12T11:00:00"}}]},"versionId":"b7bed016-0e2d-4701-a15a-563f27f0265b","triggerCount":0,"tags":[{"createdAt":"2025-11-17T14:36:32.455Z","updatedAt":"2025-11-17T14:36:32.455Z","id":"hrIDh4R5vrcVht8l","name":"hoy"}],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"cZ2JD776vzX4RF5g","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}