backups/workflows/crear imagen seedream.json
{"createdAt":"2025-11-09T06:04:29.111Z","updatedAt":"2025-11-09T06:04:29.111Z","id":"j8aNSg7gzF1VVW0e","name":"crear imagen seedream","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"60e8efc1-d3fb-4a41-8e3a-47bf4ea1f589","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,128]},{"parameters":{},"id":"57e31eca-a2a7-4e91-bfa3-a92e3e5b5d87","name":"Replace me with your logic","type":"n8n-nodes-base.noOp","position":[528,128],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/jobs/createTask","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"bytedance/seedream-v4-text-to-image\",\n  \"callBackUrl\": \"https://your-domain.com/api/callback\",\n  \"input\": {\n    \"prompt\": {{ $json.prompt.toJsonString() }},\n    \"image_size\": \"square_hd\",\n    \"image_resolution\": \"1K\",\n    \"max_images\": 1\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-928,16],"id":"da98d670-d28d-4a58-aed0-ad7e45698b6f","name":"generarImagen"},{"parameters":{"url":"https://api.kie.ai/api/v1/jobs/recordInfo","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"taskId","value":"={{ $json.data.taskId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,16],"id":"2d78f9b7-c1cb-4ef4-89f7-8edabde34bf3","name":"estadoGeneracion"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-704,16],"id":"1d97919c-a9e9-4463-b591-fe7b9e52e97b","name":"Wait","webhookId":"74e4e593-74d8-4af3-98b8-a0c4c5cdc4ce"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"555bc16f-e73a-4eba-ba95-d78a8ffc2dab","leftValue":"={{ $json.data.resultJson }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-272,16],"id":"5a6fe40d-55e7-4d37-a8c2-7459f82970c8","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"3b445851-0fd6-4764-8ee1-d2760ddf5314","name":"data.resultJson","value":"={{ JSON.parse($json.data.resultJson).resultUrls[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"8450c36e-d0b9-4a73-9b9c-fec26bb39cef","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Replace me with your logic","type":"main","index":0}]]},"generarImagen":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"estadoGeneracion","type":"main","index":0}]]},"estadoGeneracion":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fb65bf53-b4eb-46d4-9bed-1472bc23b0ad","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"j8aNSg7gzF1VVW0e","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}