backups/workflows/Derivar a un humano ChatWoot General SAAS.json
{"createdAt":"2025-11-25T17:12:20.056Z","updatedAt":"2025-11-25T17:32:13.983Z","id":"9PpGrWEnaoBysSNA","name":"Derivar a un humano ChatWoot General SAAS","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $('When clicking ‘Execute workflow’').item.json.telefono }}"},{"name":"body","value":"=Hemos derivado tu consulta a un asesor humano 🧑‍💻. Por favor, espera unos minutos mientras revisamos tu caso."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,368],"id":"34c8e4f6-7ece-4cc1-b790-578bf5440631","name":"TEXTO2","credentials":{"httpBearerAuth":{"id":"9I95F2lchfAAvO9s","name":"Bearer Auth account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[624,448],"id":"6a87b969-ef36-4e14-b6c5-60a6630f7448","name":"No Operation, do nothing"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appY6ccYMnwAtjduc","mode":"list","cachedResultName":"Usuarios","cachedResultUrl":"https://airtable.com/appY6ccYMnwAtjduc"},"table":{"__rl":true,"value":"tblBRdtenmbkWoiAl","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appY6ccYMnwAtjduc/tblBRdtenmbkWoiAl"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"=","Estado":"Hablar con un humano","Whatsapp number":"={{ $('When clicking ‘Execute workflow’').item.json.telefono }}"},"matchingColumns":["Whatsapp number"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Whatsapp number","displayName":"Whatsapp number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Usuario nuevo","value":"Usuario nuevo"},{"name":"Cotización enviada","value":"Cotización enviada"},{"name":"Cotización sin confirmar","value":"Cotización sin confirmar"},{"name":"Cotización confirmada","value":"Cotización confirmada"},{"name":"Pendiente de pago / Seguimiento","value":"Pendiente de pago / Seguimiento"},{"name":"Pago verificado","value":"Pago verificado"},{"name":"Pedido entregado","value":"Pedido entregado"},{"name":"Hablar con un humano","value":"Hablar con un humano"}],"readOnly":false,"removed":false},{"id":"Attachments","displayName":"Attachments","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Attachment Summary","displayName":"Attachment Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[544,16],"id":"d12a9f2a-fc27-4330-bd4a-3ee59b2e2d6b","name":"Update record","credentials":{"airtableTokenApi":{"id":"koP0UPsgGTHwpHeE","name":"Airtable Personal Access Token account"}},"disabled":true},{"parameters":{"method":"POST","url":"=https://gate.whapi.cloud/labels/9/{{ $json.telefono }}@s.whatsapp.net","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,256],"id":"bdf2578a-1fb2-42d0-8bc4-2974120131c7","name":"Añadir etiqueta humano","alwaysOutputData":false,"credentials":{"httpBearerAuth":{"id":"9I95F2lchfAAvO9s","name":"Bearer Auth account"}},"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://inbox2.presla.co/api/v1/accounts/1/conversations/{{ $('When Executed by Another Workflow').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Hemos derivado tu consulta a un asesor humano 🧑‍💻. Por favor, espera unos minutos mientras revisamos tu caso."},{"name":"content_type","value":"text"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,224],"id":"1b1e0296-f811-425b-b57b-7d323f107818","name":"Mensaje 3","credentials":{"httpHeaderAuth":{"id":"Pp6ST8AdX17EIFAP","name":"Chatwoot EnviarAHumano Credential"}}},{"parameters":{"workflowInputs":{"values":[{"name":"conversation_id"},{"name":"chatwoot_apiKey"},{"name":"phone"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[64,240],"id":"100aa25b-4f73-47b1-b376-d088cd41200d","name":"When Executed by Another Workflow"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"columns":{"mappingMode":"defineBelow","value":{"phone":"={{ $('When Executed by Another Workflow').item.json.phone }}"},"matchingColumns":["phone"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone","displayName":"phone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"company_id","displayName":"company_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"funnel_stage","displayName":"funnel_stage","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conversation_url","displayName":"conversation_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"last_interaction_at","displayName":"last_interaction_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[608,240],"id":"ee270f52-8797-4ac1-aec2-4be1ab6b283f","name":"Update rows in a table","credentials":{"postgres":{"id":"VboSu8Ik97uHgyAz","name":"SAAS GENERAL VARIABLE CREDENTIALS"}}}],"connections":{"Update record":{"main":[[]]},"Añadir etiqueta humano":{"main":[[{"node":"Update rows in a table","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Añadir etiqueta humano","type":"main","index":0}]]},"Update rows in a table":{"main":[[{"node":"Mensaje 3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"conversation_id":"2","chatwoot_apiKey":"EKMSYmS4DF9GoVJHQuGbehkh","phone":"51950823801"}}]},"versionId":"5ce9f927-26fb-438d-b7be-a5da0448bce3","triggerCount":0,"tags":[{"createdAt":"2025-11-25T15:37:55.885Z","updatedAt":"2025-11-25T15:37:55.885Z","id":"ikDFziXYSU4qtigU","name":"GENERAL"}],"shared":[{"createdAt":"2025-11-25T17:12:20.056Z","updatedAt":"2025-11-25T17:12:20.056Z","role":"workflow:owner","workflowId":"9PpGrWEnaoBysSNA","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}