backups/workflows/Email Sender.json
{"createdAt":"2025-11-09T06:04:07.588Z","updatedAt":"2025-11-09T06:04:07.588Z","id":"G8YUQOyM4w9euRrb","name":"Email Sender","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"formulario1","formFields":{"values":[{"fieldLabel":"Tipo de negocio","placeholder":"Tipo de negocio"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[160,80],"id":"fb0a0806-8bfc-4741-823a-69cfc9a76859","name":"triggerForm","webhookId":"edc4b969-0232-4c39-a92f-1e81ba4b94e5"},{"parameters":{},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,80],"id":"efde4d06-9370-4315-a121-02c886831f76","name":"Obtener correos"},{"parameters":{"jsCode":"// Extractor de contactos para n8n\n// Extrae título, snippet y correo electrónico de resultados de búsqueda\n\n// Obtener los datos de entrada\nconst inputData = $input.all();\n\n// Expresión regular para encontrar correos electrónicos\nconst emailRegex = /([a-zA-Z0-9._-]+@(?:gmail|hotmail|outlook|yahoo)\\.com)/gi;\n\n// Set para evitar duplicados (por correo electrónico)\nconst emailsSet = new Set();\nconst contactos = [];\n\n// Procesar cada item de entrada\ninputData.forEach(item => {\n  const data = item.json;\n  \n  // Si hay resultados orgánicos, procesarlos\n  if (data.organic_results && Array.isArray(data.organic_results)) {\n    data.organic_results.forEach(result => {\n      const titulo = result.title || '';\n      const snippet = result.snippet || '';\n      \n      // Buscar correos en el snippet\n      const emailsEncontrados = snippet.match(emailRegex);\n      \n      if (emailsEncontrados) {\n        emailsEncontrados.forEach(email => {\n          // Normalizar el email a minúsculas para comparación\n          const emailNormalizado = email.toLowerCase();\n          \n          // Solo agregar si no existe ya\n          if (!emailsSet.has(emailNormalizado)) {\n            emailsSet.add(emailNormalizado);\n            contactos.push({\n              titulo: titulo,\n              snippet: snippet,\n              email: emailNormalizado\n            });\n          }\n        });\n      }\n    });\n  }\n});\n\n// Retornar los contactos únicos\nreturn contactos.map(contacto => ({\n  json: contacto\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,80],"id":"35386383-1067-4426-82c4-55f448de6136","name":"Code in JavaScript"},{"parameters":{"text":"=Titulo: {{ $json.titulo }}\nSnippet: {{ $json.snippet }}\nCorreo electronico: {{ $json.email }}","attributes":{"attributes":[{"name":"Nombre","description":"=Nonbre del doctor o clinica, formateado correctamente para usarlo en un correo electronico usando solo la primer tetra en mayuscula y 10 demås en minuscula. Ej. Clinica doctores condominio","required":true},{"name":"Descripcion","description":"Breve descripcion del negocio","required":true},{"name":"email","description":"={{ $json.email }}","required":true}]},"options":{"systemPromptTemplate":"=\nEres un algoritmo experto en extracción de información.\nExtrae únicamente datos relevantes a partir del título de página y la descripción.\nExtrae lo siguiente:\n- Nombre (persona o negocio), debe estar en un formato adecuado para usar esta variable en un correo electrónico\n- Descripción del negocio, debe proporcionar la mayor cantidad de información disponible y en un formato descriptivo, se usará para generar un icebreaker.\n- Correo electrónico: {{ $json.email }}\n\nSi un dato no está presente, omítelo. No infieras información.","batching":{"batchSize":10,"delayBetweenBatches":200}}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[1136,80],"id":"c04deae0-78de-472c-b4a1-22db11895577","name":"Information Extractor"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1072,288],"id":"f0662a68-93d2-4def-aaf2-e5bf80b90283","name":"OpenAI Chat Model"},{"parameters":{"inputText":"=Nombre:{{ $json.output.Nombre }}\nDescripcion:{{ $json.output.Descripcion }}\nemail:{{ $json.output.email }}","categories":{"categories":[{"category":"Doctores y clinicas","description":"Contacto de doctores y clinicas validos"},{"category":"Otros","description":"=Cuatquier contacto que no parezca ser un doctor o una clinica o no cuente con un correo electronico valido "}]},"options":{"systemPromptTemplate":"=\nClasifica los contactos dados según los siguientes criterios:\nDoctores o clinicas: Doctores o clinicas\nOtros: Contactos filtrados por error, anuncios de reclutamiento, memes, rifas, fundaciones, etc. También descartalo si no tiene una dirección de correo que parezca válida como: doctor@gmail.com\nContexto: El texto proviene de resultados de búsqueda en Instagram, por lo que puede contener usuarios no calificados o fuera del público objetivo.\nResponde únicamente con la categoría: Doctores o clinicas u Otros.","batching":{"batchSize":10,"delayBetweenBatches":200}}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[1488,80],"id":"1cee443e-6efc-427c-b49c-c3fe12d76a19","name":"Text Classifier"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1424,288],"id":"a969b8a5-980b-4a20-a7ab-1abe675cd1f6","name":"OpenAI Chat Model1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qgMdXyJptStDhCu6H_R6Ed6-Cie168qTeXplf4MguaU","mode":"list","cachedResultName":"Base de datos de web scrapping","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qgMdXyJptStDhCu6H_R6Ed6-Cie168qTeXplf4MguaU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qgMdXyJptStDhCu6H_R6Ed6-Cie168qTeXplf4MguaU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Titulo de pagina":"={{ $json.output.Nombre }}","Descripcion":"={{ $json.output.Descripcion }}","Correo":"={{ $json.output.email }}"},"matchingColumns":[],"schema":[{"id":"Titulo de pagina","displayName":"Titulo de pagina","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Descripcion","displayName":"Descripcion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Icebreaker","displayName":"Icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Campaña 1","displayName":"Campaña 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Campaña 2","displayName":"Campaña 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Campaña 3","displayName":"Campaña 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1904,80],"id":"ff6dee90-355f-4b04-9b1d-f8a937306a02","name":"Append row in sheet"},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($input.all().map( item => item.json ), null, 2 ) }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"Eres un Especialista en Email Marketing B2B con 8+ años de experiencia en automatización empresarial. Tu objetivo es crear **icebreakers** personalizados para correos de prospección que generen curiosidad y respuestas para agendar demos. **Ejemplo:** Hola, Dr. Lopez. Me llamó la atención cómo su clínica se destaca por el enfoque preventivo en cardiología, justo el tipo de entorno donde un sistema automatizado de citas puede liberar a su equipo de tareas repetitivas y mejorar la experiencia de sus pacientes desde el primer contacto. Maximo 40 palabras por icebreaker."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[416,592],"id":"de7a54c8-dcc1-4f86-8a55-03be2dc56ec2","name":"Basic LLM Chain","executeOnce":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,832],"id":"9dc3df55-9c3a-4625-a1e4-eeac2281e996","name":"OpenAI Chat Model2"},{"parameters":{"options":{"numberOfItems":"={{ $input.all().length }}"}},"type":"@n8n/n8n-nodes-langchain.outputParserItemList","typeVersion":1,"position":[560,800],"id":"f54adfbb-614d-4009-aa02-78e7e6ffad13","name":"Item List Output Parser"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2112,80],"id":"e9f5ff15-e492-4860-82fb-9d9171f555aa","name":"Wait","webhookId":"2e5b35ac-ebd2-4757-8ff0-4e525dcf425d"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qgMdXyJptStDhCu6H_R6Ed6-Cie168qTeXplf4MguaU","mode":"list","cachedResultName":"Base de datos de web scrapping","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qgMdXyJptStDhCu6H_R6Ed6-Cie168qTeXplf4MguaU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qgMdXyJptStDhCu6H_R6Ed6-Cie168qTeXplf4MguaU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Correo":"={{ $('Loop Over Items').item.json.Correo }}","Icebreaker":"={{ $json.text }}"},"matchingColumns":["Correo"],"schema":[{"id":"Titulo de pagina","displayName":"Titulo de pagina","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Descripcion","displayName":"Descripcion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Icebreaker","displayName":"Icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Campaña 1","displayName":"Campaña 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Campaña 2","displayName":"Campaña 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Campaña 3","displayName":"Campaña 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[832,608],"id":"1cbf1190-8b6e-48f9-9424-f2f7083f4e4e","name":"Update row in sheet"},{"parameters":{"documentId":{"__rl":true,"value":"1qgMdXyJptStDhCu6H_R6Ed6-Cie168qTeXplf4MguaU","mode":"list","cachedResultName":"Base de datos de web scrapping","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qgMdXyJptStDhCu6H_R6Ed6-Cie168qTeXplf4MguaU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qgMdXyJptStDhCu6H_R6Ed6-Cie168qTeXplf4MguaU/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[16,1168],"id":"ff0d433b-a59f-42d2-bd52-9a0192155589","name":"Get row(s) in sheet","executeOnce":true},{"parameters":{"sendTo":"fantinocamara@gmail.com","subject":"Dedique mas tiempo a sus pacientes, no a su tiempo ✔","message":"=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email Marketing - Automatización Pediátrica</title>\n    <!-- [NOTA IMPORTANTE]: Los estilos están en línea para máxima compatibilidad con clientes de correo. -->\n    <style>\n        /* Estilos generales (se mantendrán si el cliente lo soporta, pero el inline es la clave) */\n        body {\n            font-family: 'Inter', sans-serif;\n            margin: 0;\n            padding: 0;\n            line-height: 1.6;\n        }\n        .cta-button {\n            display: inline-block;\n            padding: 14px 28px;\n            font-size: 16px;\n            font-weight: 700;\n            text-align: center;\n            text-decoration: none;\n            border-radius: 12px;\n            /* La transición y el hover se pierden en muchos clientes de email, pero se incluye el estilo base */\n        }\n    </style>\n</head>\n<body style=\"background-color: #f3f4f6; padding: 16px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;\">\n\n    <!-- Contenedor principal del email: max-w-2xl, mx-auto, bg-white, rounded-xl, shadow-2xl -->\n    <div style=\"max-width: 640px; margin-left: auto; margin-right: auto; background-color: #ffffff; border-radius: 12px; box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1); overflow: hidden;\">\n        \n        <!-- Header / Logo: bg-secondary, p-6, flex justify-center, border-b -->\n        <header style=\"background-color: #F0F9FF; padding: 24px; display: flex; justify-content: center; border-bottom: 1px solid #e5e7eb;\">\n            <!-- LOGO: Logo de pájaro degradado -->\n            <img \n                src=\"https://img.freepik.com/vector-free/vector-degradado-logotipo-colorido-pajaro_343694-1365.jpg?semt=ais_hybrid&w=740&q=80\" \n                alt=\"\"\n                onerror=\"this.src='https://placehold.co/100x40/00A3A8/FFFFFF?text=Logo+Empresa';\"\n                style=\"width: 128px; height: auto; border-radius: 8px; display: block;\"\n            >\n        </header>\n\n        <!-- Cuerpo del mensaje: p-6 sm:p-10, space-y-6, text-body -->\n        <main style=\"padding: 40px; color: #1F2937;\">\n            \n            <!-- Saludo actualizado con placeholder de herramienta: Estimado(a) {{ $json['Titulo de pagina'] }} -->\n            <p style=\"color: #4b5563; margin-top: 0; margin-bottom: 24px;\">Estimado(a) {{ $json['Titulo de pagina'] }},</p>\n            \n            <!-- Frase de Apertura (Icebreaker) actualizada: {{ $json.Icebreaker }} -->\n            <p style=\"font-size: 18px; font-weight: 600; color: #00A3A8; margin-top: 16px; margin-bottom: 24px;\">{{ $json.Icebreaker }}</p>\n\n            <p style=\"margin-bottom: 24px;\">Sabemos que su tiempo es valioso y que cada minuto que pasa su equipo en tareas administrativas —como coordinar citas, realizar recordatorios manuales y gestionar ausencias (no-shows)— es tiempo que no se dedica a la atención de sus pequeños pacientes.</p>\n\n            <!-- Introducción al problema y la solución: p-5, bg-secondary, rounded-xl, border, shadow-inner -->\n            <div style=\"padding: 20px; background-color: #F0F9FF; border-radius: 12px; border: 1px solid #e5e7eb; margin-bottom: 24px;\">\n                <!-- text-xl, font-bold, text-primary, mb-3 -->\n                <h3 style=\"font-size: 20px; font-weight: 700; color: #00A3A8; margin-top: 0; margin-bottom: 12px;\">La agenda de su clínica en piloto automático</h3>\n                <p style=\"color: #4b5563; margin-bottom: 12px;\">Nuestro servicio está diseñado específicamente para el ritmo de una clínica pediátrica, automatizando completamente su agenda:</p>\n                \n                <!-- list-disc, list-inside, mt-3, text-gray-700, space-y-1 -->\n                <ul style=\"list-style-type: disc; margin-left: 20px; padding-left: 0; color: #4b5563;\">\n                    <li style=\"margin-bottom: 4px;\">Disponibilidad 24/7 para que los padres agenden a su conveniencia.</li>\n                    <li style=\"margin-bottom: 4px;\">Recordatorios automáticos e inteligentes (disminuyendo *no-shows* hasta en un 40%).</li>\n                    <li style=\"margin-bottom: 4px;\">Sincronización instantánea para que nunca haya doble reserva.</li>\n                </ul>\n            </div>\n\n            <p style=\"margin-bottom: 24px;\">Al implementar esta automatización, sus asistentes podrán enfocarse en la experiencia del paciente en la clínica, y no en la gestión de llamadas. El resultado es un consultorio más eficiente y padres de familia mucho más satisfechos.</p>\n\n            <p style=\"margin-bottom: 24px;\">Me encantaría mostrarle en solo 15 minutos cómo podemos liberar hasta 5 horas semanales de su personal administrativo.</p>\n\n            <!-- Bloque de CTA (Llamada a la Acción): text-center, pt-4, pb-6 -->\n            <div style=\"text-align: center; padding-top: 16px; padding-bottom: 24px;\">\n                <a \n                    href=\"linkedin.com/in/fantino-camara\" \n                    target=\"_blank\" \n                    class=\"cta-button\"\n                    style=\"\n                        background-color: #00A3A8; \n                        color: #ffffff !important; \n                        padding: 14px 28px; \n                        font-size: 16px; \n                        font-weight: 700; \n                        text-align: center; \n                        text-decoration: none; \n                        border-radius: 12px;\n                        border: 1px solid #00A3A8;\n                        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);\n                        display: inline-block;\n                        line-height: 1; /* Fixes height issues in Outlook */\n                        mso-padding-alt: 0; /* Outlook fix */\n                    \"\n                >\n                    Solicitar una Demostración\n                </a>\n            </div>\n\n            <p style=\"margin-bottom: 0;\">Quedo atento a cualquier duda.</p>\n            \n            <!-- Firma: pt-4, border-t -->\n            <div style=\"padding-top: 16px; border-top: 1px solid #e5e7eb; margin-top: 24px;\">\n                <p style=\"color: #4b5563; font-weight: 600; margin: 0;\">Saludos cordiales,</p>\n                <p style=\"color: #00A3A8; font-weight: 700; margin-top: 4px; margin-bottom: 4px;\">Fantino Camara</p>\n                <p style=\"font-size: 14px; color: #6b7280; margin: 0;\">Especialista en Automatización de Agendas</p>\n            </div>\n            \n        </main>\n\n        <!-- Footer / Información de contacto: p-6 sm:p-8, bg-gray-50, border-t, text-center, text-xs, text-gray-500 -->\n        <footer style=\"padding: 32px; background-color: #f9fafb; border-top: 1px solid #e5e7eb; text-align: center; font-size: 12px; color: #6b7280; line-height: 1.8;\">\n            <p style=\"margin: 0;\">&copy; 2024 {Nombre de la empresa}. Todos los derechos reservados.</p>\n            <p style=\"margin: 8px 0 0 0;\">\n                Visite nuestro sitio web: \n                <a href=\"{Sitio web}\" target=\"_blank\" style=\"text-decoration: underline; color: #6b7280;\">{Sitio web}</a>\n            </p>\n            <p style=\"margin: 4px 0 0 0;\">\n                Contacto: \n                <a href=\"mailto:{Email}\" style=\"text-decoration: underline; color: #6b7280;\">{Email}</a>\n            </p>\n            <p style=\"margin: 16px 0 0 0; font-size: 10px;\">Si desea dejar de recibir nuestros correos, puede <a href=\"#\" style=\"text-decoration: underline; color: #6b7280;\">darse de baja aquí</a> (opcional, pero recomendado).</p>\n        </footer>\n\n    </div>\n\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[480,1184],"id":"9cb13407-dbf5-4b8b-bd77-e4ad1e8dbdfb","name":"Send a message","webhookId":"2846b480-0686-4780-bf22-be32d223fadd","executeOnce":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[208,1168],"id":"e478fec5-9b38-4142-ae40-e9b2d168b3b1","name":"Loop Over Items1"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[736,1184],"id":"754d3d8f-f0f0-42f8-95e6-25b2c3485c01","name":"Wait1","webhookId":"85f3e330-1541-471e-a9a4-7f91140c087c"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qgMdXyJptStDhCu6H_R6Ed6-Cie168qTeXplf4MguaU","mode":"list","cachedResultName":"Base de datos de web scrapping","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qgMdXyJptStDhCu6H_R6Ed6-Cie168qTeXplf4MguaU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qgMdXyJptStDhCu6H_R6Ed6-Cie168qTeXplf4MguaU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Correo":"={{ $('Loop Over Items1').item.json.Correo }}","Campaña 1":"={{ $now.format('yyyy-MM-dd', {locale:'es'}) }}"},"matchingColumns":["Correo"],"schema":[{"id":"Titulo de pagina","displayName":"Titulo de pagina","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Descripcion","displayName":"Descripcion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Icebreaker","displayName":"Icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Campaña 1","displayName":"Campaña 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Campaña 2","displayName":"Campaña 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Campaña 3","displayName":"Campaña 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1040,1184],"id":"76b37aab-6998-49b2-8fd0-05f5c09fad77","name":"Update row in sheet1"},{"parameters":{"sendTo":"fantinocamara@gmail.com","subject":"Ha terminado la campaña con exito","message":"=Ha terminado la campaña con exito el {{ $now.format('yyyy-MM-dd', {locale:'es'}) }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[720,1056],"id":"e2bbe526-85af-4618-88a3-85afaf6182b4","name":"Send a message1","webhookId":"2846b480-0686-4780-bf22-be32d223fadd","executeOnce":true},{"parameters":{"content":"EXTRAER CONTACTOS","height":448,"width":976},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"76a4210f-fa44-4855-9ac3-4e751aadfa12","name":"Sticky Note"},{"parameters":{"content":"CLASIFICAR CONTACTOS","height":448,"width":1280,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1024,0],"id":"6bf08d51-7dd4-4cfa-89f5-341160147946","name":"Sticky Note1"},{"parameters":{"content":"GENERAR ICEBREAKER","height":512,"width":976,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,480],"id":"ac9c918e-e8df-4727-bcfa-bbdd214084ac","name":"Sticky Note2"},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[80,544],"id":"1574faad-f0de-49df-8ac8-1271e250903a","name":"Loop Over Items","disabled":true},{"parameters":{"content":"ENVIAR EMAILS","height":464,"width":1216},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1040],"id":"de166d76-55ad-4538-ae60-32648011f54b","name":"Sticky Note3"}],"connections":{"Code in JavaScript":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Item List Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Send a message1","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}],[{"node":"Basic LLM Chain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"triggerForm":[{"json":{"Tipo de negocio":"Pediatra","submittedAt":"2025-11-04T23:35:10.109-05:00","formMode":"test"}}],"Obtener correos":[{"json":{"search_metadata":{"id":"690ad600ff3b7af9385da438","status":"Success","json_endpoint":"https://serpapi.com/searches/9fa0db8163828e8a/690ad600ff3b7af9385da438.json","pixel_position_endpoint":"https://serpapi.com/searches/9fa0db8163828e8a/690ad600ff3b7af9385da438.json_with_pixel_position","created_at":"2025-11-05 04:43:44 UTC","processed_at":"2025-11-05 04:43:44 UTC","google_url":"https://www.google.com/search?q=site%3Ainstagram.com+%22Pediatra%22+%22%40gmail.com%22+OR+%22%40hotmail.com%22+OR+%22%40outlook.com%22+OR+%22%40yahoo.+com%22&oq=site%3Ainstagram.com+%22Pediatra%22+%22%40gmail.com%22+OR+%22%40hotmail.com%22+OR+%22%40outlook.com%22+OR+%22%40yahoo.+com%22&hl=es&lr=lang_es&num=100&sourceid=chrome&ie=UTF-8","raw_html_file":"https://serpapi.com/searches/9fa0db8163828e8a/690ad600ff3b7af9385da438.html","total_time_taken":3.72},"search_parameters":{"engine":"google","q":"site:instagram.com \"Pediatra\" \"@gmail.com\" OR \"@hotmail.com\" OR \"@outlook.com\" OR \"@yahoo. com\"","google_domain":"google.com","hl":"es","lr":"lang_es","num":"100","device":"desktop"},"search_information":{"query_displayed":"site:instagram.com \"Pediatra\" \"@gmail.com\" OR \"@hotmail.com\" OR \"@outlook.com\" OR \"@yahoo. com\"","total_results":103000,"time_taken_displayed":0.41,"organic_results_state":"Results for exact spelling"},"organic_results":[{"position":1,"title":"Dra. Any D. Cabrera - Pediatra Neonatóloga 📲 809-309- ...","link":"https://www.instagram.com/p/DPR82itDse8/","redirect_link":"https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.instagram.com/p/DPR82itDse8/&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQFnoECBsQAQ","displayed_link":"Más de 50 \"me gusta\" · hace 1 mes","thumbnail":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a87551420244a562cb7de2ad0c33c6daa5c2b9a7c54.jpeg","favicon":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a87551420243a3da67132d5f6651333e6d38f2971d2.png","snippet":"Dra. Any D. Cabrera - Pediatra Neonatóloga 809-309-0322 ☎️ 809-581-4445 ext. 4507 dra.anycabrera@gmail.com Edificio Principal, 5ta Planta, ...","snippet_highlighted_words":["Pediatra","gmail.com"],"source":"Instagram · maternoinfantilrd"},{"position":2,"title":"Soy la Dra. Jinette Santos y soy Pediatra!!! ❤️💕🥰 Nuestra ...","link":"https://www.instagram.com/p/C5oqiK2S4NC/","redirect_link":"https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.instagram.com/p/C5oqiK2S4NC/&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQFnoECCIQAQ","displayed_link":"Más de 60 \"me gusta\" · hace 1 año","thumbnail":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a875514202478ac508fdeafea8b123efcbc34483652.jpeg","favicon":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a875514202442f22ff3c1d41320d63be46697dfdea1.png","snippet":"... likes, 5 comments - peds.metro on April 11, 2024: \"Soy la Dra. Jinette Santos y soy Pediatra!!! ❤️ ... gmail.com\".","snippet_highlighted_words":["Pediatra","gmail.com"],"source":"Instagram · peds.metro"},{"position":3,"title":"En Albores, tu pediatra no solo evalúa a tu hijo ... - Instagram","link":"https://www.instagram.com/p/DC-bfo_CP77/","redirect_link":"https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.instagram.com/p/DC-bfo_CP77/&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQFnoECB0QAQ","displayed_link":"Más de 10 \"me gusta\" · hace 11 meses","thumbnail":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a87551420241e59eca7e9452a3f57dec81e9d5b7611.jpeg","favicon":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a87551420249ab94fffb45228b9db0c388367482a0c.png","snippet":"... pediatra de cabecera y de confianza? Todo lo que necesitas lo ... centromedicoalbores@gmail.com Reserva: +56 9 2838 6967 o en el ...","snippet_highlighted_words":["pediatra","gmail.com"],"source":"Instagram · centromedicoalbores"},{"position":4,"title":"Soy la Dra. Nataly Almonte Mariñez 🩺 Pediatra- ...","link":"https://www.instagram.com/p/C5YqPzXOLXZ/","redirect_link":"https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.instagram.com/p/C5YqPzXOLXZ/&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQFnoECB4QAQ","displayed_link":"Más de 90 \"me gusta\" · hace 1 año","thumbnail":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a8755142024b864bc860909c9404540e396cda40b92.jpeg","favicon":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a8755142024893c873a99c0a8bb1daafa1cfff5bfe2.png","snippet":"... likes, 2 comments - centrommh on April 5, 2024: \"Soy la Dra. Nataly Almonte Mariñez Pediatra ... gmail.com #pediatraensantodomingo # ...","snippet_highlighted_words":["Pediatra","gmail.com"],"source":"Instagram · centrommh"},{"position":5,"title":"️ Dra. Maria Cecilia Pereira Pediatra Puricultor ✅ Agenda ...","link":"https://www.instagram.com/p/Cwgh5ukpF3z/","redirect_link":"https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.instagram.com/p/Cwgh5ukpF3z/&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQFnoECCAQAQ","displayed_link":"Más de 50 \"me gusta\" · hace 2 años","thumbnail":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a8755142024a89d0b044821bb10610dc4b942150de1.jpeg","favicon":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a87551420247b1e71565e1074845aa4fd91df4d6140.png","snippet":"... gmail.com Av. Páez, Calle 20 y 21, Local 1 Sector Villa Pastora, Acarigua. Estado Portuguesa. #clisamaca #clinicasantamaria #pediatra ...","snippet_highlighted_words":["gmail.com","pediatra"],"source":"Instagram · clisamaca"},{"position":6,"title":"Dra Dalmacia Noguera Pediatra Nutrólogo Consulta ...","link":"https://www.instagram.com/p/DBE7wphPD8W/","redirect_link":"https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.instagram.com/p/DBE7wphPD8W/&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQFnoECBwQAQ","displayed_link":"Más de 10 \"me gusta\" · hace 1 año","thumbnail":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a87551420246613c5ec264a4b5705b31d0593c838a3.jpeg","favicon":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a8755142024ffca3e8afccee17bd2c2ee0c9bbeee01.png","snippet":"Dra Dalmacia Noguera Pediatra Nutrólogo Consulta presencial en @cardimed.ar Consulta online enviar email a dalmacianoguera1@gmail.com ...","snippet_highlighted_words":["Pediatra","gmail.com"],"source":"Instagram · dradalmacianoguera"},{"position":7,"title":"️ Dra. Zaide Colmenares Pediatra Puricultor ✅ Agenda tu ...","link":"https://www.instagram.com/p/CvlUEXSpzRV/","redirect_link":"https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.instagram.com/p/CvlUEXSpzRV/&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQFnoECB8QAQ","displayed_link":"Más de 30 \"me gusta\" · hace 2 años","thumbnail":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a8755142024c83b84d4a7363492e760168828ac951e.jpeg","favicon":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a8755142024362a10fab8e0faf1a76d86ec7f1a11bd.png","snippet":"... gmail.com Av. Páez, Calle 20 y 21, Local 1 Sector Villa Pastora, Acarigua. Estado Portuguesa. #clisamaca #clinicasantamaria #pediatra ...","snippet_highlighted_words":["gmail.com","pediatra"],"source":"Instagram · clisamaca"},{"position":8,"title":"DRA. YHAMIR RUIZ (PEDIATRA) HORARIO: LUNES a ...","link":"https://www.instagram.com/p/C12aqh7uRfV/","redirect_link":"https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.instagram.com/p/C12aqh7uRfV/&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQFnoECD0QAQ","displayed_link":"Más de 20 \"me gusta\" · hace 1 año","thumbnail":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a8755142024e0a2bf3cfb22b11ffa84cf1f0b5cd3e8.jpeg","favicon":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a8755142024bbb47d9402270fce18010cb9c15b1ab8.png","snippet":"... likes, 2 comments - fundacor.sc on January 8, 2024: \"DRA. YHAMIR RUIZ (PEDIATRA) ... gmail.com #fundacor #consultasmédicas #cardiología #cardiólogo ...","snippet_highlighted_words":["PEDIATRA","gmail.com"],"source":"Instagram · fundacor.sc"},{"position":9,"title":"Dra. Dilelvy León Saya Pediatra Puericultor ... - Instagram","link":"https://www.instagram.com/p/CD5IJ0hnkfr/","redirect_link":"https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.instagram.com/p/CD5IJ0hnkfr/&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQFnoECD4QAQ","displayed_link":"Más de 30 \"me gusta\" · hace 5 años","thumbnail":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a8755142024d3196efd9f396761e9e6a66bc91d95c5.jpeg","favicon":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a8755142024aa45292039fb941f728ed3a372cbb928.png","snippet":"Pediatra Puericultor @draleonpediatra draleon.pediatra@gmail.com. Consultas mientras dure la cuarentena: Martes y jueves previa cita","snippet_highlighted_words":["Pediatra","pediatra","gmail.com"],"source":"Instagram · ccisabelica"},{"position":10,"title":"️ Dra. Lesbia Vasquez Pediatra Puricultor ✅ Agenda tu ...","link":"https://www.instagram.com/p/CvtGhwmue-b/","redirect_link":"https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.instagram.com/p/CvtGhwmue-b/&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQFnoECDwQAQ","displayed_link":"Más de 150 \"me gusta\" · hace 2 años","thumbnail":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a87551420242cdf1fad6ac64030c3225b61abde74ec.jpeg","favicon":"https://serpapi.com/searches/690ad600ff3b7af9385da438/images/d7ddfad0b6dc9ad8cad23a87551420249b21ae0fceae72f11bf02e177ae5d561.png","snippet":"... gmail.com Av. Páez, Calle 20 y 21, Local 1 Sector Villa Pastora, Acarigua. Estado Portuguesa. #clisamaca #clinicasantamaria #pediatra ...","snippet_highlighted_words":["gmail.com","pediatra"],"source":"Instagram · clisamaca"}],"pagination":{"current":1,"next":"https://www.google.com/search?q=site:instagram.com+%22Pediatra%22+%22@gmail.com%22+OR+%22@hotmail.com%22+OR+%22@outlook.com%22+OR+%22@yahoo.+com%22&lr=lang_es&sca_esv=1543fb6b43c5b04c&hl=es&tbs=lr:lang_1es&ei=A9YKac7HE_Wm0PEP_YuUqAo&start=10&sa=N&sstk=Af77f_fe1jW6obCAU5tyL-Jj-a0Kk6TAx5LURcD37tYNvUJsabAiJn0tlAcdxY_d6uNDj_RRa3Q3KZcRF50BLkQe8Gh76bgiU_TSww&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQ8NMDegQICRAW","other_pages":{"2":"https://www.google.com/search?q=site:instagram.com+%22Pediatra%22+%22@gmail.com%22+OR+%22@hotmail.com%22+OR+%22@outlook.com%22+OR+%22@yahoo.+com%22&lr=lang_es&sca_esv=1543fb6b43c5b04c&hl=es&tbs=lr:lang_1es&ei=A9YKac7HE_Wm0PEP_YuUqAo&start=10&sa=N&sstk=Af77f_fe1jW6obCAU5tyL-Jj-a0Kk6TAx5LURcD37tYNvUJsabAiJn0tlAcdxY_d6uNDj_RRa3Q3KZcRF50BLkQe8Gh76bgiU_TSww&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQ8tMDegQICRAE","3":"https://www.google.com/search?q=site:instagram.com+%22Pediatra%22+%22@gmail.com%22+OR+%22@hotmail.com%22+OR+%22@outlook.com%22+OR+%22@yahoo.+com%22&lr=lang_es&sca_esv=1543fb6b43c5b04c&hl=es&tbs=lr:lang_1es&ei=A9YKac7HE_Wm0PEP_YuUqAo&start=20&sa=N&sstk=Af77f_fe1jW6obCAU5tyL-Jj-a0Kk6TAx5LURcD37tYNvUJsabAiJn0tlAcdxY_d6uNDj_RRa3Q3KZcRF50BLkQe8Gh76bgiU_TSww&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQ8tMDegQICRAG","4":"https://www.google.com/search?q=site:instagram.com+%22Pediatra%22+%22@gmail.com%22+OR+%22@hotmail.com%22+OR+%22@outlook.com%22+OR+%22@yahoo.+com%22&lr=lang_es&sca_esv=1543fb6b43c5b04c&hl=es&tbs=lr:lang_1es&ei=A9YKac7HE_Wm0PEP_YuUqAo&start=30&sa=N&sstk=Af77f_fe1jW6obCAU5tyL-Jj-a0Kk6TAx5LURcD37tYNvUJsabAiJn0tlAcdxY_d6uNDj_RRa3Q3KZcRF50BLkQe8Gh76bgiU_TSww&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQ8tMDegQICRAI","5":"https://www.google.com/search?q=site:instagram.com+%22Pediatra%22+%22@gmail.com%22+OR+%22@hotmail.com%22+OR+%22@outlook.com%22+OR+%22@yahoo.+com%22&lr=lang_es&sca_esv=1543fb6b43c5b04c&hl=es&tbs=lr:lang_1es&ei=A9YKac7HE_Wm0PEP_YuUqAo&start=40&sa=N&sstk=Af77f_fe1jW6obCAU5tyL-Jj-a0Kk6TAx5LURcD37tYNvUJsabAiJn0tlAcdxY_d6uNDj_RRa3Q3KZcRF50BLkQe8Gh76bgiU_TSww&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQ8tMDegQICRAK","6":"https://www.google.com/search?q=site:instagram.com+%22Pediatra%22+%22@gmail.com%22+OR+%22@hotmail.com%22+OR+%22@outlook.com%22+OR+%22@yahoo.+com%22&lr=lang_es&sca_esv=1543fb6b43c5b04c&hl=es&tbs=lr:lang_1es&ei=A9YKac7HE_Wm0PEP_YuUqAo&start=50&sa=N&sstk=Af77f_fe1jW6obCAU5tyL-Jj-a0Kk6TAx5LURcD37tYNvUJsabAiJn0tlAcdxY_d6uNDj_RRa3Q3KZcRF50BLkQe8Gh76bgiU_TSww&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQ8tMDegQICRAM","7":"https://www.google.com/search?q=site:instagram.com+%22Pediatra%22+%22@gmail.com%22+OR+%22@hotmail.com%22+OR+%22@outlook.com%22+OR+%22@yahoo.+com%22&lr=lang_es&sca_esv=1543fb6b43c5b04c&hl=es&tbs=lr:lang_1es&ei=A9YKac7HE_Wm0PEP_YuUqAo&start=60&sa=N&sstk=Af77f_fe1jW6obCAU5tyL-Jj-a0Kk6TAx5LURcD37tYNvUJsabAiJn0tlAcdxY_d6uNDj_RRa3Q3KZcRF50BLkQe8Gh76bgiU_TSww&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQ8tMDegQICRAO","8":"https://www.google.com/search?q=site:instagram.com+%22Pediatra%22+%22@gmail.com%22+OR+%22@hotmail.com%22+OR+%22@outlook.com%22+OR+%22@yahoo.+com%22&lr=lang_es&sca_esv=1543fb6b43c5b04c&hl=es&tbs=lr:lang_1es&ei=A9YKac7HE_Wm0PEP_YuUqAo&start=70&sa=N&sstk=Af77f_fe1jW6obCAU5tyL-Jj-a0Kk6TAx5LURcD37tYNvUJsabAiJn0tlAcdxY_d6uNDj_RRa3Q3KZcRF50BLkQe8Gh76bgiU_TSww&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQ8tMDegQICRAQ","9":"https://www.google.com/search?q=site:instagram.com+%22Pediatra%22+%22@gmail.com%22+OR+%22@hotmail.com%22+OR+%22@outlook.com%22+OR+%22@yahoo.+com%22&lr=lang_es&sca_esv=1543fb6b43c5b04c&hl=es&tbs=lr:lang_1es&ei=A9YKac7HE_Wm0PEP_YuUqAo&start=80&sa=N&sstk=Af77f_fe1jW6obCAU5tyL-Jj-a0Kk6TAx5LURcD37tYNvUJsabAiJn0tlAcdxY_d6uNDj_RRa3Q3KZcRF50BLkQe8Gh76bgiU_TSww&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQ8tMDegQICRAS","10":"https://www.google.com/search?q=site:instagram.com+%22Pediatra%22+%22@gmail.com%22+OR+%22@hotmail.com%22+OR+%22@outlook.com%22+OR+%22@yahoo.+com%22&lr=lang_es&sca_esv=1543fb6b43c5b04c&hl=es&tbs=lr:lang_1es&ei=A9YKac7HE_Wm0PEP_YuUqAo&start=90&sa=N&sstk=Af77f_fe1jW6obCAU5tyL-Jj-a0Kk6TAx5LURcD37tYNvUJsabAiJn0tlAcdxY_d6uNDj_RRa3Q3KZcRF50BLkQe8Gh76bgiU_TSww&ved=2ahUKEwiO1dDAmdqQAxV1EzQIHf0FBaUQ8tMDegQICRAU"}},"serpapi_pagination":{"current":1,"next_link":"https://serpapi.com/search.json?device=desktop&engine=google&google_domain=google.com&hl=es&lr=lang_es&num=100&q=site%3Ainstagram.com+%22Pediatra%22+%22%40gmail.com%22+OR+%22%40hotmail.com%22+OR+%22%40outlook.com%22+OR+%22%40yahoo.+com%22&start=10&tbs=lr%3Alang_1es","next":"https://serpapi.com/search.json?device=desktop&engine=google&google_domain=google.com&hl=es&lr=lang_es&num=100&q=site%3Ainstagram.com+%22Pediatra%22+%22%40gmail.com%22+OR+%22%40hotmail.com%22+OR+%22%40outlook.com%22+OR+%22%40yahoo.+com%22&start=10&tbs=lr%3Alang_1es","other_pages":{"2":"https://serpapi.com/search.json?device=desktop&engine=google&google_domain=google.com&hl=es&lr=lang_es&num=100&q=site%3Ainstagram.com+%22Pediatra%22+%22%40gmail.com%22+OR+%22%40hotmail.com%22+OR+%22%40outlook.com%22+OR+%22%40yahoo.+com%22&start=10&tbs=lr%3Alang_1es","3":"https://serpapi.com/search.json?device=desktop&engine=google&google_domain=google.com&hl=es&lr=lang_es&num=100&q=site%3Ainstagram.com+%22Pediatra%22+%22%40gmail.com%22+OR+%22%40hotmail.com%22+OR+%22%40outlook.com%22+OR+%22%40yahoo.+com%22&start=20&tbs=lr%3Alang_1es","4":"https://serpapi.com/search.json?device=desktop&engine=google&google_domain=google.com&hl=es&lr=lang_es&num=100&q=site%3Ainstagram.com+%22Pediatra%22+%22%40gmail.com%22+OR+%22%40hotmail.com%22+OR+%22%40outlook.com%22+OR+%22%40yahoo.+com%22&start=30&tbs=lr%3Alang_1es","5":"https://serpapi.com/search.json?device=desktop&engine=google&google_domain=google.com&hl=es&lr=lang_es&num=100&q=site%3Ainstagram.com+%22Pediatra%22+%22%40gmail.com%22+OR+%22%40hotmail.com%22+OR+%22%40outlook.com%22+OR+%22%40yahoo.+com%22&start=40&tbs=lr%3Alang_1es","6":"https://serpapi.com/search.json?device=desktop&engine=google&google_domain=google.com&hl=es&lr=lang_es&num=100&q=site%3Ainstagram.com+%22Pediatra%22+%22%40gmail.com%22+OR+%22%40hotmail.com%22+OR+%22%40outlook.com%22+OR+%22%40yahoo.+com%22&start=50&tbs=lr%3Alang_1es","7":"https://serpapi.com/search.json?device=desktop&engine=google&google_domain=google.com&hl=es&lr=lang_es&num=100&q=site%3Ainstagram.com+%22Pediatra%22+%22%40gmail.com%22+OR+%22%40hotmail.com%22+OR+%22%40outlook.com%22+OR+%22%40yahoo.+com%22&start=60&tbs=lr%3Alang_1es","8":"https://serpapi.com/search.json?device=desktop&engine=google&google_domain=google.com&hl=es&lr=lang_es&num=100&q=site%3Ainstagram.com+%22Pediatra%22+%22%40gmail.com%22+OR+%22%40hotmail.com%22+OR+%22%40outlook.com%22+OR+%22%40yahoo.+com%22&start=70&tbs=lr%3Alang_1es","9":"https://serpapi.com/search.json?device=desktop&engine=google&google_domain=google.com&hl=es&lr=lang_es&num=100&q=site%3Ainstagram.com+%22Pediatra%22+%22%40gmail.com%22+OR+%22%40hotmail.com%22+OR+%22%40outlook.com%22+OR+%22%40yahoo.+com%22&start=80&tbs=lr%3Alang_1es","10":"https://serpapi.com/search.json?device=desktop&engine=google&google_domain=google.com&hl=es&lr=lang_es&num=100&q=site%3Ainstagram.com+%22Pediatra%22+%22%40gmail.com%22+OR+%22%40hotmail.com%22+OR+%22%40outlook.com%22+OR+%22%40yahoo.+com%22&start=90&tbs=lr%3Alang_1es"}}}}],"Code in JavaScript":[{"json":{"titulo":"Dra. Any D. Cabrera - Pediatra Neonatóloga 📲 809-309- ...","snippet":"Dra. Any D. Cabrera - Pediatra Neonatóloga 809-309-0322 ☎️ 809-581-4445 ext. 4507 dra.anycabrera@gmail.com Edificio Principal, 5ta Planta, ...","email":"dra.anycabrera@gmail.com"}},{"json":{"titulo":"En Albores, tu pediatra no solo evalúa a tu hijo ... - Instagram","snippet":"... pediatra de cabecera y de confianza? Todo lo que necesitas lo ... centromedicoalbores@gmail.com Reserva: +56 9 2838 6967 o en el ...","email":"centromedicoalbores@gmail.com"}},{"json":{"titulo":"Dra Dalmacia Noguera Pediatra Nutrólogo Consulta ...","snippet":"Dra Dalmacia Noguera Pediatra Nutrólogo Consulta presencial en @cardimed.ar Consulta online enviar email a dalmacianoguera1@gmail.com ...","email":"dalmacianoguera1@gmail.com"}},{"json":{"titulo":"Dra. Dilelvy León Saya Pediatra Puericultor ... - Instagram","snippet":"Pediatra Puericultor @draleonpediatra draleon.pediatra@gmail.com. Consultas mientras dure la cuarentena: Martes y jueves previa cita","email":"draleon.pediatra@gmail.com"}}],"Information Extractor":[{"json":{"output":{"Nombre":"Dra. any d. cabrera","Descripcion":"Dra. Any D. Cabrera es una pediatra neonatóloga que ofrece atención especializada a recién nacidos y niños. Su consultorio se encuentra en el Edificio Principal, 5ta Planta, y proporciona servicios y cuidados esenciales para la salud infantil.","email":"dra.anycabrera@gmail.com"}}},{"json":{"output":{"Nombre":"Centro medico albores","Descripcion":"En Albores, tu pediatra no solo evalúa a tu hijo, sino que se convierte en su pediatra de cabecera y de confianza, ofreciendo todo lo que necesites para su cuidado.","email":"centromedicoalbores@gmail.com"}}},{"json":{"output":{"Nombre":"Dra dalmacianoguera","Descripcion":"Consulta presencial y online con la Dra. Dalmacia Noguera, pediatra y nutriólogo. Ofrecen atención médica especializada para niños, brindando asesoría en salud y nutrición.","email":"dalmacianoguera1@gmail.com"}}},{"json":{"output":{"Nombre":"Dra. dilelvy león saya","Descripcion":"Pediatra Puericultor con consultas disponibles durante la cuarentena los martes y jueves con previa cita.","email":"draleon.pediatra@gmail.com"}}}],"Append row in sheet":[{"json":{"Titulo de pagina":"Dra. any d. cabrera","Descripcion":"Dra. Any D. Cabrera es una pediatra neonatóloga que ofrece atención especializada a recién nacidos y niños. Su consultorio se encuentra en el Edificio Principal, 5ta Planta, y proporciona servicios y cuidados esenciales para la salud infantil.","Correo":"dra.anycabrera@gmail.com"}},{"json":{"Titulo de pagina":"Centro medico albores","Descripcion":"En Albores, tu pediatra no solo evalúa a tu hijo, sino que se convierte en su pediatra de cabecera y de confianza, ofreciendo todo lo que necesites para su cuidado.","Correo":"centromedicoalbores@gmail.com"}},{"json":{"Titulo de pagina":"Dra dalmacianoguera","Descripcion":"Consulta presencial y online con la Dra. Dalmacia Noguera, pediatra y nutriólogo. Ofrecen atención médica especializada para niños, brindando asesoría en salud y nutrición.","Correo":"dalmacianoguera1@gmail.com"}},{"json":{"Titulo de pagina":"Dra. dilelvy león saya","Descripcion":"Pediatra Puericultor con consultas disponibles durante la cuarentena los martes y jueves con previa cita.","Correo":"draleon.pediatra@gmail.com"}}],"Basic LLM Chain":[{"json":{"text":"Hola, Dra. Cabrera. Me impresionó su dedicación en la atención especializada a recién nacidos. Imagino que un sistema automatizado de citas podría optimizar su tiempo y asegurar que cada pequeño reciba la mejor atención en su consultorio."}},{"json":{"text":"Hola, equipo de Albores. Su enfoque en convertirse en el pediatra de confianza para cada niño es admirable. ¿Han considerado cómo una automatización de citas podría ayudar a mantener esa confianza y atención personalizada en su consultorio?"}},{"json":{"text":"Hola, Dra. Noguera. La combinación de pediatría y nutrición que ofrecen es fundamental para el desarrollo infantil. Imagino que un sistema automatizado puede facilitar más consultas y asegurar que cada niño reciba la atención que merece."}},{"json":{"text":"Hola, Dra. León Saya. Su compromiso con la consulta durante la cuarentena es notable. ¿Le gustaría explorar cómo un sistema de citas automatizado podría simplificar su carga administrativa y permitirle concentrarse en sus pequeños pacientes?"}}],"Update row in sheet":[{"json":{"Correo":"dra.anycabrera@gmail.com","Icebreaker":"Hola, Dra. Cabrera. Me impresionó su dedicación en la atención especializada a recién nacidos. Imagino que un sistema automatizado de citas podría optimizar su tiempo y asegurar que cada pequeño reciba la mejor atención en su consultorio."}},{"json":{"Correo":"centromedicoalbores@gmail.com","Icebreaker":"Hola, equipo de Albores. Su enfoque en convertirse en el pediatra de confianza para cada niño es admirable. ¿Han considerado cómo una automatización de citas podría ayudar a mantener esa confianza y atención personalizada en su consultorio?"}},{"json":{"Correo":"dalmacianoguera1@gmail.com","Icebreaker":"Hola, Dra. Noguera. La combinación de pediatría y nutrición que ofrecen es fundamental para el desarrollo infantil. Imagino que un sistema automatizado puede facilitar más consultas y asegurar que cada niño reciba la atención que merece."}},{"json":{"Correo":"draleon.pediatra@gmail.com","Icebreaker":"Hola, Dra. León Saya. Su compromiso con la consulta durante la cuarentena es notable. ¿Le gustaría explorar cómo un sistema de citas automatizado podría simplificar su carga administrativa y permitirle concentrarse en sus pequeños pacientes?"}}]},"versionId":"0f4f9e26-809a-4c79-8b68-9a3abea4066e","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"G8YUQOyM4w9euRrb","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}