backups/workflows/entregar_horarios.json
{"createdAt":"2025-11-17T14:38:11.266Z","updatedAt":"2025-11-24T19:17:12.330Z","id":"K682EiY3IDqEtolw","name":"entregar_horarios","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-07-10T11:00:00\"\n}"},"id":"095b922c-f055-4211-9496-a69d5798d81c","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-688,128]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"limit":15,"timeMin":"={{ $json.fechaInicio }}","timeMax":"={{ $json.fechaFin }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[240,0],"id":"baa3c630-d0f5-49cf-9bc8-2fb18c7120d3","name":"Google Calendar"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const fechaBase = new Date(item.json.fecha);\n\n  const año = fechaBase.getFullYear();\n  const mes = fechaBase.getMonth(); // Recuerda: enero = 0\n  const dia = fechaBase.getDate();\n\n  // Crear fecha de inicio (08:00:00)\n  const fechaInicio = new Date(año, mes, dia, 8, 0, 0);\n\n  // Crear fecha de fin (18:00:00)\n  const fechaFin = new Date(año, mes, dia, 18, 0, 0);\n\n  // Función para formatear sin la \"Z\"\n  const formatear = (date) => {\n    const pad = (n) => n.toString().padStart(2, '0');\n    return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())}T${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;\n  };\n\n  item.json.fechaInicio = formatear(fechaInicio);\n  item.json.fechaFin = formatear(fechaFin);\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"53a53175-3e37-41a5-a40b-40bb753611d9","name":"Code"},{"parameters":{"jsCode":"const salida = [];\n\nfor (const item of $input.all()) {\n  const dateTimeString = item.json.start.dateTime;\n\n  // Extraer solo la hora en texto sin conversión de zona horaria\n  const horaFormateada = dateTimeString.split(\"T\")[1].substring(0,5); // Ej: \"11:00\"\n\n  salida.push(horaFormateada);\n}\n\n// Ordenar alfabéticamente (funciona bien con formato HH:mm)\nsalida.sort();\n\nreturn [\n  {\n    json: {\n      horasOcupadas: salida\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0],"id":"6e5c6d0f-8621-4e07-adc3-b845bc54ed64","name":"Code1"},{"parameters":{"jsCode":"// Horas ocupadas que vienen del input\nconst horasOcupadas = $input.first().json.horasOcupadas;\n\n// Convertir a Set para búsquedas rápidas\nconst ocupadasSet = new Set(horasOcupadas);\n\n// Definir rango de atención\nconst horaInicio = 8;\nconst horaFin = 18;\n\n// Excluir bloque de almuerzo: 12:00 a 13:59\nconst esAlmuerzo = (hora) => hora >= 12 && hora < 14;\n\n// Generar todas las horas válidas dentro del rango\nconst horasDisponibles = [];\n\nfor (let hora = horaInicio; hora < horaFin; hora++) {\n  if (esAlmuerzo(hora)) continue;\n\n  const horaStr = hora.toString().padStart(2, '0') + ':00';\n\n  if (!ocupadasSet.has(horaStr)) {\n    horasDisponibles.push(horaStr);\n  }\n}\n\nreturn [\n  {\n    json: {\n      horasDisponibles\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,-16],"id":"579b85e3-1650-4f8b-ab1c-57ce4204b666","name":"Code2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d872215-e563-42b1-8f10-472b30a0232a","leftValue":"={{ $json.diaSemana }}","rightValue":"sabado","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-256,128],"id":"309360e4-1600-4422-a52b-8bf56003ee9c","name":"If"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const fechaBase = new Date(item.json.fecha);\n\n  const año = fechaBase.getFullYear();\n  const mes = fechaBase.getMonth(); // Recuerda: enero = 0\n  const dia = fechaBase.getDate();\n\n  // Crear fecha de inicio (08:00:00)\n  const fechaInicio = new Date(año, mes, dia, 8, 0, 0);\n\n  // Crear fecha de fin (18:00:00)\n  const fechaFin = new Date(año, mes, dia, 18, 0, 0);\n\n  // Función para formatear sin la \"Z\"\n  const formatear = (date) => {\n    const pad = (n) => n.toString().padStart(2, '0');\n    return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())}T${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;\n  };\n\n  item.json.fechaInicio = formatear(fechaInicio);\n  item.json.fechaFin = formatear(fechaFin);\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,320],"id":"eb77bcae-5947-42f8-b261-2d2d0269f8ca","name":"Code3"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"limit":15,"timeMin":"={{ $json.fechaInicio }}","timeMax":"={{ $json.fechaFin }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[240,320],"id":"78abe647-c5c5-4b37-9f27-75f97b8ec7f7","name":"Google Calendar1"},{"parameters":{"jsCode":"const salida = [];\n\nfor (const item of $input.all()) {\n  const dateTimeString = item.json.start.dateTime;\n\n  // Extraer solo la hora en texto sin conversión de zona horaria\n  const horaFormateada = dateTimeString.split(\"T\")[1].substring(0,5); // Ej: \"11:00\"\n\n  salida.push(horaFormateada);\n}\n\n// Ordenar alfabéticamente (funciona bien con formato HH:mm)\nsalida.sort();\n\nreturn [\n  {\n    json: {\n      horasOcupadas: salida\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,320],"id":"1f6d029c-e5e9-4372-822d-b29676451296","name":"Code4"},{"parameters":{"jsCode":"// Horas ocupadas que vienen del input\nconst horasOcupadas = $input.first().json.horasOcupadas;\n\n// Convertir a Set para búsquedas rápidas\nconst ocupadasSet = new Set(horasOcupadas);\n\n// Definir rango de atención\nconst horaInicio = 8;\nconst horaFin = 18;\n\n// Excluir bloque de almuerzo: 12:00 a 13:59\nconst esAlmuerzo = (hora) => hora >= 12 && hora < 14;\n\n// Generar todas las horas válidas dentro del rango\nconst horasDisponibles = [];\n\nfor (let hora = horaInicio; hora < horaFin; hora++) {\n  if (esAlmuerzo(hora)) continue;\n\n  const horaStr = hora.toString().padStart(2, '0') + ':00';\n\n  if (!ocupadasSet.has(horaStr)) {\n    horasDisponibles.push(horaStr);\n  }\n}\n\nreturn [\n  {\n    json: {\n      horasDisponibles\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,320],"id":"12a64754-f1a3-4764-9dd7-976e53b22f1e","name":"Code5"},{"parameters":{"jsCode":"const fechaTexto = $input.first().json.Fecha;\n\n// Crear objeto Date\nconst fecha = new Date(fechaTexto);\n\n// Obtener el día (0 = domingo, 1 = lunes, etc.)\nconst dias = ['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'];\nconst diaSemana = dias[fecha.getDay()];\n\nreturn [\n  {\n    json: {\n      fecha: fechaTexto,\n      diaSemana\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,128],"id":"17017eeb-7d17-4444-9c93-7babe1fddad8","name":"diaSemana"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"diaSemana","type":"main","index":0}]]},"Google Calendar":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Calendar","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Google Calendar1","type":"main","index":0}]]},"Google Calendar1":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Code5","type":"main","index":0}]]},"diaSemana":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"Fecha":"2025-07-12T11:00:00"}}]},"versionId":"0a6d86db-2f9d-4d2d-9770-e7968ff421c0","triggerCount":0,"tags":[{"createdAt":"2025-11-17T14:36:32.455Z","updatedAt":"2025-11-17T14:36:32.455Z","id":"hrIDh4R5vrcVht8l","name":"hoy"}],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"K682EiY3IDqEtolw","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}