backups/workflows/entregar_horarios CAL.json
{"createdAt":"2025-11-24T19:17:24.830Z","updatedAt":"2025-11-27T23:12:16.523Z","id":"Kn2GiaeVA0Y0dM3L","name":"entregar_horarios CAL","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-07-10T11:00:00\"\n}"},"id":"1ea738b5-57a0-4a4f-bbcc-11861c0abd22","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-688,128]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"limit":15,"timeMin":"={{ $json.fechaInicio }}","timeMax":"={{ $json.fechaFin }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[240,-288],"id":"6ca3b7a5-d8b5-4d13-bb79-b1c9b276f77f","name":"Google Calendar","disabled":true},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const fechaBase = new Date(item.json.fecha);\n\n  const año = fechaBase.getFullYear();\n  const mes = fechaBase.getMonth(); // Recuerda: enero = 0\n  const dia = fechaBase.getDate();\n\n  // Crear fecha de inicio (08:00:00)\n  const fechaInicio = new Date(año, mes, dia, 8, 0, 0);\n\n  // Crear fecha de fin (18:00:00)\n  const fechaFin = new Date(año, mes, dia, 18, 0, 0);\n\n  // Función para formatear sin la \"Z\"\n  const formatear = (date) => {\n    const pad = (n) => n.toString().padStart(2, '0');\n    return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())}T${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;\n  };\n\n  item.json.fechaInicio = formatear(fechaInicio);\n  item.json.fechaFin = formatear(fechaFin);\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"0f761de4-9a96-4d8f-8a51-40d1ed2a05f1","name":"Code"},{"parameters":{"jsCode":"const salida = [];\n\n// El HTTP Request devuelve un único item con item.json.data = array de bookings\nconst bookings = $input.first().json.data || [];\n\n// Función para convertir las fechas de UTC a la zona horaria de Perú (-05:00)\nfunction convertirAHorariosLocales(fechaUTC) {\n  const fecha = new Date(fechaUTC); // Crear el objeto Date desde el string con la zona horaria UTC\n  const offsetHoras = -5; // Offset para la zona horaria de Perú (-05:00)\n\n  // Corregir la hora en base al offset de la zona horaria\n  fecha.setHours(fecha.getHours() + offsetHoras);\n  return fecha;\n}\n\n// Iterar sobre los bookings\nfor (const booking of bookings) {\n  const dateTimeString = booking.start; // Obtener la fecha de inicio de la reunión\n\n  if (!dateTimeString) continue;\n\n  // Convertir la fecha de inicio a la zona horaria local (Perú)\n  const fechaLocal = convertirAHorariosLocales(dateTimeString);\n\n  // Extraer hora HH:mm\n  const hora = fechaLocal.toISOString().split(\"T\")[1].substring(0, 5);\n\n  salida.push(hora);\n}\n\n// Ordenar las horas ocupadas\nsalida.sort();\n\nreturn [\n  {\n    json: {\n      horasOcupadas: salida\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0],"id":"b8a204e4-c17d-42ca-811e-765f5d123d1c","name":"Code1"},{"parameters":{"jsCode":"// Horas ocupadas que vienen del input\nconst horasOcupadas = $input.first().json.horasOcupadas;\n\n// Convertir a Set para búsquedas rápidas\nconst ocupadasSet = new Set(horasOcupadas);\n\n// Definir rango de atención\nconst horaInicio = 8;\nconst horaFin = 18;\n\n// Excluir bloque de almuerzo: 12:00 a 13:59\nconst esAlmuerzo = (hora) => hora >= 12 && hora < 14;\n\n// Generar todas las horas válidas dentro del rango\nconst horasDisponibles = [];\n\nfor (let hora = horaInicio; hora < horaFin; hora++) {\n  if (esAlmuerzo(hora)) continue;\n\n  const horaStr = hora.toString().padStart(2, '0') + ':00';\n\n  if (!ocupadasSet.has(horaStr)) {\n    horasDisponibles.push(horaStr);\n  }\n}\n\nreturn [\n  {\n    json: {\n      horasDisponibles\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,-16],"id":"176bfaf7-2b83-460e-bbed-5156cf6a25ad","name":"Code2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d872215-e563-42b1-8f10-472b30a0232a","leftValue":"={{ $json.diaSemana }}","rightValue":"sabado","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-256,128],"id":"547126ec-2657-4cd5-9163-1d94135f4f74","name":"If"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const fechaBase = new Date(item.json.fecha);\n\n  const año = fechaBase.getFullYear();\n  const mes = fechaBase.getMonth(); // Recuerda: enero = 0\n  const dia = fechaBase.getDate();\n\n  // Crear fecha de inicio (08:00:00)\n  const fechaInicio = new Date(año, mes, dia, 8, 0, 0);\n\n  // Crear fecha de fin (18:00:00)\n  const fechaFin = new Date(año, mes, dia, 18, 0, 0);\n\n  // Función para formatear sin la \"Z\"\n  const formatear = (date) => {\n    const pad = (n) => n.toString().padStart(2, '0');\n    return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())}T${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;\n  };\n\n  item.json.fechaInicio = formatear(fechaInicio);\n  item.json.fechaFin = formatear(fechaFin);\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,320],"id":"2d2dc10c-6596-4c46-8f04-4ee7f5f0d12e","name":"Code3"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"limit":15,"timeMin":"={{ $json.fechaInicio }}","timeMax":"={{ $json.fechaFin }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[32,576],"id":"609819b0-8a67-4ab0-a306-4eb4e65b6971","name":"Google Calendar1","disabled":true},{"parameters":{"jsCode":"const salida = [];\n\n// El HTTP Request devuelve un único item con item.json.data = array de bookings\nconst bookings = $input.first().json.data || [];\n\n// Función para convertir las fechas de UTC a la zona horaria de Perú (-05:00)\nfunction convertirAHorariosLocales(fechaUTC) {\n  const fecha = new Date(fechaUTC); // Crear el objeto Date desde el string con la zona horaria UTC\n  const offsetHoras = -5; // Offset para la zona horaria de Perú (-05:00)\n\n  // Corregir la hora en base al offset de la zona horaria\n  fecha.setHours(fecha.getHours() + offsetHoras);\n  return fecha;\n}\n\n// Iterar sobre los bookings\nfor (const booking of bookings) {\n  const dateTimeString = booking.start; // Obtener la fecha de inicio de la reunión\n\n  if (!dateTimeString) continue;\n\n  // Convertir la fecha de inicio a la zona horaria local (Perú)\n  const fechaLocal = convertirAHorariosLocales(dateTimeString);\n\n  // Extraer hora HH:mm\n  const hora = fechaLocal.toISOString().split(\"T\")[1].substring(0, 5);\n\n  salida.push(hora);\n}\n\n// Ordenar las horas ocupadas\nsalida.sort();\n\nreturn [\n  {\n    json: {\n      horasOcupadas: salida\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,320],"id":"68d853dd-41b4-4aaf-87fb-7c1927f9680a","name":"Code4"},{"parameters":{"jsCode":"// Horas ocupadas que vienen del input\nconst horasOcupadas = $input.first().json.horasOcupadas;\n\n// Convertir a Set para búsquedas rápidas\nconst ocupadasSet = new Set(horasOcupadas);\n\n// Definir rango de atención\nconst horaInicio = 8;\nconst horaFin = 18;\n\n// Excluir bloque de almuerzo: 12:00 a 13:59\nconst esAlmuerzo = (hora) => hora >= 12 && hora < 14;\n\n// Generar todas las horas válidas dentro del rango\nconst horasDisponibles = [];\n\nfor (let hora = horaInicio; hora < horaFin; hora++) {\n  if (esAlmuerzo(hora)) continue;\n\n  const horaStr = hora.toString().padStart(2, '0') + ':00';\n\n  if (!ocupadasSet.has(horaStr)) {\n    horasDisponibles.push(horaStr);\n  }\n}\n\nreturn [\n  {\n    json: {\n      horasDisponibles\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,320],"id":"f1f8fe6b-ff30-488f-ae0f-82b7e7e4724c","name":"Code5"},{"parameters":{"jsCode":"const fechaTexto = $input.first().json.Fecha;\n\n// Crear objeto Date\nconst fecha = new Date(fechaTexto);\n\n// Obtener el día (0 = domingo, 1 = lunes, etc.)\nconst dias = ['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'];\nconst diaSemana = dias[fecha.getDay()];\n\nreturn [\n  {\n    json: {\n      fecha: fechaTexto,\n      diaSemana\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,128],"id":"2f7989a8-57a5-42cc-acfc-589ace9aa9d4","name":"diaSemana"},{"parameters":{"url":"https://api.cal.com/v2/bookings","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"userId","value":"1893709"},{"name":"afterStart","value":"={{ $json.fechaInicio }}-05:00"},{"name":"beforeEnd","value":"={{ $json.fechaFin }}-05:00"},{"name":" status","value":"[upcoming]"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-08-13"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[256,0],"id":"3ebff899-1702-448c-9ec0-b092aa348f30","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"MVqQuvYRe4TTCjc5","name":"CAL Fantino APIKEY Agente de citas 2.0"}}},{"parameters":{"url":"https://api.cal.com/v2/bookings","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"userId","value":"1893709"},{"name":"afterStart","value":"={{ $json.fechaInicio }}-05:00"},{"name":"beforeEnd","value":"={{ $json.fechaFin }}-05:00"},{"name":" status","value":"[upcoming]"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-08-13"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[256,320],"id":"dcc0e166-7a95-4b95-afcd-eb0b851f905f","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"MVqQuvYRe4TTCjc5","name":"CAL Fantino APIKEY Agente de citas 2.0"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"diaSemana","type":"main","index":0}]]},"Google Calendar":{"main":[[]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Google Calendar1":{"main":[[]]},"Code4":{"main":[[{"node":"Code5","type":"main","index":0}]]},"diaSemana":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code2":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"Fecha":"2025-11-29T11:00:00-05:00"}}]},"versionId":"7a093355-7d84-4764-a991-09d56bfbbbdb","triggerCount":0,"tags":[{"createdAt":"2025-11-24T17:21:34.835Z","updatedAt":"2025-11-24T17:21:34.835Z","id":"hJTfClhVd9g7R0a9","name":"CAL"},{"createdAt":"2025-11-24T17:21:44.159Z","updatedAt":"2025-11-24T17:21:44.159Z","id":"N9Ts4rh9w1HwhzNI","name":"Agente de reservas 2.0"}],"shared":[{"createdAt":"2025-11-24T19:17:24.830Z","updatedAt":"2025-11-24T19:17:24.830Z","role":"workflow:owner","workflowId":"Kn2GiaeVA0Y0dM3L","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}