backups/workflows/enviar_asesor.json
{"createdAt":"2025-11-17T14:38:42.476Z","updatedAt":"2025-11-24T22:14:23.218Z","id":"N44dtuN1LxQOtWWP","name":"enviar_asesor","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## CUANDO APAGAMOS EL BOT?\n- CUANDO EL USUARIO QUIERE HABLAR CON UN HUMANO O HAY ALGUN PROBLEMA CON ALGUNA HERRAMIENTA SE ACTIVA ESTE WORKFLOW, ASIGNAMOS LA ETIQUETA AL CONTACTO Y LUEGO LE ASIGNAMOS LA ETIQUETA BOT OFF PARA QUE EL AGENTE DEJE DE RESPONDERLE AL USUARIO.","height":600,"width":540,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"4836396f-7118-4b33-89e3-9acae0c8593c","name":"Sticky Note"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"conversation id\": \"5\",\n  \"contact id\": \"17\"\n}"},"id":"409a7077-8236-4f7c-9321-843b86507df6","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-384,272]},{"parameters":{"method":"POST","url":"=https://inbox2.presla.co/api/v1/accounts/1/conversations/{{ $('When Executed by Another Workflow').item.json['conversation id'] }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"EKMSYmS4DF9GoVJHQuGbehkh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"labels\": [\"asistencia_ia\"]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-128,272],"id":"c2d9de4d-a323-48fb-a352-29844a194f61","name":"etiqueta_asistencia_ia","disabled":true},{"parameters":{"method":"PUT","url":"=https://inbox2.presla.co/api/v1/accounts/1/contacts/{{ $('When Executed by Another Workflow').item.json['contact id'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"EKMSYmS4DF9GoVJHQuGbehkh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"custom_attributes\": {\n    \"bot_off\": \"bot off\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,272],"id":"95d0ca02-bec1-4210-b91e-1b212d78af5d","name":"apagar bot1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"3db5a7b3-8437-4425-87af-0e4826d3fae5","name":"mensaje enviado","value":"Perfecto, te voy a transferir con el equipo correspondiente para que puedan ayudarte directamente. Muchas gracias por tu paciencia, en breve te atenderán.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,272],"id":"cab701c6-6bc8-4d97-afe6-682c361088c9","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"etiqueta_asistencia_ia","type":"main","index":0}]]},"etiqueta_asistencia_ia":{"main":[[{"node":"apagar bot1","type":"main","index":0}]]},"apagar bot1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"conversation id":3,"contact id":3}}]},"versionId":"4630d08c-fee7-4976-81c8-f14af5ed91db","triggerCount":0,"tags":[{"createdAt":"2025-11-17T14:36:32.455Z","updatedAt":"2025-11-17T14:36:32.455Z","id":"hrIDh4R5vrcVht8l","name":"hoy"}],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"N44dtuN1LxQOtWWP","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}