backups/workflows/Enviar fotos.json
{"createdAt":"2025-11-11T18:22:19.664Z","updatedAt":"2025-11-11T19:18:27.663Z","id":"8s4sAOyvEUoSZenS","name":"Enviar fotos","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"id"},{"name":"chat_id"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,352]},{"parameters":{"documentId":{"__rl":true,"value":"1HFpezKPZ5gwxx4SbrB4m_e2bQ6H8M99Ak4LxF5OShwI","mode":"list","cachedResultName":"Basde de datos Suplementos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HFpezKPZ5gwxx4SbrB4m_e2bQ6H8M99Ak4LxF5OShwI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HFpezKPZ5gwxx4SbrB4m_e2bQ6H8M99Ak4LxF5OShwI/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ID","lookupValue":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[480,352],"id":"bcbbae1f-1e89-4456-b6a3-b9b9958bfe7f","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"7pMlWtOBvhDeNqW3","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8adeb142-c01f-4482-b9c8-5be3d2ff0c40","leftValue":"={{ $json.ID }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[688,352],"id":"25eaf7cf-507b-44af-896d-cfafaf9e7632","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"0804a9d2-d542-450d-ab8c-92e8f42ad2cd","name":"response","value":"=No hay datos para el producto con id: {{ $('When Executed by Another Workflow').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,496],"id":"c9910e6a-c8ed-45cd-9063-4d21f64d925c","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74539061-06c7-4c57-a03c-150ea3b16abf","leftValue":"={{ $json.Imagen }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,256],"id":"cd4ae137-afad-4562-96ac-f7a72cda5533","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"0804a9d2-d542-450d-ab8c-92e8f42ad2cd","name":"response","value":"=No hay imagenes para el producto con id: {{ $('When Executed by Another Workflow').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1328,320],"id":"f70750fe-db5d-49e3-9cc8-f5bb255ae2ce","name":"Edit Fields1"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('When Executed by Another Workflow').item.json.chat_id }}","file":"={{ $json.Imagen }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1104,96],"id":"749e08f0-6df1-49f4-9ddd-8cdc1d8c7d08","name":"Send a photo message","webhookId":"865dffd6-ac07-4778-9e2c-bb9790558e98","credentials":{"telegramApi":{"id":"8zTb7uOMU6RELO0h","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0804a9d2-d542-450d-ab8c-92e8f42ad2cd","name":"response","value":"=Se ha enviado correctamente la imagen","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1376,128],"id":"46e51cdb-6bfd-4c16-87a8-490d7aefa43b","name":"Edit Fields2"},{"parameters":{"workflowId":{"__rl":true,"value":"XK1zAEVdzLXkP0zf","mode":"list","cachedResultUrl":"/workflow/XK1zAEVdzLXkP0zf","cachedResultName":"error"},"workflowInputs":{"mappingMode":"defineBelow","value":{"flujo":"={{ $workflow.name }}","nodo":"=if (Imagen)","message":"No hay imagen","fecha":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"flujo","displayName":"flujo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nodo","displayName":"nodo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1120,304],"id":"4dd4f50a-a1ac-471c-be5c-beb59782b311","name":"Call 'error'"},{"parameters":{"workflowId":{"__rl":true,"value":"XK1zAEVdzLXkP0zf","mode":"list","cachedResultUrl":"/workflow/XK1zAEVdzLXkP0zf","cachedResultName":"error"},"workflowInputs":{"mappingMode":"defineBelow","value":{"flujo":"={{ $workflow.name }}","nodo":"=if (ID)","fecha":"={{ $now }}","message":"No existe el ID"},"matchingColumns":[],"schema":[{"id":"flujo","displayName":"flujo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nodo","displayName":"nodo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[880,464],"id":"e6cdbd5c-29fb-4e49-a7c1-56a8b84ddbe5","name":"Call 'error'1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"Call 'error'1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Send a photo message","type":"main","index":0}],[{"node":"Call 'error'","type":"main","index":0}]]},"Send a photo message":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields1":{"main":[[]]},"Call 'error'":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Call 'error'1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"XK1zAEVdzLXkP0zf"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"200f833e-6a9b-4045-ad4f-d97e939350dd","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"8s4sAOyvEUoSZenS","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}