backups/workflows/enviar_asesor CAL.json
{"createdAt":"2025-11-24T22:16:34.628Z","updatedAt":"2025-11-24T22:16:34.628Z","id":"5Rub2Rr4J5UwMEHo","name":"enviar_asesor CAL","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## CUANDO APAGAMOS EL BOT?\n- CUANDO EL USUARIO QUIERE HABLAR CON UN HUMANO O HAY ALGUN PROBLEMA CON ALGUNA HERRAMIENTA SE ACTIVA ESTE WORKFLOW, ASIGNAMOS LA ETIQUETA AL CONTACTO Y LUEGO LE ASIGNAMOS LA ETIQUETA BOT OFF PARA QUE EL AGENTE DEJE DE RESPONDERLE AL USUARIO.","height":600,"width":540,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"11a73bfc-9a6d-48d4-b405-8e586066e5d4","name":"Sticky Note"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"conversation id\": \"5\",\n  \"contact id\": \"17\"\n}"},"id":"b7e72f83-1f41-4065-87a5-feb4a1bd90d4","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-384,272]},{"parameters":{"method":"POST","url":"=https://inbox2.presla.co/api/v1/accounts/1/conversations/{{ $('When Executed by Another Workflow').item.json['conversation id'] }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"EKMSYmS4DF9GoVJHQuGbehkh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"labels\": [\"asistencia_ia\"]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-128,272],"id":"01656d50-3c54-4ac8-b0fe-3f1540aa9c6f","name":"etiqueta_asistencia_ia","disabled":true},{"parameters":{"method":"PUT","url":"=https://inbox2.presla.co/api/v1/accounts/1/contacts/{{ $('When Executed by Another Workflow').item.json['contact id'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"EKMSYmS4DF9GoVJHQuGbehkh"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"custom_attributes\": {\n    \"bot_off\": \"bot off\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,272],"id":"020dfa41-a0f9-4a38-b9ee-a8606a5b7798","name":"apagar bot1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"3db5a7b3-8437-4425-87af-0e4826d3fae5","name":"mensaje enviado","value":"Perfecto, te voy a transferir con el equipo correspondiente para que puedan ayudarte directamente. Muchas gracias por tu paciencia, en breve te atenderán.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,272],"id":"54ac5b81-1857-49fe-9cb9-fac797117791","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"etiqueta_asistencia_ia","type":"main","index":0}]]},"etiqueta_asistencia_ia":{"main":[[{"node":"apagar bot1","type":"main","index":0}]]},"apagar bot1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"conversation id":3,"contact id":3}}]},"versionId":"74f23e4c-1379-4c03-bfcc-d7d4a56b0188","triggerCount":0,"tags":[{"createdAt":"2025-11-24T17:21:34.835Z","updatedAt":"2025-11-24T17:21:34.835Z","id":"hJTfClhVd9g7R0a9","name":"CAL"},{"createdAt":"2025-11-24T17:21:44.159Z","updatedAt":"2025-11-24T17:21:44.159Z","id":"N9Ts4rh9w1HwhzNI","name":"Agente de reservas 2.0"}],"shared":[{"createdAt":"2025-11-24T22:16:34.628Z","updatedAt":"2025-11-24T22:16:34.628Z","role":"workflow:owner","workflowId":"5Rub2Rr4J5UwMEHo","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}