backups/workflows/error.json
{"createdAt":"2025-11-11T17:57:39.990Z","updatedAt":"2025-11-11T19:17:56.894Z","id":"XK1zAEVdzLXkP0zf","name":"error","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"e1e48ea5-d26c-4ea3-a7a6-a69b96765933","name":"Error Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"489752bd-81c3-4268-8267-2de1f574d746","name":"correo","value":"=fantinocamara@gmail.com","type":"string"},{"id":"b5a7e2c0-3d0d-46bf-af2a-ca427a58e53b","name":"mensaje","value":"={{ $json.execution.error.message }}","type":"string"},{"id":"c7172db9-be82-43d5-a1dc-598035b24162","name":"nodo","value":"={{ $json.execution.error.node.name }}","type":"string"},{"id":"ec58a860-3931-43b7-8cc6-1d1e2ab3450e","name":"flujo","value":"={{ $json.workflow.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"7aa2cedb-7dcc-46e4-8322-2a665fe6a29c","name":"Edit Fields"},{"parameters":{"resource":"draft","subject":"Error en el flujo!","message":"=TENEMOS UN PROBLEMA:\nEn el flujo: {{ $json.flujo }}\nEn el nodo:{{ $json.nodo }}\nEl error fue: {{ $json.mensaje }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[464,-128],"id":"911a3d8e-75b0-49fb-8809-214211420805","name":"Create a draft","webhookId":"48129588-01cf-43cf-b16c-1c3f856e06e7","credentials":{"gmailOAuth2":{"id":"FUwCdl4kMDUme8vP","name":"Gmail account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1HFpezKPZ5gwxx4SbrB4m_e2bQ6H8M99Ak4LxF5OShwI","mode":"list","cachedResultName":"Basde de datos Suplementos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HFpezKPZ5gwxx4SbrB4m_e2bQ6H8M99Ak4LxF5OShwI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":545497403,"mode":"list","cachedResultName":"Error","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HFpezKPZ5gwxx4SbrB4m_e2bQ6H8M99Ak4LxF5OShwI/edit#gid=545497403"},"columns":{"mappingMode":"defineBelow","value":{"Flujo":"={{ $now.format('yyyy-MM-dd: HH:mm') }}","Nodo ":"={{ $('Edit Fields').item.json.nodo }}","Tipo":"=Sistema","Error":"={{ $('Edit Fields').item.json.mensaje }}"},"matchingColumns":[],"schema":[{"id":"Flujo","displayName":"Flujo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nodo ","displayName":"Nodo ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Error","displayName":"Error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[480,128],"id":"2f9884e0-894c-4cd1-bea5-cdc88f34d350","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"7pMlWtOBvhDeNqW3","name":"Google Sheets account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"flujo"},{"name":"nodo"},{"name":"message"},{"name":"fecha"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-176,240],"id":"73026eae-c3f4-4272-9c7e-c24052baeaa7","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"e13ee92d-78be-4fa5-8ee1-8781e6e205d7","name":"telefono","value":"51991967333","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,256],"id":"192210e1-8f90-4357-9ea5-97730c584e78","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $json.telefono }}"},{"name":"body","value":"=TENEMOS UN PROBLEMA:\nEn el flujo: {{ $('When Executed by Another Workflow').item.json.flujo }}\nEn el nodo:{{ $('When Executed by Another Workflow').item.json.nodo }}\nEl error fue: {{ $('When Executed by Another Workflow').item.json.message }}\nfecha de error: {{ $('When Executed by Another Workflow').item.json.fecha }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,288],"id":"1d3222eb-7a5b-47d7-b643-1733bf22a24c","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"xgx2uJsGlf6aNaVi","name":"WHAPICredenciales"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1HFpezKPZ5gwxx4SbrB4m_e2bQ6H8M99Ak4LxF5OShwI","mode":"list","cachedResultName":"Basde de datos Suplementos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HFpezKPZ5gwxx4SbrB4m_e2bQ6H8M99Ak4LxF5OShwI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":545497403,"mode":"list","cachedResultName":"Error","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HFpezKPZ5gwxx4SbrB4m_e2bQ6H8M99Ak4LxF5OShwI/edit#gid=545497403"},"columns":{"mappingMode":"defineBelow","value":{"Flujo":"={{ $now.format('yyyy-MM-dd: HH:mm') }}","Nodo ":"={{ $('When Executed by Another Workflow').item.json.nodo }}","Tipo":"=Operacional","Error":"={{ $('When Executed by Another Workflow').item.json.message }}"},"matchingColumns":[],"schema":[{"id":"Flujo","displayName":"Flujo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nodo ","displayName":"Nodo ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Error","displayName":"Error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[288,464],"id":"f3d9c4f5-6f3b-43bb-b19a-d1832be46230","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"7pMlWtOBvhDeNqW3","name":"Google Sheets account"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Create a draft","type":"main","index":0},{"node":"Append row in sheet","type":"main","index":0}]]},"Create a draft":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Append row in sheet1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1f8293f3-6b4c-4676-bc8a-50b1f443e23e","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"XK1zAEVdzLXkP0zf","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}