backups/workflows/Exportar e Importar Workflows y Credenciales Desencriptadas.json
{"createdAt":"2025-11-20T18:16:28.174Z","updatedAt":"2025-11-20T18:26:20.727Z","id":"drZs1KRSoYU4q6TR","name":"Exportar e Importar Workflows y Credenciales Desencriptadas","active":false,"isArchived":false,"nodes":[{"parameters":{"command":"=n8n export:workflow --all --separate --output={{ $json.path_workflows }}"},"id":"ce5245ef-e908-4d6f-a7f3-f9c135caa1f4","name":"Respaldar Workflows Separado","type":"n8n-nodes-base.executeCommand","position":[-1408,-368],"typeVersion":1,"alwaysOutputData":true,"disabled":true},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-736,-368],"id":"c8b5c6ac-9dd4-4543-9f3c-edc31a59a3d3","name":"Split Out","disabled":true},{"parameters":{"command":"=ls {{ $('Set Datos Exportacion').item.json.path_workflows }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1184,-368],"id":"b0db3e63-b969-4943-9c64-ec1126487516","name":"Listar Archivos","disabled":true},{"parameters":{"jsCode":"return [{\n    json: {\n        output: $input.first().json.stdout.split(\"\\n\")\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,-368],"id":"dd8e8b5e-fe64-44ca-8ce9-1e86a780babb","name":"Separar Archivos","disabled":true},{"parameters":{"fileSelector":"={{ $('Set Datos Exportacion').item.json.path_workflows }}{{ $json.output }}","options":{}},"id":"3fb15e57-9d79-4713-8909-ad84aba3d638","name":"Leer Arcivos","type":"n8n-nodes-base.readWriteFile","position":[-512,-368],"typeVersion":1,"disabled":true},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Set Datos Exportacion').item.json.github_user }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Set Datos Exportacion').item.json.repo_name }}","mode":"name"},"filePath":"={{ $('Set Datos Exportacion').item.json.path_workflows + $json.data.name + \".json\" }}","fileContent":"={{ JSON.stringify($json.data) }}","commitMessage":"={{ $json.data.name + \"_backup_\" + new Date($now).toISOString().replace('T', ' ').slice(0, 16) }}"},"id":"ce8c8cbe-ae7c-430c-ad4c-479d646dac59","name":"Subir a Github","type":"n8n-nodes-base.github","position":[128,-368],"webhookId":"ccf2ad35-62aa-4e3e-9811-ea6d7fca0aba","typeVersion":1.1,"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-288,-368],"id":"4dfcafa9-1e25-4854-b46a-d9c507554935","name":"Extract from File","executeOnce":false,"disabled":true},{"parameters":{"content":"## Criterios de selección\n- Por Status\n- Por tag\n- Por Archivado","color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-352,-800],"id":"03012952-2b53-4b92-a292-b9ef2da81290","name":"Sticky Note"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c0df93ab-dc51-454f-9d6a-127e2b46d027","leftValue":"={{ $json.data.tags[0].name }}","rightValue":"utils","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Tag"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.active }}","rightValue":"active","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"ec19893b-4073-4146-a755-91607024baa3"}],"combinator":"and"},"renameOutput":true,"outputKey":"Activos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f81f9fc6-0450-4fc0-b50a-5e3580b8be03","leftValue":"={{ $json.data.isArchived }}","rightValue":"true","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"No Archivados"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-256,-528],"id":"7b33031b-673d-4de2-8d39-6b97f7c4fc8c","name":"Switch"},{"parameters":{"command":"=n8n export:credentials --all --decrypted --output={{ $json.filename_credenciales }}"},"id":"c15ffafc-5975-4d5d-82ac-a1aeebec51ef","name":"Respaldar Credenciales Decrypted","type":"n8n-nodes-base.executeCommand","position":[-1408,-176],"typeVersion":1,"alwaysOutputData":true,"disabled":true},{"parameters":{"fileSelector":"={{ $('Set Datos Exportacion').item.json.filename_credenciales }}","options":{}},"id":"8cac6639-07f9-4aaa-8d39-6a8458ba6094","name":"Leer Arcivos1","type":"n8n-nodes-base.readWriteFile","position":[-1184,-176],"typeVersion":1,"disabled":true},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Set Datos Exportacion').item.json.github_user }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Set Datos Exportacion').item.json.repo_name }}","mode":"name"},"filePath":"={{ $('Set Datos Exportacion').item.json.path_credenciales + $('Set Datos Exportacion').item.json.filename_credenciales }}","fileContent":"={{ JSON.stringify($json.data) }}","commitMessage":"={{ $('Set Datos Exportacion').item.json.filename_credenciales + \"_backup_\" + new Date($now).toISOString().replace('T', ' ').slice(0, 16) }}"},"id":"cc55f0d3-a832-498b-a1a7-329a4a1bd9ac","name":"Subir a Github1","type":"n8n-nodes-base.github","position":[-736,-176],"webhookId":"ccf2ad35-62aa-4e3e-9811-ea6d7fca0aba","typeVersion":1.1,"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-960,-176],"id":"7e75227f-1f72-486a-a6d2-afc6c52ff2ed","name":"Extract from File1","executeOnce":false,"disabled":true},{"parameters":{"content":"![Logo Vibe VIP](https://subir-imagen.com/images/2025/07/25/Logo-Vibe-VIP.png)","height":240,"width":368,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2144,-816],"id":"99adc9ac-680d-4258-b231-65c5fd3f273c","name":"Sticky Note2"},{"parameters":{"content":"# 🚀 Automatización para Importar y Exportar Workflows y Credenciales\n\nEsta automatización está diseñada para respaldar e importar workflows y credenciales de tu entorno N8n utilizando comandos del N8n CLI y GitHub como almacenamiento externo.\nPermite guardar los archivos directamente en tu instalación de N8n, exportarlos a un repositorio remoto, y también recuperarlos cuando sea necesario.\n\n¡Únete a la comunidad exclusiva! [Vibe Comunty VIP](https://www.skool.com/vibe-community-vip/about) ","height":272,"width":816,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1744,-816],"id":"bffa52ec-64d6-4255-b10f-4de218c67aaa","name":"Sticky Note3"},{"parameters":{"content":"![Kevin Belier](https://subir-imagen.com/images/2025/08/20/Foto-perfil-dorado.png)","height":240,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-912,-816],"id":"d94380e3-5834-430d-ace2-c8d84480c31f","name":"Sticky Note4"},{"parameters":{"content":"## 🛠️ Preparación previa\n\nAntes de usar la automatización:\n\n1. **Crea una cuenta en GitHub** (si no tienes una).\n2. **Crea un nuevo repositorio** donde se almacenarán los backups.\n3. **Genera un Token de API clásico** desde [GitHub Developer Settings](https://github.com/settings/tokens).\n\n   * Este token se usará para autenticar las operaciones de subida y descarga.\n\n---\n\n## ⚙️ Configuración en los nodos `Set`\n\nEn el flujo encontrarás **cuatro nodos de tipo “Set”** que debes ajustar según tu entorno:\n\n* **github_user**: Usuario de GitHub.\n* **repo_name**: Nombre del repositorio.\n* **path_workflows**: Ruta de los workflows tanto en el sistema de archivos del n8n cli como del repo de github.\n* **filename_credenciales**: nombre de archivo de las credenciales.\n* **path_credenciales**: Ruta al archivo de las credenciales en github unicamente ya que en el sistema de archivos es importante guardarlo en la carpeta raíz para no tener problemas de autorización\n","height":592,"width":640},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2864,-800],"id":"a58ffe7f-032e-4e35-b5d3-cf7f45b838bf","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2112,208],"id":"7ea88025-f375-4897-9a93-18fa1f04fbb0","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"75032077-f1e5-4f37-a176-fb081582affb","name":"github_user","value":"Ch4rt3","type":"string"},{"id":"a9dca54f-2232-4e3b-87ea-899a277515ed","name":"repo_name","value":"NodosYCredenciales","type":"string"},{"id":"d499a38a-1fe9-42b1-aaf4-319bfbc2fb24","name":"path_workflows","value":"backups/workflows/","type":"string"},{"id":"ae2d92e9-d8c0-4912-bde0-b8ea41f22496","name":"filename_credenciales","value":"credentials_decrypted.json","type":"string"},{"id":"eb669869-545f-4183-8375-6680ae545b75","name":"path_credenciales","value":"backups/credentials/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1632,-256],"id":"65aade67-fbfa-40c4-a5bf-c219006d6ea9","name":"Set Datos Exportacion","disabled":true},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json.github_user }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.repo_name }}","mode":"name"},"filePath":"={{ $json.path_credenciales }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1616,320],"id":"a5294ad2-7e3a-47c7-9aaf-a9806844cacb","name":"Listar Credenciales1","webhookId":"04ff82dd-d7d8-4a5b-b1bb-d5b931d59529","credentials":{"githubApi":{"id":"RhGjrNBc9VBDvGNJ","name":"Fantino Github"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Set Datos Importacion1').item.json.github_user }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Set Datos Importacion1').item.json.repo_name }}","mode":"name"},"filePath":"={{ $json.path }}","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1392,320],"id":"baa7dfa7-d38f-4d2d-b4a4-92d01109d97b","name":"Descargar Credenciales1","webhookId":"7bf348ad-8e7e-4529-a3f0-ce9725aade10","credentials":{"githubApi":{"id":"RhGjrNBc9VBDvGNJ","name":"Fantino Github"}}},{"parameters":{"operation":"write","fileName":"=/home/node/{{ $json.name }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1168,320],"id":"cf24670e-1bae-4ba0-9907-9a330e7c95a2","name":"Crear JSON Credentials1"},{"parameters":{"command":"=n8n import:credentials --input=/home/node/{{ $json.name }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-944,320],"id":"ea0a9ef7-e532-47a3-8e12-d5c1afec7947","name":"Ejecutar Importacion Credenciales1","executeOnce":true},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json.github_user }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.repo_name }}","mode":"name"},"filePath":"={{ $json.path_workflows }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1616,96],"id":"a6a2ca74-7fdd-49c3-886a-a7ad26e28a5e","name":"Listar Workflows1","webhookId":"04ff82dd-d7d8-4a5b-b1bb-d5b931d59529","credentials":{"githubApi":{"id":"RhGjrNBc9VBDvGNJ","name":"Fantino Github"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Set Datos Importacion1').item.json.github_user }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Set Datos Importacion1').item.json.repo_name }}","mode":"name"},"filePath":"={{ $json.path }}","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1392,96],"id":"bbe2b00d-30fe-437b-831a-445043be3c26","name":"Descargar Workflows1","webhookId":"7bf348ad-8e7e-4529-a3f0-ce9725aade10","credentials":{"githubApi":{"id":"RhGjrNBc9VBDvGNJ","name":"Fantino Github"}}},{"parameters":{"operation":"write","fileName":"=/home/node/{{ $json.name }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1168,96],"id":"55099aa5-6561-4957-9d57-31311d44c4fa","name":"Crear JSON Workflows1"},{"parameters":{"command":"=n8n import:workflow --separate --input=/home/node"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-944,96],"id":"abbcf678-351f-4294-87ad-b90f7f49038e","name":"Ejecutar Importacion Workflows1","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"75032077-f1e5-4f37-a176-fb081582affb","name":"github_user","value":"Ch4rt3","type":"string"},{"id":"a9dca54f-2232-4e3b-87ea-899a277515ed","name":"repo_name","value":"NodosYCredenciales","type":"string"},{"id":"d499a38a-1fe9-42b1-aaf4-319bfbc2fb24","name":"path_workflows","value":"backups/workflows/","type":"string"},{"id":"ae2d92e9-d8c0-4912-bde0-b8ea41f22496","name":"filename_credenciales","value":"credentials_decrypted.json","type":"string"},{"id":"eb669869-545f-4183-8375-6680ae545b75","name":"path_credenciales","value":"backups/credentials/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1872,192],"id":"8dbafb59-fce6-4bca-8282-0a84e83f56f2","name":"Set Datos Importacion1"},{"parameters":{"command":"rm -rf ./*"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[16,-160],"id":"c7224f75-5679-4c64-aafa-7d09167bcfa1","name":"Eliminar Workfllows y Credenciales","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1968,-256],"id":"12992b31-0c47-4378-a496-8789808b8aee","name":"Schedule Trigger","disabled":true}],"connections":{"Respaldar Workflows Separado":{"main":[[{"node":"Listar Archivos","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Leer Arcivos","type":"main","index":0}]]},"Listar Archivos":{"main":[[{"node":"Separar Archivos","type":"main","index":0}]]},"Separar Archivos":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Leer Arcivos":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Subir a Github","type":"main","index":0}]]},"Respaldar Credenciales Decrypted":{"main":[[{"node":"Leer Arcivos1","type":"main","index":0}]]},"Leer Arcivos1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Set Datos Exportacion":{"main":[[{"node":"Respaldar Workflows Separado","type":"main","index":0},{"node":"Respaldar Credenciales Decrypted","type":"main","index":0}]]},"Listar Credenciales1":{"main":[[{"node":"Descargar Credenciales1","type":"main","index":0}]]},"Descargar Credenciales1":{"main":[[{"node":"Crear JSON Credentials1","type":"main","index":0}]]},"Crear JSON Credentials1":{"main":[[{"node":"Ejecutar Importacion Credenciales1","type":"main","index":0}]]},"Listar Workflows1":{"main":[[{"node":"Descargar Workflows1","type":"main","index":0}]]},"Descargar Workflows1":{"main":[[{"node":"Crear JSON Workflows1","type":"main","index":0}]]},"Crear JSON Workflows1":{"main":[[{"node":"Ejecutar Importacion Workflows1","type":"main","index":0}]]},"Set Datos Importacion1":{"main":[[{"node":"Listar Credenciales1","type":"main","index":0},{"node":"Listar Workflows1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Subir a Github1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set Datos Exportacion","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Set Datos Importacion1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d4d0982d-eed3-46ba-8792-9c7a64b14bb0","triggerCount":0,"tags":[{"createdAt":"2025-11-20T18:14:30.506Z","updatedAt":"2025-11-20T18:14:30.506Z","id":"N1LoFFZ9oA7gDxAX","name":"backUps"},{"createdAt":"2025-11-20T18:14:30.509Z","updatedAt":"2025-11-20T18:14:30.509Z","id":"oL0KQYXcG5ZEcZCZ","name":"utils"}],"shared":[{"createdAt":"2025-11-20T18:16:28.174Z","updatedAt":"2025-11-20T18:16:28.174Z","role":"workflow:owner","workflowId":"drZs1KRSoYU4q6TR","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}