backups/workflows/Exportar e Importar Workflows y Credenciales Desencriptadas BackUps.json
{"createdAt":"2025-11-09T06:03:59.312Z","updatedAt":"2025-12-10T17:32:54.081Z","id":"xlcsdPwlmRNPKx50","name":"Exportar e Importar Workflows y Credenciales Desencriptadas BackUps","active":false,"isArchived":false,"nodes":[{"parameters":{"command":"=n8n export:workflow --all --separate --output={{ $json.path_workflows }}"},"id":"76b93d66-edd3-43fb-ac5c-74d4d345f5d2","name":"Respaldar Workflows Separado","type":"n8n-nodes-base.executeCommand","position":[528,448],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1200,448],"id":"7e0d8a9e-f89c-4dbb-aa92-ae1ccf4cd767","name":"Split Out"},{"parameters":{"command":"=ls {{ $('Set Datos Exportacion').item.json.path_workflows }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[752,448],"id":"4a76a012-1083-4bf7-aac5-526e92a8e98a","name":"Listar Archivos"},{"parameters":{"jsCode":"return [{\n    json: {\n        output: $input.first().json.stdout.split(\"\\n\")\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,448],"id":"a7df22cf-4c98-45bf-aa87-bde2834a93d5","name":"Separar Archivos"},{"parameters":{"fileSelector":"={{ $('Set Datos Exportacion').item.json.path_workflows }}{{ $json.output }}","options":{}},"id":"5c3459aa-31b5-4fcc-927c-8151a4b2e37e","name":"Leer Arcivos","type":"n8n-nodes-base.readWriteFile","position":[1424,448],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Set Datos Exportacion').item.json.github_user }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Set Datos Exportacion').item.json.repo_name }}","mode":"name"},"filePath":"={{ $('Set Datos Exportacion').item.json.path_workflows + $json.data.name + \".json\" }}","fileContent":"={{ JSON.stringify($json.data) }}","commitMessage":"={{ $json.data.name + \"_backup_\" + new Date($now).toISOString().replace('T', ' ').slice(0, 16) }}"},"id":"d344239e-7e1a-4c17-8ff4-97610a763582","name":"Subir a Github","type":"n8n-nodes-base.github","position":[2144,448],"webhookId":"ccf2ad35-62aa-4e3e-9811-ea6d7fca0aba","typeVersion":1.1,"onError":"continueRegularOutput"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1648,448],"id":"8254c224-8541-4c98-b17b-e5a00157d590","name":"Extract from File","executeOnce":false},{"parameters":{"content":"## Criterios de selección\n- Por Status\n- Por tag\n- Por Archivado","color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1792,16],"id":"7f723b47-4b55-420d-befd-c6335f387c43","name":"Sticky Note"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c0df93ab-dc51-454f-9d6a-127e2b46d027","leftValue":"={{ $json.data.tags[0].name }}","rightValue":"utils","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Tag"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.active }}","rightValue":"active","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"ec19893b-4073-4146-a755-91607024baa3"}],"combinator":"and"},"renameOutput":true,"outputKey":"Activos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f81f9fc6-0450-4fc0-b50a-5e3580b8be03","leftValue":"={{ $json.data.isArchived }}","rightValue":"true","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"No Archivados"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1872,432],"id":"e4f37798-d254-48f0-a18e-b8474cbd1fe9","name":"Switch"},{"parameters":{"command":"=n8n export:credentials --all --decrypted --output={{ $json.filename_credenciales }}"},"id":"ec336089-38ec-44bd-9482-240cd9919456","name":"Respaldar Credenciales Decrypted","type":"n8n-nodes-base.executeCommand","position":[528,640],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"fileSelector":"={{ $('Set Datos Exportacion').item.json.filename_credenciales }}","options":{}},"id":"adbdc063-026f-48e2-a7b4-e95a2ab67f82","name":"Leer Arcivos1","type":"n8n-nodes-base.readWriteFile","position":[752,640],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Set Datos Exportacion').item.json.github_user }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Set Datos Exportacion').item.json.repo_name }}","mode":"name"},"filePath":"={{ $('Set Datos Exportacion').item.json.path_credenciales + $('Set Datos Exportacion').item.json.filename_credenciales }}","fileContent":"={{ JSON.stringify($json.data) }}","commitMessage":"={{ $('Set Datos Exportacion').item.json.filename_credenciales + \"_backup_\" + new Date($now).toISOString().replace('T', ' ').slice(0, 16) }}"},"id":"2377d07f-2ff0-4974-898e-21c4bcf4ce83","name":"Subir a Github1","type":"n8n-nodes-base.github","position":[1200,640],"webhookId":"ccf2ad35-62aa-4e3e-9811-ea6d7fca0aba","typeVersion":1.1,"onError":"continueRegularOutput"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[976,640],"id":"8c4ce7c1-173f-4077-84b9-51ec430ac5a6","name":"Extract from File1","executeOnce":false},{"parameters":{"content":"![Logo Vibe VIP](https://subir-imagen.com/images/2025/07/25/Logo-Vibe-VIP.png)","height":240,"width":368,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"35374cb8-6b70-43e3-a26f-612621e0144f","name":"Sticky Note2"},{"parameters":{"content":"# 🚀 Automatización para Importar y Exportar Workflows y Credenciales\n\nEsta automatización está diseñada para respaldar e importar workflows y credenciales de tu entorno N8n utilizando comandos del N8n CLI y GitHub como almacenamiento externo.\nPermite guardar los archivos directamente en tu instalación de N8n, exportarlos a un repositorio remoto, y también recuperarlos cuando sea necesario.\n\n¡Únete a la comunidad exclusiva! [Vibe Comunty VIP](https://www.skool.com/vibe-community-vip/about) ","height":272,"width":816,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[400,0],"id":"3c429f22-b847-4604-ace0-fa11dc51794f","name":"Sticky Note3"},{"parameters":{"content":"![Kevin Belier](https://subir-imagen.com/images/2025/08/20/Foto-perfil-dorado.png)","height":240,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1232,0],"id":"928867e1-51e0-46e1-afef-dc913a3c69e2","name":"Sticky Note4"},{"parameters":{"content":"## 🛠️ Preparación previa\n\nAntes de usar la automatización:\n\n1. **Crea una cuenta en GitHub** (si no tienes una).\n2. **Crea un nuevo repositorio** donde se almacenarán los backups.\n3. **Genera un Token de API clásico** desde [GitHub Developer Settings](https://github.com/settings/tokens).\n\n   * Este token se usará para autenticar las operaciones de subida y descarga.\n\n---\n\n## ⚙️ Configuración en los nodos `Set`\n\nEn el flujo encontrarás **cuatro nodos de tipo “Set”** que debes ajustar según tu entorno:\n\n* **github_user**: Usuario de GitHub.\n* **repo_name**: Nombre del repositorio.\n* **path_workflows**: Ruta de los workflows tanto en el sistema de archivos del n8n cli como del repo de github.\n* **filename_credenciales**: nombre de archivo de las credenciales.\n* **path_credenciales**: Ruta al archivo de las credenciales en github unicamente ya que en el sistema de archivos es importante guardarlo en la carpeta raíz para no tener problemas de autorización\n","height":592,"width":640},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-720,16],"id":"c099d6cd-b801-4d79-b762-cbd795126b8c","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[80,560],"id":"8c1e0bdc-4495-4d00-9a30-cc8766068644","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"75032077-f1e5-4f37-a176-fb081582affb","name":"github_user","value":"TU USUARIO GITHUB","type":"string"},{"id":"a9dca54f-2232-4e3b-87ea-899a277515ed","name":"repo_name","value":"TU REPO NAME","type":"string"},{"id":"d499a38a-1fe9-42b1-aaf4-319bfbc2fb24","name":"path_workflows","value":"backups/workflows/","type":"string"},{"id":"ae2d92e9-d8c0-4912-bde0-b8ea41f22496","name":"filename_credenciales","value":"credentials_decrypted.json","type":"string"},{"id":"eb669869-545f-4183-8375-6680ae545b75","name":"path_credenciales","value":"backups/credentials/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,560],"id":"f1b3b682-8dd5-4c26-9382-ad4a428209cc","name":"Set Datos Exportacion"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json.github_user }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.repo_name }}","mode":"name"},"filePath":"={{ $json.path_credenciales }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[528,1136],"id":"60f771dc-e7c7-42bc-926b-29c16b724cab","name":"Listar Credenciales1","webhookId":"04ff82dd-d7d8-4a5b-b1bb-d5b931d59529"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Set Datos Importacion1').item.json.github_user }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Set Datos Importacion1').item.json.repo_name }}","mode":"name"},"filePath":"={{ $json.path }}","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[752,1136],"id":"bf065ee8-e33c-45e0-afcc-8fa9f841a13b","name":"Descargar Credenciales1","webhookId":"7bf348ad-8e7e-4529-a3f0-ce9725aade10"},{"parameters":{"operation":"write","fileName":"=/home/node/{{ $json.name }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[976,1136],"id":"3c031db3-8e37-408d-809b-23389d58bb4b","name":"Crear JSON Credentials1"},{"parameters":{"command":"=n8n import:credentials --input=/home/node/{{ $json.name }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1200,1136],"id":"8303e085-6b92-4238-b546-7e467c290b1b","name":"Ejecutar Importacion Credenciales1","executeOnce":true},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json.github_user }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.repo_name }}","mode":"name"},"filePath":"={{ $json.path_workflows }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[528,912],"id":"01353ed2-b1a8-4d5c-8642-9d861ca24f43","name":"Listar Workflows1","webhookId":"04ff82dd-d7d8-4a5b-b1bb-d5b931d59529"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Set Datos Importacion1').item.json.github_user }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Set Datos Importacion1').item.json.repo_name }}","mode":"name"},"filePath":"={{ $json.path }}","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[752,912],"id":"1d9570b8-3b12-4efb-b19e-988aad7e18ce","name":"Descargar Workflows1","webhookId":"7bf348ad-8e7e-4529-a3f0-ce9725aade10"},{"parameters":{"operation":"write","fileName":"=/home/node/{{ $json.name }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[976,912],"id":"d2d26f35-5be9-4e2a-9de1-214ac725a20b","name":"Crear JSON Workflows1"},{"parameters":{"command":"=n8n import:workflow --separate --input=/home/node"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1200,912],"id":"b4833fc1-9161-45fd-a9ce-73a700e3daad","name":"Ejecutar Importacion Workflows1","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"75032077-f1e5-4f37-a176-fb081582affb","name":"github_user","value":"TU USUARIO GITHUB","type":"string"},{"id":"a9dca54f-2232-4e3b-87ea-899a277515ed","name":"repo_name","value":"TU REPO NAME","type":"string"},{"id":"d499a38a-1fe9-42b1-aaf4-319bfbc2fb24","name":"path_workflows","value":"backups/workflows/","type":"string"},{"id":"ae2d92e9-d8c0-4912-bde0-b8ea41f22496","name":"filename_credenciales","value":"credentials_decrypted.json","type":"string"},{"id":"eb669869-545f-4183-8375-6680ae545b75","name":"path_credenciales","value":"backups/credentials/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,1008],"id":"ba035341-cd49-4718-826c-7581013e54c5","name":"Set Datos Importacion1"},{"parameters":{"command":"rm -rf ./*"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2144,656],"id":"57201427-88a3-4a39-9d7d-c5346ab0714b","name":"Eliminar Workfllows y Credenciales"}],"connections":{"Respaldar Workflows Separado":{"main":[[{"node":"Listar Archivos","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Leer Arcivos","type":"main","index":0}]]},"Listar Archivos":{"main":[[{"node":"Separar Archivos","type":"main","index":0}]]},"Separar Archivos":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Leer Arcivos":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Subir a Github","type":"main","index":0}]]},"Respaldar Credenciales Decrypted":{"main":[[{"node":"Leer Arcivos1","type":"main","index":0}]]},"Leer Arcivos1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Set Datos Exportacion","type":"main","index":0}]]},"Set Datos Exportacion":{"main":[[{"node":"Respaldar Workflows Separado","type":"main","index":0},{"node":"Respaldar Credenciales Decrypted","type":"main","index":0}]]},"Listar Credenciales1":{"main":[[{"node":"Descargar Credenciales1","type":"main","index":0}]]},"Descargar Credenciales1":{"main":[[{"node":"Crear JSON Credentials1","type":"main","index":0}]]},"Crear JSON Credentials1":{"main":[[{"node":"Ejecutar Importacion Credenciales1","type":"main","index":0}]]},"Listar Workflows1":{"main":[[{"node":"Descargar Workflows1","type":"main","index":0}]]},"Descargar Workflows1":{"main":[[{"node":"Crear JSON Workflows1","type":"main","index":0}]]},"Crear JSON Workflows1":{"main":[[{"node":"Ejecutar Importacion Workflows1","type":"main","index":0}]]},"Set Datos Importacion1":{"main":[[{"node":"Listar Credenciales1","type":"main","index":0},{"node":"Listar Workflows1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"13130f67-37f8-437e-a005-6f11b19e055e","triggerCount":0,"tags":[{"createdAt":"2025-11-20T18:14:30.509Z","updatedAt":"2025-11-20T18:14:30.509Z","id":"oL0KQYXcG5ZEcZCZ","name":"utils"}],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"xlcsdPwlmRNPKx50","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}