backups/workflows/Flujo de ChatWSP.json
{"createdAt":"2025-11-10T15:50:29.655Z","updatedAt":"2025-11-11T03:32:02.144Z","id":"Z6mqk0BDGllEV6pJ","name":"Flujo de ChatWSP","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"push","list":"={{ $('Sacar solo body y chat_ID').item.json.body.messages[0].chat_id }}","messageData":"={{ JSON.stringify($('Sacar solo body y chat_ID').item.json.body) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[448,112],"id":"ffd8ce4a-2aca-4869-9a56-6bebd1caef96","name":"Guardar mensajes","credentials":{"redis":{"id":"LPbWxLRrzlCEphig","name":"Redis DB"}}},{"parameters":{"operation":"get","propertyName":"mensaje","key":"={{ $('Sacar solo body y chat_ID').item.json.body.messages[0].chat_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[672,112],"id":"a14fc6df-f8e8-46a8-88a1-a7c820cb4ef2","name":"Ver todos los mensajes del usuario","credentials":{"redis":{"id":"LPbWxLRrzlCEphig","name":"Redis DB"}}},{"parameters":{"assignments":{"assignments":[{"id":"645f1feb-6666-4810-a948-3af89f5526e8","name":"body.messages[0].chat_id","value":"={{ $json.body.messages[0].chat_id }}","type":"string"},{"id":"74e8ae42-f720-423b-9198-8dbf20e3e201","name":"body","value":"={{ $json.body }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,112],"id":"cfb553b3-6ad4-4871-ba76-70f7f22c8e3d","name":"Sacar solo body y chat_ID"},{"parameters":{"httpMethod":"POST","path":"e8740aee-1786-4a59-bf3b-accf7b6f1869","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,112],"id":"e841cc48-a071-48dc-8aa9-88633facab9d","name":"Escuchar mensajes de WSP","webhookId":"e8740aee-1786-4a59-bf3b-accf7b6f1869"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse($json.mensaje.last()).messages[0].chat_id }}","rightValue":"={{ $('Sacar solo body y chat_ID').item.json.body.messages[0].chat_id }}","operator":{"type":"string","operation":"notEquals"},"id":"47c2416c-048b-49d3-a28b-8bfa2850ebef"}],"combinator":"and"},"renameOutput":true,"outputKey":"NO PASA NADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84b5051c-290e-4fd1-9335-ff598ccb096f","leftValue":"={{ JSON.parse($json.mensaje.first()).messages[0].timestamp.toDateTime('s').toString() }}","rightValue":"={{ $now.minus(15,'seconds').toString() }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AGARRAR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"27c3502f-dc2a-4f1b-a23c-f843e6145acb","leftValue":"={{ JSON.parse($json.mensaje.last()).messages[0].chat_id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"NO EXISTE"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"POLICIA"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[896,-16],"id":"c96db5eb-d54f-4e87-93ec-85a6cafc1bcc","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,-320],"id":"20f6dc05-268b-48fb-b7d2-cf65294373b5","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1120,304],"id":"6a91d910-816b-41fb-9ed9-4193978b5e5d","name":"Wait","webhookId":"18567873-fa2f-4bd9-8cda-6647727436c3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,80],"id":"21ee31e7-7114-477f-a658-b715cca78377","name":"No Operation, do nothing1"},{"parameters":{"operation":"delete","key":"={{ $('Sacar solo body y chat_ID').item.json.body.messages[0].chat_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1120,-128],"id":"a8c34d05-838a-4a8b-ab9d-c5f2d2caab1e","name":"Redis","credentials":{"redis":{"id":"LPbWxLRrzlCEphig","name":"Redis DB"}}},{"parameters":{"fieldToSplitOut":"mensaje","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1344,-128],"id":"a3d53f30-bc64-4ffd-9a6d-ecf743282499","name":"Split Out"},{"parameters":{"mode":"raw","jsonOutput":"={{ JSON.parse($json.mensaje) }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,-128],"id":"eb78b51a-e976-476d-9135-30af331e6ea2","name":"Transformarlo de Object a Json"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ee5d6eca-87c7-475b-bdf4-dc5d0cc82994","leftValue":"={{ $json.messages[0].voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"VOZ"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be8d6661-45cc-4faa-ac82-3f873945e702","leftValue":"={{ $json.messages[0].image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"IMAGEN"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages[0].text.body }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"ed38cafd-c333-482f-b030-11617cf0e4a5"}],"combinator":"and"},"renameOutput":true,"outputKey":"TEXTO"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1792,-160],"id":"9b10fefa-b191-49e3-b189-56ec85a0c10c","name":"Switch1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2016,160],"id":"91c06a15-56c9-47af-aa4c-bf6f912aa3bf","name":"No Operation, do nothing2"},{"parameters":{"method":"POST","url":"https://api.lemonfox.ai/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"language","value":"spanish"},{"name":"response_format","value":"json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,-368],"id":"563389bd-fdf6-41cd-b387-bf1850c35e18","name":"Transcribir texto","credentials":{"httpHeaderAuth":{"id":"4gEkeb3aNyPQr6Su","name":"LemonFoxAPIKEY"}}},{"parameters":{"url":"=https://gate.whapi.cloud/media/{{ $json.messages[0].voice.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,-368],"id":"9182c88d-2ee7-492c-9641-b40b8a5296e4","name":"Obtener archivo de audio","credentials":{"httpHeaderAuth":{"id":"xgx2uJsGlf6aNaVi","name":"WHAPICredenciales"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Eres un experto en describir imagenes para un chatbot responde lo que ves en la imagen de esta manera, \"El usuario mando una imagen etc...\"","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2240,-176],"id":"f82147d0-9bce-4089-805e-0936c1b8f96c","name":"Analyze image","credentials":{"openAiApi":{"id":"qPtoS3F65dS7YPJZ","name":"OPENAI PRESLA APIKEY"}}},{"parameters":{"assignments":{"assignments":[{"id":"0f620a15-186c-46dc-959c-eebe5481cb4a","name":"=mensaje","value":"={{ $json.messages[0].text.body }}","type":"string"},{"id":"15cfebc2-7502-4750-8d4c-da5768ccbc58","name":"hora_llegada","value":"={{ $('Escuchar mensajes de WSP').item.json.body.messages[0].timestamp.toDateTime('s').toString() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2464,16],"id":"51d49fd5-3777-43c3-ae49-c7e741d75b2a","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"3ec80520-e32f-4285-894d-d5553d3a1af9","name":"mensaje","value":"={{ $json.text }}","type":"string"},{"id":"9c56a4b7-b3c8-4f8b-8bde-e9e8f352f707","name":"hora_llegada","value":"={{ $('Escuchar mensajes de WSP').item.json.body.messages[0].timestamp.toDateTime('s').toString() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2464,-368],"id":"12b59648-52b2-40fb-b778-91a53b511c9c","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"fd640ade-c42b-426a-b0f8-cbe5f32cce13","name":"mensaje","value":"={{ $json.content }}","type":"string"},{"id":"f49f10ac-6dff-4a8c-af87-58521bcc6f1e","name":"hora_llegada","value":"={{ $('Escuchar mensajes de WSP').item.json.body.messages[0].timestamp.toDateTime('s').toString() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2464,-176],"id":"eaec47aa-c711-4002-a5a8-fce30cd19872","name":"Edit Fields2"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2688,-192],"id":"62de3632-acdc-4f9a-a106-f0e4f4be0534","name":"Merge"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"hora_llegada"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[2896,-192],"id":"3fbd237a-d071-47ca-b274-dcbf369888f8","name":"Sort"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"mensaje"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3104,-192],"id":"a4140ef4-a9aa-4a70-b4de-d4a10faf4c4d","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"2bebe572-567d-4fae-8d78-18823366bcc2","name":"input","value":"={{ $json.mensaje.join(\" \") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3280,-192],"id":"cb4906a2-b7a3-48d0-8375-57f38e907b30","name":"Edit Fields3"},{"parameters":{"url":"=https://gate.whapi.cloud/media/{{ $json.messages[0].image.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,-176],"id":"5621abd6-cd27-4ab0-80e5-5db0eff8f52e","name":"Obtener imagen de whapi","credentials":{"httpHeaderAuth":{"id":"xgx2uJsGlf6aNaVi","name":"WHAPICredenciales"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3360,16],"id":"8ab9e8e1-39f0-4f34-a611-95686e3ed5e4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"qPtoS3F65dS7YPJZ","name":"OPENAI PRESLA APIKEY"}}},{"parameters":{"promptType":"define","text":"={{ $json.input }}","options":{"systemMessage":"=🧠 Rol del Sistema:\n\nEres un sistema experto en detección de intenciones dentro de un flujo de reservación de citas. Tu tarea es analizar todo el historial de conversación entre el usuario y el asistente, y con base en el último mensaje del usuario y el contexto completo, determinar si su intención es continuar con el proceso de agendamiento o si ha cambiado a una conversación no relacionada.\n\n🚦 Categorías de Intención:\n\nRESERVA: El usuario está:\n\nIniciando una nueva cita.\n\nSolicitando ver horarios disponibles.\n\nProporcionando datos para agendar (nombre, correo, fecha, hora).\n\nCorrigiendo o modificando información relevante para una cita ya en proceso.\n\nPidiendo horarios por franja del día (mañana, tarde, noche, mediodía, etc.).\n\nRespondiendo preguntas del filtro previo al agendamiento.\n\nCONVERSACIÓN: El usuario hace preguntas o comentarios no relacionados con el proceso de reserva de citas, incluyendo temas generales, dudas informativas, chistes o cualquier otro asunto fuera del contexto de agendar.\n\n⚠️ Reglas estrictas:\n\nContexto activo = prioridad absoluta:\n\nSi el flujo de agendamiento ya ha comenzado —especialmente si el usuario está respondiendo las preguntas del filtro previo (por ejemplo, presupuesto, herramientas, necesidades)—, cualquier desviación debe considerarse parte del proceso de RESERVA, a menos que el mensaje sea explícitamente irrelevante.\n\nNO se permite redirigir al bot de preguntas si la intención principal sigue siendo agendar.\n\nSi el usuario hace una pregunta ambigua pero está en medio del proceso de agendamiento, responde RESERVA para mantener el flujo y evitar interrupciones.\n\nUso del historial completo:\n\nAnaliza todo el historial para identificar si hay un proceso de agendamiento activo. No tomes decisiones basadas únicamente en una frase aislada si el contexto indica que el usuario está siguiendo el flujo de cita.\n\nMensajes de cambio de tema explícito:\n\nSolo si el usuario cambia claramente de tema y muestra desinterés por continuar con la cita, responde CONVERSACIÓN.\n\nDudas sobre citas pasadas o fuera del alcance:\n\nSi el usuario pregunta por citas ya agendadas y el sistema no maneja eso, responde con CONVERSACIÓN.\n\nNunca adivines o asumas intención de RESERVA si el contexto no lo respalda claramente.\n\nTu salida debe ser una sola palabra:\n\nRESERVA o CONVERSACIÓN. No agregues explicaciones ni texto adicional.\n\n🧪 Ejemplos actualizados:\n\nUsuario: \"¿Tienen algo al mediodía?\" → RESERVA\n\nUsuario: \"Mi presupuesto es de 1500 USD.\" (en preguntas previas al agendado) → RESERVA\n\nUsuario: \"Uso Make y ActiveCampaign para mis procesos.\" (respondiendo filtro) → RESERVA\n\nUsuario: \"Por cierto, ¿qué opinas del clima hoy?\" (en medio del filtro) → RESERVA\n\nUsuario: \"Oye, ¿conoces algún restaurante bueno?\" (sin proceso activo) → CONVERSACIÓN\n\nUsuario: \"¿Qué horarios hay disponibles para el viernes?\" → RESERVA"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[3488,-192],"id":"2680c957-dc00-438b-9d3c-0bd2139bdd1d","name":"Agente de deteccion de intenciones"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0db0c900-1036-4819-ab68-b5420c0f58a9","leftValue":"={{ $json.output }}","rightValue":"RESERVA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3792,-176],"id":"13cf5dc4-0040-4499-ad19-8e27e31c9331","name":"If"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4032,-256],"id":"18b48586-1d29-4665-b9c1-cfef033b7dab","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"qPtoS3F65dS7YPJZ","name":"OPENAI PRESLA APIKEY"}}},{"parameters":{"method":"POST","url":"https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $('Sacar solo body y chat_ID').item.json.body.messages[0].from }}"},{"name":"body","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4640,-448],"id":"3a2160c0-fe93-43b2-ab84-0f7621e51262","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"xgx2uJsGlf6aNaVi","name":"WHAPICredenciales"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3888,128],"id":"4758801b-03e3-4b47-add4-05f2cfd99605","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"qPtoS3F65dS7YPJZ","name":"OPENAI PRESLA APIKEY"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Trabaja con esta informacion de mi negocio","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[4240,112],"id":"f14b4337-de77-4aa2-bbaf-ef92afca8e4f","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"btYsZzK9vEUB7NIb","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[4336,320],"id":"eada1e1a-1130-42a1-9934-3b011a82c64e","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"qPtoS3F65dS7YPJZ","name":"OPENAI PRESLA APIKEY"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst updatedItems = items.map((item) => {\n\n  item.json.output = item.json.output.replace(/\\n\\n/g, \"\").replace(/\\n/g, \"\");\n\n  return item;\n\n});\n\nreturn updatedItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4400,-448],"id":"b2773777-86c4-4413-9632-24d61b80c7c7","name":"Code in JavaScript"},{"parameters":{"method":"POST","url":"https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $('Sacar solo body y chat_ID').item.json.body.messages[0].from }}"},{"name":"body","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4624,-64],"id":"51bda32f-3fdf-4c99-aaed-3bc940fbc8a5","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"xgx2uJsGlf6aNaVi","name":"WHAPICredenciales"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst updatedItems = items.map((item) => {\n\n  item.json.output = item.json.output.replace(/\\n\\n/g, \"\").replace(/\\n/g, \"\");\n\n  return item;\n\n});\n\nreturn updatedItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4384,-64],"id":"0f0b5f62-f084-4833-b11d-85b1dfb033ce","name":"Code in JavaScript1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Escuchar mensajes de WSP').item.json.body.messages[0].chat_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3680,176],"id":"9705eaae-d602-4053-be5a-a55748a040a3","name":"Simple Memory"},{"parameters":{"toolDescription":"Responsable de recuperar todos los espacios de citas libres disponibles de la base de datos.","url":"https://api.cal.com/v1/slots","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n\n  \"startTime\": \"{startTime}\",\n\n  \"endTime\": \"{endTime}\",\n\n  \"eventTypeId\": \"3825682\",\n\n  \"timeZone\": \"America/Lima\",\n\n  \"apiKey\": \"cal_live_1690cb80279c847d1d887e647d429824\"\n\n}","placeholderDefinitions":{"values":[{"name":"startTime","description":"Cadena de fecha de inicio desde la que se obtienen las franjas horarias, con formato ISO 8601 y en la zona horaria UTC. La hora siempre debe empezar a las 00:00:00.","type":"string"},{"name":"endTime","description":"Cadena de fecha de finalización hasta la cual se deben obtener las ranuras, con formato ISO 8601 y en la zona horaria UTC. La hora siempre debe finalizar a las 23:59:59.","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[4240,-192],"id":"6a884940-8864-4cb8-ab75-e8bbdde75ebc","name":"DISPONIBILIDAD"},{"parameters":{"toolDescription":"Responsable de guardar la cita en la base de datos.","method":"POST","url":"https://api.cal.com/v1/bookings","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n\n  \"apiKey\": \"cal_live_1690cb80279c847d1d887e647d429824\"\n\n}","sendBody":true,"specifyBody":"json","jsonBody":"={\n\n  \"eventTypeId\": 2401140,\n\n  \"start\": \"{startTime}\",\n\n  \"responses\": {\n\n    \"name\": \"{userName}\",\n\n    \"email\": \"{userEmail}\",\n\n    \"location\": {\n\n      \"value\": \"online\",\n\n      \"optionValue\": \"\"\n\n    }\n\n  },\n\n  \"timeZone\": \"America/Lima\",\n\n  \"language\": \"es\",\n\n  \"metadata\": {}\n\n}","placeholderDefinitions":{"values":[{"name":"startTime","description":"Cadena de fecha de inicio de la cita elegida por el usuario, formateada en ISO 8601 y en la zona horaria UTC (disponible dentro de la respuesta de la herramienta)","type":"string"},{"name":"userName","description":"Nombre completo del usuario","type":"string"},{"name":"userEmail","description":"Email del usuario"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[4400,-224],"id":"b38b6485-5389-4d3c-8986-683b97d7e80d","name":"AGENDAR"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields3').item.json.input }}","options":{"systemMessage":"=🧠 Prompt actualizada con tool convertirALocalUTC incluida:\n\nEres un asistente de reservación de citas responsable de agendar nuevas reuniones en la base de datos para una agencia especializada en automatización con inteligencia artificial.\n\n🎯 Objetivos:\n\nCalificar al usuario para asegurarte de que es un prospecto adecuado antes de ofrecerle una cita.\n\nAyudarle a agendar su cita de forma amigable, profesional y conversacional.\n\nAdaptarte dinámicamente según la información ya proporcionada.\n\nRecolectar los datos necesarios (nombre completo, correo, fecha y hora preferida) antes de hacer la reserva.\n\nAgendar la cita en cuanto el usuario haya confirmado un horario disponible, sin pausas innecesarias.\n\nMantener siempre un tono humano, profesional y cordial.\n\n🛠 Herramientas disponibles:\n\nretrieve_available_free_slots_from_database:\n\nConsulta los horarios disponibles en la fecha indicada por el usuario.\n\nconvertirALocalUTC:\n\nConvierte la fecha y hora local seleccionada por el usuario a formato UTC (YYYY-MM-DDTHH:mm:ssZ), necesario para integrarse correctamente con APIs como la de Cal.com.\n\nUsa esta herramienta justo antes de ejecutar book_appointment, tomando en cuenta la zona horaria del usuario (clientCurrentTimezone, por defecto 'America/Lima').\n\nEsto garantiza que la cita se agende en la hora correcta sin desajustes por zona horaria.\n\nEjemplo de uso:\n\nSi el usuario selecciona “2025-05-13 a las 14:00” en hora local de CDMX, esta herramienta devolverá 2025-05-13T20:00:00Z.\n\nbook_appointment:\n\nRegistra la cita en la base de datos usando la hora convertida a UTC por la herramienta anterior.\n\nUsa todas las herramientas dentro de un flujo conversacional natural. En cuanto el usuario elija un horario válido y estén todos los datos completos, convierte la hora con convertirALocalUTC y ejecuta book_appointment inmediatamente, sin confirmaciones innecesarias.\n\n🔎 Filtro de calificación previo (indispensable antes de agendar):\n\nAntes de continuar con la reservación, realiza las siguientes preguntas una por una:\n\n¿Cuál es tu objetivo principal al buscar automatización con IA?\n\n(Ej: optimizar procesos, mejorar seguimiento de leads, escalar operaciones, etc.)\n\n¿Ya estás usando alguna herramienta de automatización o CRM? Si sí, ¿cuál?\n\n(Ej: Zapier, Make, HubSpot, GoHighLevel, etc.)\n\n¿Cuál es tu presupuesto destinado a soluciones de automatización con IA (por proyecto)?\n\nSi responde menos de $1000 USD:\n\n\"Gracias por tu interés. Por el momento, nuestros servicios están diseñados para negocios con presupuestos de al menos $1000 USD mensuales. Si en el futuro aumentas tu presupuesto, ¡estaremos encantados de ayudarte!\"\n\nSi responde que sí tiene presupuesto de $1000 USD o más, continúa con el proceso de agendamiento.\n\n📆 Guía de Flujo para Agendación:\n\nInicio:\n\nReconoce cualquier dato ya proporcionado y evita repetir preguntas.\n\nPide solo los datos que falten:\n\nNombre: “¿Podrías darme tu nombre completo para la reservación?”\n\nCorreo: “¿Qué dirección de correo deseas usar para confirmar tu cita?”\n\nFecha: “¿En qué fecha te gustaría agendar la cita?”\n\nConsulta de disponibilidad:\n\nUsa retrieve_available_free_slots_from_database para mostrar horarios disponibles.\n\nMuestra las opciones en formato claro:\n\n“Estos son los horarios disponibles para el [fecha]:\n\n[horario 1]\n\n[horario 2]\n\n[horario 3]\n\n¿Cuál prefieres?”\n\nPreferencias de franja horaria (opcional):\n\n“mañana” → 12:00 AM – 11:59 AM\n\n“tarde” → 12:00 PM – 5:00 PM\n\n“noche” → 5:01 PM – 11:59 PM\n\nSi no hay disponibilidad en la franja indicada, ofrece otras opciones para la misma fecha.\n\nConfirmación y agendamiento inmediato:\n\nUna vez el usuario elija una hora válida, verifica si tienes los datos completos (nombre, correo, fecha, hora).\n\nResume los datos:\n\n“Perfecto, agendaremos tu cita el [fecha] a las [hora] con el correo [email] a nombre de [nombre], te llegara un correo de confirmacion en breve”\n\nLuego, usa convertirALocalUTC con la zona horaria del usuario para transformar la hora a formato UTC.\n\nFinalmente, usa book_appointment con la hora UTC convertida.\n\nResultado del agendamiento:\n\nSi se agenda correctamente:\n\n“¡Tu cita ha sido reservada para el [fecha] a las [hora local]! Te hemos enviado un correo de confirmación.”\n\nSi hay un error:\n\n“Hubo un problema al confirmar la cita. ¿Podrías intentar seleccionar otro horario?”\n\n🧠 Reglas de Comportamiento:\n\nNo repitas preguntas ya respondidas.\n\nAcepta correcciones o actualizaciones del usuario.\n\nNunca inventes horarios no disponibles.\n\nUsa retrieve_available_free_slots_from_database si cambia la fecha u hora.\n\nUsa convertirALocalUTC siempre antes de agendar, para cumplir con el formato que requiere la API.\n\nInterpreta correctamente frases como:\n\n“mañana por la mañana” → hoy + 1 día, franja matutina.\n\n“próximo lunes” → lunes siguiente a la fecha actual.\n\n“la siguiente semana” → pide día específico.\n\nValida que el correo tenga un @ y un dominio válido.\n\nMantente enfocado exclusivamente en el proceso de cita.\n\nSi te llegas a perder usa la herramienta \"Think\" para pensar y ver que todo este bien\n\nFecha actual: {{ new Date($now).toLocaleString(\"es-MX\", {\n\n  weekday: \"long\",\n\n  year: \"numeric\",\n\n  month: \"long\",\n\n  day: \"numeric\",\n\n  hour: \"2-digit\",\n\n  minute: \"2-digit\",\n\n  hour12: true,\n\n  timeZone: \"America/Lima\"\n\n}) }}\n\nCuando les preguntes de fecha diles que es hora cdmx y les puedes decir la hora actual para que lo tomen de referencia\n\nTrata de no saltar parrafos"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[4048,-448],"id":"827ed81a-1abe-4bb0-9d02-35e71eac2ff2","name":"Agente de citas"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields3').item.json.input }}","options":{"systemMessage":"=<agentPrompt>\n\n  <context>\n\n    Eres el asistente de Santiago, creador de contenido sobre automatización e inteligencia artificial usando herramientas como Make y n8n.\n\n    Tu rol es ayudar a personas interesadas en los servicios de automatización de su agencia y su comunidad educativa Horizontes IA (también conocida como curso).\n\n  </context>\n\n  <role>\n\n    Eres un asistente informativo profesional, humano y claro. Tu trabajo es responder únicamente con base en la información contenida en tu base de datos vectorial (RAG), y siempre con un tono natural y conversacional.\n\n  </role>\n\n  <tools>\n\ncompanyKnowledge: Es una base de datos vectorial con toda la informacion de Horizontes IA\n\n  </tools>\n\n  <services>\n\n    <condition>\n\n      Si alguien pregunta si ofrecen servicios de automatización:\n\n    </condition>\n\n    <response>\n\n      ¡Holaa! Sí, aparte de la comunidad tambien trabajamos con proyectos de automatización con IA como los que viste en los videos. Solo como aviso, manejamos proyectos arriba de $1000 USD por temas de disponibilidad. ¿Te gustaría agendar una llamada para ver si podemos ayudarte? o quieres que te cuente mas sobre la comunidad\n\n    </response>\n\n    <nextStep>\n\n      Si el usuario acepta, inicia el flujo de agendamiento. Si no, continúa resolviendo dudas sobre Horizontes IA.\n\n    </nextStep>\n\n  </services>\n\n  <goals>\n\n    <item>Contenido del curso/comunidad Horizontes IA</item>\n\n    <item>Herramientas enseñadas (Make.com, n8n, Airtable, etc.)</item>\n\n    <item>Plantillas, módulos, automatizaciones</item>\n\n    <item>Concursos, clases, beneficios, precios</item>\n\n    <item>Acceso, clases en vivo, dinámica</item>\n\n    <item>Preguntas frecuentes contenidas en la base RAG</item>\n\n  </goals>\n\n  <ragRule>\n\n    Siempre consulta la base vectorial antes de responder. Si no tienes una respuesta clara, no inventes. Usa respuestas como:\n\n    <example>\n\n      Esa info no la tengo a la mano, pero puedes checar más en nuestro sitio: https://iahorizontesacademy.com\n\n    </example>\n\n    Si es un caso más complejo:\n\n    <example>\n\n      Podemos verlo en llamada si lo prefieres. ¿Te gustaría agendar una cita?\n\n    </example>\n\n  </ragRule>\n\n  <courseAlias>\n\n    Si alguien menciona “curso”, “comunidad” o “programa”, respóndelo como sinónimos:\n\n    <example>\n\n       La comunidad (que también es el curso) incluye tanto videos educativos como automatizaciones listas para usar y 2 clases en vivo cada semana. Todo está dentro de la misma membresía.\n\n    </example>\n\n  </courseAlias>\n\n  <videoSystem>\n\n    Si alguien pide un sistema de algún video:\n\n    <example>\n\n      Ese sistema está incluido en la comunidad. Al unirte, tienes acceso a todas las plantillas y flujos que muestro en los videos.\n\n    </example>\n\n  </videoSystem>\n\n  <contact>\n\n    <response>\n\n      ¡Claro! Puedes escribirnos directamente a nuestro correo: contacto@innovandohorizontes.com \n\n    </response>\n\n  </contact>\n\n  <tone>\n\n    Cercano, claro, profesional y sin sonar robótico. Usa emojis si aportan claridad o calidez. Evita lenguaje corporativo o técnico innecesario.\n\n  </tone>\n\n  <limits>\n\n    <item>No inventes información que no esté respaldada por la base.</item>\n\n    <item>No participes en temas fuera del enfoque (clima, política, temas personales, etc.).</item>\n\n    <item>Redirígelo al sitio web si es necesario.</item>\n\n  </limits>\n\n  <behavior>\n\n    <rule>Consulta siempre el RAG antes de responder.</rule>\n\n    <rule>Si la pregunta es ambigua, pide una aclaración educada.</rule>\n\n    <rule>Si detectas insistencia en temas ajenos, responde con cortesía y cierra la conversación si es necesario.</rule>\n\n  </behavior>\n\n  <staticInfo>\n\n    <price>$50 USD mensuales</price>\n\n    <payment>Solo se aceptan tarjetas de credito</payment>\n\n    <tools>Make.com, n8n</tools>\n\n    <site>https://iahorizontesacademy.com</site>\n\n    <email>contacto@innovandohorizontes.com</email>\n\n  </staticInfo>\n\n  <personaRules>\n\n    <firstPerson>Tu respuestas tienen que estar en primera persona como si fueras santiago</firstPerson>\n\n    <personalQuestions>\n\n      Si te preguntan algo personal o te felicitan responde con sarcasmo diciendo que eres la IA de santi pero que muchas gracias y le pasaras este mensaje a santi para que te responda \n\n    </personalQuestions>\n\n    <sarcasmAllowed>\n\n      Tu tienes libertad de cambiar los ejemplos que te di dandoles mas sarcasmo siempre y cuando se entienda y no se salga del tema\n\n    </sarcasmAllowed>\n\n    <noEmojis>No uses emojis</noEmojis>\n\n    <clientCountQuestion>\n\n      Si te preguntan algo de Santi personal o como \"cuantos clientes has tenido\", responde con algo sarcastico como mmm pues habra que preguntarle a Santi la verdad yo soy su IA \n\n    </clientCountQuestion>\n\n    <learningQuestion>\n\n      Si te preguntan como aprender o algo similar hablales brevemente y no vendiendo sobre la comunidad\n\n    </learningQuestion>\n\n    <liveClassInfo>\n\n      La dinamica de las clases en vivo por si preguntan es:\n\n      Una es el jueves a las 9pm hora mexico y ese es un workshop donde se responden dudas, y el domingo a mediodia hora mexicoes una masterclass donde vemos una automatizacion desde 0. Ambas clases se graban\n\n    </liveClassInfo>\n\n    <platformInfo>\n\n      La comunidad esta en la plataforma Skool, si preguntan por discord diles que ya no esta disponible.\n\n    </platformInfo>\n\n    <noPushJoin>\n\n      Tu no debes intentar agregar a nadie a Horizontes IA, si preguntan por ingresar solo dales el sitio web https://iahorizontesacademy.com\n\n    </noPushJoin>\n\n<faq>\n\n  <question>¿Cuánto dura el acceso?</question>\n\n  <answer>Es una membresía mensual. Mientras sigas suscrito, tienes acceso completo a todos los contenidos y clases.</answer>\n\n  <question>¿Puedo ver las clases si no asisto en vivo?</question>\n\n  <answer>Sí, todas las clases se graban y se suben dentro de la plataforma Skool.</answer>\n\n  <question>¿Necesito conocimientos previos para entrar?</question>\n\n  <answer>No, todo empieza desde cero y avanzamos poco a poco. Hay tutoriales paso a paso para cada herramienta.</answer>\n\n  <question>¿Puedo cancelar en cualquier momento?</question>\n\n  <answer>Sí, puedes cancelar la membresía cuando quieras desde la misma plataforma.</answer>\n\n  <question>¿Qué herramientas necesito para aprovecharlo?</question>\n\n  <answer>Make.com, n8n, Airtable, y ganas de automatizar. Muchas son gratuitas o tienen versión freemium.</answer>\n\n</faq>\n\n<faq>\n\n  <question>¿Hay soporte si me atoro?</question>\n\n  <answer>Sí, puedes preguntar en la comunidad y también en las clases en vivo. Siempre alguien te va a echar la mano.</answer>\n\n  <question>¿Hay algún grupo privado o chat?</question>\n\n  <answer>Todo está centralizado en Skool. Ahí están los foros, clases y materiales.</answer>\n\n</faq>\n\n  </personaRules>\n\n</agentPrompt>\n\nTrata de no saltar parrafos"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[3984,-64],"id":"7f2faa59-5410-4f6d-9676-3db05db69aa0","name":"Agente conversacional"}],"connections":{"Guardar mensajes":{"main":[[{"node":"Ver todos los mensajes del usuario","type":"main","index":0}]]},"Sacar solo body y chat_ID":{"main":[[{"node":"Guardar mensajes","type":"main","index":0}]]},"Escuchar mensajes de WSP":{"main":[[{"node":"Sacar solo body y chat_ID","type":"main","index":0}]]},"Ver todos los mensajes del usuario":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Redis","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Ver todos los mensajes del usuario","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[]]},"Redis":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Transformarlo de Object a Json","type":"main","index":0}]]},"Transformarlo de Object a Json":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Obtener archivo de audio","type":"main","index":0}],[{"node":"Obtener imagen de whapi","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Obtener archivo de audio":{"main":[[{"node":"Transcribir texto","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[]]},"Transcribir texto":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Obtener imagen de whapi":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Agente de deteccion de intenciones","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente de deteccion de intenciones","type":"ai_languageModel","index":0}]]},"Agente de deteccion de intenciones":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Agente de citas","type":"main","index":0}],[{"node":"Agente conversacional","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Agente de citas","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Agente conversacional","type":"ai_languageModel","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"Agente conversacional","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Agente de citas","type":"ai_memory","index":0},{"node":"Agente conversacional","type":"ai_memory","index":0}]]},"DISPONIBILIDAD":{"ai_tool":[[{"node":"Agente de citas","type":"ai_tool","index":0}]]},"AGENDAR":{"ai_tool":[[{"node":"Agente de citas","type":"ai_tool","index":0}]]},"Agente de citas":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Agente conversacional":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5e4c4fb4-aeff-4c02-9a72-f9475a89416a","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"Z6mqk0BDGllEV6pJ","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}