backups/workflows/Flujo de manejo de errores.json
{"createdAt":"2025-11-11T17:23:20.096Z","updatedAt":"2025-11-11T19:19:30.964Z","id":"CIUm3u2Hv0YrLqgi","name":"Flujo de manejo de errores","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-272,0],"id":"039b32f4-356f-458f-9c39-5a28bb41705a","name":"Telegram Trigger","webhookId":"2365f2ba-4eb8-483f-8feb-36f36ceab558","credentials":{"telegramApi":{"id":"8zTb7uOMU6RELO0h","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f00e9939-4508-40d1-85bb-7eb2a4e21086","name":"message.text","value":"={{ $json.message.text }}","type":"string"},{"id":"88440d68-a626-4668-8585-512074bca992","name":"user_name","value":"={{ $json.message.chat.first_name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,0],"id":"c9855e7b-a06f-4aaf-a5d4-eb9da99b2100","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","hasOutputParser":true,"options":{"systemMessage":"=Contexto\nEres un agente especializado en la venta de suplementos de gimnasio. Tu misión es ayudar al usuario a encontrar el suplemento adecuado brindando información confiable y basada exclusivamente en el inventario disponible. Además, puedes enviar imágenes de productos solicitando un subflujo externo.\n\nRol\nActúas como un vendedor profesional, amable y persuasivo, manteniéndote siempre honesto y claro.\n\nObjetivo\nEntender qué producto busca el usuario y proporcionarle información exclusivamente del inventario. Si el usuario solicita una imagen del producto, deberás pedir o identificar el nombre del producto, buscarlo en INVENTARIO y si existe, enviar el ID del producto al subflujo “Enviar fotos” para que gestione el envío de la imagen.\n\nProcedimiento\n\nAnaliza el mensaje del usuario para entender qué suplemento necesita o qué tipo de producto busca.\n\nConsulta el Google Sheets → INVENTARIO y devuelve únicamente datos reales.\n\nPregunta si desea más información o algún producto adicional.\n\nSi el usuario pide una foto del producto, identifica el producto por nombre:\n\nSi existe en el inventario: envía el ID del producto al subflujo Enviar fotos\n\nEl subflujo te informará el estado del envío de la imagen\n\nSi el mensaje del usuario es ambiguo, solicita una aclaración.\n\nRestricciones\n\nNo inventes productos ni imágenes.\n\nSolo usa datos existentes en INVENTARIO.\n\nTu única herramienta es:\n✅ Inventario en Google Sheets\n✅ Subflujo Enviar fotos (solo enviando ID)\n\nSi el subflujo responde error, informa al usuario que no fue posible enviar la imagen porque el producto no existe o no hay imagen disponible.\n\nMantén siempre enfoque comercial.\n\nEjemplos de Respuesta\n\n📌 Consulta de inventario\nUsuario: “¿Qué proteínas tienes?”\n→ Consultar INVENTARIO y responder solo resultados reales."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[224,0],"id":"2694e936-3302-4406-9a68-87a17cdf4277","name":"AI Agent","retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[96,208],"id":"a094edfb-249b-4a3e-a4b3-f0ab8d377243","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"tUfemP5dAXk3itHv","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1HFpezKPZ5gwxx4SbrB4m_e2bQ6H8M99Ak4LxF5OShwI","mode":"list","cachedResultName":"Basde de datos Suplementos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HFpezKPZ5gwxx4SbrB4m_e2bQ6H8M99Ak4LxF5OShwI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HFpezKPZ5gwxx4SbrB4m_e2bQ6H8M99Ak4LxF5OShwI/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[416,224],"id":"ffefcf04-29b0-4842-90b9-1ffadf6d3bdf","name":"INVENTARIO","credentials":{"googleSheetsOAuth2Api":{"id":"7pMlWtOBvhDeNqW3","name":"Google Sheets account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[240,288],"id":"03111ce7-b8b6-4561-bc82-3c434fb3cbc6","name":"Simple Memory"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.bot_message }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[832,0],"id":"1843ccda-c1e3-4d20-832e-48affa1dac24","name":"Send a text message","webhookId":"4f7e9eab-7ae8-40a8-834e-7615e9703c8f","credentials":{"telegramApi":{"id":"8zTb7uOMU6RELO0h","name":"Telegram account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"bot_message\": \"Hola! Encontre los siguientes suplementos en stock...\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[528,288],"id":"e8b38fe4-2101-4621-878d-889c111a11a3","name":"Structured Output Parser","disabled":true},{"parameters":{"jsCode":"const rawText = $input.first().json.output;\n\nconst formattedText = rawText\n  .replace(/\\\\n/g, ' ')   // Reemplaza \\n por espacios\n  .replace(/\\s+/g, ' ')   // Quita espacios duplicados\n  .replace(/\\*\\*/g, '')   // Quita markdown negrita\n  .replace(/\\*/g, '')     // Quita bullets markdown\n  .trim();\n\nreturn [\n  {\n    json: {\n      bot_message: formattedText\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,0],"id":"f89a0412-75f8-4e50-b8cd-05a6bd49e629","name":"Code in JavaScript"},{"parameters":{"description":"Llama este subworkflow para enviar imagenes del producto","workflowId":{"__rl":true,"value":"8s4sAOyvEUoSZenS","mode":"list","cachedResultUrl":"/workflow/8s4sAOyvEUoSZenS","cachedResultName":"Enviar fotos"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id', `ID del producto, por ejemplo : 3\nRestricciones: Tiene que ser un numero `, 'string') }}","chat_id":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[336,304],"id":"c6b5fa72-4e20-4ebc-a22f-e9c7aba8ad71","name":"Enviar fotos"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=Tuve un problema tecnico al responder ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[848,192],"id":"1d28e471-581d-428a-96d8-f0093a8ad616","name":"Send a text message1","webhookId":"4f7e9eab-7ae8-40a8-834e-7615e9703c8f","credentials":{"telegramApi":{"id":"8zTb7uOMU6RELO0h","name":"Telegram account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"INVENTARIO":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Send a text message1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Enviar fotos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"XK1zAEVdzLXkP0zf"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7b373e8e-9305-4e45-9d87-cbc79950d331","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"CIUm3u2Hv0YrLqgi","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}