backups/workflows/Flujo de testing.json
{"createdAt":"2025-11-11T19:48:08.194Z","updatedAt":"2025-11-11T20:19:15.360Z","id":"ndGsgy23CnBeMznd","name":"Flujo de testing","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[192,272],"id":"2b898915-701e-46ef-be10-8bacd0b1a701","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"qPtoS3F65dS7YPJZ","name":"OPENAI PRESLA APIKEY"}}},{"parameters":{"schemaType":"manual","inputSchema":"[\n  {\n  \"output\":{\n    \"category\":\"\",\n    \"priority\":\"\"\n  },\n  \"intermediateSteps\":[\n    \n  ]\n}\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[496,272],"id":"5e50830c-4747-4d71-817d-8a6eb9003d08","name":"Structured Output Parser"},{"parameters":{"operation":"checkIfEvaluating"},"type":"n8n-nodes-base.evaluation","typeVersion":4.6,"position":[640,48],"id":"ea334a8c-285d-4fd4-bd1a-9cbd01a5d79e","name":"check_type"},{"parameters":{"documentId":{"__rl":true,"value":"1OfI8EjfSt9Y03UfgK3Jm0Huo5dhc0wBqIDwJ8RaoHzI","mode":"list","cachedResultName":"Casos de prueba n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OfI8EjfSt9Y03UfgK3Jm0Huo5dhc0wBqIDwJ8RaoHzI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OfI8EjfSt9Y03UfgK3Jm0Huo5dhc0wBqIDwJ8RaoHzI/edit#gid=0"},"outputs":{"values":[{"outputName":"categoria_actual","outputValue":"={{ $json.output.Categoria }}"},{"outputName":"prioridad_actual","outputValue":"={{ $json.output.Prioridad }}"}]}},"type":"n8n-nodes-base.evaluation","typeVersion":4.6,"position":[976,48],"id":"fc3f258b-e63d-411e-a4db-fdf8485231b9","name":"set_outputs","credentials":{"googleSheetsOAuth2Api":{"id":"7pMlWtOBvhDeNqW3","name":"Google Sheets account"}}},{"parameters":{"operation":"setMetrics","metrics":{"assignments":[{"name":"categoria_match","value":"={{ $('AI Support Ticket Agent').item.json.output.Categoria == $('start_tests').item.json.categoria_esperada}}","type":"number","id":"2c6aad8b-f8a6-4136-a20f-5fc12d499f82"},{"id":"0fe2042e-0487-435c-bc87-2c6bf0ecf4c1","name":"prioridad_match","value":"={{ $('AI Support Ticket Agent').item.json.output.Prioridad ==$('start_tests').item.json.prioridad_esperada }}","type":"number"}]}},"type":"n8n-nodes-base.evaluation","typeVersion":4.6,"position":[1248,48],"id":"d57b6158-9b76-4be0-9f9a-5d14149cef23","name":"compare_outputs"},{"parameters":{"promptType":"define","text":"=Body:  {{ $json.mensaje }}","hasOutputParser":true,"options":{"systemMessage":"=Eres un asistente que define el nivel de prioridad de un requerimiento, de entradas recibirás el texto del correo de soporte, retorna la categoría y prioridad de acuerdo a la siguiente clasificación: \n\nCategoria: \"Bug , Incidente, Requerimiento\" \nPrioridad: \"Alta, Media , Baja\"","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[272,48],"id":"2e13892d-6790-4e1e-b8e6-2b4749dba49f","name":"AI Support Ticket Agent"},{"parameters":{"public":true,"initialMessages":"Agente de Soporte de Incidentes","options":{"subtitle":"","title":"","responseMode":"responseNode"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-112,0],"id":"8a5ba831-b258-4bc7-a438-67a3c491b802","name":"trigger_chat","webhookId":"0c0a9777-e3ff-4472-b45a-cd8ce9279db6"},{"parameters":{"documentId":{"__rl":true,"value":"1OfI8EjfSt9Y03UfgK3Jm0Huo5dhc0wBqIDwJ8RaoHzI","mode":"list","cachedResultName":"Casos de prueba n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OfI8EjfSt9Y03UfgK3Jm0Huo5dhc0wBqIDwJ8RaoHzI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OfI8EjfSt9Y03UfgK3Jm0Huo5dhc0wBqIDwJ8RaoHzI/edit#gid=0"}},"type":"n8n-nodes-base.evaluationTrigger","typeVersion":4.6,"position":[-112,208],"id":"018ed323-8e78-4943-b430-db13501e4c19","name":"start_tests","credentials":{"googleSheetsOAuth2Api":{"id":"7pMlWtOBvhDeNqW3","name":"Google Sheets account"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[832,208],"id":"2baf00fd-e6ad-4cd6-967e-fc65639c72b6","name":"Respond to Webhook"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Support Ticket Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Support Ticket Agent","type":"ai_outputParser","index":0}]]},"check_type":{"main":[[{"node":"set_outputs","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"set_outputs":{"main":[[{"node":"compare_outputs","type":"main","index":0}]]},"AI Support Ticket Agent":{"main":[[{"node":"check_type","type":"main","index":0}]]},"trigger_chat":{"main":[[{"node":"AI Support Ticket Agent","type":"main","index":0}]]},"start_tests":{"main":[[{"node":"AI Support Ticket Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"79953472-12cd-46e7-ab91-8d7cbab25e3c","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"ndGsgy23CnBeMznd","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}