backups/workflows/Flujo de revisar en base de datos.json
{"createdAt":"2025-11-09T06:03:29.554Z","updatedAt":"2025-11-09T06:03:29.554Z","id":"AIq39p5sV4gEQc5j","name":"Flujo de revisar en base de datos","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Carga de docs","formFields":{"values":[{"fieldLabel":"Documento","fieldType":"file","acceptFileTypes":".pdf","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[64,512],"id":"7eeaa72e-c579-4849-8991-ed9ec523bb9c","name":"On form submission","webhookId":"19d0a43e-eb04-4a0b-8f80-2c9b868b47d3"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[224,480],"id":"7085c330-cf91-477f-9987-620a8618b00a","name":"Supabase Vector Store"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[208,704],"id":"a129a3ba-3c08-4587-96d1-47ed1ae906e2","name":"Embeddings OpenAI"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[384,720],"id":"263989bd-183b-4c45-8690-852d077434af","name":"Default Data Loader"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[224,0],"id":"9c7e42d2-3aed-4f72-834c-b3b168f11cc4","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[192,176],"id":"d0c3c8bd-d59b-4e01-bf33-4fe81050f683","name":"OpenAI Chat Model"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Obtener informacion desde la base de datos vectorial","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[464,240],"id":"345d5a97-cb15-4375-aabd-517583858954","name":"Supabase Vector Store1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[336,224],"id":"ea960bf9-2ae1-41c2-a94e-df3e96fad3f5","name":"Postgres Chat Memory"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,0],"id":"1c910c6f-f642-4d6e-82e4-8080aa78c2fb","name":"Telegram Trigger","webhookId":"7d0db8a4-83e6-4b36-9f02-9c952f76a257"}],"connections":{"On form submission":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0},{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8570d6b8-df6e-4b15-972e-d8798a648c25","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"AIq39p5sV4gEQc5j","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}