backups/workflows/Flujo de evualuacion de candidatos.json
{"createdAt":"2025-11-09T06:03:44.975Z","updatedAt":"2025-11-09T06:03:44.975Z","id":"dqtYNiUhHIp6FkMI","name":"Flujo de evualuacion de candidatos","active":false,"isArchived":false,"nodes":[{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[640,400],"id":"54ffdd1e-af7b-412c-9269-35ff4952d331","name":"Google Gemini Chat Model"},{"parameters":{"jsonSchemaExample":"{\n\t\"calificacion\": \"9\",\n  \t\"opinion\": \"Mariana Torres destaca como una candidata sobresaliente para la posición de Gerente Comercial Senior. Aporta más de 15 años de experiencia en liderazgo comercial, incluyendo la dirección de equipos multidisciplinarios en entornos altamente competitivos. Su historial incluye la apertura y consolidación de mercados en Centroamérica y el Caribe, así como la gestión exitosa de cuentas clave en sectores retail y B2B. Mariana posee una sólida formación en Administración y Comercio Internacional, y evidencia una clara orientación estratégica, con enfoque en rentabilidad, desarrollo de negocio y fidelización de clientes.\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1072,288],"id":"685b822d-69e9-4112-b647-d6ebfad27cae","name":"Structured Output Parser"},{"parameters":{"formTitle":"Envie su CV","formDescription":"Adjunte su cv para su evaluacion","formFields":{"values":[{"fieldLabel":"CV","fieldType":"file","acceptFileTypes":".pdf","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-448,80],"id":"8ab35173-2de6-43b4-bb8f-96da336411e4","name":"Enviar pdf","webhookId":"08995a7c-7972-43f3-8b25-bb7952789e9c"},{"parameters":{"operation":"pdf","binaryPropertyName":"CV","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-224,80],"id":"5f968fe8-86a4-4a98-b36f-9ee09a5963d2","name":"Extraer informacion de CV"},{"parameters":{"text":"={{ $json.text }}","attributes":{"attributes":[{"name":"Nombre","description":"Nombre completo del candidato"},{"name":"Telefono","description":"Telefono del candidato"},{"name":"Direccion","description":"Direccion del candidato"},{"name":"Email","description":"Email del candidato"}]},"options":{"systemPromptTemplate":"Eres un algoritmo experto en extracción.  \nExtrae únicamente la información relevante del texto.  \nSi no conoces el valor de algún atributo solicitado, puedes omitir dicho valor."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[0,0],"id":"a80b03aa-30ab-4b7f-a562-8d21c51f5789","name":"Extraer informacion personal"},{"parameters":{"text":"={{ $json.text }}","attributes":{"attributes":[{"name":"Resumen academico","description":"Resumen de su trayectoria acedemica. Resumen de maximo 100 palabras o incluye tu calificacion final si aplica","required":true},{"name":"Habilidades","description":"Resumen de las habilidades academicas del candidato. Resumen de maximo 100 palabras","required":true},{"name":"Historial laboral","description":"Resumen de tu experiencia laboral. Enfocate en  tus trabajos mas recientes. Haz un resumen de maximo 100 palabras","required":true}]},"options":{"systemPromptTemplate":"Eres un algoritmo experto en extracción.  \nExtrae únicamente la información relevante del texto.  \nSi no conoces el valor de algún atributo solicitado, puedes omitir dicho valor."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[0,192],"id":"4c22131e-ea42-4ff0-8fb1-5bdd6d9818ab","name":"Extraer habilidades"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[352,80],"id":"9eda7045-559c-471a-ad72-44f7bf80374f","name":"Combinar nodos paralelos"},{"parameters":{"options":{"summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"=Escribe un resumen conciso en español de lo siguiente:\n\nDirección: {{ $json.output.Direccion }}\nFormación académica:  {{ $json.output['Resumen academico'] }}\nExperiencia laboral:  {{ $json.output['Historial laboral'] }} \nHabilidades: {{ $json.output.Habilidades }}\n\nUsa 100 palabras o menos. Sé conciso y conversacional.","prompt":"=Escribe un resumen conciso en español de lo siguiente:\n\nDirección: {{ $json.output.Direccion }}\nFormación académica:  {{ $json.output['Resumen academico'] }}\nExperiencia laboral:  {{ $json.output['Historial laboral'] }} \nHabilidades: {{ $json.output.Habilidades }}\n\nUsa 100 palabras o menos. Sé conciso y conversacional."}}}},"type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2.1,"position":[576,80],"id":"2e4dde57-acef-4bc7-a330-9e4380edc137","name":"Resumen del candidato"},{"parameters":{"promptType":"define","text":"={{ $json.output.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Eres un experto en recursos humanos y necesitas evaluar si el candidato se alinea con el perfil que la empresa está buscando. Debes asignar una puntuación del 1 al 10, donde 1 significa que el candidato no cumple en absoluto con los requisitos, y 10 indica que es el candidato ideal porque encaja perfectamente con el perfil deseado. Además, en el campo de \"consideración\", explica por qué asignaste esa puntuación.\n\nPerfil buscado: Gerente Comercial Senior\n\nSe requiere profesional con formación en Negocios, Administración o Comercio Internacional y al menos 10 años de experiencia en gestión comercial, desarrollo de mercados y liderazgo de equipos de ventas. Debe contar con excelente comunicación en español e inglés, dominio avanzado de herramientas CRM y fuerte orientación a resultados con historial comprobado de crecimiento de ingresos.\nCompetencias clave:\n\nLiderazgo de equipos comerciales\nDesarrollo y ejecución de estrategias de ventas\nGestión de cuentas estratégicas\nResolución de conflictos\nVisión de negocio y determinación\nNegociación de contratos de alto valor\n\nRequisitos adicionales:\n\nExperiencia en expansión a mercados internacionales\nConocimiento de metodologías de venta consultiva\nDisponibilidad para viajes nacionales e internacionales\nResidencia en Ciudad de México o área metropolitana"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[928,80],"id":"8af645e3-fe8e-41ff-aa43-0f020872da14","name":"HR Expert (Calificacion)"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1SyqFbWRa2OFcd_HLkHNFaqGoMKQJ-LrFfnopiBMyEkc","mode":"list","cachedResultName":"Base de candidatos_práctica final uso de nodos ia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SyqFbWRa2OFcd_HLkHNFaqGoMKQJ-LrFfnopiBMyEkc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SyqFbWRa2OFcd_HLkHNFaqGoMKQJ-LrFfnopiBMyEkc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $('Extraer informacion personal').item.json.output.Nombre }}","Dirección":"={{ $('Extraer informacion personal').item.json.output.Direccion }}","Email":"={{ $('Extraer informacion personal').item.json.output.Email }}","Teléfono":"={{ $('Extraer informacion personal').item.json.output.Telefono }}","Resumen académico":"={{ $('Extraer habilidades').item.json.output['Resumen academico'] }}","Trayectoria laboral":"={{ $('Extraer habilidades').item.json.output['Historial laboral'] }}","Habilidades":"={{ $('Extraer habilidades').item.json.output.Habilidades }}","Opinión":"={{ $json.output.opinion }}","Calificación":"={{ $json.output.calificacion }}","Resumen":"={{ $('Resumen del candidato').item.json.output.text }}","Fecha de registro":"={{ $now.format(\"dd 'de' MMMM yyyy, hh:mm a\",{ locale: 'es' }) }}"},"matchingColumns":[],"schema":[{"id":"Fecha de registro","displayName":"Fecha de registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Teléfono","displayName":"Teléfono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Dirección","displayName":"Dirección","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Resumen académico","displayName":"Resumen académico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Trayectoria laboral","displayName":"Trayectoria laboral","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Habilidades","displayName":"Habilidades","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Resumen","displayName":"Resumen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Calificación","displayName":"Calificación","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Opinión","displayName":"Opinión","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1328,80],"id":"768acb81-a18f-4fac-ae0c-cef853656ca7","name":"Guardar informacion de candidato"}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Extraer informacion personal","type":"ai_languageModel","index":0},{"node":"Extraer habilidades","type":"ai_languageModel","index":0},{"node":"Resumen del candidato","type":"ai_languageModel","index":0},{"node":"HR Expert (Calificacion)","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"HR Expert (Calificacion)","type":"ai_outputParser","index":0}]]},"Enviar pdf":{"main":[[{"node":"Extraer informacion de CV","type":"main","index":0}]]},"Extraer informacion de CV":{"main":[[{"node":"Extraer informacion personal","type":"main","index":0},{"node":"Extraer habilidades","type":"main","index":0}]]},"Extraer informacion personal":{"main":[[{"node":"Combinar nodos paralelos","type":"main","index":0}]]},"Extraer habilidades":{"main":[[{"node":"Combinar nodos paralelos","type":"main","index":1}]]},"Combinar nodos paralelos":{"main":[[{"node":"Resumen del candidato","type":"main","index":0}]]},"Resumen del candidato":{"main":[[{"node":"HR Expert (Calificacion)","type":"main","index":0}]]},"HR Expert (Calificacion)":{"main":[[{"node":"Guardar informacion de candidato","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a6cb3b1d-fae1-40af-acc0-e41db1fb80ce","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"dqtYNiUhHIp6FkMI","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}