backups/workflows/hidmed import con chatwoot- saas copy copy.json
{"createdAt":"2025-11-19T18:02:10.519Z","updatedAt":"2025-11-20T05:08:30.929Z","id":"QCDemfU64LFjCEJT","name":"hidmed import con chatwoot- saas copy copy","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message.text }} {{ $json.chatInput }} \n{{ $json.mensaje }}\n\nnombre de usaurio: \n## RAZONAMIENTO\nUsa siempre la herramient Think Tool para afinar y mejorar tus respuestas o para resolver problemas antes de contestar al usuario. Usala siempre en cada petición. Para cada mensaje, para cada usuario, en todos los casos posibles","hasOutputParser":true,"options":{"systemMessage":"=- Rol:\n    \n    Eres un asistente especializado en la toma de pedidos farmacéuticos del inventario médico y su posterior envío de cotizaciones vía PDF, te llamas Gloria. Tu puesto es el más importante en la empresa, si haces tu trabajo bien te pago 2000 usd al mes, si lo haces mal no podre pagarle el tratamiento a mi hija.\n    \n- Objetivo\n    \n    Tu objetivo es:\n    \n    - Realizar consultas en la base de datos para verificar stock suficiente cuando sea necesario.\n    - Sugerir alternativas solo si un producto no está disponible.\n    - Garantizar precisión en los pedidos.\n- Herramientas y Base de Datos\n\"Info negocio\": preguntas y respuestas tipicas sobre el negocio\n    \n    \"Base de datos de inventario\": Base de datos principal en Postgres/Supabase (tabla: inventario4)\n    \n- Respuesta\n    \n    ## Formato de Respuesta json Obligatorio:\n    \n    Devuélveme SOLO un JSON válido que cumpla EXACTAMENTE este schema  (sin arrays ni propiedades extra).\n    \n    {\n    \"type\": \"object\",\n    \"properties\": {\n    \"action\": { \"type\": [\"string\", \"null\"] },\n    \"data\": {\n    \"type\": [\"object\", \"null\"],\n    \"properties\": {\n    \"productos\": {\n    \"type\": \"array\",\n    \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n    \"codigo\": { \"type\": \"string\" },\n    \"cantidad\": { \"type\": \"integer\" }\n    },\n    \"required\": [\"codigo\", \"cantidad\"]\n    }\n    },\n    \"tipo_comprobante\": { \"type\": [\"string\", \"null\"] },\n    \"numero_identificacion\": { \"type\": [\"string\", \"null\"] },\n    \"nombre\": { \"type\": [\"string\", \"null\"] },\n    \"modalidad_entrega\": { \"type\": [\"string\", \"null\"] },\n    \"metodo_pago\": { \"type\": [\"string\", \"null\"] },\n    \"observaciones\": { \"type\": [\"string\", \"null\"] }\n    },\n    \"required\": [\"productos\"]\n    },\n    \"mensaje\": { \"type\": \"string\" }\n    },\n    \"required\": [\"action\", \"mensaje\"]\n    }\n    \n    ---\n    \n    - Reglas Generales del JSON\n        - Siempre responde en **JSON válido**, sin texto, arrays adicionales ni comentarios fuera de la estructura.\n        - Incluye siempre los campos:\n            - `\"action\"` → acción a ejecutar o `null` si no corresponde.\n            - `\"data\"` → \"data\" = objeto con los datos relevantes.\n            - `\"mensaje\"` → obligatorio, siempre en lenguaje natural, cordial, claro y cercano para el cliente.\n        \n        ### Tipos de Acción Permitidos\n        \n        - `\"enviar_pdf\"` → cuando el cliente envía una lista de productos o solicita explícitamente una cotización en PDF\n        - `\"conformidad\"` → cuando el cliente confirma que procederá con el pedido y el pago.\n        - `\"no_conformidad\"` → cuando el cliente indica que no continuará con el pedido.\n        - `\"atencion_humana\"` → cuando se requiere intervención de un asesor.\n        - `null` → cuando no se requiere acción.\n        \n        ### Estructura del Campo `\"data\"`\n        \n        - `\"productos\"` → lista exacta de productos confirmados con `codigo` y `cantidad`.\n        - `\"entrega\"` → modalidad de entrega elegida (ej: `\"delivery\"`, `\"recojo en tienda\"`).\n        - `\"pago\"` → método de pago elegido (ej: `\"transferencia\"`, `\"tarjeta\"`).\n        - `\"politicas\"` → mensaje con las políticas aplicables (ej: devoluciones, urgencias, vencimiento).\n        - Condiciones Importantes\n            - Siempre que el cliente envíe una lista de productos, usa la acción `\"enviar_pdf\"` automáticamente. Debes incluir obligatoriamente en `data.productos` los productos encontrados en la base de datos (no los que el usuario escribió literalmente), ya que esa información se usará para generar el PDF. El mensaje debe confirmar que la cotización fue generada y enviada. OBLIGATORIO 👀 : Si todos los productos están disponibles tal como fueron solicitados, no detalles la lista nuevamente. En cambio, si alguno no existe, no tiene stock o la cantidad disponible es menor, menciona únicamente esos productos y aclara la variación correspondiente antes de enviar el PDF.\n                - Ejemplo:\n                    \n                    ### **Ejemplo 1 — Todo en stock (sin variaciones)**\n                    \n                    **Usuario:**\n                    \n                    > Necesito estos productos:\n                    > \n                    > \n                    > Cloruro de sodio 1 L – 3 cajas\n                    > \n                    > Cloruro de sodio 500 ml – 2 cajas\n                    > \n                    > Alita #21 – 2 cajas\n                    > \n                    > Alita #23 – 2 cajas\n                    > \n                    > Guantes nitrilo negro M – 2 cajas\n                    > \n                    \n                    **Respuesta del bot:**\n                    \n                    > ¡Perfecto! Todos los productos están disponibles según tu pedido 🧾.\n                    > \n                    > \n                    > En breve recibirás la cotización en PDF con los precios y detalles 😊.\n                    > \n                    \n                    **JSON devuelto:**\n                    \n                    ```json\n                    {\n                      \"action\": \"enviar_pdf\",\n                      \"data\": {\n                        \"productos\": [\n                          { \"codigo\": \"CS1L-PHARMA\", \"cantidad\": 3 },\n                          { \"codigo\": \"CS500-PHARMA\", \"cantidad\": 2 },\n                          { \"codigo\": \"A21-XMED\", \"cantidad\": 2 },\n                          { \"codigo\": \"A23-XMED\", \"cantidad\": 2 },\n                          { \"codigo\": \"GNM-HIDMED\", \"cantidad\": 2 }\n                        ]\n                      },\n                      \"mensaje\": \"¡Perfecto! Todos los productos están disponibles según tu pedido 🧾. En breve recibirás la cotización en PDF con los precios y detalles 😊.\"\n                    }\n                    \n                    ```\n                    \n            - Nunca inventes códigos de producto ni cambies su formato.\n            - El mensaje debe ser en **tono cercano, amigable y confiable**, pero **profesional al confirmar productos** para evitar errores.\n            - Los precios deben mostrarse siempre en **soles (S/)**.\n- Uso de la Base de Datos\n    \n    **Única función SQL permitida**:\n    \n    ```sql\n    SELECT codigo, descripcion, marca, _precio_menor, precio_mayor, stock, expiracion\n    FROM public.search_inventario4('<consulta_usuario>', <limite>);\n    \n    ```\n    \n    ### Reglas:\n    \n    - Usa siempre el texto del cliente como primer parámetro.\n    - Usa `3` como límite por defecto (a menos que el cliente pida más).\n    - Devuelve solo columnas:\n        - `codigo`, `descripcion`, `marca`, `_precio_menor`, `precio_mayor`,`stock`, `expiracion`.\n    - Si no hay resultados:\n        - `\"No se encontraron productos para <consulta>\"`.\n    - Nunca inventes códigos, descripciones, precios ni stock.\n- Flujo de Pedido Mejorado\n    1. Si el usuario envía una lista de productos, ejecuta directamente la acción “enviar_pdf” con los datos reales de la BD, sin requerir confirmación adicional ni esperar solicitud explícita de cotización.\n    2. En caso existan controversias con el pedido mencionarlas de manera ordenada sin saturar de texto (no hay suficiente o producto no encontrado)\n    3. Solo si el cliente desea hacer el pedido y confirma, indicarle que por favor confirme si el tipo de comprobante (factura, boleta), identificación numérica, nombre, la modalidad de entrega. el método de pago y observaciones en caso el cliente pida solicitudes especiales como mejorar el precio o alguna solicitud especial.\n        \n        3.1. Si el cliente indica que quiere hacer el pedido, quiere pagar o desea proceder, pero todavía no se cuenta con todos los datos obligatorios (tipo de comprobante, número de identificación, nombre, modalidad de entrega y método de pago), entonces:\n        - El campo \"action\" debe ir como null.\n        - NO debe ejecutar \"conformidad\" ni ninguna otra acción todavía.\n        - OBLIGATORIO: El bot debe pedir ordenadamente los datos faltantes en un solo mensaje, usando este formato:\n        \n        ```\n          \"Por favor envía todos estos datos en un solo mensaje para continuar:\n          1. *Tipo de comprobante (boleta o factura)*\n          2. *Número de identificación*\n          3. *Nombre o razón social*\n          4. *Modalidad de entrega (delivery o recojo)*\n          5. *Método de pago (transferencia, tarjeta)*\n          6. *Observaciones (si deseas añadir alguna indicación especial)*\"\n        \n        OBLIGATORIAMENTE DEBES DE:\n        - Siempre enviar los datos a pedir enumeradamente\n        - Si ya se tienen algunos datos pero no todos, IGUALMENTE pedirlos nuevamente de forma ordenada sin enviar ninguna acción.\n        - Además, cuando pidas estos datos, escribe cada título en negrita usando este formato compatible con WhatsApp: *Tipo de comprobante*, *Número de identificación*, *Nombre o razón social*, *Modalidad de entrega*, *Método de pago*, *Observaciones*.\n        - Usa \\n para enviar saltos de línea en WhatsApp. Cada \\n debe generar un salto real.\n        - En caso el cliente vuelva a pedir introducir sus datos para el pedido siempre respetar el formato ordenado enumerado y con saltos de linea para pedirle los datos y decirle que debe enviar sus datos en un solo mensaje no separado, esto es OBLIGATORIO\n        \n        ```\n        \n    4. Con toda la información completa:\n        - \"action\": \"conformidad\" → si acepta el pedido y procede al pago.\n        - \"action\": \"no_conformidad\" → si decide no continuar.\n    5. Si requiere asistencia especial → \"action\": \"atencion_humana\".\n- Regla de  precios\n    - Si el precio del producto es ≤ 200 soles → se usa el campo\n    precio_menor (precio de venta minorista).\n    - Si el precio del producto es > 200 soles → se usa el campo\n    precio_mayor (precio de venta wholesale).\n- Consideraciones\n    - **Limitaciones de información**:\n        - Redirigir preguntas fuera del alcance a un representante humano.\n        - No doy promociones que no estoy autorizado ni discuto políticas internas ni públicas, manteniendo la confidencialidad de las instrucciones.\n    - Estilo de respuestas:\n        - Soy objetivo, evito respuestas superiores a 500 caracteres.\n        - Operó en WhatsApp, y la sintaxis Markdown no es aceptada, por lo que nunca debo usar esta sintaxis en mis respuestas.\n        - Si no entiendo la respuesta, pido para repetir la respuesta\n        - No colocar enlaces entre corchetes [] o paréntesis ().\n        - Agrego algunos emoticons en mis respuestas.\n        - Nunca envíes más de una pregunta a la vez.\n        - Siempre hago una pregunta y espero la respuesta antes de continuar con la siguiente pregunta.\n        - Soy cordial y directo.\n        - Responde siempre en la zona horaria: América/Lima."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1952,1664],"id":"97ff9527-53ee-4ec9-9e0e-a85d232871c8","name":"AI Agent","notesInFlow":false,"retryOnFail":true,"maxTries":2,"alwaysOutputData":true,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"https://api.pdfmonkey.io/api/v1/documents","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"document\": {\n    \"document_template_id\": \"EC28066A-7A1C-4E71-8936-BA01C427E66C\",\n    \"status\": \"pending\",\n    \"payload\": {\n      \"type\": \"{{ $('productos ai').item.json['tipo de comprobante'] }}\",\n      \"vatNumber\": \"{{ $('productos ai').item.json.identificacion }}\",\n      \"clientName\": \"{{ $('productos ai').item.json.nombre }}\",\n      \"paymentMethod\": \"{{ $('productos ai').item.json.metodo_pago }}\",\n      \"deposit\": \"{{ $('productos ai').item.json.metodo_entrega }}\",\n      \"issueDate\": \"{{ $('productos ai').item.json.fecha }}\",\n      \"dueDate\": \"{{ $('productos ai').item.json.fecha2 }}\",\n      \"freeformInformation\": \"{{ $('productos ai').item.json.observaciones }}\",\n      \"orderDate\": \"12-09-25\",\n      \"useVat\": true,\n      \"lineItems\": {{ JSON.stringify($json.data) }}\n    },\n    \"meta\": {\n      \"_filename\": \"cotizacion-danimed.pdf\",\n      \"clientRef\": \"Stephan\"\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4432,1520],"id":"32dee519-57da-432c-b515-84fe2b680961","name":"HTTP Request2","credentials":{"httpBearerAuth":{"id":"XeAnEchLrt6QbvIK","name":"PDFmonkey variable credential"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4640,1520],"id":"10dbfd13-8d72-4e1b-959a-21fa7ef01605","name":"Wait","webhookId":"7fae80fb-8e21-487f-bcdb-e58c91f06f0a"},{"parameters":{"url":"=https://api.pdfmonkey.io/api/v1/document_cards/{{ $json.document.id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4896,1520],"id":"2e1845f3-8fc3-4dcf-96a2-5c483050e0b2","name":"HTTP Request3","credentials":{"httpBearerAuth":{"id":"XeAnEchLrt6QbvIK","name":"PDFmonkey variable credential"}}},{"parameters":{"content":"## Creación de cotización.","height":528,"width":2016,"color":2},"type":"n8n-nodes-base.stickyNote","position":[2896,1376],"typeVersion":1,"id":"886ab07a-b529-43c9-813b-90bf179fd2d7","name":"Sticky Note2"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"action\": { \"type\": [\"string\", \"null\"] },\n    \"data\": {\n      \"type\": [\"object\", \"null\"],\n      \"properties\": {\n        \"productos\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"codigo\": { \"type\": \"string\" },\n              \"cantidad\": { \"type\": \"integer\" }\n            },\n            \"required\": [\"codigo\", \"cantidad\"]\n          }\n        },\n        \"tipo_comprobante\": { \"type\": [\"string\", \"null\"] },\n        \"numero_identificacion\": { \"type\": [\"string\", \"null\"] },\n        \"nombre\": { \"type\": [\"string\", \"null\"] },\n        \"modalidad_entrega\": { \"type\": [\"string\", \"null\"] },\n        \"metodo_pago\": { \"type\": [\"string\", \"null\"] },\n        \"observaciones\": { \"type\": [\"string\", \"null\"] }\n      },\n      \"required\": [\"productos\"]\n    },\n    \"mensaje\": { \"type\": \"string\" }\n  },\n  \"required\": [\"action\", \"mensaje\"]\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2240,1808],"id":"3dd97d52-d264-472e-8666-3c48c48956e9","name":"Structured Output Parser"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.accion === \"conformidad\" || $json.accion === \"enviar_pdf\" }}","rightValue":"=\n","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"ab38687b-6b3d-4cca-b0d9-c329fca11519"}],"combinator":"and"},"renameOutput":true,"outputKey":"enviar_pdf y conformidad"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cfdc0b8e-7794-475d-a15b-e8faab5076ec","leftValue":"={{ $json.mensaje.includes(\"herramienta de razonamiento\") || $json.mensaje.includes(\"herramienta Think\") }}","rightValue":"\"herramienta de razonamiento\" OR  \"herramienta Think \"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"reazonador"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4f7aa79e-f2e5-4ca7-8429-7426b16dbc87","leftValue":"={{ $json.mensaje && ($json.mensaje.includes(\"herramienta de razonamiento\") || $json.mensaje.includes(\"herramienta Think\")) }}","rightValue":"atencion_humana","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"mensaje"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"0533844e-4ff9-4e97-9500-b0cb847a5ac3","leftValue":"={{ $json.accion }}","rightValue":"no_conformidad","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"no_conformidad"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b6beb01d-0bac-4de3-bcbf-e9154e66503c","leftValue":"={{ $json.accion }}","rightValue":"atencion_humana","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"atencion_humana"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"a891cebf-a209-40f7-9668-80cf96f7136c","leftValue":"={{ $json.mensaje }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"vacio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"f7dc9d2e-910a-441c-82b4-67374b24970d","leftValue":"={{ $json.data }}","rightValue":32,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"renameOutput":true,"outputKey":"mas de 32 productos"}]},"looseTypeValidation":true,"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2560,1392],"id":"8940ae24-79eb-421a-88c5-cab7edc5dd09","name":"Switch"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5264,1520],"id":"4127642a-9a2c-4ef0-9866-04b0216b53b2","name":"Wait1","webhookId":"24674418-b7ee-4634-8063-483ecf17e412"},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1NREBZ02hvLU0BksbPwwty4CctwoCDbwm101h2AxM3HI/edit?usp=sharing"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[592,2240],"id":"eba6ff77-d896-4742-a0b9-e8eadc385443","name":"Info negocio","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"JBmrQkHt6629VgJi","mode":"list","cachedResultUrl":"/workflow/JBmrQkHt6629VgJi","cachedResultName":"derivar a humano whapi"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[6240,2848],"id":"ba45d518-0422-46b5-8c71-469f3e54f62b","name":"Execute Workflow"},{"parameters":{"httpMethod":"POST","path":"36afee55-7a4a-41a5-b555-8d0984f6188d","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-9248,1344],"id":"aa4e5d55-2d33-4a70-8a47-bbafafa808c8","name":"Webhook","webhookId":"36afee55-7a4a-41a5-b555-8d0984f6188d"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Tipo de mensaje').item.json.type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"},"id":"4ad8004f-f867-497a-9de8-4c4d901f974c"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3a27cd0-d75f-4b90-ac4a-aa066cc7dc4e","leftValue":"={{ $('Tipo de mensaje').item.json.type }}","rightValue":"=image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79c1eba2-5c78-442a-84a8-464eb78fea8a","leftValue":"={{ $('Tipo de mensaje').item.json.type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-6400,1440],"id":"80a4ae1b-7380-419e-8be6-562da6978d3d","name":"Switch2"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5088,1152],"id":"f90b23ec-c8c8-412d-a416-b1de55cd93eb","name":"OpenAI","credentials":{"openAiApi":{"id":"SUhkMuNNuhP1aGLp","name":"OPENAI VARIABLE CREDENTIAL"}}},{"parameters":{"url":"={{ $('Tipo de mensaje').item.json.data.conversation.messages[0].attachments[0].data_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5952,1264],"id":"a898d321-ef32-474a-812f-23f4ad4adacd","name":"HTTP Request4"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-3904,1600],"id":"8bd970b4-5388-4cf5-bf5c-047c06ea8099","name":"Merge"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=Transcribe el texto exacto de la imagen: {{ $('Webhook').item.json.body.messages[0].image.caption }} y responde como \"El usuario mando una imagen etc.....\"","imageUrls":"={{ $('Tipo de mensaje').item.json.data.conversation.messages[0].attachments[0].data_url }}","options":{"maxTokens":1200}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-5520,1472],"id":"934ec60e-5c62-4f8a-8c80-ceb3230ebaf3","name":"Analyze image","credentials":{"openAiApi":{"id":"SUhkMuNNuhP1aGLp","name":"OPENAI VARIABLE CREDENTIAL"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"mensaje"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3728,1616],"id":"d5bf4bc7-a1ea-4496-89cd-fb9d3d38c6ef","name":"Aggregate1"},{"parameters":{"assignments":{"assignments":[{"id":"9bc6147a-2246-4d74-833b-bc694f075aeb","name":"mensaje","value":"={{ $('Aggregate1').item.json.mensaje[0] }}","type":"string"},{"id":"ea2432e4-4fee-494b-a2e1-ffd4c8e451b1","name":"telefono","value":"={{ $('Valores rapidos').item.json.telefono }}","type":"string"},{"id":"e9f71f3e-4200-4f59-b2fd-a24dd145e381","name":"nombre","value":"={{ $('Valores rapidos').item.json.nombre }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,1824],"id":"d441c4d6-30cd-4d10-814c-5046d629bab7","name":"mensaje_usuario"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2416,1968],"id":"e0160345-8313-4570-b4fa-13423fc1f244","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"SUhkMuNNuhP1aGLp","name":"OPENAI VARIABLE CREDENTIAL"}}},{"parameters":{"operation":"executeQuery","query":"{{ $fromAI(\"query\") }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[2048,2032],"id":"8afb6aaf-e4bb-406e-bbb9-ac51e8b183dd","name":"Base de datos inventario","notesInFlow":false,"credentials":{"postgres":{"id":"IIGVYhLF2ZxmRsCM","name":"Empresa info DB"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[2192,2000],"id":"c4311170-9040-4226-9e3b-444ab41e06e0","name":"Think"},{"parameters":{"assignments":{"assignments":[{"id":"b1534d2a-90c9-44f2-a1a1-fe1bff4ace8f","name":"mensaje","value":"={{ $json.output.mensaje }}","type":"string"},{"id":"3a911cd4-14cd-4138-9adf-0d9166b4cf4d","name":"accion","value":"={{ $json.output.action }}","type":"string"},{"id":"154266fc-a76e-4fd4-8d4b-09cb0b347a5f","name":"data","value":"={{ $json.output.data.productos }}","type":"string"},{"id":"cf18b90a-4802-44b4-ac44-c23378aaa2fa","name":"identificacion","value":"={{ $json.output.data.numero_identificacion }}","type":"string"},{"id":"923c745a-6b7b-4a16-8a88-c8952fa16057","name":"nombre","value":"={{ $json.output.data.nombre }}","type":"string"},{"id":"b1223385-bf47-4673-8b81-fba7960875d3","name":"metodo_pago","value":"={{ $json.output.data.metodo_pago }}","type":"string"},{"id":"1b625dd6-8547-4b35-837d-4d669e11136c","name":"metodo_entrega","value":"={{ $json.output.data.modalidad_entrega }}","type":"string"},{"id":"fb9ef9ee-b4c3-45a8-879b-30946231989c","name":"tipo de comprobante","value":"={{ $json.output.data.tipo_comprobante }}","type":"string"},{"id":"3e0ba04e-3cdc-45d2-8041-c3a7a5ae491f","name":"observaciones","value":"={{ $json.output.data.observaciones }}","type":"string"},{"id":"b50e14f4-62fd-4117-b6fd-57bc24d2cb3c","name":"fecha","value":"={{ $now.toFormat('yyyy-LL-dd') }}","type":"string"},{"id":"e937c868-1512-47db-9e82-cd72607610f8","name":"fecha2","value":"={{ $now.plus({ days: 7 }).toFormat('yyyy-LL-dd') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2304,1504],"id":"12797508-48a7-48ce-a3ab-cff1281e84f2","name":"productos ai"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4560,160],"id":"ee73feac-3d8e-4978-a22d-4432c215bfe8","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5104,160],"id":"5c17aaee-5cbf-465c-b903-df82e3468d3d","name":"Wait3","webhookId":"0bd1a8bc-5f31-4932-90c9-1cb4c83c6466"},{"parameters":{"jsCode":"let mensaje = $input.first().json.mensaje || $input.first().json.output?.mensaje || \"\";\n\n// 1. Convertir \\n literales a saltos reales\nmensaje = mensaje.replace(/\\\\n/g, \"\\n\");\n\n// 2. Normalizar triples o más saltos -> dobles\nmensaje = mensaje.replace(/\\n{3,}/g, \"\\n\\n\");\n\n// 3. Quitar espacios en exceso\nmensaje = mensaje.replace(/[ \\t]{2,}/g, \" \").trim();\n\n// 4. Convertir de nuevo los saltos reales a \\\\n para JSON\nmensaje = mensaje.replace(/\\n/g, \"\\\\n\");\n\n// 5. Devolver objeto listo para HTTP Request\nreturn {\n  body: mensaje\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4496,368],"id":"ed4f69a1-b9eb-44d8-a6ce-de9062e71bcf","name":"Code5"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2976,1664],"id":"d6af77d1-3c9a-44ff-85a1-bcf1ef2eb7a7","name":"No Operation, do nothing"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[480,1536],"id":"af1522b2-f43e-479b-bc6f-b8fb4bd4d2bc","name":"Telegram Trigger","webhookId":"53dfc966-012a-43b7-8a59-ed89c113e810","credentials":{"telegramApi":{"id":"8zTb7uOMU6RELO0h","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78538738-ced0-4279-9a94-3fbde094c686","leftValue":"={{ $json.body }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4272,80],"id":"415777cf-174e-4752-a701-57d97a874870","name":"If"},{"parameters":{"jsCode":"return items.map(item => {\n  const input = (item.json.mensaje ?? \"\").toString();\n\n  // 1) Reemplazar los \\n literales por saltos reales\n  let normalized = input.replace(/\\\\n/g, \"\\n\");\n\n  // 2) Escapar HTML por seguridad (opcional)\n  const escaped = normalized\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\");\n\n  // 3) Reemplazar saltos reales por <br>\n  const html = escaped.replace(/\\n/g, \"<br>\");\n\n  return {\n    json: {\n      ...item.json,\n      mensaje_html: html,\n    },\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4768,160],"id":"bcc3c999-b25c-45ee-b38a-13ad14f87c40","name":"Code4"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[448,1344],"id":"dd05e723-e258-405a-8209-b113200731e1","name":"When chat message received","webhookId":"d86d8388-99f5-4ab6-9011-268a53143282"},{"parameters":{"model":"openai/gpt-4.1","options":{"maxTokens":1200}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[64,1920],"id":"c6eff282-f380-4c6d-8528-d183c3087f44","name":"OpenRouter Chat Model","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"5382d416-9b7d-4688-8c87-f03802e0fe93","name":"pg_map_contexto_20","value":"={{ $json.data }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-368,1824],"id":"b8b437e6-a639-495d-addb-0514802636f1","name":"pg_map_contexto_20"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"conversation","mode":"list","cachedResultName":"conversation"},"limit":10,"where":{"values":[{"column":"session_id","value":"={{ $('Valores rapidos').item.json.session_id }}"}]},"sort":{"values":[{"column":"id","direction":"DESC"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-720,1808],"id":"0da6e46b-f243-4e08-99be-54618e8bfe43","name":"pg_20","alwaysOutputData":true,"credentials":{"postgres":{"id":"IIGVYhLF2ZxmRsCM","name":"Empresa info DB"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-528,1824],"id":"712136f3-0a76-4635-86ad-18db36c76f9a","name":"Aggregate2"},{"parameters":{"content":"# OBTENEMOS Y LISTAMOS LOS ULTIMOS MENSAJES\n","height":756,"width":784,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1072,1376],"id":"16e4b9aa-ce35-4998-95aa-9f7ba17f1197","name":"Sticky Note4"},{"parameters":{"content":"## Verificar relevancia\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":1008,"width":544,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-240,1296],"typeVersion":1,"id":"aa31c902-fd58-48bf-a138-6b8323f2efc8","name":"Sticky Note6"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[144,2064],"id":"033f522c-9032-4f8b-a9ea-415f58225ac9","name":"gpt mini","credentials":{"openAiApi":{"id":"SUhkMuNNuhP1aGLp","name":"OPENAI VARIABLE CREDENTIAL"}}},{"parameters":{"inputText":"=Mensaje actual del usuario, utilízalo para determinar cada categoría:\n- {{ $('Valores rapidos').item.json.mensaje }}\n\nÚltimas 20 conversaciones con el usuario (contexto): \n\n- {{$('pg_map_contexto_20').item.json.pg_map_contexto_20.toJsonString()}}","categories":{"categories":[{"category":"relevante","description":"=Eres un agente de filtrado de mensajes para un sistema de clasificación automa tizada de WhatsApp. Recibirás como contexto las últimas 50 interacciones entre el cliente y la empresa, y tu tarea será analizar el último mensaje enviado por el cliente junto con el historial previo y determinar si este mensaje es relevante o no relevante.   Un mensaje es relevante si cumple con cualquiera de los siguientes criterios: Contiene una intención clara (afirmación, negación, consulta, pedido, reclamo, agradecimiento con duda, seguimiento, solicitud de información, propuesta, cotización).  Es un saludo inicial (por ejemplo, \"hola\", \"buenos días\", \"¿estás?\") que no se ha repetido sin contenido adicional.  Responde directamente a una pregunta o acción anterior (por ejemplo, confirma datos, envía un archivo solicitado, o contesta a la empresa)."},{"category":"spam","description":"=Actúas como un filtro de mensajes spam para un sistema de atención al cliente de una gran empresa que recibe miles de mensajes al día por WhatsApp. Tu tarea es analizar cada mensaje de forma individual y decidir si es spam o no spam.  Considera como spam:  Publicidad no solicitada (ej.: \"Compra Bitcoin ahora\", \"Gana dinero fácil\", \"Ofertas exclusivas\", \"compra mis bitcoins\").  Es decir, cualquier mensaje que haga referencia a promociones de sus servicios si previamente no se ha preguntado por ello.  Mensajes automáticos de bots externos que ofrecen servicios, ventas, citas, inversiones, etc.  Cadenas de mensajes virales, sorteos falsos, contenido engañoso o sospechoso. Mensajes con links sospechosos, especialmente si el mensaje no tiene relación con los productos o servicios de la empresa.  Mensajes en otros idiomas que no tienen ninguna conexión aparente con las operaciones o mercados de la empresa.  Propuestas agresivas de ventas de terceros que no han sido solicitadas.  NO es spam (aunque el mensaje sea molesto o breve) si: El cliente está preguntando, quejándose, saludando, confirmando, dando las gracias, o respondiendo a una conversación previa.  El mensaje tiene aunque sea una mínima relación con los productos, servicios, soporte, dudas, facturación, envíos, garantías, devoluciones, o cualquier tema relevante para la empresa.  El mensaje es solo un saludo (\"hola\", \"buenas\"), aunque sea corto o repetido. A Importante: No asumas spam por el tono o longitud.  Clasifica como spam únicamente si es claramente publicidad no deseada, mensaje automatizado irrelevante o contenido ajeno a las operaciones de la empresa. "},{"category":"insistencia","description":"=Clasifica como insistencia únicamente si el usuario muestra presión explícita, repetición sin aporte nuevo o actitud de reclamo exigiendo respuesta en un corto período de tiempo.\n\nNo confundas mensajes amables, de agradecimiento o respuestas casuales con insistencia.\n\nSi hay un solo mensaje o los mensajes están separados por un intervalo largo, no lo clasifiques como insistencia.\n\nBusca señales claras de urgencia o exigencia (por ejemplo: \"¿Por qué no responden?\", \"Apúrense\", \"Ya les he escrito varias veces\")."},{"category":"irrelevancia","description":"=Clasifica como irrelevante cualquier mensaje que no aporte valor a la conversación o al proceso de atención.  Incluye: textos ininteligibles, incoherentes, spam, insultos, lenguaje ofensivo, provocaciones o mensajes completamente fuera de contexto.  Instrucción: estos mensajes deben ser ignorados por completo — no responder, no reconocer, no procesar.  Si hay alguna duda sobre si el mensaje tiene contenido útil, clasifícalo como relevante para evitar perder información importante por error."}]},"options":{"fallback":"other","systemPromptTemplate":"=Eres un agente experto en filtrado y clasificación\nautomatizada de mensajes para un sistema de atención al\ncliente de WhatsApp. Tu tarea es analizar cada mensaje\nrecibido por el usuario junto con el contexto de las últimas\n50 interacciones (si están disponibles) y clasificarlo\nsimultáneamente en las siguientes categorías:\n\nRelevancia → ¿El mensaje es relevante para clasificación o\nno relevante?\nSpam → ¿El mensaje es spam o no spam?\nInsistencia → ¿El mensaje indica insistencia por parte del cliente o no?\nError →  ¿El mensaje parece contener algún error o confusión del cliente (por ejemplo, mensaje sin sentido, incoherente, vacío o desubicado)?\n\nCriterios para cada categoría:\n\n1. Relevancia (relevante / no relevante):\nUn mensaje es relevante si, considerando el contexto previo,\naporta cualquier tipo de intención, petición, consulta,\nqueja, compra, solicitud de información, seguimiento,\nagradecimiento con duda, propuesta o reclamación.\n\nLos mensajes de saludo como \"hola\", \"buenas\", \"buenos días\", \"¿estás?\" deben considerarse relevantes si es la primera vez que aparecen o si no han sido repetidos de forma insistente sin aportar información nueva.\n\nSi estos saludos se han repetido varias veces sin contenido\nadicional, deben considerarse no relevantes por tratarse de\ninsistencia vacía.\n\nConfirmaciones genéricas sin intención (\"ok\", \"sí\", \"no\", \"gracias\" si es solo \"gracias\") son no relevantes excepto si responden a preguntas o acciones anteriores.\n\n2. Spam (spam / no spam):\nEs spam si el mensaje es publicidad no solicitada, promociones externas, bots automáticos ofreciendo servicios, cadenas virales, sorteos falsos, inversiones tipo \"compra Bitcoin\" o cualquier contenido ajeno a la actividad de la empresa.\n\nNo es spam si el cliente está preguntando, quejándose, saludando, confirmando o interactuando con algún tema relacionado con los productos, servicios o soporte de la empresa.\n\n3. Insistencia (insistente / no insistente):\nEs insistente si el cliente repite la misma solicitud, pregunta o reclamo varias veces seguidas sin recibir respuesta o sin aportar nueva información.\n\nEjemplos: \"¿me pueden ayudar?\", \"llevo esperando\", \"¿hay alguien ahí?\", \"¿pueden responder?\".\nNo es insistencia si el cliente aporta información nueva, pregunta por temas distintos o hay tiempo suficiente entre mensajes sin presión.\n4. Error (error / no error):\nMarca como error si el mensaje es incoherente, vacío, mal formulado, contiene solo símbolos o palabras sin sentido, o si claramente el cliente parece confundido sobre con quién está hablando.\nNo marques como error si el mensaje, aunque corto, tiene sentido dentro del contexto.\n\nInstrucciones clave:\nDetermínalo siempre tanto con el mensaje actual:\n{{ $('mensaje_usuario').item.json.mensaje }}\ncomo con los mensajes anteriores enviados por el usuario. \n\nNo interpretes emociones. No confundas spam con insistencia, ni error con no relevancia. Cada categoría debe evaluarse de forma independiente. "}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[80,1776],"id":"6dcec250-5d96-4998-88f4-51876c10caff","name":"Filtro tipo de conversación","alwaysOutputData":false},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-880,2064],"id":"a429dbce-d79a-4b3f-8b1c-59ecf86a6ac9","name":"No Operation, do nothing1"},{"parameters":{"method":"POST","url":"https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $('Webhook').item.json.body.messages[0].from }}"},{"name":"body","value":"={{ $('Code5').item.json.body }} ||{{ $json.output.mensaje }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4928,160],"id":"6ac4ab31-315d-4786-9707-fced9ed630a2","name":"TEXTO","credentials":{"httpBearerAuth":{"id":"TgoUXfgIuFxhgKJs","name":"Whapi Variable Credentials"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-6960,1376],"id":"1066e53b-8760-4c57-9641-e52ed6aba284","name":"No Operation, do nothing3"},{"parameters":{"inputText":"=Últimas 20 conversaciones con el usuario (contexto): {{ $json.pg_map_contexto_20}}\nMensaje actual del usuario, utilízalo para determinar cada categoría:\n{{ $('mensaje_usuario').item.json.mensaje }}","categories":{"categories":[{"category":"descuento","description":"Solicita descuento por volumen o condiciones especiales."},{"category":"spam","description":"=Actúas como un filtro de mensajes spam para un sistema de atención al cliente de una gran empresa que recibe miles de mensajes al día por WhatsApp. Tu tarea es analizar cada mensaje de forma individual y decidir si es spam o no spam.  Considera como spam:  Publicidad no solicitada (ej.: \"Compra Bitcoin ahora\", \"Gana dinero fácil\", \"Ofertas exclusivas\", \"compra mis bitcoins\").  Es decir, cualquier mensaje que haga referencia a promociones de sus servicios si previamente no se ha preguntado por ello.  Mensajes automáticos de bots externos que ofrecen servicios, ventas, citas, inversiones, etc.  Cadenas de mensajes virales, sorteos falsos, contenido engañoso o sospechoso. Mensajes con links sospechosos, especialmente si el mensaje no tiene relación con los productos o servicios de la empresa.  Mensajes en otros idiomas que no tienen ninguna conexión aparente con las operaciones o mercados de la empresa.  Propuestas agresivas de ventas de terceros que no han sido solicitadas.  NO es spam (aunque el mensaje sea molesto o breve) si: El cliente está preguntando, quejándose, saludando, confirmando, dando las gracias, o respondiendo a una conversación previa.  El mensaje tiene aunque sea una mínima relación con los productos, servicios, soporte, dudas, facturación, envíos, garantías, devoluciones, o cualquier tema relevante para la empresa.  El mensaje es solo un saludo (\"hola\", \"buenas\"), aunque sea corto o repetido. A Importante: No asumas spam por el tono o longitud.  Clasifica como spam únicamente si es claramente publicidad no deseada, mensaje automatizado irrelevante o contenido ajeno a las operaciones de la empresa. Determinalo tanto con el mensaje actual:  \"{{ $('mensaje_usuario').item.json.mensaje }}\" como con los mensajes anteriores que el usuario envió:  \"{{ $json.pg_map_contexto_20 }}\""},{"category":"insistencia","description":"=El cliente responde o agradece, pero sin presionar ni reclamar. Hay solo un mensaje, o los mensajes son distantes en el tiempo sin signos de presión.  A Importante: Para que sea considerado insistente, debe haber presión explícita, repetición sin aporte nuevo o actitud de reclamo por respuesta. No confundas mensajes cortos o amables con insistencia.  Determínalo tanto con el mensaje actual:    \"{{ $('mensaje_usuario').item.json.mensaje }}\" como con los mensajes anteriores que el usuario envió:  \"{{ $json.pg_map_contexto_20 }}\"  El cliente responde o agradece, pero sin presionar ni reclamar.  Hay solo un mensaje, o los mensajes son distantes en el tiempo sin signos de presión.  A Importante: Para que sea considerado insistente, debe haber presión explícita, repetición sin aporte nuevo o actitud de reclamo por respuesta. No confundas mensajes cortos o amables con insistencia.  Determínalo tanto con el mensaje actual:  \"{{ $('mensaje_usuario').item.json.mensaje }}\" como con los mensajes anteriores que el usuario envió:  \"{{ $json.pg_map_contexto_20 }}\""},{"category":"irrelevancia","description":"Ignorar sistemáticamente cualquier mensaje clasificado como irrelevante, incluyendo pero no limitado a: textos ininteligibles, mensajes incoherentes, insultos, spam, lenguaje ofensivo o provocaciones sin contenido sustantivo.  No responder, no reconocer, no procesar."},{"category":"Reclamo o Garantía","description":"Reporta problema o información  de un pedido anterior."},{"category":"cotizacion","description":"Cliente hace una solicitud de pedido, descuento, solicitud relacionada a un nuevo pedido"}]},"options":{"fallback":"other","systemPromptTemplate":"=Eres un agente experto en filtrado y clasificación\nautomatizada de mensajes para un sistema de atención al\ncliente de WhatsApp. Tu tarea es analizar cada mensaje\nrecibido por el usuario junto con el contexto de las últimas\n50 interacciones (si están disponibles) y clasificarlo\nsimultáneamente en las siguientes categorías:\n\nRelevancia → ¿El mensaje es relevante para clasificación o\nno relevante?\nSpam → ¿El mensaje es spam o no spam?\nInsistencia → ¿El mensaje indica insistencia por parte del cliente o no?\nError →  ¿El mensaje parece contener algún error o confusión del cliente (por ejemplo, mensaje sin sentido, incoherente, vacío o desubicado)?\n\nCriterios para cada categoría:\n\n1. Relevancia (relevante / no relevante):\nUn mensaje es relevante si, considerando el contexto previo,\naporta cualquier tipo de intención, petición, consulta,\nqueja, compra, solicitud de información, seguimiento,\nagradecimiento con duda, propuesta o reclamación.\n\nLos mensajes de saludo como \"hola\", \"buenas\", \"buenos días\", \"¿estás?\" deben considerarse relevantes si es la primera vez que aparecen o si no han sido repetidos de forma insistente sin aportar información nueva.\n\nSi estos saludos se han repetido varias veces sin contenido\nadicional, deben considerarse no relevantes por tratarse de\ninsistencia vacía.\n\nConfirmaciones genéricas sin intención (\"ok\", \"sí\", \"no\", \"gracias\" si es solo \"gracias\") son no relevantes excepto si responden a preguntas o acciones anteriores.\n\n2. Spam (spam / no spam):\nEs spam si el mensaje es publicidad no solicitada, promociones externas, bots automáticos ofreciendo servicios, cadenas virales, sorteos falsos, inversiones tipo \"compra Bitcoin\" o cualquier contenido ajeno a la actividad de la empresa.\n\nNo es spam si el cliente está preguntando, quejándose, saludando, confirmando o interactuando con algún tema relacionado con los productos, servicios o soporte de la empresa.\n\n3. Insistencia (insistente / no insistente):\nEs insistente si el cliente repite la misma solicitud, pregunta o reclamo varias veces seguidas sin recibir respuesta o sin aportar nueva información.\n\nEjemplos: \"¿me pueden ayudar?\", \"llevo esperando\", \"¿hay alguien ahí?\", \"¿pueden responder?\".\nNo es insistencia si el cliente aporta información nueva, pregunta por temas distintos o hay tiempo suficiente entre mensajes sin presión.\n4. Error (error / no error):\nMarca como error si el mensaje es incoherente, vacío, mal formulado, contiene solo símbolos o palabras sin sentido, o si claramente el cliente parece confundido sobre con quién está hablando.\nNo marques como error si el mensaje, aunque corto, tiene sentido dentro del contexto.\n\nInstrucciones clave:\nDetermínalo siempre tanto con el mensaje actual:\n{{ $('mensaje_usuario').item.json.mensaje }}\ncomo con los mensajes anteriores enviados por el usuario. \n\nNo interpretes emociones. No confundas spam con insistencia, ni error con no relevancia. Cada categoría debe evaluarse de forma independiente. "}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-1168,3072],"id":"8622870f-3913-42b2-bc10-a236310b9ebc","name":"Filtro tipo de conversación1","alwaysOutputData":false},{"parameters":{"inputText":"=Mensaje actual del usuario, utilízalo para determinar cada categoría:\n{{ $('Valores rapidos').item.json.mensaje }}\n\nÚltimas 20 conversaciones con el usuario (contexto): {{$('pg_map_contexto_20').item.json.pg_map_contexto_20.toJsonString()}}","categories":{"categories":[{"category":"pedido","description":"El cliente menciona uno o más productos, cantidades o expresa intención clara de pedir/cotizar/pagar algo en el historial"},{"category":"informacion","description":" El cliente pide datos generales: saludo, horarios, métodos de pago, estado de pedido, ubicación, etc., pero no lista productos."},{"category":"reclamo","description":"El cliente expresa insatisfacción, enojo o hace un reclamo por un pedido, servicio o entrega."},{"category":"humano","description":"El cliente pide explícitamente solicita atención de un humano."}]},"options":{"fallback":"other","systemPromptTemplate":"=Actúas como un Text Classifier experto en servicio al cliente.\nDebes clasificar cada mensaje en **exactamente una** de estas categorías:\n\n1. **pedido** → El cliente menciona uno o más productos, cantidades o expresa intención clara de pedir/cotizar algo.\n2. **informacion** → El cliente pide datos generales: horarios, métodos de pago, estado de pedido, ubicación, etc., pero no lista productos o cotizaciones.\n3. **reclamo** → El cliente expresa insatisfacción, enojo o hace un reclamo por un pedido, servicio o entrega.\n4. **hablar con humano** → El cliente pide explícitamente hablar con un humano.\n\n### Reglas:\n- Si hay duda entre dos categorías, elige **pedido** si hay productos mencionados.\n- Si hay lenguaje de queja o enojo, elige **reclamo** incluso si pide información.\n- Si el mensaje está vacío o es incoherente, clasifica como **informacion**.\n\nDevuelve únicamente el nombre de la categoría como texto plano.\n\nInstrucciones clave:\nDetermínalo siempre tanto con el mensaje actual:\n{{ $('Valores rapidos').item.json.mensaje }}\ncomo con los mensajes anteriores enviados por el usuario.  {{ $json.pg_map_contexto_20[0] }}\n"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[624,1616],"id":"14760b0c-d0a5-4d4d-8b7b-f917cd25a42e","name":"intención","alwaysOutputData":false},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[656,1968],"id":"262ab4d1-64e8-4de4-8ef3-0ba5fe97dae5","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"SUhkMuNNuhP1aGLp","name":"OPENAI VARIABLE CREDENTIAL"}}},{"parameters":{"jsonSchemaExample":"{\n  \"mensaje\": \"Texto breve y directo con la información consultada\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[400,240],"id":"f7bb66f0-4682-474e-a976-435ba72fcd46","name":"Structured Output Parser1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[448,384],"id":"d87956e2-797f-4ac7-869d-58c586f69380","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"SUhkMuNNuhP1aGLp","name":"OPENAI VARIABLE CREDENTIAL"}}},{"parameters":{"promptType":"define","text":"=Mensaje actual del usuario, utilízalo para determinar cada categoría: \n{{ $('mensaje_usuario').item.json.mensaje }}\n\n{{ $json.message.text }} {{ $json.chatInput }}\n","hasOutputParser":true,"options":{"systemMessage":"=Eres un agente de atención al cliente de una droguería especializado en responder preguntas frecuentes sobre horarios, servicios y políticas de la droguería usando una base de conocimiento como fuente de conocimiento.\n\nAntes de consultar la base de conocimiento, analiza si el mensaje es un simple saludo o intención social (ej. “hola”, “buenas tardes”, “¿hay alguien?”).\nEn esos casos, responde con un saludo amable y ofrece ayuda en formato json sin añadir output al json:\n\nEjemplo:\nEntrada:\n\nhola\n\n\nRespuesta:\n\n{\n  \"mensaje\": \"¡Hola! 👋 Bienvenido a Droguería Hidmedimport. ¿En qué puedo ayudarte hoy?\"\n}\n\n🎯 Objetivo\n\nTu tarea es responder únicamente si encuentras una coincidencia de alta similitud en la base de datos. Nunca inventes ni supongas información.\n\n🛠️ Herramienta\n\nTienes acceso a una base de conocimiento (Info negocio) que contiene información exacta sobre:\n\nHorarios de atención\n\nMétodos de pago aceptados\n\nUbicación de la droguería\n\nDisponibilidad de estacionamiento\n\nPolíticas de atención y entrega\n\nInformación de contacto\n\n\n\n📋 Reglas estrictas\n\nSolo responde si la coincidencia es de alta relevancia. Si la similitud es baja, no inventes.\n\nSi encuentras coincidencia relevante, responde con un mensaje breve, claro y profesional.\n\nSi no hay coincidencia confiable, responde de forma neutra y cortés:\n\n{\n  \"mensaje\": \"Lo siento, no tengo información exacta sobre eso en este momento. ¿Te gustaría que lo consulte con un agente humano?\"\n}\n\n\nNunca combines múltiples resultados ni rellenes información faltante. Cada respuesta debe basarse en una única fuente.\n\n🧾 Formato de salida\n\nSiempre responde en JSON válido:\n\n{\n  \"mensaje\": \"Texto breve y directo con la información consultada\"\n}\n\n✅ Ejemplos de consultas esperadas\n\n“¿Hasta qué hora atienden los domingos?”\n\n“¿Dónde queda la droguería?”\n\n“¿Aceptan pagos con tarjeta?”\n\n“¿Tienen estacionamiento?”\n\n“¿Cuál es su número de contacto?”\n\nHoy es Fecha y hora: {{$now.toLocaleString(\"es-PE\", { weekday: \"long\", year: \"numeric\", month: \"2-digit\", day: \"2-digit\", hour: \"2-digit\", minute: \"2-digit\" })}}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[128,96],"id":"c730ca97-c303-465b-b858-137540ca9488","name":"Infomación","notesInFlow":false,"retryOnFail":true,"maxTries":2,"alwaysOutputData":true,"waitBetweenTries":5000},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Valores rapidos').item.session_id }}","tableName":"n8n_chat_historias"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[208,320],"id":"14322253-8670-43ea-972b-a1e50567c5d4","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"9Or1jVlWNVp282yl","name":"presla db"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[96,288],"id":"80404b5a-b06d-406b-9893-9267244c09d2","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"SUhkMuNNuhP1aGLp","name":"OPENAI VARIABLE CREDENTIAL"}}},{"parameters":{"method":"POST","url":"https://gate.whapi.cloud/messages/document","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"to\": \"{{ $('Webhook').item.json.body.messages[0].from }}\",\n  \"media\": \"{{ $json.url }}\",\n  \"mime_type\": \"application/pdf\",\n  \"caption\": \"\",\n\"filename\": \"cotizacion-hidmedic-{{$now.toLocaleString('es-PE', { weekday: 'long', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' })}}.pdf\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5440,1520],"id":"6d3d52a7-0aa3-4e92-97db-c43edbf692af","name":"enviar pdf","credentials":{"httpBearerAuth":{"id":"XeAnEchLrt6QbvIK","name":"PDFmonkey variable credential"}}},{"parameters":{"assignments":{"assignments":[{"id":"69859c0d-0689-4fb3-811a-f51e3aa369c5","name":"url","value":"={{ $json.document_card.download_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5072,1520],"id":"5132542f-b507-4e4f-b820-40ad22acee46","name":"link"},{"parameters":{"promptType":"define","text":"={{ $json.output.mensaje }}{{ $json.mensaje }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"Devuelve el mensaje en 1, 2 o 3 partes solo si es estrictamente necesario, procurando que sean la menor cantidad posible. Divide el texto únicamente cuando resulte indispensable, de forma que parezca algo hecho por un humano (no perfecto, pero natural)."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[3168,512],"id":"d552750f-f9cb-42d3-865a-bf63f2be073b","name":"Basic LLM Chain"},{"parameters":{"jsonSchemaExample":"{\n  \"Response\": {\n    \"Parte1\": \"Primera parte del mensaje\",\n    \"Parte2\": \"Segunda parte del mensaje\",\n    \"Parte3\": \"Tercera parte del mensaje\"\n  }\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[3472,736],"id":"280e98de-aad0-4a1f-b240-1efc43b9db4f","name":"Structured Output Parser2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3216,800],"id":"e38f189b-d4b5-47ce-bb77-ab6ab9651212","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"SUhkMuNNuhP1aGLp","name":"OPENAI VARIABLE CREDENTIAL"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd5ed21d-5d04-4ed7-8f5d-639f92964855","leftValue":"={{ $json.output.Response.Parte1 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3472,400],"id":"aa61f864-408d-4f9f-ac77-36d6fb9c4aca","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a926b44e-6302-4aba-a5de-70383966cfc7","leftValue":"={{ $json.output.Response.Parte1 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4064,416],"id":"993a012a-6803-43e9-8837-97fc824fcaeb","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0117ea8e-e098-4645-94bd-e8ca280b3894","leftValue":"={{ $json.output.Response.Parte3 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4432,512],"id":"fbd07c2c-14ca-4ed4-99e5-7a7fdbd757fd","name":"If4"},{"parameters":{"method":"POST","url":"https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $('Webhook').item.json.body.messages[0].from }}"},{"name":"body","value":"={{ $json.output.Response.Parte2 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3728,-48],"id":"fc48d337-dc55-4c00-a70b-4ef7e6994381","name":"TEXTO3","credentials":{"httpBearerAuth":{"id":"TgoUXfgIuFxhgKJs","name":"Whapi Variable Credentials"}},"disabled":true},{"parameters":{"method":"POST","url":"https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $('Webhook').item.json.body.messages[0].from }}"},{"name":"body","value":"={{ $json.output.Response.Parte3 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4048,160],"id":"99f670cf-ded9-48d7-86c8-42b970316056","name":"TEXTO4","credentials":{"httpBearerAuth":{"id":"TgoUXfgIuFxhgKJs","name":"Whapi Variable Credentials"}},"disabled":true},{"parameters":{"jsCode":"// Convierte el string JSON del campo \"data\" en items individuales\nconst arr = JSON.parse($json.data);  // [{codigo:\"FTT1318\", cantidad:3}, ...]\nreturn arr.map(row => ({ json: row }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3776,1440],"id":"cc47e704-a7c2-47f4-b669-77f24baf8a71","name":"formatear json de productos"},{"parameters":{"operation":"executeQuery","query":"WITH codes AS (\n  SELECT jsonb_array_elements_text($1::jsonb) AS codigo_txt\n)\nSELECT DISTINCT p.*\nFROM inventario4 p\nJOIN codes c\n  ON p.codigo = c.codigo_txt;\n","options":{"queryReplacement":"={{ JSON.stringify(JSON.parse($('productos ai').item.json.data).map(i => i.codigo)) }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3776,1696],"id":"05bc033a-1b7d-4bc1-ad0f-7a56b5cbf0ba","name":"Crear arreglo de codigo de productos","credentials":{"postgres":{"id":"IIGVYhLF2ZxmRsCM","name":"Empresa info DB"}}},{"parameters":{"mode":"combine","fieldsToMatchString":"=codigo","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4096,1520],"id":"74e9d888-81f2-4bd2-a468-14cf60156b6c","name":"Info de productos confiable","alwaysOutputData":false},{"parameters":{"authentication":"airtableOAuth2Api","operation":"create","base":{"__rl":true,"value":"appY6ccYMnwAtjduc","mode":"list","cachedResultName":"Usuarios","cachedResultUrl":"https://airtable.com/appY6ccYMnwAtjduc"},"table":{"__rl":true,"value":"tblBRdtenmbkWoiAl","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appY6ccYMnwAtjduc/tblBRdtenmbkWoiAl"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $('Valores rapidos').item.json.nombre }}","Whatsapp number":"={{ $('Valores rapidos').item.json.telefono }}","Estado":"Usuario nuevo"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Whatsapp number","displayName":"Whatsapp number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Usuario nuevo","value":"Usuario nuevo"},{"name":"Cotización enviada","value":"Cotización enviada"},{"name":"Cotización sin confirmar","value":"Cotización sin confirmar"},{"name":"Cotización confirmada","value":"Cotización confirmada"},{"name":"Pendiente de pago / Seguimiento","value":"Pendiente de pago / Seguimiento"},{"name":"Pago verificado","value":"Pago verificado"},{"name":"Pedido entregado","value":"Pedido entregado"}],"readOnly":false,"removed":false},{"id":"Attachments","displayName":"Attachments","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Attachment Summary","displayName":"Attachment Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-2384,2048],"id":"cc040a41-0c63-49c2-90b9-052c866959c8","name":"Create a record","disabled":true},{"parameters":{"content":"# No es mensaje propio,","height":756,"width":672,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8096,1232],"id":"1ee2cd7e-7d0e-4565-a265-53aea9bda271","name":"Sticky Note5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"552dfedf-aba2-4ad8-8392-0c836c9397ae","leftValue":"={{ $('Variables entrantes').item.json.message_type }}","rightValue":"incoming","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7424,1456],"id":"e5b7baa9-6008-4a19-a74b-d37691f0891e","name":"Mis propios mensajes?"},{"parameters":{"content":"# Analizar diferentes tipos de mensajes, audio e imagen aun no funcionan","height":1092,"width":1872,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6448,1040],"id":"af22f906-05a6-4700-91ae-057ac3df39ef","name":"Sticky Note7"},{"parameters":{"content":"## Verificar intencionalidad\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":784,"width":528,"color":5},"type":"n8n-nodes-base.stickyNote","position":[368,1344],"typeVersion":1,"id":"e37c7cd3-f94c-4cae-acde-9d089614bb83","name":"Sticky Note8"},{"parameters":{"content":"## Genera error (backup)\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":672,"width":816,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"bb5d9a21-6d9c-48f6-b196-7f8bbcc5b6ef","name":"Sticky Note9"},{"parameters":{"content":"## Agente cotizador\n** ","height":1024,"width":1440,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1392,1168],"typeVersion":1,"id":"eee28c20-b3c6-4bf6-9301-e5d0273498cb","name":"Sticky Note10"},{"parameters":{"content":"## Hablar con humano","height":432,"width":928,"color":5},"type":"n8n-nodes-base.stickyNote","position":[5232,2688],"typeVersion":1,"id":"5825f325-ac1d-4f8d-8bfe-5d896021704e","name":"Sticky Note"},{"parameters":{"content":"## Enviar mensajes a whatsapp","height":720,"width":1728,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2672,256],"typeVersion":1,"id":"9aa4ee36-20c8-4e69-bf64-2ea941d03a77","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"a3d4286f-712f-4460-9afc-c7ea58d9732d","leftValue":"={{ Object.keys($json).length }}","rightValue":"=0","operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1328,1664],"id":"ab6f0338-bc13-4307-88cd-1075f3cf28d8","name":"¿Existe en la bd?"},{"parameters":{"content":"# Buscar o crear en la bd","height":756,"width":688,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1808,1360],"id":"491108da-4ac2-4cab-9bc8-1dbc3ee6e826","name":"Sticky Note12"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appY6ccYMnwAtjduc","mode":"list","cachedResultName":"Usuarios Hidmed Import ","cachedResultUrl":"https://airtable.com/appY6ccYMnwAtjduc"},"table":{"__rl":true,"value":"tblBRdtenmbkWoiAl","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appY6ccYMnwAtjduc/tblBRdtenmbkWoiAl"},"filterByFormula":"={Whatsapp number} = {{ $json.telefono }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-2720,1456],"id":"8c775c81-031e-42ab-92a5-828464bbc025","name":"buscar usuario en bd","alwaysOutputData":true,"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"35e1061d-69e7-4800-a6ab-42de43f71524","name":"telefono","value":"={{ $('Variables entrantes').item.json.telefono }}","type":"string"},{"id":"3faa58fb-b3fd-443e-83df-45c1d542806f","name":"mensaje","value":"={{ $('Mensaje completo').item.json.response }}","type":"string"},{"id":"407c208c-ea5b-43f3-85e6-9ee3dd438754","name":"nombre","value":"={{ $('Variables entrantes').item.json.Name }}","type":"string"},{"id":"2b570170-8148-421e-a673-e4b071971f3f","name":"type","value":"={{ $('Variables entrantes').item.json.content_type }}","type":"string"},{"id":"4d6f1424-1fe7-43dd-b815-764bb2eb16ae","name":"session_id","value":"={{ $('Variables entrantes').item.json.telefono }}@{{ $('Obtener la info de la empresa asociada').item.json.code }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1840,1648],"id":"85712a72-fdf1-4af4-beba-cc3e59a76f1c","name":"Valores rapidos"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appY6ccYMnwAtjduc","mode":"list","cachedResultName":"Usuarios","cachedResultUrl":"https://airtable.com/appY6ccYMnwAtjduc"},"table":{"__rl":true,"value":"tblBRdtenmbkWoiAl","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appY6ccYMnwAtjduc/tblBRdtenmbkWoiAl"},"columns":{"mappingMode":"defineBelow","value":{"Whatsapp number":"={{ $('Valores rapidos').item.json.telefono }}","Estado":"Cotización confirmada"},"matchingColumns":["Whatsapp number"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Whatsapp number","displayName":"Whatsapp number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Usuario nuevo","value":"Usuario nuevo"},{"name":"Cotización enviada","value":"Cotización enviada"},{"name":"Cotización sin confirmar","value":"Cotización sin confirmar"},{"name":"Cotización confirmada","value":"Cotización confirmada"},{"name":"Pendiente de pago / Seguimiento","value":"Pendiente de pago / Seguimiento"},{"name":"Pago verificado","value":"Pago verificado"},{"name":"Pedido entregado","value":"Pedido entregado"},{"name":"Hablar con un humano","value":"Hablar con un humano"}],"readOnly":false,"removed":false},{"id":"Attachments","displayName":"Attachments","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Attachment Summary","displayName":"Attachment Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[5760,1296],"id":"3550b8db-493e-4a18-a0cb-1b609de095cd","name":"Update record","disabled":true},{"parameters":{"method":"POST","url":"=https://gate.whapi.cloud/labels/9/{{ $('Valores rapidos').item.json.telefono}}@s.whatsapp.net","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6400,1536],"id":"31f77d3f-79c2-43ea-9f39-85734038f00d","name":"Añadir etiqueta humano","alwaysOutputData":false,"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $('Valores rapidos').item.json.telefono }}"},{"name":"body","value":"=Hemos derivado tu pedido al área de facturación 🧑‍💻. Por favor, espera unos minutos mientras revisamos tu caso."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6464,1360],"id":"9eb19df9-5229-414f-9e58-b4e4890fd3e2","name":"TEXTO5","credentials":{"httpBearerAuth":{"id":"TgoUXfgIuFxhgKJs","name":"Whapi Variable Credentials"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6720,1728],"id":"2fa9ecd9-6c5c-4e72-830e-8f6e3a956fbf","name":"No Operation, do nothing5"},{"parameters":{"content":"## Registrar estado de pedido confirmado","height":656,"width":1488,"color":4},"type":"n8n-nodes-base.stickyNote","position":[5216,1184],"typeVersion":1,"id":"533bf3d5-7668-4ed7-bf1d-2cd7fbc199b9","name":"Sticky Note3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26a62946-8723-485a-bf4d-e5c35dd80cf1","leftValue":"={{ $('Switch').item.json.accion }}","rightValue":"conformidad","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"conformidad"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Switch').item.json.accion }}","rightValue":"no_conformidad","operator":{"type":"string","operation":"equals"},"id":"cc30063e-1c18-4d6e-9713-86d92198b6c1"}],"combinator":"and"},"renameOutput":true,"outputKey":"no_conformidad"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d3fcfd49-17dc-472d-bd66-bfe419b7e5bd","leftValue":"={{ $('Switch').item.json.accion }}","rightValue":"enviar_pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cotización"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[5648,1488],"id":"26f89521-354b-455b-8dc6-e14d5b8b7553","name":"Switch1"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appY6ccYMnwAtjduc","mode":"list","cachedResultName":"Usuarios","cachedResultUrl":"https://airtable.com/appY6ccYMnwAtjduc"},"table":{"__rl":true,"value":"tblBRdtenmbkWoiAl","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appY6ccYMnwAtjduc/tblBRdtenmbkWoiAl"},"columns":{"mappingMode":"defineBelow","value":{"Whatsapp number":"={{ $('Valores rapidos').item.json.telefono }}","Estado":"Cotización sin confirmar"},"matchingColumns":["Whatsapp number"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Whatsapp number","displayName":"Whatsapp number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Usuario nuevo","value":"Usuario nuevo"},{"name":"Cotización enviada","value":"Cotización enviada"},{"name":"Cotización sin confirmar","value":"Cotización sin confirmar"},{"name":"Cotización confirmada","value":"Cotización confirmada"},{"name":"Pendiente de pago / Seguimiento","value":"Pendiente de pago / Seguimiento"},{"name":"Pago verificado","value":"Pago verificado"},{"name":"Pedido entregado","value":"Pedido entregado"},{"name":"Hablar con un humano","value":"Hablar con un humano"}],"readOnly":false,"removed":false},{"id":"Attachments","displayName":"Attachments","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Attachment Summary","displayName":"Attachment Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[5712,1856],"id":"8ffba140-71b2-427f-b7fd-05eb736d997b","name":"Update record1","credentials":{"airtableTokenApi":{"id":"0v6QKatGfuQEBju3","name":"Airtable Personal Access Token account"}},"disabled":true},{"parameters":{"method":"POST","url":"=https://gate.whapi.cloud/labels/9/{{ $('Valores rapidos').item.json.telefono }}@s.whatsapp.net","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6528,2032],"id":"5d62120a-5793-4df7-8191-899f7baf5839","name":"Añadir etiqueta humano1","alwaysOutputData":false,"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $('Valores rapidos').item.json.telefono }}"},{"name":"body","value":"=Hemos derivado tu caso al área de facturación 🧑‍💻. Por favor, espera unos minutos mientras revisamos tu caso."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6352,1808],"id":"ba7c8d72-5569-471f-828c-68d0b66603ca","name":"TEXTO6","credentials":{"httpBearerAuth":{"id":"TgoUXfgIuFxhgKJs","name":"Whapi Variable Credentials"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6848,2224],"id":"bdb1c2d9-a44c-4da7-81e9-01d98a4ba5b2","name":"No Operation, do nothing6"},{"parameters":{"content":"## Registrar estado de pedido no conformidad","height":656,"width":1488,"color":3},"type":"n8n-nodes-base.stickyNote","position":[5264,1904],"typeVersion":1,"id":"b2d6b6f1-05b3-4507-af73-aaf8447f40bf","name":"Sticky Note13"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appY6ccYMnwAtjduc","mode":"list","cachedResultName":"Usuarios","cachedResultUrl":"https://airtable.com/appY6ccYMnwAtjduc"},"table":{"__rl":true,"value":"tblBRdtenmbkWoiAl","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appY6ccYMnwAtjduc/tblBRdtenmbkWoiAl"},"columns":{"mappingMode":"defineBelow","value":{"Whatsapp number":"={{ $('Valores rapidos').item.json.telefono }}","Estado":"Cotización enviada"},"matchingColumns":["Whatsapp number"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Whatsapp number","displayName":"Whatsapp number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Usuario nuevo","value":"Usuario nuevo"},{"name":"Cotización enviada","value":"Cotización enviada"},{"name":"Cotización sin confirmar","value":"Cotización sin confirmar"},{"name":"Cotización confirmada","value":"Cotización confirmada"},{"name":"Pendiente de pago / Seguimiento","value":"Pendiente de pago / Seguimiento"},{"name":"Pago verificado","value":"Pago verificado"},{"name":"Pedido entregado","value":"Pedido entregado"},{"name":"Hablar con un humano","value":"Hablar con un humano"}],"readOnly":false,"removed":false},{"id":"Attachments","displayName":"Attachments","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Attachment Summary","displayName":"Attachment Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[5856,768],"id":"ac7cb96e-aa94-4f3c-acee-ee06352ffc56","name":"Update record2","credentials":{"airtableTokenApi":{"id":"0v6QKatGfuQEBju3","name":"Airtable Personal Access Token account"}},"disabled":true},{"parameters":{"content":"## Registrar estado de cotización enviada","height":480,"width":1488,"color":5},"type":"n8n-nodes-base.stickyNote","position":[5200,592],"typeVersion":1,"id":"7a0ddce8-c73a-4ece-90ae-c9ef1a15e55c","name":"Sticky Note14"},{"parameters":{"operation":"get","propertyName":"mensajes","key":"={{ $('Variables entrantes').item.json.telefono }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2880,1584],"id":"1d1ef66d-db47-4b13-9778-d576359a9b9a","name":"Redis6","credentials":{"redis":{"id":"LPbWxLRrzlCEphig","name":"Redis DB"}}},{"parameters":{"operation":"push","list":"={{ $('Variables entrantes').item.json.telefono }}","messageData":"={{ $('Merge').item.json.mensaje || \" \" }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3264,1584],"id":"a8be941c-6fe5-4167-954e-0e449d3a4fe9","name":"Redis7","credentials":{"redis":{"id":"LPbWxLRrzlCEphig","name":"Redis DB"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8a313a41-eadc-4ada-bc2a-feff79845de9","leftValue":"={{ $json.mensajes && $json.mensajes.length > 0 ? $json.mensajes.last() : \" \" }}","rightValue":"={{ $('Redis7').item.json.mensaje[0] }}","operator":{"type":"string","operation":"equals"}},{"id":"edaf73d2-0650-463a-93cc-cc884d9e013c","leftValue":"={{ $('Redis7').item.json.mensaje[0] }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2672,1584],"id":"ef3510f7-c759-4de1-aca4-16264d9bdc17","name":"If6"},{"parameters":{"assignments":{"assignments":[{"id":"d5f82380-4858-4361-908e-98e45c98f092","name":"response","value":"={{ $('Redis6').item.json.mensajes.join() }}","type":"string"},{"id":"b3db797c-6f2b-4232-8e0c-021bc8e299ca","name":"phone","value":"={{ $('Variables entrantes').item.json.telefono }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2448,1568],"id":"ba794990-d2f5-4a66-b304-a22c1dfd3c8e","name":"Edit Fields2"},{"parameters":{"operation":"delete","key":"={{ $('Variables entrantes').item.json.telefono }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2240,1568],"id":"2fe41c37-d50e-4ecd-8463-390170fa5e66","name":"Redis9","credentials":{"redis":{"id":"LPbWxLRrzlCEphig","name":"Redis DB"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2448,1776],"id":"899821e2-c17b-45c1-b67c-06fc042d5185","name":"No Operation, do nothing7"},{"parameters":{"content":"# Guardar mensajes sucesivos","height":756,"width":1408,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3312,1312],"id":"6e73beb8-1140-4116-bed2-6001599616be","name":"Sticky Note15"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2032,1664],"id":"3d81d521-a854-47fb-be52-2eb47e4ccbed","name":"Mensaje completo"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3056,1584],"id":"7eabd667-43f7-4899-a833-93a8d2283d9f","name":"5 segundos de espera","webhookId":"df69a130-0ca2-4406-b413-5d8f14dd087f"},{"parameters":{"assignments":{"assignments":[{"id":"8b7e01d4-bd3b-45c6-9eba-f17cb4cbfe91","name":"mensaje","value":"={{ $('Variables entrantes').item.json.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5104,1872],"id":"7fe0b8b6-c57a-4c56-b083-4907c8ae54ef","name":"texto"},{"parameters":{"assignments":{"assignments":[{"id":"0d1729a1-0e28-425e-a8c0-a7e945d919ec","name":"mensaje","value":"={{ $('pedido').item.json.pedido }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4448,1584],"id":"57d94ffe-6092-45c0-8dfc-06dfc15adde9","name":"texto de imagen"},{"parameters":{"assignments":{"assignments":[{"id":"0d1729a1-0e28-425e-a8c0-a7e945d919ec","name":"mensaje","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4896,1152],"id":"aea2af2d-cd83-412c-8848-dbbcfd59d313","name":"texto de voz"},{"parameters":{"method":"POST","url":"https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $('Webhook').item.json.body.messages[0].from }}"},{"name":"body","value":"=Recibimos tu archivo pero no podemos leerlo porque no es un formato válido.\nSolo podemos leer:\n📝 Texto escrito\n🎤 Mensaje de voz\n📷 Foto o imagen"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5984,1920],"id":"778e822d-023e-440d-b391-387e74347319","name":"Formato no valido","credentials":{"httpBearerAuth":{"id":"TgoUXfgIuFxhgKJs","name":"Whapi Variable Credentials"}},"disabled":true},{"parameters":{"content":"# No esta asignado a humano,","height":756,"width":624,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-7360,1264],"id":"bb4b7500-5a3a-4c83-a624-2593a4488e5c","name":"Sticky Note11"},{"parameters":{"url":"=https://gate.whapi.cloud/chats/{{ $('Webhook').item.json.body.messages[0].chat_id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7248,1840],"id":"7ff8aa77-3e3b-4f08-87bb-a62c0d9c8fa2","name":"obtener info chat tag","alwaysOutputData":false,"credentials":{"httpBearerAuth":{"id":"TgoUXfgIuFxhgKJs","name":"Whapi Variable Credentials"}},"disabled":true,"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-6672,1856],"id":"0f887ec5-bd64-4a69-b888-90281b01ba55","name":"No Operation, do nothing4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9984993-b6dd-41b4-b9bf-aadaac97f53a","leftValue":"={{ $json.error.message }}","rightValue":"label association already exists","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[848,1184],"id":"8bec35fa-e00c-4a44-8664-b9e68e53191c","name":"La etiqueta existe?1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1104,1248],"id":"f3ec039c-426d-4591-8be2-5aa384267136","name":"No Operation, do nothing8"},{"parameters":{"method":"POST","url":"=https://gate.whapi.cloud/labels/10/{{ $('Webhook').item.json.body.messages[0].chat_id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,1104],"id":"22ee0830-4e8b-40d8-933c-834321905acd","name":"Añadir etiqueta SPAM","alwaysOutputData":false,"credentials":{"httpBearerAuth":{"id":"TgoUXfgIuFxhgKJs","name":"Whapi Variable Credentials"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25f6ee9d-183b-42e8-b501-cb8f34b5f937","leftValue":"={{ $('Variables entrantes').item.json.bot_off }}","rightValue":"=asistencia_ia","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"f5bf84d8-5617-4784-8f3e-141ac45d0684","leftValue":"={{ $('Variables entrantes').item.json.asistencia_ia }}","rightValue":"=bot_off","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6944,1600],"id":"c0699dd2-86d2-4fac-9ee1-45dc5d3e0f1b","name":"etiqueta humano o spam?"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-5280,1728],"id":"f0dd7970-dd2d-48c4-b184-787732b36227","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"SUhkMuNNuhP1aGLp","name":"OPENAI VARIABLE CREDENTIAL"}}},{"parameters":{"promptType":"define","text":"=El mensaje a procesar es:\n{{ $json.choices[0].message.content }}\n{{ $json.pedido }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Devuelve estrictamente un JSON válido con exactamente estos tres campos:\n\n{\n  \"mensaje\": \"El usuario mandó una imagen con productos para cotizar.\",\n  \"productos\": \"- 100 UND AEROCAMARA DE PLASTICO LACTANTE\\n- 100 UND AEROCAMARA DE PLASTICO PEDIATRICO\\n- 800 UND AGUJA DENTAL TIPO CARPULE DESCARTABLE N°30 G X 1 IN\\n...\",\n  \"total_productos\": 34\n}\n\nReglas de Generación\n\nmensaje: Frase breve que explique que el usuario mandó una imagen con productos para cotizar.\n\ntexto_markdown: Lista de productos en formato markdown (usa - al inicio de cada línea), no omitir ningún producto\nNo omitas ningún producto, incluso si son muchos (30+).\ntotal_productos: Número total de líneas/productos detectados. Debe ser un número entero.\n\nIgnora líneas que no sean productos (ej. hora, nombre de archivo, notas).\n\nNo devuelvas nada fuera del JSON.\n\nNo escapes saltos de línea con \\n, usa texto plano y deja que las líneas se separen naturalmente.\n\nEjemplo de Salida Correcta para 4 productos\n{\n  \"mensaje\": \"El usuario mandó una imagen con productos para cotizar.\",\n  \"texto_markdown\": \"- 100 UND AEROCAMARA DE PLASTICO LACTANTE\\n- 100 UND AEROCAMARA DE PLASTICO PEDIATRICO\\n- 800 UND AGUJA DENTAL TIPO CARPULE DESCARTABLE N°30 G X 1 IN\\n- 30 UND APOSITO HIDROCOLOIDE EXTRAFINO 10 CM X 10 CM...\",\n  \"total_productos\": 4\n}"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-4896,1520],"id":"4f743cfd-92f2-4377-a086-cc4208563897","name":"Basic LLM Chain1"},{"parameters":{"jsonSchemaExample":"{\n  \"mensaje\": \"El usuario mandó una imagen con productos para cotizar.\",\n  \"texto_markdown\": \"- 100 UND AEROCAMARA DE PLASTICO LACTANTE\\n- 100 UND AEROCAMARA DE PLASTICO PEDIATRICO\\n- 800 UND AGUJA DENTAL TIPO CARPULE DESCARTABLE N°30 G X 1 IN\\n- 30 UND APOSITO HIDROCOLOIDE EXTRAFINO 10 CM X 10 CM\",\n  \"total_productos\": 4\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-4976,1712],"id":"14b05ce1-035d-4821-979d-1acca1cff1b1","name":"Structured Output Parser3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb0c3f6a-7a62-4586-bf8e-89498018a9ba","leftValue":"={{ $json.output.total_productos }}","rightValue":35,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4640,1520],"id":"d2d27c38-1234-4679-b15b-11b6909d6de1","name":"mas de 35 productos?"},{"parameters":{"assignments":{"assignments":[{"id":"16cad329-d309-4af4-b738-4f8244b7b2a5","name":"cantidad_maxima","value":"Se superó la cantidad d máxima de pedidos que se pueden atender en simultaneo que es 34, envía menos productos., ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4448,1408],"id":"a5891e80-5108-4d93-ac8e-f90b6b13c88f","name":"limite maximo"},{"parameters":{"inputText":"={{ $json.pedido }}","categories":{"categories":[{"category":"pedido","description":"El usuario envía información relacionada a un pedido de productos"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-5216,1520],"id":"794c6650-8015-46d8-956d-469987de85d5","name":"Identificar pedido"},{"parameters":{"assignments":{"assignments":[{"id":"d5a9fa09-b240-46d8-8694-806fa292f1e0","name":"pedido","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5360,1504],"id":"6cda7110-061a-44ef-9fa9-63a6991ab1da","name":"pedido"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1696,1872],"id":"45215e88-37c6-42d5-b012-bf61f6cd2a46","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"SUhkMuNNuhP1aGLp","name":"OPENAI VARIABLE CREDENTIAL"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Valores rapidos').item.json.session_id}}","tableName":"conversation"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1744,2016],"id":"58087039-9985-4b0d-97f2-c972dc8043fb","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"IIGVYhLF2ZxmRsCM","name":"Empresa info DB"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4272,1504],"id":"11bea926-7aed-422b-8895-5bff40a76939","name":"Aggregate"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3888,384],"id":"e8826cba-9141-4ae3-953e-2f5b675ca8d9","name":"Wait2","webhookId":"d2bf7c14-45dc-4945-85b3-31d5255d48e8"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4240,528],"id":"30d9fd73-2103-4fb6-ad3d-7f51eacbc3bd","name":"Wait4","webhookId":"6de59b5a-dd3c-4da1-a87b-1d54d8358fc5"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"company","mode":"list","cachedResultName":"company"},"where":{"values":[{"column":"chatwoot_bot_name","value":"={{ $('Webhook').item.json.body.inbox.name }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-8672,1344],"id":"1e388994-1eda-4b0f-a139-e9844259d0e9","name":"Obtener la info de la empresa asociada","credentials":{"postgres":{"id":"IIGVYhLF2ZxmRsCM","name":"Empresa info DB"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"where":{"values":[{"column":"phone","value":"={{ $('Valores rapidos').item.json.telefono }}"},{"column":"company_id","value":"={{ $('info empresa').item.json.id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1584,1648],"id":"288309d8-a95d-4423-a555-9ae121187f8d","name":"buscar usuario en bd1","alwaysOutputData":true,"credentials":{"postgres":{"id":"IIGVYhLF2ZxmRsCM","name":"Empresa info DB"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"columns":{"mappingMode":"defineBelow","value":{"phone":"={{ $('Valores rapidos').item.json.telefono }}","company_id":"={{ $('Obtener la info de la empresa asociada').item.json.id }}","funnel_stage":"inicial"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone","displayName":"phone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company_id","displayName":"company_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"funnel_stage","displayName":"funnel_stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conversation_url","displayName":"conversation_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"last_interaction_at","displayName":"last_interaction_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"created_at_human","displayName":"created_at_human","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1120,1824],"id":"51b2a5aa-14ea-4d28-abc6-a1ac2a86891c","name":"Crear registro","credentials":{"postgres":{"id":"IIGVYhLF2ZxmRsCM","name":"Empresa info DB"}}},{"parameters":{"assignments":{"assignments":[{"id":"d2bc76f3-22e7-467d-9d6b-5fd29836e623","name":"id","value":"={{ $('Obtener la info de la empresa asociada').item.json.id }}","type":"string"},{"id":"9884ae33-3cc8-4250-a7d6-4022820a14b4","name":"code","value":"={{ $('Obtener la info de la empresa asociada').item.json.code }}","type":"string"},{"id":"010b7e3b-606b-45f7-a8eb-2bb4c2bac9be","name":"name","value":"={{ $('Obtener la info de la empresa asociada').item.json.name }}","type":"string"},{"id":"8e9480c4-87ee-437a-b796-84f03b91dbf3","name":"logo_link","value":"={{ $('Obtener la info de la empresa asociada').item.json.logo_link }}","type":"string"},{"id":"58ec33aa-615e-427b-a240-fe7be17fab11","name":"subscription_plan","value":"={{ $('Obtener la info de la empresa asociada').item.json.subscription_plan }}","type":"string"},{"id":"1a5ac902-38fe-4f07-ae48-2eda140377cc","name":"phone","value":"={{ $('Obtener la info de la empresa asociada').item.json.phone }}","type":"string"},{"id":"ecd57d39-9077-46be-bac9-ea551201dcd4","name":"user_id","value":"={{ $('Obtener la info de la empresa asociada').item.json.user_id }}","type":"string"},{"id":"fe469a72-d351-4327-bc67-3c5a0f166f15","name":"master_prompt","value":"={{ $('Obtener la info de la empresa asociada').item.json.master_prompt }}","type":"string"},{"id":"e8dc8234-4ac3-40fb-b3d1-e077da6071d6","name":"product_table","value":"={{ $('Obtener la info de la empresa asociada').item.json.product_table }}","type":"string"},{"id":"52d5097b-dca3-42f2-8e6a-fd7311a40acf","name":"openai_id","value":"={{ $('Obtener la info de la empresa asociada').item.json.openai_id }}","type":"string"},{"id":"57ebedda-6fc9-4a70-9d82-08fef6d5044a","name":"openai_api","value":"={{ $('Obtener la info de la empresa asociada').item.json.openai_api }}","type":"string"},{"id":"0b06c9dd-363a-4c30-a8d7-1ed16709831e","name":"pdfmonkey_api_key","value":"={{ $('Obtener la info de la empresa asociada').item.json.pdfmonkey_api_key }}","type":"string"},{"id":"e502ed83-c786-4c52-b0fb-18a527fa4c06","name":"pdfmonkey_template_id","value":"={{ $('Obtener la info de la empresa asociada').item.json.pdfmonkey_template_id }}","type":"string"},{"id":"5d6add98-9b59-4c90-9986-7cd213075fe8","name":"pdfmonkey_webhook_secret","value":"={{ $('Obtener la info de la empresa asociada').item.json.pdfmonkey_webhook_secret }}","type":"string"},{"id":"8b871624-6dc0-4c4d-a477-c31ddf1dd819","name":"pdfmonkey_environment","value":"={{ $('Obtener la info de la empresa asociada').item.json.pdfmonkey_environment }}","type":"string"},{"id":"18db0984-a336-434d-ba88-9e25761c26ae","name":"status","value":"={{ $('Obtener la info de la empresa asociada').item.json.status }}","type":"string"},{"id":"25dbd8f2-f90c-4e80-ab79-14b28656b6b6","name":"evolutionapi_id","value":"={{ $('Obtener la info de la empresa asociada').item.json.evolutionapi_id }}","type":"string"},{"id":"7c32b37a-ebc8-4552-9ab0-aded7923bb81","name":"evolutionapi_api","value":"={{ $('Obtener la info de la empresa asociada').item.json.evolutionapi_api }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7696,1408],"id":"b2e348e7-cb6c-4398-afa0-9ad8fd29c145","name":"info empresa"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"columns":{"mappingMode":"defineBelow","value":{"funnel_stage":"Cotizacion enviada","company_id":"={{ $('info empresa').item.json.code }}","phone":"={{ $('Valores rapidos').item.json.telefono }}"},"matchingColumns":["phone","company_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone","displayName":"phone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"company_id","displayName":"company_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"funnel_stage","displayName":"funnel_stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conversation_url","displayName":"conversation_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"last_interaction_at","displayName":"last_interaction_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"created_at_human","displayName":"created_at_human","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6400,768],"id":"5c93070e-36c9-4196-b462-35b7bf1f28dd","name":"Update rows in a table","credentials":{"postgres":{"id":"IIGVYhLF2ZxmRsCM","name":"Empresa info DB"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"columns":{"mappingMode":"defineBelow","value":{"funnel_stage":"Cotizacion confirmada","company_id":"={{ $('info empresa').item.json.code }}","phone":"={{ $('Valores rapidos').item.json.telefono }}"},"matchingColumns":["phone","company_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone","displayName":"phone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"company_id","displayName":"company_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"funnel_stage","displayName":"funnel_stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conversation_url","displayName":"conversation_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"last_interaction_at","displayName":"last_interaction_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"created_at_human","displayName":"created_at_human","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6704,1488],"id":"0c281f08-d3c7-4623-9a0d-28087df4b1b8","name":"Update rows in a table1","credentials":{"postgres":{"id":"IIGVYhLF2ZxmRsCM","name":"Empresa info DB"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"columns":{"mappingMode":"defineBelow","value":{"funnel_stage":"Cotizacion sin confirmar","company_id":"={{ $('info empresa').item.json.code }}","phone":"={{ $('Valores rapidos').item.json.telefono }}"},"matchingColumns":["phone","company_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone","displayName":"phone","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"company_id","displayName":"company_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"funnel_stage","displayName":"funnel_stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conversation_url","displayName":"conversation_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"last_interaction_at","displayName":"last_interaction_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"created_at_human","displayName":"created_at_human","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6832,2032],"id":"30aab49f-6b34-410f-9a6d-dbf3f64bc42a","name":"Update rows in a table2","credentials":{"postgres":{"id":"IIGVYhLF2ZxmRsCM","name":"Empresa info DB"}}},{"parameters":{"operation":"get","tableId":"company","filters":{"conditions":[{"keyName":"whapi_id","keyValue":"={{ $('Webhook').item.json.body.channel_id }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1920,2032],"id":"2d4013f1-802a-4ac2-aa03-9282052c87b3","name":"info negocio","credentials":{"supabaseApi":{"id":"LRu6MJ8GyoAi49sj","name":"Supabase Empresas Credential"}}},{"parameters":{"content":"# Asignar variables","height":752,"width":944},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-9088,1232],"id":"d1d2ddc8-bccd-4b55-b177-26d7ef35ebbb","name":"Sticky Note16"},{"parameters":{"jsCode":"// Obtener el valor desde el nodo Webhook\nconst rawPhone = $('Webhook').first().json.body.conversation.messages[0].sender.phone_number;\n\n// Asegurarse de que sea string\nconst phoneStr = String(rawPhone);\n\n// Eliminar solo el signo '+' si está al inicio\nconst phoneNumber = phoneStr.startsWith('+') ? phoneStr.slice(1) : phoneStr;\n\nreturn {\n  phoneNumber\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-8352,1328],"id":"4a3225b2-9c5c-434b-8eab-c4d8a78ec9c6","name":"Sacar numero telefono"},{"parameters":{"assignments":{"assignments":[{"id":"b305b599-1071-49f8-844d-6b12b4a4654c","name":"ChatwootBotName","value":"={{ $('Webhook').item.json.body.sender.account.name }}","type":"string"},{"id":"7bf41cb0-1766-47c1-b5e3-379086e5a9c9","name":"message_type","value":"={{ $('Webhook').item.json.body.message_type }}","type":"string"},{"id":"004332f0-8dce-4ba5-86dc-c7c1721becc2","name":"Name","value":"={{ $('Webhook').item.json.body.conversation.messages[0].sender.name }}","type":"string"},{"id":"a839110f-1f64-4052-bba2-ba00988e3306","name":"conversation_id","value":"={{ $('Webhook').item.json.body.conversation.messages[0].conversation_id }}","type":"string"},{"id":"19c3012b-3971-4edf-9a1a-6f745288a963","name":"contact_id","value":"={{ $('Webhook').item.json.body.conversation.contact_inbox.contact_id }}","type":"number"},{"id":"f86f415e-db26-4ac7-85a3-c79137160846","name":"inbox_id","value":"={{ $('Webhook').item.json.body.conversation.contact_inbox.inbox_id }}","type":"number"},{"id":"49650864-213d-4784-8eaf-bbbca6094084","name":"telefono","value":"={{ $('Sacar numero telefono').item.json.phoneNumber }}","type":"string"},{"id":"55350983-030b-4d37-addc-d5b56eec607f","name":"account_id_presla","value":"={{ $('Webhook').item.json.body.conversation.messages[0].account_id }}","type":"number"},{"id":"14028981-0af7-452b-a7ff-4f12fe3cb844","name":"content_type","value":"={{ $('Webhook').item.json.body.conversation.messages[0].content_type }}","type":"string"},{"id":"03508676-b75d-4c65-9933-ca73bf275b33","name":"chatwoot_apiKey","value":"={{ $('Obtener la info de la empresa asociada').item.json.chatwoot_apiKey }}","type":"string"},{"id":"1b0e9d85-5551-43ae-b1cb-095af763fb52","name":"bot_off","value":"={{ $('Webhook').item.json.body.sender.custom_attributes.bot_off }}","type":"string"},{"id":"bc2d61b1-280d-40ad-80f9-dd0a4476dde9","name":"asistencia_ia","value":"={{ $('Webhook').item.json.body.conversation.labels[0] }}","type":"string"},{"id":"87c14e0b-05f5-4962-bff9-f55944fa9478","name":"message","value":"={{ $('Webhook').item.json.body.conversation.messages[0].content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8112,1392],"id":"ca1c0464-add7-4165-9427-a7fe4a89e5c1","name":"Variables entrantes"},{"parameters":{"method":"POST","url":"=http://evo-vs0og4w080ks4o8osgk8s8cw.154.12.249.120.sslip.io/message/sendText/{{ $('info empresa').item.json.evolutionapi_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Variables entrantes').item.json.telefono }}\",\n    \"text\": \"{{ $json.output.Response.Parte1 }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2960,-16],"id":"d0a088a3-ff14-4751-996c-97dcf52ccc60","name":"HTTP Request","credentials":{"httpBearerAuth":{"id":"348c8anQcHeJfzn9","name":"Evolution Api Variable Credential"},"httpHeaderAuth":{"id":"Ee7ZgO5WmuTIF0eg","name":"Variable EvolutionApi Credential"}},"disabled":true},{"parameters":{"method":"POST","url":"=http://evo-vs0og4w080ks4o8osgk8s8cw.154.12.249.120.sslip.io/message/sendText/{{ $('info empresa').item.json.evolutionapi_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Variables entrantes').item.json.telefono }}\",\n    \"text\": \"Hemos derivado tu pedido al área de facturación 🧑‍💻. Por favor, espera unos minutos mientras revisamos tu caso.\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6752,1472],"id":"e8f1fc13-66fc-4f05-ba95-34c31c362b6b","name":"HTTP Request6","credentials":{"httpBearerAuth":{"id":"348c8anQcHeJfzn9","name":"Evolution Api Variable Credential"},"httpHeaderAuth":{"id":"Ee7ZgO5WmuTIF0eg","name":"Variable EvolutionApi Credential"}}},{"parameters":{"method":"POST","url":"=http://evo-vs0og4w080ks4o8osgk8s8cw.154.12.249.120.sslip.io/message/sendText/{{ $('info empresa').item.json.evolutionapi_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Variables entrantes').item.json.telefono }}\",\n    \"text\": \"Hemos derivado tu caso al área de facturación 🧑‍💻. Por favor, espera unos minutos mientras revisamos tu caso.\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6912,1856],"id":"46d5afb5-89ed-4d3f-bc6e-f6fb99c25172","name":"HTTP Request7","credentials":{"httpBearerAuth":{"id":"348c8anQcHeJfzn9","name":"Evolution Api Variable Credential"},"httpHeaderAuth":{"id":"Ee7ZgO5WmuTIF0eg","name":"Variable EvolutionApi Credential"}}},{"parameters":{},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5504,1920],"id":"26da439b-736a-4e03-b459-2e4fffb83297","name":"Sticky Note17"},{"parameters":{"content":"## Funciona enviar mensajes al bot y responder preguntas del usuario, no funciona:\nEnviar cotizaciones (por la falla de la funcion en la db)\n\nEnviar audio\nEnviar imagen\nrazon: necesita desencriptacion\nsolucion:\ninstalar nodos personalizados de la comunidad o hacerla manual","height":272,"width":560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8624,880],"id":"c29d90df-520a-43a8-aa91-22f52dc30abc","name":"Sticky Note18"},{"parameters":{"content":"## Obligatoriamente uso evolution api para el puente con el numero de wsp","height":272,"width":560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-7984,896],"id":"147b54d8-04b4-4e8b-9d42-a0d02b2ef2ac","name":"Sticky Note19"},{"parameters":{"httpMethod":"POST","path":"36afee55-7a4a-41a5-b555-8d0984f6188d","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-9680,1328],"id":"6d97abb0-9a4c-42db-9d53-b937df750f22","name":"Webhook1","webhookId":"36afee55-7a4a-41a5-b555-8d0984f6188d","disabled":true},{"parameters":{"method":"POST","url":"https://inbox1.presla.co/api/v1/accounts/1/conversations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"source_id","value":"={{ $now }}"},{"name":"inbox_id","value":"={{ $('Variables entrantes').item.json.inbox_id }}"},{"name":"contact_id","value":"={{ $('Variables entrantes').item.json.contact_id }}"},{"name":"message_type","value":"outgoing"},{"name":"content","value":"Recibimos tu archivo pero no podemos leerlo porque no es un formato válido. Solo podemos leer: 📝 Texto escrito 🎤 Mensaje de voz 📷 Foto o imagen"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5760,1840],"id":"beebecfa-00dc-4155-957a-b43623600e8c","name":"Formato no valido1","credentials":{"httpBearerAuth":{"id":"TgoUXfgIuFxhgKJs","name":"Whapi Variable Credentials"},"httpHeaderAuth":{"id":"nsHbIkIeJhQK9Lye","name":"Variable ChatWoot Credentials"}},"disabled":true},{"parameters":{"method":"POST","url":"=https://inbox1.presla.co/api/v1/accounts/1/conversations/{{ $('Variables entrantes').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.output.Response.Parte1 }}"},{"name":"content_type","value":"text"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3840,208],"id":"fea60cc1-0bd8-4b72-a100-cf057e9493ed","name":"Mensaje 1","credentials":{"httpBearerAuth":{"id":"TgoUXfgIuFxhgKJs","name":"Whapi Variable Credentials"},"httpHeaderAuth":{"id":"nsHbIkIeJhQK9Lye","name":"Variable ChatWoot Credentials"}}},{"parameters":{"content":"## PENDIENTE: \nCorregir todas peticiones de envio de mensaje"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2544,-16],"id":"2cfdf8e2-1032-484f-a7cf-cc0e9fba44d2","name":"Sticky Note20"},{"parameters":{"method":"POST","url":"=https://inbox1.presla.co/api/v1/accounts/1/conversations/{{ $('Variables entrantes').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.output.Response.Parte2 }}"},{"name":"content_type","value":"text"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4272,320],"id":"8e262ccc-944a-4b0b-a26b-050368b08bf1","name":"Mensaje ","credentials":{"httpBearerAuth":{"id":"TgoUXfgIuFxhgKJs","name":"Whapi Variable Credentials"},"httpHeaderAuth":{"id":"nsHbIkIeJhQK9Lye","name":"Variable ChatWoot Credentials"}}},{"parameters":{"method":"POST","url":"=https://inbox1.presla.co/api/v1/accounts/1/conversations/{{ $('Variables entrantes').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.output.Response.Parte3 }}"},{"name":"content_type","value":"text"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4736,528],"id":"0ff25ce3-db20-4270-b313-7434cb10f271","name":"Mensaje 2","credentials":{"httpBearerAuth":{"id":"TgoUXfgIuFxhgKJs","name":"Whapi Variable Credentials"},"httpHeaderAuth":{"id":"nsHbIkIeJhQK9Lye","name":"Variable ChatWoot Credentials"}}},{"parameters":{"jsCode":"const body = $json.body;\n\n// Si no hay attachments → es texto\nif (!body.attachments || body.attachments.length === 0) {\n  return [{ type: \"text\", data: body }];\n}\n\nconst fileType = body.attachments[0].file_type.toLowerCase();\n\n// AUDIO\nif (fileType.includes(\"audio\")) {\n  return [{ type: \"audio\", data: body }];\n}\n\n// VIDEO\nif (fileType.includes(\"video\")) {\n  return [{ type: \"video\", data: body }];\n}\n\n// IMAGE (tu caso)\nif (fileType.includes(\"image\")) {\n  return [{ type: \"image\", data: body }];\n}\n\n// DEFAULT\nreturn [{ type: \"no-supported\", data: body }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-9040,1344],"id":"0fc01a44-c56b-4f6a-844f-e7eb32115780","name":"Tipo de mensaje"},{"parameters":{"method":"POST","url":"=https://inbox1.presla.co/api/v1/accounts/1/conversations/{{ $('Variables entrantes').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Hemos derivado tu pedido al área de facturación 🧑‍💻. Por favor, espera unos minutos mientras revisamos tu caso."},{"name":"content_type","value":"text"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6928,1568],"id":"d5b2d940-b4ed-4350-bc1e-3a5b3308f516","name":"derivacion","credentials":{"httpBearerAuth":{"id":"TgoUXfgIuFxhgKJs","name":"Whapi Variable Credentials"},"httpHeaderAuth":{"id":"nsHbIkIeJhQK9Lye","name":"Variable ChatWoot Credentials"}}},{"parameters":{"method":"POST","url":"=https://inbox1.presla.co/api/v1/accounts/1/conversations/{{ $('Variables entrantes').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Hemos derivado tu pedido al área de facturación 🧑‍💻. Por favor, espera unos minutos mientras revisamos tu caso."},{"name":"content_type","value":"text"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7008,2000],"id":"10da52ab-ceed-4929-b5b8-b1bad39cfd8d","name":"derivacion1","credentials":{"httpBearerAuth":{"id":"TgoUXfgIuFxhgKJs","name":"Whapi Variable Credentials"},"httpHeaderAuth":{"id":"nsHbIkIeJhQK9Lye","name":"Variable ChatWoot Credentials"}}},{"parameters":{"method":"POST","url":"=https://inbox1.presla.co/api/v1/accounts/1/conversations/{{ $('Variables entrantes').item.json.conversation_id }}/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Recibimos tu archivo pero no podemos leerlo porque no es un formato válido. Solo podemos leer: 📝 Texto escrito 🎤 Mensaje de voz 📷 Foto o imagen"},{"name":"content_type","value":"text"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5792,1744],"id":"46c98918-b7f3-4618-9a28-9fe2c33b4a24","name":"derivacion2","credentials":{"httpBearerAuth":{"id":"TgoUXfgIuFxhgKJs","name":"Whapi Variable Credentials"},"httpHeaderAuth":{"id":"nsHbIkIeJhQK9Lye","name":"Variable ChatWoot Credentials"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-5664,1216],"id":"f2727bf0-29f0-468d-87cf-33aee25c8064","name":"Extract from File"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"mimeType":"audio.wav"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-5424,1184],"id":"f4c46d00-865f-4a71-87ef-1499d2f4f628","name":"Convert to File"}],"connections":{"AI Agent":{"main":[[{"node":"productos ai","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"link","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Switch":{"main":[[{"node":"formatear json de productos","type":"main","index":0},{"node":"Crear arreglo de codigo de productos","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"formatear json de productos","type":"main","index":0},{"node":"Crear arreglo de codigo de productos","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"enviar pdf","type":"main","index":0}]]},"Info negocio":{"ai_tool":[[]]},"Webhook":{"main":[[{"node":"Tipo de mensaje","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"HTTP Request4","type":"main","index":0}],[{"node":"Analyze image","type":"main","index":0}],[{"node":"texto","type":"main","index":0}],[{"node":"derivacion2","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"texto de voz","type":"main","index":0}]]},"HTTP Request4":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"pedido","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Redis7","type":"main","index":0}]]},"mensaje_usuario":{"main":[[{"node":"Filtro tipo de conversación","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Base de datos inventario":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"productos ai":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code4","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code5":{"main":[[{"node":"TEXTO","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Loop Over Items","type":"main","index":0}]]},"Code4":{"main":[[{"node":"TEXTO","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"pg_20":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"pg_map_contexto_20","type":"main","index":0}]]},"pg_map_contexto_20":{"main":[[{"node":"mensaje_usuario","type":"main","index":0}]]},"gpt mini":{"ai_languageModel":[[{"node":"Filtro tipo de conversación","type":"ai_languageModel","index":0}]]},"Filtro tipo de conversación":{"main":[[{"node":"intención","type":"main","index":0}],[{"node":"Añadir etiqueta SPAM","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"Añadir etiqueta SPAM","type":"main","index":0}],[{"node":"intención","type":"main","index":0}]]},"TEXTO":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"intención","type":"ai_languageModel","index":0}]]},"intención":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Infomación","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Infomación","type":"ai_memory","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Infomación","type":"ai_languageModel","index":0}]]},"Infomación":{"main":[[{"node":"Switch","type":"main","index":0}]]},"enviar pdf":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"link":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0},{"node":"Structured Output Parser2","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Wait2","type":"main","index":0},{"node":"Mensaje 1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Wait4","type":"main","index":0},{"node":"Mensaje ","type":"main","index":0}]]},"If4":{"main":[[{"node":"Mensaje 2","type":"main","index":0}]]},"formatear json de productos":{"main":[[{"node":"Info de productos confiable","type":"main","index":0}]]},"Crear arreglo de codigo de productos":{"main":[[{"node":"Info de productos confiable","type":"main","index":1}]]},"Info de productos confiable":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Mis propios mensajes?":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}],[{"node":"etiqueta humano o spam?","type":"main","index":0}]]},"¿Existe en la bd?":{"main":[[{"node":"pg_20","type":"main","index":0}],[{"node":"Crear registro","type":"main","index":0}]]},"Valores rapidos":{"main":[[{"node":"buscar usuario en bd1","type":"main","index":0}]]},"Update record":{"main":[[]]},"Añadir etiqueta humano":{"main":[[{"node":"Update rows in a table1","type":"main","index":0}],[{"node":"No Operation, do nothing5","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Añadir etiqueta humano","type":"main","index":0}],[{"node":"Añadir etiqueta humano1","type":"main","index":0}],[{"node":"Update rows in a table","type":"main","index":0}]]},"Update record1":{"main":[[]]},"Añadir etiqueta humano1":{"main":[[{"node":"Update rows in a table2","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}]]},"Redis6":{"main":[[{"node":"If6","type":"main","index":0}]]},"Redis7":{"main":[[{"node":"5 segundos de espera","type":"main","index":0}]]},"If6":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"No Operation, do nothing7","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Redis9","type":"main","index":0}]]},"Redis9":{"main":[[{"node":"Mensaje completo","type":"main","index":0}]]},"5 segundos de espera":{"main":[[{"node":"Redis6","type":"main","index":0}]]},"Mensaje completo":{"main":[[{"node":"Valores rapidos","type":"main","index":0}]]},"texto":{"main":[[{"node":"Merge","type":"main","index":2}]]},"texto de imagen":{"main":[[{"node":"Merge","type":"main","index":1}]]},"texto de voz":{"main":[[{"node":"Merge","type":"main","index":0}]]},"obtener info chat tag":{"main":[[]]},"La etiqueta existe?1":{"main":[[{"node":"No Operation, do nothing8","type":"main","index":0}],[{"node":"No Operation, do nothing8","type":"main","index":0}]]},"Añadir etiqueta SPAM":{"main":[[],[{"node":"La etiqueta existe?1","type":"main","index":0}]]},"etiqueta humano o spam?":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0}],[{"node":"Switch2","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Identificar pedido","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0},{"node":"Structured Output Parser3","type":"ai_languageModel","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"mas de 35 productos?","type":"main","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"mas de 35 productos?":{"main":[[{"node":"limite maximo","type":"main","index":0}],[{"node":"texto de imagen","type":"main","index":0}]]},"limite maximo":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Identificar pedido":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"pedido":{"main":[[{"node":"Identificar pedido","type":"main","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Aggregate":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"If3","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"If4","type":"main","index":0}]]},"Obtener la info de la empresa asociada":{"main":[[{"node":"Sacar numero telefono","type":"main","index":0}]]},"buscar usuario en bd1":{"main":[[{"node":"¿Existe en la bd?","type":"main","index":0}]]},"Crear registro":{"main":[[{"node":"pg_20","type":"main","index":0}]]},"info empresa":{"main":[[{"node":"Mis propios mensajes?","type":"main","index":0}]]},"Update rows in a table":{"main":[[]]},"Update rows in a table1":{"main":[[{"node":"derivacion","type":"main","index":0}]]},"Update rows in a table2":{"main":[[{"node":"derivacion1","type":"main","index":0}]]},"info negocio":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0},{"node":"Infomación","type":"ai_tool","index":0}]]},"Sacar numero telefono":{"main":[[{"node":"Variables entrantes","type":"main","index":0}]]},"Variables entrantes":{"main":[[{"node":"info empresa","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Webhook1":{"main":[[]]},"Tipo de mensaje":{"main":[[{"node":"Obtener la info de la empresa asociada","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook1":[{"json":{"headers":{"host":"cloud.presla.co","user-agent":"rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34","content-length":"5575","accept":"application/json","accept-encoding":"gzip;q=1.0,deflate;q=0.6,identity;q=0.3","content-type":"application/json","x-forwarded-for":"10.0.1.1","x-forwarded-host":"cloud.presla.co","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"879cc91df65b","x-real-ip":"10.0.1.1"},"params":{},"query":{},"body":{"account":{"id":1,"name":"Presla"},"additional_attributes":{},"content_attributes":{},"content_type":"text","content":"Sfvhh","conversation":{"additional_attributes":{},"can_reply":true,"channel":"Channel::Api","contact_inbox":{"id":23,"contact_id":8,"inbox_id":3,"source_id":"d0895290-529a-4693-aea6-578175e5bad5","created_at":"2025-11-17T18:21:41.222Z","updated_at":"2025-11-17T18:21:41.222Z","hmac_verified":false,"pubsub_token":"94q2yK5QTwBqpveA3GvHKFdM"},"id":11,"inbox_id":3,"messages":[{"id":800,"content":"Sfvhh","account_id":1,"inbox_id":3,"conversation_id":11,"message_type":0,"created_at":1763585879,"updated_at":"2025-11-19T20:57:59.270Z","private":false,"status":"sent","source_id":"WAID:AC4DD4D2AD9A5CD19259CA67584B023B","content_type":"text","content_attributes":{},"sender_type":"Contact","sender_id":8,"external_source_ids":{},"additional_attributes":{},"processed_message_content":"Sfvhh","sentiment":{},"conversation":{"assignee_id":1,"unread_count":10,"last_activity_at":1763585879,"contact_inbox":{"source_id":"d0895290-529a-4693-aea6-578175e5bad5"}},"sender":{"additional_attributes":{"avatar_url_hash":"84e15240465ee331746a6c03cdc0629cc0d2dea96452438c1259bfd31373e50d","last_avatar_sync_at":"2025-11-17T17:46:36Z"},"custom_attributes":{"bot_off":"bot off"},"email":null,"id":8,"identifier":"225353259827334@lid","name":"Tu local","phone_number":"+51950823801","thumbnail":"https://inbox1.presla.co/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBHUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--fdcd76368bb0b8cc8fc15b9464fbcf8cf45c4a87/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c9c3eec9cf423d281a506977b0e01c834120bf2e/535979800_2612867332397059_9111100409746690972_n.jpg","blocked":false,"type":"contact"}}],"labels":["asistencia_ia"],"meta":{"sender":{"additional_attributes":{"avatar_url_hash":"84e15240465ee331746a6c03cdc0629cc0d2dea96452438c1259bfd31373e50d","last_avatar_sync_at":"2025-11-17T17:46:36Z"},"custom_attributes":{"bot_off":"bot off"},"email":null,"id":8,"identifier":"225353259827334@lid","name":"Tu local","phone_number":"+51950823801","thumbnail":"https://inbox1.presla.co/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBHUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--fdcd76368bb0b8cc8fc15b9464fbcf8cf45c4a87/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c9c3eec9cf423d281a506977b0e01c834120bf2e/535979800_2612867332397059_9111100409746690972_n.jpg","blocked":false,"type":"contact"},"assignee":{"id":1,"name":"Presla","available_name":"Presla","avatar_url":"https://inbox1.presla.co/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--61bb1c7a9e5f23ea95f4c620a2e87c38aa81a031/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--299e52d5e2ac09802993a539b0d9494a61837647/fd0e9dcf6d12ba221f84d98835b7d659.jpeg","type":"user","availability_status":null,"thumbnail":"https://inbox1.presla.co/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--61bb1c7a9e5f23ea95f4c620a2e87c38aa81a031/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2hOeVpYTnBlbVZmZEc5ZlptbHNiRnNIYVFINk1BPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--299e52d5e2ac09802993a539b0d9494a61837647/fd0e9dcf6d12ba221f84d98835b7d659.jpeg"},"team":null,"hmac_verified":false},"status":"open","custom_attributes":{},"snoozed_until":null,"unread_count":10,"first_reply_created_at":"2025-11-17T18:21:53.286Z","priority":null,"waiting_since":1763583646,"agent_last_seen_at":1763445703,"contact_last_seen_at":1763574458,"last_activity_at":1763585879,"timestamp":1763585879,"created_at":1763403701,"updated_at":1763585879.284322},"created_at":"2025-11-19T20:57:59.270Z","id":800,"inbox":{"id":3,"name":"Presla_bot"},"message_type":"incoming","private":false,"sender":{"account":{"id":1,"name":"Presla"},"additional_attributes":{"avatar_url_hash":"84e15240465ee331746a6c03cdc0629cc0d2dea96452438c1259bfd31373e50d","last_avatar_sync_at":"2025-11-17T17:46:36Z"},"avatar":"https://inbox1.presla.co/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBHUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--fdcd76368bb0b8cc8fc15b9464fbcf8cf45c4a87/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c9c3eec9cf423d281a506977b0e01c834120bf2e/535979800_2612867332397059_9111100409746690972_n.jpg","custom_attributes":{"bot_off":"bot off"},"email":null,"id":8,"identifier":"225353259827334@lid","name":"Tu local","phone_number":"+51950823801","thumbnail":"https://inbox1.presla.co/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBHUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--fdcd76368bb0b8cc8fc15b9464fbcf8cf45c4a87/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c9c3eec9cf423d281a506977b0e01c834120bf2e/535979800_2612867332397059_9111100409746690972_n.jpg","blocked":false},"source_id":"WAID:AC4DD4D2AD9A5CD19259CA67584B023B","event":"message_created"},"webhookUrl":"https://cloud.presla.co/webhook-test/36afee55-7a4a-41a5-b555-8d0984f6188d","executionMode":"test"}}]},"versionId":"1dd0c6e4-2064-4432-9cb2-e852a83f5701","triggerCount":0,"tags":[{"createdAt":"2025-11-18T17:34:15.311Z","updatedAt":"2025-11-18T17:34:15.311Z","id":"c3imwBZ1mCiUQxbf","name":"santiagomuñoz"},{"createdAt":"2025-11-18T17:34:15.304Z","updatedAt":"2025-11-18T17:34:15.304Z","id":"cyLS5rqdXVmmC5Lz","name":"danimed"},{"createdAt":"2025-11-18T17:34:15.285Z","updatedAt":"2025-11-18T17:34:15.285Z","id":"PYRkGn3IzKzPUoeM","name":"valisoso"},{"createdAt":"2025-11-10T17:52:47.997Z","updatedAt":"2025-11-10T17:52:47.997Z","id":"XBwwjnkaDrN3oI0V","name":"MAIN"}],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"QCDemfU64LFjCEJT","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}