backups/workflows/modificar_cita_clinica CAL.json
{"createdAt":"2025-11-24T22:17:46.047Z","updatedAt":"2025-11-28T00:00:07.274Z","id":"4lb4NcuKKNZWlCBH","name":"modificar_cita_clinica CAL","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha actual\": \"2025-07-10T11:00:00\",\n  \"Fecha nueva\": \"2025-07-11T11:00:00\",\n  \"Nombre\": \"Diego Vasquez\",\n  \"Telefono\":\"+56954675214\",\n  \"Correo\":\"fantinocamara@gmail.com\"\n}"},"id":"7ac4ded8-ea00-4953-8b05-d730c0337918","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-48,0]},{"parameters":{"promptType":"define","text":"=fecha actual: {{ $json['Fecha actual original'] }}\nfecha nueva: {{ $json['Fecha nueva original'] }}","options":{"systemMessage":"=# Rol  \nEres un agente virtual especializado en la gestión y modificación de citas. Tienes experiencia en validar, reprogramar y eliminar citas de manera eficiente, asegurando que los cambios cumplan con los requisitos establecidos.  \n\n# Tarea  \nTu tarea es modificar citas según las solicitudes de los usuarios, siguiendo un proceso estructurado. Para ello, debes:  \n\n1.Validar la nueva fecha: Asegurar que la nueva fecha solicitada está dentro del horario de atención permitido utilizando la herramienta \"comprobar_nueva_fecha\".  \n\n2.Buscar id cita actual con \"buscar_uuid\".\n\n3.Comprobar la disponibilidad de la nueva fecha: Usar la herramienta \"comprobar_disponibilidad_nuevafecha\". Si no hay disponibilidad, ofrecer horarios alternativos mediante la herramienta \"ofrecer_horarios_nueva_fecha\".  \n\n4.Crear la nueva cita: Si la nueva fecha es válida, proceder a agendar la nueva cita con la herramienta \"crear_cita_nueva\"\n\n\n5.Eliminar la cita actual: Una vez creada la nueva cita, eliminar la cita original usando la herramienta \"eliminar_cita_actual\"  \n\n\n#Formato respuesta:\n{\n\t\"respuesta\": \"La modificación de su cita se ha realizado exitosamente para el:\"\n\n}\n\n# Detalles Específicos  \n- Si en algún punto del proceso una validación falla, informar al usuario con una respuesta clara y específica sobre el motivo del rechazo.  \n- Utilizar las herramientas en el orden establecido para garantizar la correcta modificación de la cita.  \n- En caso de que la fecha actual no exista o no corresponda al usuario, informar que la cita no pudo ser encontrada.  \n- Si la nueva fecha está fuera del horario permitido, indicar los horarios disponibles.    \n- Confirmar al usuario cada paso exitoso, asegurando claridad en el proceso.  \n\n# Notas  \n- La fecha de hoy es {{ $now }}  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[560,0],"id":"370ca991-5b1b-4b40-b665-090ad0b49efc","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[256,336],"id":"937880d0-6959-4690-b93e-904eacc82879","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"qPtoS3F65dS7YPJZ","name":"OPENAI PRESLA APIKEY"}}},{"parameters":{"name":"comprobar_nueva_fecha","description":"Comprueba si la nueva fecha de la cita corresponde a los horarios de atencion.","workflowId":{"__rl":true,"value":"UvJdPSxIYNrLBBbz","mode":"list","cachedResultUrl":"/workflow/UvJdPSxIYNrLBBbz","cachedResultName":"comprobar_fecha_clinica CAL"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json['Fecha nueva original'] }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[432,400],"id":"8e84723d-2b84-42fa-a68e-b183ca4f065c","name":"comprobar_nueva_fecha"},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"timeMin":"={{ $json['Fecha nueva original'] }}-04:00","timeMax":"={{ $json['Fecha nueva +1h'] }}-04:00","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[736,640],"id":"5409ae4a-7262-45ef-a866-353d8b4fc602","name":"comprobar_disponibilidad_nueva_fecha","disabled":true},{"parameters":{"name":"ofrecer_horarios_nueva_fecha","description":"Eres la herramienta encargada de ofrecer horarios alternativos de la fecha nueva.","workflowId":{"__rl":true,"value":"Kn2GiaeVA0Y0dM3L","mode":"list","cachedResultUrl":"/workflow/Kn2GiaeVA0Y0dM3L","cachedResultName":"entregar_horarios CAL"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json['Fecha nueva original'] }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[944,432],"id":"eec92d6e-18cb-483d-824f-9c2f27573b79","name":"ofrecer_horarios_nueva_fecha"},{"parameters":{"jsCode":"const fechaActualTexto = $input.first().json['Fecha actual'];\nconst fechaNuevaTexto = $input.first().json['Fecha nueva'];\n\n// Función para sumar 1 hora y mantener formato YYYY-MM-DDTHH:mm:ss-05:00\nfunction sumarUnaHora(fechaTexto) {\n  const fecha = new Date(fechaTexto);\n  fecha.setHours(fecha.getHours() + 1); // Sumar 1 hora\n  const offset = -5; // Para la zona horaria de Perú (-05:00)\n  \n  // Ajustar la fecha para mantener la zona horaria de -05:00\n  const hora = fecha.getHours() + offset;\n  const minutos = fecha.getMinutes().toString().padStart(2, '0');\n  const segundos = fecha.getSeconds().toString().padStart(2, '0');\n  \n  // Formatear la fecha en el formato deseado\n  return `${fecha.getFullYear()}-${(fecha.getMonth() + 1).toString().padStart(2, '0')}-${fecha.getDate().toString().padStart(2, '0')}T${hora.toString().padStart(2, '0')}:${minutos}:${segundos}-05:00`;\n}\n\nconst fechaActualMasUna = sumarUnaHora(fechaActualTexto);\nconst fechaNuevaMasUna = sumarUnaHora(fechaNuevaTexto);\n\nreturn [\n  {\n    json: {\n      \"Fecha actual original\": fechaActualTexto,\n      \"Fecha actual +1h\": fechaActualMasUna,\n      \"Fecha nueva original\": fechaNuevaTexto,\n      \"Fecha nueva +1h\": fechaNuevaMasUna\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"a9eb9dc6-d5d7-44b8-99ca-c57e768cc2a0","name":"Code"},{"parameters":{"content":"## Comprobar nueva fecha ✅\n## Buscar ID ✅\n## Comprobar disponibilidad nueva fecha ✅\n## ofrecer horarios nueva fecha ✅\n## Crear cita nueva ✅\n## eliminar cita actual ✅","height":304,"width":448},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1232,-128],"id":"850afd59-afca-4fed-99d5-127f39c43eae","name":"Sticky Note1"},{"parameters":{"calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"start":"={{ $json['Fecha nueva original'] }}","end":"={{ $json['Fecha nueva +1h'] }}","additionalFields":{"summary":"=Cita: {{ $('When Executed by Another Workflow').item.json.Nombre }} {{ $('When Executed by Another Workflow').item.json.Telefono }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1312,528],"id":"3925ea78-ed63-44b7-9cbe-10439038864f","name":"crear_cita_nueva_GOOGLE","disabled":true},{"parameters":{"method":"POST","url":"https://api.cal.com/v2/bookings","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-08-13"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"start\": \"{{ $json['Fecha nueva original'] }}\",\n  \"attendee\": {\n    \"name\": \"{{ $('When Executed by Another Workflow').item.json.Nombre }}\",\n    \"timeZone\": \"America/Lima\",\n    \"email\": \"{{ $('When Executed by Another Workflow').item.json.Correo }}\",\n    \"phoneNumber\": \"{{ $('When Executed by Another Workflow').item.json.Telefono }}\",\n    \"language\": \"es\"\n  },\n  \"eventTypeId\": 3991866\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1104,368],"id":"8754d4ea-d44d-4ef4-831f-89682668948e","name":"crear_cita_nueva","credentials":{"httpHeaderAuth":{"id":"MVqQuvYRe4TTCjc5","name":"CAL Fantino APIKEY Agente de citas 2.0"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"limit":1,"timeMin":"={{ $json['Fecha actual original'] }}","timeMax":"={{ $json['Fecha actual +1h'] }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[512,624],"id":"111a3cd3-3089-41f4-aabf-b48adbe86707","name":"buscar_id_GOOGLE","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"PudKboIVq76uSf65","mode":"list","cachedResultUrl":"/workflow/PudKboIVq76uSf65","cachedResultName":"comprobar_disponibilidad CAL"},"workflowInputs":{"mappingMode":"defineBelow","value":{"FechaOriginal":"={{ $json['Fecha nueva original'] }}","FechaMasUnaHora":"={{ $json['Fecha nueva +1h'] }}"},"matchingColumns":[],"schema":[{"id":"FechaOriginal","displayName":"FechaOriginal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"FechaMasUnaHora","displayName":"FechaMasUnaHora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[800,464],"id":"249a501d-dd76-41c4-a9c6-21264db5d758","name":"Call 'comprobar_disponibilidad CAL'"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `Event id de la cita actual`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1456,464],"id":"3275b518-3050-4fb0-b5bb-9b5ee31f20ea","name":"eliminar_cita_actual_google","disabled":true},{"parameters":{"method":"POST","url":"=https://api.cal.com/v2/bookings/{{ $fromAI(\"uuid\",\"uuid de la cita actual\") }}/cancel","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-08-13"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"cancellationReason\": \"User requested cancellation\"\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1248,304],"id":"2da86d81-ab34-4509-b33f-34f240fd823d","name":"eliminar_cita_actual","credentials":{"httpHeaderAuth":{"id":"MVqQuvYRe4TTCjc5","name":"CAL Fantino APIKEY Agente de citas 2.0"}}},{"parameters":{"method":"POST","url":"https://api.cal.com/v2/bookings","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-08-13"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"start\": \"2025-12-02T17:00:00-05:00\",\n  \"attendee\": {\n    \"name\": \"Diego Vasquez\",\n    \"timeZone\": \"America/Lima\",\n    \"email\": \"fantinocamara@gmail.com\",\n    \"phoneNumber\": \"+56954675214\",\n    \"language\": \"es\"\n  },\n  \"eventTypeId\": 3991866\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,304],"id":"400f94a2-4b02-4b3f-8a04-3c5a43fcbec4","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"MVqQuvYRe4TTCjc5","name":"CAL Fantino APIKEY Agente de citas 2.0"}}},{"parameters":{"method":"POST","url":"https://api.cal.com/v2/bookings/eLQDozzrVtNvq6E4rXbsh5/cancel","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-08-13"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"cancellationReason\": \"User requested cancellation\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,288],"id":"9ea2f4f0-135d-4244-9adc-e1c9b3599ad5","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"MVqQuvYRe4TTCjc5","name":"CAL Fantino APIKEY Agente de citas 2.0"}}},{"parameters":{"url":"https://api.cal.com/v2/bookings/eLQDozzrVtNvq6E4rXbsh5","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-08-13"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,480],"id":"50362672-9e26-4778-8b54-a25b22c80c24","name":"HTTP Request2","credentials":{"httpHeaderAuth":{"id":"MVqQuvYRe4TTCjc5","name":"CAL Fantino APIKEY Agente de citas 2.0"}}},{"parameters":{"toolDescription":"Herramienta para buscar uuid de la reunion actual","url":"https://api.cal.com/v2/bookings","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"afterStart","value":"={{ $json['Fecha actual original'] }}"},{"name":"beforeEnd","value":"={{ $json['Fecha actual +1h'] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-08-13"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[608,448],"id":"ef63558d-149e-4de9-b65b-cc36dbb51981","name":"buscar_uuid","credentials":{"httpHeaderAuth":{"id":"MVqQuvYRe4TTCjc5","name":"CAL Fantino APIKEY Agente de citas 2.0"}}},{"parameters":{"content":"## Detalle\n## Al eliminar cita, la hora de la cita cancelada igual no se podra volver a usar ","height":304,"width":448},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-512,-320],"id":"8a9d4f9d-5177-458c-8c2d-e0e9683df1c6","name":"Sticky Note"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"comprobar_nueva_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"comprobar_disponibilidad_nueva_fecha":{"ai_tool":[[]]},"ofrecer_horarios_nueva_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"crear_cita_nueva_GOOGLE":{"ai_tool":[[]]},"crear_cita_nueva":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"buscar_id_GOOGLE":{"ai_tool":[[]]},"Call 'comprobar_disponibilidad CAL'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"eliminar_cita_actual_google":{"ai_tool":[[]]},"eliminar_cita_actual":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"buscar_uuid":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"Fecha actual":"2025-11-28T15:00:00-05:00","Fecha nueva":"2025-12-03T16:00:00-05:00","Nombre":"Diego Vasquez","Telefono":"+56954675214","Correo":"fantinocamara@gmail.com"}}]},"versionId":"9b421c94-3238-4fc1-8219-f6082fea8ca6","triggerCount":0,"tags":[{"createdAt":"2025-11-24T17:21:34.835Z","updatedAt":"2025-11-24T17:21:34.835Z","id":"hJTfClhVd9g7R0a9","name":"CAL"},{"createdAt":"2025-11-24T17:21:44.159Z","updatedAt":"2025-11-24T17:21:44.159Z","id":"N9Ts4rh9w1HwhzNI","name":"Agente de reservas 2.0"}],"shared":[{"createdAt":"2025-11-24T22:17:46.047Z","updatedAt":"2025-11-24T22:17:46.047Z","role":"workflow:owner","workflowId":"4lb4NcuKKNZWlCBH","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}