backups/workflows/modificar_cita_clinica.json
{"createdAt":"2025-11-17T14:38:59.816Z","updatedAt":"2025-11-27T23:15:08.535Z","id":"VtBNJBQYhz027rud","name":"modificar_cita_clinica","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha actual\": \"2025-07-10T11:00:00\",\n  \"Fecha nueva\": \"2025-07-11T11:00:00\",\n  \"Nombre\": \"Diego Vasquez\",\n  \"Telefono\":\"+56954675214\"\n}"},"id":"0f671a39-c9a5-42e1-b2f4-4e1752fd5fa3","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-48,0]},{"parameters":{"promptType":"define","text":"=fecha actual: {{ $json['Fecha actual original'] }}\nfecha nueva: {{ $json['Fecha nueva original'] }}","options":{"systemMessage":"=# Rol  \nEres un agente virtual especializado en la gestión y modificación de citas. Tienes experiencia en validar, reprogramar y eliminar citas de manera eficiente, asegurando que los cambios cumplan con los requisitos establecidos.  \n\n# Tarea  \nTu tarea es modificar citas según las solicitudes de los usuarios, siguiendo un proceso estructurado. Para ello, debes:  \n\n1.Validar la nueva fecha: Asegurar que la nueva fecha solicitada está dentro del horario de atención permitido utilizando la herramienta \"comprobar_nueva_fecha\".  \n\n2.Buscar id cita actual con \"buscar_id\".\n\n3.Comprobar la disponibilidad de la nueva fecha: Usar la herramienta \"comprobar_disponibilidad_nuevafecha\". Si no hay disponibilidad, ofrecer horarios alternativos mediante la herramienta \"ofrecer_horarios_nueva_fecha\".  \n\n4.Crear la nueva cita: Si la nueva fecha es válida, proceder a agendar la nueva cita con la herramienta \"crear_cita_nueva\"\n\n\n5.Eliminar la cita actual: Una vez creada la nueva cita, eliminar la cita original usando la herramienta \"eliminar_cita_actual\"  \n\n\n#Formato respuesta:\n{\n\t\"respuesta\": \"La modificación de su cita se ha realizado exitosamente para el:\"\n\n}\n\n# Detalles Específicos  \n- Si en algún punto del proceso una validación falla, informar al usuario con una respuesta clara y específica sobre el motivo del rechazo.  \n- Utilizar las herramientas en el orden establecido para garantizar la correcta modificación de la cita.  \n- En caso de que la fecha actual no exista o no corresponda al usuario, informar que la cita no pudo ser encontrada.  \n- Si la nueva fecha está fuera del horario permitido, indicar los horarios disponibles.    \n- Confirmar al usuario cada paso exitoso, asegurando claridad en el proceso.  \n\n# Notas  \n- La fecha de hoy es {{ $now }}  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[560,0],"id":"b76d9ccd-58ea-4609-8188-33655b11a4b5","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,352],"id":"52e9b8cc-fb73-42e7-a606-0b006f322298","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"s0q6CUNupwhY9NPd","name":"Variable OpenAI Pruebas Credentials"}}},{"parameters":{"name":"comprobar_nueva_fecha","description":"Comprueba si la nueva fecha de la cita corresponde a los horarios de atencion.","workflowId":{"__rl":true,"value":"8DneNaUdQhPmc1am","mode":"list","cachedResultName":"comprobar_fecha_clinica"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json['Fecha nueva original'] }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[480,384],"id":"25f9a825-6af9-462d-93b7-3d70603bdb16","name":"comprobar_nueva_fecha"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"limit":1,"timeMin":"={{ $json['Fecha actual original'] }}","timeMax":"={{ $json['Fecha actual +1h'] }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[624,432],"id":"1fccc486-cf15-4627-8a1d-830256e4f50b","name":"buscar_id"},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"timeMin":"={{ $json['Fecha nueva original'] }}-04:00","timeMax":"={{ $json['Fecha nueva +1h'] }}-04:00","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[768,432],"id":"b4a598f8-e640-4d9e-a1cd-6008dff8cfe1","name":"comprobar_disponibilidad_nueva_fecha"},{"parameters":{"name":"ofrecer_horarios_nueva_fecha","description":"Eres la herramienta encargada de ofrecer horarios alternativos de la fecha nueva.","workflowId":{"__rl":true,"value":"FarXcxBAh7UgWMkS","mode":"list","cachedResultName":"entregar_horarios"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json['Fecha nueva original'] }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[944,432],"id":"fe13fe68-4fa8-4b53-a278-447d894983df","name":"ofrecer_horarios_nueva_fecha"},{"parameters":{"calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"start":"={{ $json['Fecha nueva original'] }}","end":"={{ $json['Fecha nueva +1h'] }}","additionalFields":{"summary":"=Cita: {{ $('When Executed by Another Workflow').item.json.Nombre }} {{ $('When Executed by Another Workflow').item.json.Telefono }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1104,384],"id":"656c2503-f23f-44d4-8164-33350cc0f607","name":"crear_cita_nueva"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `Event id de la cita actual`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1248,304],"id":"c4ea12cd-c3d2-42ef-8e48-90c6c20d1f24","name":"eliminar_cita_actual"},{"parameters":{"jsCode":"const fechaActualTexto = $input.first().json['Fecha actual'];\nconst fechaNuevaTexto = $input.first().json['Fecha nueva'];\n\n// Función para sumar 1 hora y mantener formato YYYY-MM-DDTHH:mm:ss\nfunction sumarUnaHora(fechaTexto) {\n  const fecha = new Date(fechaTexto);\n  fecha.setHours(fecha.getHours() + 1);\n  return fecha.toISOString().substring(0, 19);\n}\n\nconst fechaActualMasUna = sumarUnaHora(fechaActualTexto);\nconst fechaNuevaMasUna = sumarUnaHora(fechaNuevaTexto);\n\nreturn [\n  {\n    json: {\n      \"Fecha actual original\": fechaActualTexto,\n      \"Fecha actual +1h\": fechaActualMasUna,\n      \"Fecha nueva original\": fechaNuevaTexto,\n      \"Fecha nueva +1h\": fechaNuevaMasUna\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"e7742e64-0521-4401-88d4-c593eda4d31f","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"comprobar_nueva_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"buscar_id":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"comprobar_disponibilidad_nueva_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"ofrecer_horarios_nueva_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"crear_cita_nueva":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"eliminar_cita_actual":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"Fecha actual":"2025-07-12T11:00:00","Fecha nueva":"2025-07-14T16:00:00","Nombre":"Diego Vasquez","Telefono":"+56954675214"}}]},"versionId":"63235267-9831-4404-8d5d-c74af834bc50","triggerCount":0,"tags":[{"createdAt":"2025-11-17T14:36:32.455Z","updatedAt":"2025-11-17T14:36:32.455Z","id":"hrIDh4R5vrcVht8l","name":"hoy"}],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"VtBNJBQYhz027rud","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}