backups/workflows/My Sub-Workflow 1.json
{"createdAt":"2025-11-09T06:00:01.058Z","updatedAt":"2025-11-09T06:00:08.620Z","id":"hHdjEerSITLEpdif","name":"My Sub-Workflow 1","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"prompt"}]}},"id":"60497185-a269-4cbb-b145-e43fda4d7130","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.5-flash-image-preview","mode":"list","cachedResultName":"models/gemini-2.5-flash-image-preview (Nano Banana)"},"prompt":"={{ $json.prompt.toJsonString() }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[208,0],"id":"843eb3c3-ef85-43eb-997b-8682f7e4a423","name":"Generate an image"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa30a2aa-1e7e-4f08-b34d-375d6ca4c79d","leftValue":"={{ $('Generate an image').item.json.fileName }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,0],"id":"710e8882-d983-4890-bf02-66ca21423fd4","name":"If"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[416,0],"id":"7518b88f-54b7-4949-a511-4540408daec9","name":"Wait","webhookId":"471e3b33-47c1-4098-81f9-b64597479ad3"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Generate an image","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"prompt":"A cat with a dog"}}]},"versionId":"6de0c30d-7621-445f-9e1a-4225aeac97e2","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"hHdjEerSITLEpdif","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}