backups/workflows/Practica http flujo Intermedio.json
{"createdAt":"2025-11-09T05:59:30.410Z","updatedAt":"2025-11-09T05:59:30.410Z","id":"2GxjiCa4qu3sJL6B","name":"Practica http flujo Intermedio","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"intermediate","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-448,96],"id":"90d723d5-8e4e-40ee-b64f-acc17b44effb","name":"Webhook","webhookId":"5b50a379-7108-4cd2-aad9-5a7bd11a905d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6dc25ea4-18b3-41d8-993f-2ba7da1aed29","leftValue":"={{ $json.body.tema_interes }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,96],"id":"0ebc894b-ab24-4e0c-bc32-2f79e2066530","name":"If"},{"parameters":{"respondWith":"text","responseBody":"Error, tema de interes no especificado","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[0,192],"id":"32b81a2a-2fc1-4ed6-bc59-be94b0a121e9","name":"Respond to Webhook"},{"parameters":{},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[0,0],"id":"71a31318-0f8d-4d73-ac60-799944b00665","name":"HTTP Request","credentials":{}},{"parameters":{"sendTo":"={{ $('Webhook').item.json.body.email }}","subject":"Hola! Este es tu tema de interes :D","emailType":"text","message":"=Hola  {{ $('Webhook').item.json.body.nombre }},\n\nEsta es una noticia segun tu tema de interes elegido!\n{{ $('HTTP Request').item.json.articles[0].url }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[448,0],"id":"d6b47736-7533-4a1d-8d85-ef0505430559","name":"Send a message","webhookId":"70709f29-0a4a-4d53-93de-9068e1401039"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1c13UTGFfcI2xll_Mae8_wcYEk4-clBGWEzptW4LBvEs","mode":"list","cachedResultName":"ejem","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1c13UTGFfcI2xll_Mae8_wcYEk4-clBGWEzptW4LBvEs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1451312237,"mode":"list","cachedResultName":"Info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1c13UTGFfcI2xll_Mae8_wcYEk4-clBGWEzptW4LBvEs/edit#gid=1451312237"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $('Webhook').item.json.body.nombre }}","Correo":"={{ $('Webhook').item.json.body.email }}","Interes":"={{ $('Webhook').item.json.body.tema_interes }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Interes","displayName":"Interes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,0],"id":"08575d59-3b88-4ac3-8b3b-a93f97844f85","name":"Append row in sheet"},{"parameters":{"respondWith":"text","responseBody":"Se envio una noticia a tu correo sobre tu interes!","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[640,0],"id":"2ee0c251-e0b7-48f1-82ad-0f2264ba9488","name":"Respond to Webhook1"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1bcf8329-e190-4359-b056-f0a879c607f2","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"2GxjiCa4qu3sJL6B","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}