backups/workflows/Recordatorios citas.json
{"createdAt":"2025-11-17T14:39:16.087Z","updatedAt":"2025-11-17T14:39:16.087Z","id":"oHc05fUDhTYFfGrN","name":"Recordatorios citas","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"formatDate","date":"={{ $now }}","format":"custom","customFormat":"dd/MM/yyyy ","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[224,0],"id":"185fb800-838a-4f43-8e31-c907bdc7987d","name":"Date & Time"},{"parameters":{"operation":"formatDate","date":"={{ $now }}","format":"custom","customFormat":"dd/MM/yyyy ","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[272,448],"id":"8348b6d0-1a48-4d4c-bf75-d0a8482cb2da","name":"Date & Time1"},{"parameters":{"phoneNumberId":"563814460151770","recipientPhoneNumber":"={{ $json.output.Telefono }}","template":"segundo_mensaje_clinica_jvs|en","components":{"component":[{"bodyParameters":{"parameter":[{"text":"={{ $json.output.Hora }}"}]}}]}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1568,432],"id":"208c5352-0604-474c-9391-946f65b179c2","name":"WhatsApp Business Cloud1","webhookId":"01679bd3-cab5-4dfe-872e-d19e00e97622"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2a1c681a-dcb7-4cab-807a-253bcb8a2a6e","leftValue":"={{ $json.summary }}","rightValue":"🟢","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,448],"id":"c5862ba1-23da-40b4-b6de-aa52f0627ddc","name":"If"},{"parameters":{"rule":{"interval":[{"triggerAtHour":19}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"4fe7cb76-cf52-4719-bf64-3f18b16dab72","name":"7pm"},{"parameters":{"rule":{"interval":[{"triggerAtHour":21}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,448],"id":"c2ff7094-21da-477e-873f-abf1f26926f1","name":"9pm"},{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[64,832],"id":"dfd64b5f-19d5-43c2-ad03-3c7756122b02","name":"11pm"},{"parameters":{"operation":"formatDate","date":"={{ $now }}","format":"custom","customFormat":"dd/MM/yyyy ","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[272,832],"id":"09074746-ba45-41bf-a075-0ba6262b7090","name":"Date & Time2"},{"parameters":{"jsCode":"const item = $input.first();\nconst inputDate = item.json.formattedDate.trim();   // \"22/04/2025\"\n\n// --- 1. Parsear la fecha DD/MM/YYYY -----------------------------\nconst [day, month, year] = inputDate.split('/').map(Number); // → [22, 4, 2025]\n\n// --- 2. Construir un Date y sumarle 1 día -----------------------\nlet base = new Date(year, month - 1, day);          // mes = 0-based\nbase.setDate(base.getDate() + 1);                   // +1 día\n\n// --- 3. Helper para devolver ISO sin zona horaria --------------\nconst toISO = (d, hour) => {\n  // Creamos un Date en UTC para la hora pedida\n  const utc = new Date(Date.UTC(\n    d.getFullYear(),\n    d.getMonth(),\n    d.getDate(),\n    hour, 0, 0\n  ));\n  return utc.toISOString().slice(0, 19);            // YYYY-MM-DDTHH:MM:SS\n};\n\n// --- 4. Guardar resultados --------------------------------------\nitem.json.startDate = toISO(base, 8);   // 08:00:00\nitem.json.endDate   = toISO(base, 18);  // 18:00:00\n\nreturn [item];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"d3e2b081-d35e-45e4-9cdb-112d038b409c","name":"Code"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"limit":15,"timeMin":"={{ $json.startDate }}","timeMax":"={{ $json.endDate }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[640,0],"id":"e0313317-47b8-46f0-a321-28b5d731bebe","name":"Google Calendar"},{"parameters":{"text":"=summary: {{ $json.summary }}\nfecha cita:{{ $json.start.dateTime }}","attributes":{"attributes":[{"name":"Nombre","description":"Nombre"},{"name":"Telefono","description":"Telefono"},{"name":"Hora","description":"Solo la hora hh:mm"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[864,0],"id":"360200e6-075b-491d-95d3-546029583de6","name":"Information Extractor"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[864,160],"id":"9c1b0188-a4b4-4733-9181-fcab59aa13ec","name":"OpenAI Chat Model"},{"parameters":{"jsCode":"const item = $input.first();\nconst inputDate = item.json.formattedDate.trim();   // \"22/04/2025\"\n\n// --- 1. Parsear la fecha DD/MM/YYYY -----------------------------\nconst [day, month, year] = inputDate.split('/').map(Number); // → [22, 4, 2025]\n\n// --- 2. Construir un Date y sumarle 1 día -----------------------\nlet base = new Date(year, month - 1, day);          // mes = 0-based\nbase.setDate(base.getDate() + 1);                   // +1 día\n\n// --- 3. Helper para devolver ISO sin zona horaria --------------\nconst toISO = (d, hour) => {\n  // Creamos un Date en UTC para la hora pedida\n  const utc = new Date(Date.UTC(\n    d.getFullYear(),\n    d.getMonth(),\n    d.getDate(),\n    hour, 0, 0\n  ));\n  return utc.toISOString().slice(0, 19);            // YYYY-MM-DDTHH:MM:SS\n};\n\n// --- 4. Guardar resultados --------------------------------------\nitem.json.startDate = toISO(base, 8);   // 08:00:00\nitem.json.endDate   = toISO(base, 18);  // 18:00:00\n\nreturn [item];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,448],"id":"2dc74a97-f187-40f0-9d09-14b3459adae7","name":"Code1"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"limit":15,"timeMin":"={{ $json.startDate }}","timeMax":"={{ $json.endDate }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[640,448],"id":"316a08f8-c384-446b-a6e0-1df195b966da","name":"Google Calendar1"},{"parameters":{"text":"=summary: {{ $json.summary }}\nfecha cita:{{ $json.start.dateTime }}","attributes":{"attributes":[{"name":"Nombre","description":"Nombre"},{"name":"Telefono","description":"Telefono"},{"name":"Hora","description":"Solo la hora hh:mm"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[1168,432],"id":"0760e6fb-302d-4c10-82d8-2ee4304af3ab","name":"Information Extractor1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1120,640],"id":"83aaa423-ea44-4b90-8f39-70ce626a35a4","name":"OpenAI Chat Model1"},{"parameters":{"jsCode":"const item = $input.first();\nconst inputDate = item.json.formattedDate.trim();   // \"22/04/2025\"\n\n// --- 1. Parsear la fecha DD/MM/YYYY -----------------------------\nconst [day, month, year] = inputDate.split('/').map(Number); // → [22, 4, 2025]\n\n// --- 2. Construir un Date y sumarle 1 día -----------------------\nlet base = new Date(year, month - 1, day);          // mes = 0-based\nbase.setDate(base.getDate() + 1);                   // +1 día\n\n// --- 3. Helper para devolver ISO sin zona horaria --------------\nconst toISO = (d, hour) => {\n  // Creamos un Date en UTC para la hora pedida\n  const utc = new Date(Date.UTC(\n    d.getFullYear(),\n    d.getMonth(),\n    d.getDate(),\n    hour, 0, 0\n  ));\n  return utc.toISOString().slice(0, 19);            // YYYY-MM-DDTHH:MM:SS\n};\n\n// --- 4. Guardar resultados --------------------------------------\nitem.json.startDate = toISO(base, 8);   // 08:00:00\nitem.json.endDate   = toISO(base, 18);  // 18:00:00\n\nreturn [item];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,832],"id":"b56cbe29-8b2c-40b6-92be-59f024850a4c","name":"Code2"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"limit":15,"timeMin":"={{ $json.startDate }}","timeMax":"={{ $json.endDate }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[704,832],"id":"6295e732-6ca4-4d02-b87c-7a0109f652a9","name":"Google Calendar2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2a1c681a-dcb7-4cab-807a-253bcb8a2a6e","leftValue":"={{ $json.summary }}","rightValue":"🟢","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[944,832],"id":"eca94881-8366-454c-b48a-ca50116fef4e","name":"If1"},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"eventId":"={{ $json.id }}","updateFields":{"summary":"=🟠{{ $json.summary }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1200,800],"id":"3cf365f3-3c84-4fa9-8c76-042a516ebbef","name":"Google Calendar3"},{"parameters":{"phoneNumberId":"=563814460151770","recipientPhoneNumber":"={{ $json.output.Telefono }}","template":"=mensaje_recordatorio_estudio_dental|es_CL","components":{"component":[{"bodyParameters":{"parameter":[{"text":"={{ $json.output.Nombre }}"},{"text":"={{ $json.output.Hora }}"}]}}]}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1264,0],"id":"2c7e2e9b-37ca-4be0-a16b-1fb52f5ae895","name":"Send template","webhookId":"32a44aa1-30b1-48c2-b9d3-52b10329f42f"}],"connections":{"Date & Time":{"main":[[{"node":"Code","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"If":{"main":[[{"node":"Information Extractor1","type":"main","index":0}]]},"7pm":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"9pm":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"11pm":{"main":[[{"node":"Date & Time2","type":"main","index":0}]]},"Date & Time2":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Calendar","type":"main","index":0}]]},"Google Calendar":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Send template","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Code1":{"main":[[{"node":"Google Calendar1","type":"main","index":0}]]},"Google Calendar1":{"main":[[{"node":"If","type":"main","index":0}]]},"Information Extractor1":{"main":[[{"node":"WhatsApp Business Cloud1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Information Extractor1","type":"ai_languageModel","index":0}]]},"Code2":{"main":[[{"node":"Google Calendar2","type":"main","index":0}]]},"Google Calendar2":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Google Calendar3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"683468cc-be2e-4503-b62c-a60b57c84233","triggerCount":0,"tags":[{"createdAt":"2025-11-17T14:36:32.455Z","updatedAt":"2025-11-17T14:36:32.455Z","id":"hrIDh4R5vrcVht8l","name":"hoy"}],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"oHc05fUDhTYFfGrN","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}