backups/workflows/Recordatorio SAAS.json
{"createdAt":"2025-11-18T15:47:07.618Z","updatedAt":"2025-11-21T20:52:34.407Z","id":"oXT0P4WyY6fUGQBw","name":"Recordatorio SAAS","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[32,-1296],"id":"fe3549f7-de34-4a72-9c39-7e2277c30e29","name":"Schedule Trigger2"},{"parameters":{"databaseId":133,"tableId":609,"additionalOptions":{}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[272,-1168],"id":"56e1a0c3-4e6c-4705-a9fb-cf2fb6c94533","name":"Get many rows1","disabled":true},{"parameters":{"jsCode":"// Este código va en un nodo \"Code\" o \"Function\" en n8n\n// Procesa TODOS los registros y marca cuáles están listos para enviar\n// Adaptado para campo \"Recordatorios\" (Single Select)\n\nconst items = $input.all();\nconst resultados = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Obtener la fecha de la cita\n  const fechaCita = new Date(data.Fecha);\n  const ahora = new Date();\n  \n  // Calcular diferencia en milisegundos\n  const diferenciaMs = fechaCita - ahora;\n  \n  // Convertir a horas y minutos\n  const horasRestantes = diferenciaMs / (1000 * 60 * 60);\n  const minutosRestantes = diferenciaMs / (1000 * 60);\n  const diasRestantes = horasRestantes / 24;\n  \n  // Obtener el estado actual del recordatorio\n  const recordatorioActual = data.Recordatorios?.value || null;\n  \n  // Determinar qué recordatorio enviar\n  let estado = 'espera'; // Estados: 'listo', 'espera', 'completado', 'inactivo', 'pasada'\n  let tipoRecordatorio = null;\n  let nuevoEstadoRecordatorio = recordatorioActual; // Para actualizar Baserow después\n  let razon = '';\n  \n  // Verificar si la cita ya pasó\n  if (diferenciaMs < 0) {\n    estado = 'pasada';\n    razon = 'La cita ya pasó';\n    nuevoEstadoRecordatorio = 'Post'; // Marcar como Post cuando ya pasó\n  }\n  // Verificar si la cita está inactiva\n  else if (!data['ACTIVO?']) {\n    estado = 'inactivo';\n    razon = 'La cita está marcada como inactiva';\n  }\n  // Verificar si ya está marcado como terminado\n  else if (recordatorioActual === 'Terminado') {\n    estado = 'completado';\n    razon = 'Todos los recordatorios fueron enviados';\n  }\n  // Recordatorio 24 horas antes (desde 26h hasta 20h antes)\n  else if (horasRestantes <= 26 && horasRestantes > 20) {\n    // Solo si aún no se ha enviado el de 24h (estados válidos: null, \"Sin Enviar\")\n    if (recordatorioActual === 'Sin Enviar' || recordatorioActual === null || recordatorioActual === '') {\n      estado = 'listo';\n      tipoRecordatorio = '24h';\n      nuevoEstadoRecordatorio = '24h';\n      razon = 'Dentro de ventana de 24h - listo para enviar';\n    } else if (recordatorioActual === '24h') {\n      estado = 'espera';\n      razon = 'Recordatorio de 24h ya enviado, esperando ventana de 2h';\n    } else {\n      estado = 'espera';\n      razon = 'Ya se envió recordatorio posterior, esperando siguiente ventana';\n    }\n  }\n  // Recordatorio 2 horas antes (desde 3h hasta que inicie la cita)\n  else if (horasRestantes <= 3 && horasRestantes > 0) {\n    // Solo si ya se envió el de 24h pero no el de 2h\n    if (recordatorioActual === '24h') {\n      estado = 'listo';\n      tipoRecordatorio = '2h';\n      nuevoEstadoRecordatorio = '2h';\n      razon = 'Dentro de ventana de 2h - listo para enviar';\n    } else if (recordatorioActual === '2h') {\n      estado = 'espera';\n      razon = 'Recordatorio de 2h ya enviado, esperando que termine la cita';\n    } else if (recordatorioActual === 'Sin Enviar' || recordatorioActual === null || recordatorioActual === '') {\n      // Si no se envió el de 24h, avisar que se perdió pero enviar el de 2h\n      estado = 'listo';\n      tipoRecordatorio = '2h';\n      nuevoEstadoRecordatorio = '2h';\n      razon = 'Enviando recordatorio de 2h (se perdió el de 24h)';\n    } else {\n      estado = 'espera';\n      razon = 'Esperando que termine la cita';\n    }\n  }\n  // Después de la cita (cuando ya pasó)\n  else if (horasRestantes <= 0) {\n    estado = 'espera';\n    razon = 'Esperando a que termine la cita para marcar como Post';\n  }\n  // Fuera de ventanas de tiempo\n  else {\n    estado = 'espera';\n    if (horasRestantes > 26) {\n      razon = `Faltan ${diasRestantes.toFixed(1)} días para la cita`;\n    } else if (horasRestantes > 3) {\n      razon = `Ya pasó ventana de 24h, esperando ventana de 2h`;\n    } else {\n      razon = `Esperando siguiente ventana de recordatorio`;\n    }\n  }\n  \n  // Obtener URL si existe y extraer el slug\n  const urlMeet = data.URL && data.URL.trim() !== '' ? data.URL : null;\n  let slugMeet = null;\n  \n  if (urlMeet) {\n    // Extraer el slug de diferentes formatos de URL de Meet\n    // Ejemplos: meet.google.com/abc-def-ghi o g.co/meet/abc-def-ghi\n    const matchGoogleMeet = urlMeet.match(/meet\\.google\\.com\\/([a-z\\-]+)/i);\n    const matchShortUrl = urlMeet.match(/g\\.co\\/meet\\/([a-z\\-]+)/i);\n    \n    if (matchGoogleMeet) {\n      slugMeet = matchGoogleMeet[1];\n    } else if (matchShortUrl) {\n      slugMeet = matchShortUrl[1];\n    }\n  }\n  \n  // Construir el item de salida con TODA la info\n  const itemSalida = {\n    json: {\n      // Datos originales\n      id: data.id,\n      nombre: data.Nombre,\n      nombreUsuario: data['Nombre Usuario'] || null,\n      telefono: data.Telefono,\n      email: data['Correo electrónico'],\n      fechaCita: data.Fecha,\n      activo: data['ACTIVO?'],\n      urlMeet: urlMeet,\n      slugMeet: slugMeet,\n      \n      // Datos calculados\n      fechaCitaFormateada: fechaCita.toLocaleString('es-MX', { \n        timeZone: 'America/Mexico_City',\n        dateStyle: 'full',\n        timeStyle: 'short'\n      }),\n      horasRestantes: parseFloat(horasRestantes.toFixed(2)),\n      minutosRestantes: Math.floor(minutosRestantes),\n      diasRestantes: parseFloat(diasRestantes.toFixed(2)),\n      \n      // Estado y tipo de recordatorio\n      estado: estado,\n      tipoRecordatorio: tipoRecordatorio,\n      recordatorioActual: recordatorioActual,\n      nuevoEstadoRecordatorio: nuevoEstadoRecordatorio,\n      razon: razon,\n      \n      // Mensaje (solo si está listo)\n      mensaje: estado === 'listo' ? generarMensaje(data.Nombre, fechaCita, tipoRecordatorio, urlMeet) : null\n    }\n  };\n  \n  resultados.push(itemSalida);\n}\n\n// Función para generar el mensaje personalizado\nfunction generarMensaje(nombre, fecha, tipo, urlMeet) {\n  const fechaFormateada = fecha.toLocaleString('es-MX', {\n    timeZone: 'America/Mexico_City',\n    day: 'numeric',\n    month: 'long',\n    hour: '2-digit',\n    minute: '2-digit'\n  });\n  \n  // Parte del mensaje con la URL si existe\n  const linkMeet = urlMeet ? `\\n\\n🔗 Link de la reunión: ${urlMeet}` : '';\n  \n  const mensajes = {\n    '24h': `¡Hola! 👋 Te recordamos que mañana tienes tu cita el ${fechaFormateada}. ¿Nos confirmás tu asistencia? 📅${linkMeet}`,\n    '2h': `Hola, tu cita es en 2 horas (${fechaFormateada}). ¡Te esperamos! ⏰${linkMeet}`\n  };\n  \n  return mensajes[tipo] || `Recordatorio de tu cita: ${fechaFormateada}${linkMeet}`;\n}\n\nreturn resultados;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,-1168],"id":"240d23f2-8512-4ff4-860b-d23d1e266083","name":"Code in JavaScript"},{"parameters":{"options_Create_instance":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1200,-1360],"id":"255ef592-e8db-4cfd-a409-57a7573a96b1","name":"Verificar n mero no whats app2","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[880,-1392],"id":"1e1199be-cfd9-48c0-9ca7-dc95b37bb104","name":"Loop Over Items2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15ffafc5-573c-4483-8356-57ba1efc8e01","leftValue":"={{ $json.data[0].exists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1392,-1344],"id":"ed807f99-d5de-4c56-b5ad-c3bec5d8b102","name":"If"},{"parameters":{"operation":"update","databaseId":133,"tableId":609,"rowId":"={{ $('Loop Over Items2').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":5867,"fieldValue":"Error al Enviar"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1616,-1248],"id":"797f91e5-a9d1-4e37-b801-83e4055a4f20","name":"Update a row","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Loop Over Items2').item.json.tipoRecordatorio }}","rightValue":"24h","operator":{"type":"string","operation":"equals"},"id":"f0b54749-aab7-49b2-9aa1-ee47b4e2a641"}],"combinator":"and"},"renameOutput":true,"outputKey":"24H"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d4f5a02-d755-4ddd-b1d3-298e261cd511","leftValue":"={{ $('Loop Over Items2').item.json.tipoRecordatorio }}","rightValue":"2h","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2H"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[2736,-1440],"id":"04eb5976-822a-41c4-b5e7-22a5209e636a","name":"Switch"},{"parameters":{"operation":"update","databaseId":133,"tableId":609,"rowId":"={{ $('Loop Over Items2').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":5867,"fieldValue":"={{ $('Loop Over Items2').item.json.tipoRecordatorio }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[3280,272],"id":"9d0f60d7-260c-45d8-bc04-390b17738d1f","name":"Update a row1","disabled":true},{"parameters":{"databaseId":133,"tableId":610,"additionalOptions":{"filters":{"fields":[{"field":5870,"operator":"not_empty"},{"field":5870,"value":"={{ $json.numBueno }}"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1840,-1440],"id":"713014ba-2fd0-48b7-a3c1-2c54f8b28505","name":"Get many rows2","alwaysOutputData":true,"disabled":true},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/setCustomFields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": {{ $json.ID }},\n  \"fields\": [\n    {\n      \"field_id\": 13675538,\n      \"field_value\": \"{{ $('MAP').item.json.Fecha }}\"\n    },\n    {\n      \"field_id\": 13675539,\n      \"field_value\": \"Avenida Mazatlan 514\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2960,-1536],"id":"bb42b3bc-cab1-4e4d-b283-4c54586427e6","name":"CUSTOM","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"21f0ed21-e589-4b5a-8a4e-c8066afe3488","name":"numBueno","value":"={{ $json.data[0].jid.replace(/@.*$/, '') }}","type":"string"},{"id":"dbb209e1-c22b-47d0-a0cc-2cad3007e06a","name":"Fecha","value":"={{ $('Loop Over Items2').item.json.fechaCitaFormateada }}","type":"string"},{"id":"8b3d9067-8069-434a-8e6a-33c9423f9d73","name":"slug","value":"={{ $('Loop Over Items2').item.json.slugMeet }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1616,-1440],"id":"68d7c316-32b5-4e7b-915f-5cad1dd78174","name":"MAP"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"68fb77c1-5554-4811-a5f7-a51e8159dc1a","leftValue":"={{ $json.Whatsapp }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2064,-1440],"id":"ad59fe0e-4786-40f6-969e-83e8030ee6d2","name":"If1"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/createSubscriber","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"first_name\": \"{{ $('Loop Over Items2').item.json.nombreUsuario }}\",\n  \"whatsapp_phone\": \"{{ $('MAP').item.json.numBueno }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2288,-1344],"id":"3654028d-ca2f-4ad4-84df-a9c89154388d","name":"HTTP Request5","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"825da4e0-4668-4ec8-8389-f0354b9c2f3c","name":"ID","value":"={{ $json.data.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2512,-1344],"id":"ae83ee78-8860-46d5-be39-da6e70a54638","name":"Edit Fields2"},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/addTag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": {{ $('Get many rows2').item.json.ID }},\n  \"tag_id\": 72799849\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3184,-1344],"id":"0c7d542b-1aab-4de7-9b9d-30fc9a8f1c16","name":"HTTP Request","disabled":true},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/setCustomFields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": {{ $json.ID }},\n  \"fields\": [\n    {\n      \"field_id\": 13675538,\n      \"field_value\": \"{{ $('MAP').item.json.Fecha }}\"\n    },\n    {\n      \"field_id\": 13675539,\n      \"field_value\": \"{{ $('Loop Over Items2').item.json.slugMeet }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2960,-1344],"id":"d1a0acca-64c4-49f3-a329-2fe4822c46ad","name":"CUSTOM1","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.estado }}","rightValue":"listo","operator":{"type":"string","operation":"equals"},"id":"862cf0ef-f807-45c6-b45c-5db7c939217c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cc92e774-069e-484c-94a3-c2decc61054a","leftValue":"={{ $json.estado }}","rightValue":"pasada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[720,-1168],"id":"57c4f8de-088a-4058-b79f-2048e080f4ff","name":"Switch1","disabled":true},{"parameters":{"operation":"update","databaseId":133,"tableId":609,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":5867,"fieldValue":"Terminado"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[944,-1072],"id":"ba764f0d-0857-4f3b-8972-fe4a6cef5ee2","name":"Terminado","disabled":true},{"parameters":{"method":"POST","url":"https://api.manychat.com/fb/subscriber/addTag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subscriber_id\": {{ $('Get many rows2').item.json.ID }},\n  \"tag_id\": 72473612\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3184,-1536],"id":"5c6ff301-b870-4500-ac95-fb7f029038a6","name":"ETIQUETA","disabled":true},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-240,1040],"id":"fa7616da-8fb0-4852-9532-3f19f9be95e9","name":"Schedule Trigger"},{"parameters":{"databaseId":133,"tableId":609,"additionalOptions":{}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[176,736],"id":"cb128671-feb0-4b7f-b91f-93ce0d695e35","name":"Get many rows","disabled":true},{"parameters":{"jsCode":"// Recibe todos los registros de la DB (PostgreSQL)\nconst items = $input.all();\nconst resultados = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  const fechaCita = new Date(data.date);\n  const ahora = new Date();\n  const diferenciaMs = fechaCita - ahora;\n\n  const horasRestantes = diferenciaMs / (1000 * 60 * 60);\n  const minutosRestantes = diferenciaMs / (1000 * 60);\n  const diasRestantes = horasRestantes / 24;\n\n  let estado = 'espera';\n  let tipoRecordatorio = null;\n  let nuevoEstadoRecordatorio = false; // ⚠️ IMPORTANTE: no se cambia si está bloqueado\n  let razon = '';\n\n  const estaInactiva = [\"cancelled\", \"completed\", \"inactive\"].includes(\n    (data.status || \"\").toLowerCase()\n  );\n\n  // ⚠️ PRIMER FILTRO: SI reminders ES FALSE → NO PASA\n  if (data.reminders === false) {\n    estado = 'espera';\n    razon = 'Recordatorio desactivado (reminders = false)';\n  }\n\n  // Cita inactiva\n  else if (estaInactiva) {\n    estado = 'espera';\n    razon = `Cita inactiva (status: ${data.status}), no se envía recordatorio`;\n  }\n\n  // Cita ya pasada\n  else if (diferenciaMs < 0) {\n    estado = 'pasada';\n    razon = 'La cita ya pasó';\n  }\n\n  // Ventana 24h\n  else if (horasRestantes <= 26 && horasRestantes > 20) {\n    estado = 'listo';\n    tipoRecordatorio = '24h';\n    nuevoEstadoRecordatorio = true;\n    razon = 'Listo para enviar recordatorio 24h';\n  }\n\n  // Ventana 2h\n  else if (horasRestantes <= 3 && horasRestantes > 0) {\n    estado = 'listo';\n    tipoRecordatorio = '2h';\n    nuevoEstadoRecordatorio = true;\n    razon = 'Listo para enviar recordatorio 2h';\n  }\n\n  // Fuera de ventana\n  else {\n    estado = 'espera';\n    razon = 'Fuera de ventana de recordatorio';\n  }\n\n  // Extra: URL Meet\n  const urlMeet = data.url?.trim() !== '' ? data.url : null;\n  let slugMeet = null;\n\n  if (urlMeet) {\n    const match = urlMeet.match(/meet\\.google\\.com\\/([a-z\\-]+)/i) \n               || urlMeet.match(/g\\.co\\/meet\\/([a-z\\-]+)/i);\n    if (match) slugMeet = match[1];\n  }\n\n  resultados.push({\n    json: {\n      id: data.id,\n      nombre: data.name,\n      nombreUsuario: data.user_name,\n      telefono: data.phone,\n      email: data.email,\n      fechaCita: data.date,\n      urlMeet: data.url,\n      slugMeet,\n      companyId: data.company_id,\n      notas: data.notes,\n      estadoCita: data.status,\n      etapaFunnel: data.funnel_stage,\n      campo: data.field,\n      attended: data.attended,\n      contacted_after_absence: data.contacted_after_absence,\n\n      fechaCitaFormateada: fechaCita.toLocaleString('es-MX', { \n        timeZone: 'America/Mexico_City',\n        dateStyle: 'full',\n        timeStyle: 'short'\n      }),\n\n      horasRestantes: parseFloat(horasRestantes.toFixed(2)),\n      minutosRestantes: Math.floor(minutosRestantes),\n      diasRestantes: parseFloat(diasRestantes.toFixed(2)),\n\n      estado,\n      tipoRecordatorio,\n      recordatorioActual: data.reminders ? \"Enviado\" : \"Sin Enviar\",\n      nuevoEstadoRecordatorio,\n      razon,\n\n      mensaje:\n        estado === 'listo'\n          ? generarMensaje(data.name, fechaCita, tipoRecordatorio, urlMeet)\n          : null\n    }\n  });\n}\n\n\nfunction generarMensaje(nombre, fecha, tipo, urlMeet) {\n  const fechaFormateada = fecha.toLocaleString('es-MX', {\n    timeZone: 'America/Mexico_City',\n    day: 'numeric',\n    month: 'long',\n    hour: '2-digit',\n    minute: '2-digit'\n  });\n\n  const linkMeet = urlMeet ? `\\n\\n🔗 Link de la reunión: ${urlMeet}` : '';\n\n  const mensajes = {\n    '24h': `¡Hola! 👋 Te recordamos que mañana tienes una reunión el ${fechaFormateada}. ¿Confirmás tu asistencia? 📅${linkMeet}`,\n    '2h': `Hola, tu reunión es en 2 horas (${fechaFormateada}). ¡Te esperamos! ⏰${linkMeet}`\n  };\n\n  return mensajes[tipo] || `Recordatorio de tu reunión: ${fechaFormateada}${linkMeet}`;\n}\n\nreturn resultados;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,1120],"id":"da508a62-8666-4a0c-8458-a2162ee0929a","name":"Code in JavaScript1"},{"parameters":{"resource":"chat-api","instanceName":"Bot_Prueba","numbers":"={{ $('iterar por cada cliente').item.json.telefono }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1136,800],"id":"17c47e49-9f2f-45f2-9f6e-24f0426a3551","name":"Verificar n mero no whats app","credentials":{"evolutionApi":{"id":"sloRnFh9PAjAM5X3","name":"EvolutionApi Variable Pruebas Credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15ffafc5-573c-4483-8356-57ba1efc8e01","leftValue":"={{ $json.data[0].exists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1376,896],"id":"7f1b7092-b8bb-4306-ad21-2e91876179d2","name":"If2"},{"parameters":{"operation":"update","databaseId":133,"tableId":609,"rowId":"={{ $('iterar por cada cliente').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":5867,"fieldValue":"Error al Enviar"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1488,1392],"id":"52e6fb3e-a7cf-4f96-b21d-729534129c01","name":"Update a row2","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.estado }}","rightValue":"listo","operator":{"type":"string","operation":"equals"},"id":"862cf0ef-f807-45c6-b45c-5db7c939217c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cc92e774-069e-484c-94a3-c2decc61054a","leftValue":"={{ $json.estado }}","rightValue":"pasada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[416,1104],"id":"9130b412-06f3-42c4-92a8-6874303c8baf","name":"Switch3"},{"parameters":{"operation":"update","databaseId":133,"tableId":609,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":5867,"fieldValue":"Terminado"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[272,1424],"id":"ec72bb92-366a-4ae2-9dac-94d730debcc6","name":"Terminado1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"21f0ed21-e589-4b5a-8a4e-c8066afe3488","name":"numero limpio","value":"={{ $json.data[0].jid }}","type":"string"},{"id":"b68d63ac-c821-4c74-81d1-5381b2d37a03","name":"meetingUrl","value":"={{ $('iterar por cada cliente').item.json.urlMeet }}","type":"string"},{"id":"87d794db-53b6-4253-947c-0036c2b76e4e","name":"nombre","value":"={{ $('iterar por cada cliente').item.json.nombreUsuario }}","type":"string"},{"id":"84fe2021-848c-4a89-a5b3-8a7391338706","name":"Fecha y Hora","value":"={{ $('iterar por cada cliente').item.json.fechaCitaFormateada }}","type":"string"},{"id":"6df7f6f2-5337-4dcb-95b3-ebf55251a505","name":"slug","value":"={{ $('iterar por cada cliente').item.json.slugMeet }}","type":"string"},{"id":"12856e57-8aa3-4597-8c59-6d119ea66da0","name":"tipoRecordatorio","value":"={{ $('iterar por cada cliente').item.json.tipoRecordatorio }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1632,832],"id":"3e816907-d252-4658-8339-a026af57d992","name":"Edit Fields"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Prompt Principal\nEres un asistente especializado en crear recordatorios personalizados para citas de negocios en múltiples formatos. Tu objetivo es generar contenido único, profesional y persuasivo que aumente la asistencia a las reuniones.\n\n**CONTEXTO:**\nSe trata de citas para automatizar negocios, por lo que los mensajes deben transmitir valor, profesionalismo y urgencia de manera sutil, adaptándose al formato específico de cada canal.\n\n**DATOS DE ENTRADA:**\n- Nombre del cliente: [NOMBRE]\n- Motivo de la reunión: [MOTIVO]\n- Fecha y hora: [FECHA_HORA]\n- Enlace de reunión: [ENLACE]\n- Brief del negocio: [BRIEF_NEGOCIO]\n\n**INSTRUCCIONES GENERALES:**\n- Personalizar cada mensaje usando el motivo y brief del negocio\n- Mantener consistencia en la información clave\n- Adaptar el tono y estructura según el formato\n- Incluir elementos de urgencia sutil sin sonar desesperado\n- Evitar mensajes genéricos o spam\n\n**FORMATO DE RESPUESTA REQUERIDO:**\nResponde ÚNICAMENTE con un objeto JSON que contenga exactamente estos 3 elementos:\n```json\n{\n  \"whatsapp_message\": \"mensaje de texto para WhatsApp\",\n  \"audio_script\": \"guión para convertir a audio\",\n  \"video_script\": \"guión para avatar de video\"\n}\nESPECIFICACIONES POR FORMATO:\n1. WHATSAPP_MESSAGE\n\nTono: Amigable y casual, pero profesional\nLongitud: 80-120 palabras máximo\nEmojis: 2-4 emojis relevantes\nEstructura: Saludo casual + recordatorio + valor + enlace + confirmación\nCall-to-action: Terminar pidiendo confirmación (SÍ/NO)\nEstilo: Como mensaje entre amigos de negocios\n\n2. AUDIO_SCRIPT\n\nTono: Cálido y personal, como si fueras tú hablando directamente\nLongitud: 60-90 palabras (aproximadamente 30-45 segundos de audio)\nSin emojis: Solo texto limpio para síntesis de voz\nEstructura: Saludo personal + recordatorio + valor + despedida\nEstilo: Conversación natural, con pausas indicadas por comas\nEnfoque: Más íntimo y directo, aprovechando el poder de la voz\n\n3. VIDEO_SCRIPT\n\nTono: Profesional y carismático, perfecto para video\nLongitud: 70-100 palabras (aproximadamente 35-50 segundos de video)\nSin emojis: Texto limpio para avatar\nEstructura: Presentación + recordatorio + beneficio clave + call-to-action\nEstilo: Como presentador profesional, con energía pero controlado\nEnfoque: Visual y directo, aprovechando el impacto del video\n\nELEMENTOS OBLIGATORIOS EN TODOS LOS FORMATOS:\n\nNombre del cliente personalizado\nMotivo específico de la reunión\nFecha y hora clara\nReferencia natural al brief del negocio\nEnlace de reunión (solo en WhatsApp y video)\n\nELEMENTOS A EVITAR:\n\nRepetir exactamente el mismo contenido en los 3 formatos\nSonar robótico o automatizado\nInformación técnica excesiva\nPromesas exageradas\nPresión de ventas agresiva\n\nIMPORTANTE:\n\nCada formato debe sentirse natural para su canal específico\nEl contenido debe ser complementario, no idéntico\nMantén la información clave pero varía la presentación\nResponde SOLO con el JSON, sin explicaciones adicionales\n\n\n## Ejemplo de Uso\n\n**Input:**\n- Nombre: Carlos Mendoza\n- Motivo: Implementación de chatbot para ventas\n- Fecha/Hora: 15 de noviembre a las 2:00 PM\n- Enlace: meet.google.com/abc-123-xyz\n- Brief: Especialistas en automatización comercial para PyMEs\n\n**Expected Output:**\n```json\n{\n  \"whatsapp_message\": \"¡Hola Carlos! 👋 Te recuerdo nuestra cita mañana 15 de noviembre a las 2:00 PM para hablar sobre la implementación del chatbot para tu área de ventas. Tengo preparadas algunas estrategias específicas que han funcionado muy bien en PyMEs similares a la tuya. 🚀 Link: meet.google.com/abc-123-xyz ¿Confirmamos? Responde SÍ o NO 😊\",\n  \n  \"audio_script\": \"Hola Carlos, soy [tu nombre]. Te hablo para recordarte nuestra reunión de mañana, 15 de noviembre a las 2 de la tarde. Vamos a revisar juntos cómo implementar el chatbot para potenciar tus ventas. He estado preparando algunas ideas específicas para tu negocio que creo te van a encanta, ¡que tengas un excelente día!\",\n  \n  \"video_script\": \"Hola Carlos, ¿cómo estás? Soy [tu nombre] y te quería recordar que mañana 15 de noviembre a las 2:00 PM tenemos nuestra reunión para hablar sobre la implementación del chatbot en tu área de ventas. Como especialistas en automatización para PyMEs, tengo preparadas estrategias específicas que van a impulsar significativamente tus resultados. Te espero en el enlace que te dejo aqui abajo ¡Será una sesión muy productiva!\"\n}\n\n\nEn el script de video y de audio nunca pongas el URL solo di que te dejo el enlace abajo\nNunca acabes con \"Nos vemos\"\n\nPon algo de sarcasmo en los mensajes","role":"system"},{"content":"=Datos de Host\nNombre: Santiago Alias (Santi)\nFecha Actual: {{ $now.format('yyyy-MM-dd') }}\n\n**Input CLiente:**\n- Nombre: {{ $json.nombre }}\n- Fecha/Hora Cita: {{ $json['Fecha y Hora'] }}\n- Enlace: {{ $json.meetingUrl }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1856,832],"id":"35b3fa2a-5a86-484b-9fb1-c0311691049d","name":"PERSONALIZACIÓN1","credentials":{"openAiApi":{"id":"s0q6CUNupwhY9NPd","name":"Variable OpenAI Pruebas Credentials"}}},{"parameters":{"options_Create_instance":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5184,976],"id":"3d759e95-d168-48c8-a471-a236a5c16c4b","name":"Enviar video1","disabled":true},{"parameters":{"voice":{"__rl":true,"mode":"list","value":{}},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[4160,592],"id":"db4fe340-03f2-45b8-9324-3fa31a9d826e","name":"Convert text to speech1"},{"parameters":{"amount":10},"id":"0961ca4e-3a74-4fbb-8f59-0f6c8cf59119","name":"Wait1","type":"n8n-nodes-base.wait","position":[4320,1168],"webhookId":"1c3e61f9-9bd3-489b-a0a1-e20c1f52d496","typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"53226f92-5381-4f9f-9be5-4b25f31db99c","name":"data.video_url","type":"string","value":"={{ $json.data.video_url }}"}]},"options":{}},"id":"3cc664ec-1915-4a02-9a5d-60698b76d513","name":"Output1","type":"n8n-nodes-base.set","position":[4992,1168],"typeVersion":3.4},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[4384,592],"id":"3f030d36-1b3b-4e37-9968-7af1b500fa83","name":"Extract from File1"},{"parameters":{"method":"POST","url":"https://api.heygen.com/v2/video/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"71cccbdd2c9c43ecb639095896f214ee\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $json.message.content.video_script }}\",\n        \"voice_id\": \"5d42e809a96347719a9641b7f4871d2b\",\n        \"speed\": 1.2\n      }\n    }\n  ],\n  \"caption\": true,\n  \"dimension\": {\n    \"width\": 720,\n    \"height\": 1280\n  }\n}","options":{}},"id":"7152a899-81c3-4c1c-b332-9cfd9b49ab06","name":"CREARVIDEO1","type":"n8n-nodes-base.httpRequest","position":[4096,1168],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"xgx2uJsGlf6aNaVi","name":"WHAPICredenciales"}}},{"parameters":{"url":"https://api.heygen.com/v1/video_status.get","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $('CREARVIDEO1').first().json.data.video_id }}"}]},"options":{}},"id":"c3d27458-c637-4a11-9b68-36b445ef4267","name":"OBTENERSTATUS1","type":"n8n-nodes-base.httpRequest","position":[4544,1088],"typeVersion":4.2,"disabled":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2643b070-cbb2-4562-9269-a61389e0c242","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.data.status }}","rightValue":"completed"}]},"options":{}},"id":"1b4cb5e7-d3cf-4fa9-9faf-eecef825470c","name":"Filtro1","type":"n8n-nodes-base.if","position":[4768,1168],"typeVersion":2.2},{"parameters":{"operation":"update","databaseId":133,"tableId":609,"rowId":"={{ $('iterar por cada cliente').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":5867,"fieldValue":"={{ $('Edit Fields').item.json.tipoRecordatorio }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[4048,1680],"id":"542d922c-5737-48dc-8007-f7e7fefb0e20","name":"Update a row3","disabled":true},{"parameters":{"content":"## MANYCHAT\n\n\n","height":672,"width":3584},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-272,-1616],"id":"32303e1c-4295-430c-b94b-cfd8baf0083c","name":"Sticky Note"},{"parameters":{"content":"## EVOLUTION\n\n\n","height":976,"width":4192,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,672],"id":"eabf535e-c1ba-4781-b396-1736ed0e692d","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"c56efe7c-7f0f-415a-845f-672ed32302da","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-352,864],"id":"0ab1c215-3c1c-4998-8342-6d81f55ffb32","name":"Webhook","webhookId":"c56efe7c-7f0f-415a-845f-672ed32302da"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"appointment","mode":"list","cachedResultName":"appointment"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Switch3').item.json.id }}","status":"inactive","company_id":"={{ $('Switch3').item.json.companyId }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"date","displayName":"date","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"company_id","displayName":"company_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reminders","displayName":"reminders","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"attended","displayName":"attended","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"funnel_stage","displayName":"funnel_stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contacted_after_absence","displayName":"contacted_after_absence","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"field","displayName":"field","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1632,1104],"id":"591f2bbf-1234-4f28-9f31-bd59be58a31c","name":"Update rows in a table","credentials":{"postgres":{"id":"gzDlDs6fUYV5dxgS","name":"Saas Recordatorios Credentials"}}},{"parameters":{"content":"## PARA ENVIAR AUDIO (IMPLEMENTAR)\n","height":336,"width":1024},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3888,464],"id":"51794075-5f13-4e24-b6b7-dbd0c1dd961d","name":"Sticky Note2"},{"parameters":{"content":"## PARA ENVIAR VIDEO CREADO(IMPLEMENTAR)\n","height":576,"width":1152},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3952,912],"id":"9583e0eb-3129-4800-a1bd-ddf9f0e56801","name":"Sticky Note3"},{"parameters":{"options_Create_instance":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4608,592],"id":"80d85f03-d015-4578-bc00-b3f9185dec51","name":"Enviar audio1","disabled":true},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"appointment","mode":"list","cachedResultName":"appointment"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Switch3').item.json.id }}","reminders":"={{ false }}","company_id":"={{ $('Switch3').item.json.companyId }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"date","displayName":"date","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"company_id","displayName":"company_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reminders","displayName":"reminders","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"attended","displayName":"attended","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"funnel_stage","displayName":"funnel_stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contacted_after_absence","displayName":"contacted_after_absence","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"field","displayName":"field","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2768,1216],"id":"a611fd77-80d9-4202-87ba-c89d77271fe0","name":"Update rows in a table1","credentials":{"postgres":{"id":"gzDlDs6fUYV5dxgS","name":"Saas Recordatorios Credentials"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"appointment","mode":"list","cachedResultName":"appointment"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Switch3').item.json.id }}","status":"inactive","company_id":"={{ $json.companyId }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"date","displayName":"date","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"company_id","displayName":"company_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reminders","displayName":"reminders","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"attended","displayName":"attended","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"funnel_stage","displayName":"funnel_stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contacted_after_absence","displayName":"contacted_after_absence","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"field","displayName":"field","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[896,1408],"id":"35b15fc0-ae46-46f9-8879-2ffedd564eff","name":"Update rows in a table2","credentials":{"postgres":{"id":"gzDlDs6fUYV5dxgS","name":"Saas Recordatorios Credentials"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"company","mode":"list","cachedResultName":"company"},"where":{"values":[{"column":"id","value":"={{ $json.companyId }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[864,816],"id":"5a7830b4-ee87-453d-b90e-d480c803e518","name":"Buscar empresa de cada cliente","credentials":{"postgres":{"id":"gzDlDs6fUYV5dxgS","name":"Saas Recordatorios Credentials"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[704,912],"id":"ad52b8a9-a2c2-4c8f-8895-0e731be1f05d","name":"iterar por cada cliente"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Buscar empresa de cada cliente').item.json.evolutionapi_id }}","remoteJid":"={{ $('Edit Fields').item.json['numero limpio'] }}","messageText":"={{ $json.message.content.whatsapp_message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3424,576],"id":"b7f04af7-ad78-4024-85b9-aab58b9aada7","name":"Enviar texto","credentials":{"evolutionApi":{"id":"sloRnFh9PAjAM5X3","name":"EvolutionApi Variable Pruebas Credential"}}},{"parameters":{"resource":"messages-api","operation":"send-buttons","instanceName":"={{ $('Buscar empresa de cada cliente').item.json.evolutionapi_id }}","remoteJid":"={{ $('Edit Fields').item.json['numero limpio'] }}","title":"Confirmacion de cita 😁","description":"={{ $json.message.content.whatsapp_message }}","footer":"=Por favor confirma tu cita en los botones de abajo 😄","buttons":{"buttonValues":[{"displayText":"Si","id":"si_btn"},{"displayText":"No","id":"no_btn"}]}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2336,944],"id":"0a62e7d9-0c93-4e9a-91cc-485606ca0811","name":"Enviar bot es","credentials":{"evolutionApi":{"id":"sloRnFh9PAjAM5X3","name":"EvolutionApi Variable Pruebas Credential"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"appointment","mode":"list","cachedResultName":"appointment"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-16,1072],"id":"b5f30574-ec8c-4372-85ad-1f25f31ff599","name":"Obtener las citas","credentials":{"postgres":{"id":"gzDlDs6fUYV5dxgS","name":"Saas Recordatorios Credentials"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"24cb9f07-e626-477b-9973-2e112c738738","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[960,576],"id":"49f49098-0a3e-4256-ac2e-b35f413466cb","name":"tiene integración con evolution?","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"24cb9f07-e626-477b-9973-2e112c738738","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,-1520],"id":"8b968e5c-8d1b-49a8-8e19-d3b1f0b76d99","name":"tiene integración con manychat"},{"parameters":{"amount":10},"id":"6aeb84e0-a779-477d-9d76-745507a40a1c","name":"Wait","type":"n8n-nodes-base.wait","position":[2624,768],"webhookId":"1c3e61f9-9bd3-489b-a0a1-e20c1f52d496","typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"53226f92-5381-4f9f-9be5-4b25f31db99c","name":"data.video_url","type":"string","value":"={{ $json.data.video_url }}"}]},"options":{}},"id":"d178ac91-64cf-4cf0-9a77-7d2c8cd1dc7d","name":"Output","type":"n8n-nodes-base.set","position":[3376,832],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://api.heygen.com/v2/video/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"71cccbdd2c9c43ecb639095896f214ee\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $json.message.content.video_script }}\",\n        \"voice_id\": \"5d42e809a96347719a9641b7f4871d2b\",\n        \"speed\": 1.2\n      }\n    }\n  ],\n  \"caption\": true,\n  \"dimension\": {\n    \"width\": 720,\n    \"height\": 1280\n  }\n}","options":{}},"id":"4e5c5566-0637-40f1-ab7c-71fd5adcc73b","name":"CREARVIDEO","type":"n8n-nodes-base.httpRequest","position":[2400,768],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"tKwyucsrULjcMk0Z","name":"HEYGENVIDEO VARIABLE CREDENTIALS"}}},{"parameters":{"url":"https://api.heygen.com/v1/video_status.get","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"video_id","value":"={{ $('CREARVIDEO').first().json.data.video_id }}"}]},"options":{}},"id":"1d280b74-1b90-4b3f-a5ea-1bf878f17b8f","name":"OBTENERSTATUS","type":"n8n-nodes-base.httpRequest","position":[2848,736],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"tKwyucsrULjcMk0Z","name":"HEYGENVIDEO VARIABLE CREDENTIALS"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2643b070-cbb2-4562-9269-a61389e0c242","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.data.status }}","rightValue":"completed"}]},"options":{}},"id":"b32f355d-e857-4111-a3c9-c2924abd5a43","name":"Filtro","type":"n8n-nodes-base.if","position":[3072,768],"typeVersion":2.2}],"connections":{"Schedule Trigger2":{"main":[[{"node":"Get many rows1","type":"main","index":0}]]},"Get many rows1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"If":{"main":[[{"node":"MAP","type":"main","index":0}],[{"node":"Update a row","type":"main","index":0}]]},"Switch":{"main":[[{"node":"CUSTOM","type":"main","index":0}],[{"node":"CUSTOM1","type":"main","index":0}]]},"Update a row1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Get many rows2":{"main":[[{"node":"If1","type":"main","index":0}]]},"CUSTOM":{"main":[[{"node":"ETIQUETA","type":"main","index":0}]]},"MAP":{"main":[[{"node":"Get many rows2","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"HTTP Request5","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Switch","type":"main","index":0}]]},"CUSTOM1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Update a row1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}],[{"node":"Terminado","type":"main","index":0}]]},"ETIQUETA":{"main":[[{"node":"Update a row1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Obtener las citas","type":"main","index":0}]]},"Get many rows":{"main":[[]]},"Code in JavaScript1":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Update rows in a table","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"iterar por cada cliente","type":"main","index":0}],[{"node":"Update rows in a table2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"PERSONALIZACIÓN1","type":"main","index":0}]]},"PERSONALIZACIÓN1":{"main":[[{"node":"Enviar bot es","type":"main","index":0},{"node":"CREARVIDEO","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"OBTENERSTATUS1","type":"main","index":0}]]},"CREARVIDEO1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"OBTENERSTATUS1":{"main":[[{"node":"Filtro1","type":"main","index":0}]]},"Filtro1":{"main":[[{"node":"Output1","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Update a row3":{"main":[[]]},"Verificar n mero no whats app":{"main":[[{"node":"If2","type":"main","index":0}]]},"Convert text to speech1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Enviar audio1","type":"main","index":0}]]},"Update rows in a table1":{"main":[[{"node":"iterar por cada cliente","type":"main","index":0}]]},"Buscar empresa de cada cliente":{"main":[[{"node":"Verificar n mero no whats app","type":"main","index":0}]]},"iterar por cada cliente":{"main":[[],[{"node":"Buscar empresa de cada cliente","type":"main","index":0}]]},"Enviar bot es":{"main":[[{"node":"Update rows in a table1","type":"main","index":0}]]},"Obtener las citas":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"tiene integración con evolution?":{"main":[[]]},"Wait":{"main":[[{"node":"OBTENERSTATUS","type":"main","index":0}]]},"CREARVIDEO":{"main":[[{"node":"Wait","type":"main","index":0}]]},"OBTENERSTATUS":{"main":[[{"node":"Filtro","type":"main","index":0}]]},"Filtro":{"main":[[{"node":"Output","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Output":{"main":[[{"node":"Update rows in a table1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"CREARVIDEO1":[{"json":{"error":null,"data":{"video_id":"97855169e932473ba27b19ec72867ea0"}}}],"OBTENERSTATUS1":[{"json":{"code":100,"data":{"callback_id":null,"caption_url":null,"created_at":1759537588,"duration":null,"error":null,"gif_url":null,"id":"97855169e932473ba27b19ec72867ea0","status":"processing","thumbnail_url":null,"video_url":null,"video_url_caption":null},"message":"Success"}}],"Output1":[{"json":{"data":{"video_url":"https://files2.heygen.ai/aws_pacific/avatar_tmp/d360ecc88da24612898789c85ce0274b/97855169e932473ba27b19ec72867ea0.mp4?Expires=1760142531&Signature=NduybNNkizqRggKuBiLsXFys1AiolK9xFyMWWk2iTS7ZXFOXp-yT01XprGrqmQj0DQS4ipIS7qCCKCsRQLzmV3Z0kA~B79Z53BEoNHIEvzMqwtK-X4Bcpv9p0jmy62VUmgUmrrkDcQpa5i2-pOQKTkONLSSW-vi6gQLSi71Y7UkDPK36g9JuZtTa~OXOuySuT333Cg6InqMogM7AKofKwJc6mJP6KlMId6-Ijt8a42hc~~b5FYYrU3DjY3L55NR9BRWAtZ7Z5uhaY95kTMym1LZtXVvn6NLi2tplhKluUE-iaVT3TP4qtZgy8nHYx1wIXeYzdUywd4q~g5fbChWUBQ__&Key-Pair-Id=K38HBHX5LX3X2H"}}}],"Output":[{"json":{"data":{"video_url":"https://files2.heygen.ai/aws_pacific/avatar_tmp/d360ecc88da24612898789c85ce0274b/97855169e932473ba27b19ec72867ea0.mp4?Expires=1760142531&Signature=NduybNNkizqRggKuBiLsXFys1AiolK9xFyMWWk2iTS7ZXFOXp-yT01XprGrqmQj0DQS4ipIS7qCCKCsRQLzmV3Z0kA~B79Z53BEoNHIEvzMqwtK-X4Bcpv9p0jmy62VUmgUmrrkDcQpa5i2-pOQKTkONLSSW-vi6gQLSi71Y7UkDPK36g9JuZtTa~OXOuySuT333Cg6InqMogM7AKofKwJc6mJP6KlMId6-Ijt8a42hc~~b5FYYrU3DjY3L55NR9BRWAtZ7Z5uhaY95kTMym1LZtXVvn6NLi2tplhKluUE-iaVT3TP4qtZgy8nHYx1wIXeYzdUywd4q~g5fbChWUBQ__&Key-Pair-Id=K38HBHX5LX3X2H"}}}],"CREARVIDEO":[{"json":{"error":null,"data":{"video_id":"97855169e932473ba27b19ec72867ea0"}}}],"OBTENERSTATUS":[{"json":{"code":100,"data":{"callback_id":null,"caption_url":null,"created_at":1759537588,"duration":null,"error":null,"gif_url":null,"id":"97855169e932473ba27b19ec72867ea0","status":"processing","thumbnail_url":null,"video_url":null,"video_url_caption":null},"message":"Success"}}]},"versionId":"d077461f-78c0-4e27-aeeb-e43aa2505ac6","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"oXT0P4WyY6fUGQBw","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}