backups/workflows/reservar_citas_clinicaaaaa CAL.json
{"createdAt":"2025-11-24T17:26:38.923Z","updatedAt":"2025-11-28T00:23:16.490Z","id":"D8AaTE8rMGPOtmKd","name":"reservar_citas_clinicaaaaa CAL","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-12-09T13:30:00\",\n  \"Nombre\":\"Diego Vasquez\",\n  \"Telefono\":\"56954675214\",\n  \"Correo\": \"fantinocamara@gmail.com\"\n}"},"id":"15608cb4-8b77-42a4-a621-a632fc8dfb07","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[272,288],"id":"fde3aba3-1bad-4e93-91fd-de0049c16588","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"qPtoS3F65dS7YPJZ","name":"OPENAI PRESLA APIKEY"}}},{"parameters":{"name":"entregar_horarios","description":"Eres la herramienta encargada de entregar horarios disponibles cuando no hay disponibilidad","workflowId":{"__rl":true,"value":"Kn2GiaeVA0Y0dM3L","mode":"list","cachedResultUrl":"/workflow/Kn2GiaeVA0Y0dM3L","cachedResultName":"entregar_horarios CAL"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.FechaOriginal }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[688,352],"id":"ec16e4f0-3cfa-44b9-bccc-8129b83fea4f","name":"entregar_horarios"},{"parameters":{"promptType":"define","text":"=Fecha reserva:{{ $('When Executed by Another Workflow').item.json.Fecha }}\nNombre usuario: {{ $('When Executed by Another Workflow').item.json.Nombre }}\nNumero de telefono: {{ $('When Executed by Another Workflow').item.json.Telefono }}","options":{"systemMessage":"=## 1. DEFINICIÓN DE IDENTIDAD  \nEres un **asistente automatizado encargado de todo el procedimiento para reservar citas de atención al cliente**.\n\n## 2. HERRAMIENTAS DISPONIBLES  \n- `comprobar_disponibilidad`: Confirma si hay disponibilidad en la fecha indicada.  \n- `entregar_horarios`: Proporciona horarios alternativos si no hay disponibilidad.  \n- `crear_cita`: Crea la cita en el calendario\n-\"registrar_cita\": registra la cita en el CRM\n\n\n## 3. OBJETIVO PRINCIPAL  \nEl agente tiene como propósito **verificar y gestionar automáticamente la reserva de citas de los clientes**, asegurando que las fechas sean válidas, haya disponibilidad y se complete todo el proceso de creación y registro de la cita.\n\n## 4. INSTRUCCIONES ESPECÍFICAS  \n\n1. Usar `comprobar_disponibilidad`.  \n3. Si hay disponibilidad, continuar con:\n   - `crear_cita\"\n   \n4. Si no hay disponibilidad, usar `entregar_horarios` para ofrecer alternativas al cliente.\n\nFORMATO RESPUESTA:\n{\n  \"Respuesta\": \"Su cita ha sido reservada exitosamente para el {}. Aquí tienes los detalles de la reserva:\\n- Nombre: {{ $('When Executed by Another Workflow').item.json.Nombre }}\\n- Teléfono: {{ $('When Executed by Another Workflow').item.json.Telefono }}\\n- Fecha: {fecha en dd/MM/yyyy hh:mm}\\n- Link: {link de la cita}\n\"Respuesta 2\": \"No hay cita para la fecha solicitada, estos son las horas disponibles:\n}\n\nIMPORTANTE:\n- La fecha de hoy es {{ $now }}\n- Maneja las fechas en formato ISO con zona horaria de Lima (-05:00)\n- Entrega las horas ordenadamente\n\n- No utilices asteriscos ni ningún formato de texto (como negritas o cursivas) en las respuestas. El texto debe presentarse de forma simple, sin símbolos especiales.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[496,0],"id":"1f575f16-3083-44d3-8414-9f2d29f5cbdc","name":"Agente reservar"},{"parameters":{"jsCode":"// Obtener el primer item del input\nconst item = items[0];\n\n// Obtener la fecha original\nconst fechaOriginal = item.json.Fecha;\n\n// Extraer la zona horaria (los últimos 6 caracteres: -05:00)\nconst zonaHoraria = fechaOriginal.slice(-6);\n\n// Quitar la zona horaria de la fecha\nconst fechaSinZona = fechaOriginal.slice(0, -6);\n\n// Crear un objeto Date a partir de la fecha sin zona horaria\nconst fecha = new Date(fechaSinZona);\n\n// Sumar 1 hora\nfecha.setHours(fecha.getHours() + 1);\n\n// Obtener la fecha en formato ISO\nconst fechaIso = fecha.toISOString();\n\n// Extraer solo la parte de fecha y hora (sin los milisegundos y sin la Z)\nconst fechaFormato = fechaIso.split('.')[0];\n\n// Concatenar con la zona horaria original\nconst fechaMasUnaHora = fechaFormato + zonaHoraria;\n\n// Crear el objeto de salida\nreturn [\n  {\n    json: {\n      FechaOriginal: fechaOriginal,\n      FechaMasUnaHora: fechaMasUnaHora\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"34725a57-19b0-48b6-9f60-ea56a98ef237","name":"Code"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appqJTfOiskkbXITf","mode":"list","cachedResultName":"Agente de Citas 2.0","cachedResultUrl":"https://airtable.com/appqJTfOiskkbXITf"},"table":{"__rl":true,"value":"tblxZDnnuWqDwmcqp","mode":"list","cachedResultName":"Registro Citas","cachedResultUrl":"https://airtable.com/appqJTfOiskkbXITf/tblxZDnnuWqDwmcqp"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $('When Executed by Another Workflow').item.json.Nombre }}","Fecha cita":"={{ $('When Executed by Another Workflow').item.json.Fecha }}","Telefono":"={{ $('When Executed by Another Workflow').item.json.Telefono }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha cita","displayName":"Fecha cita","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[1024,208],"id":"eb0d78d4-8fbf-41b1-93f5-58cfaa266d29","name":"registrar_cita","credentials":{"airtableTokenApi":{"id":"koP0UPsgGTHwpHeE","name":"Airtable Personal Access Token account"}}},{"parameters":{"method":"POST","url":"https://api.cal.com/v1/availability","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"start\": \"{{ $json.FechaOriginal }}-04:00\",\n  \"end\": \"{{ $json.FechaMasUnaHora }}-04:00\",\n  \"timezone\": \"America/Lima\",\n  \"calendars\": [\n    {\n      \"integration\": \"google_calendar\",\n      \"externalId\": \"camarafantino1@gmail.com\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[176,624],"id":"13395469-550f-4d96-80b9-0a29f7cb83e3","name":"comprobar_disponibilidad1","credentials":{"httpHeaderAuth":{"id":"MVqQuvYRe4TTCjc5","name":"CAL Fantino APIKEY Agente de citas 2.0"}},"disabled":true},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"timeMin":"={{ $json.FechaOriginal }}-04:00","timeMax":"={{ $json.FechaMasUnaHora }}-04:00","options":{"outputFormat":"availability"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[400,672],"id":"fafe899a-7e3d-42af-b168-181dc6e7ce0b","name":"comprobar_disponibilidad_CALENDAR","disabled":true},{"parameters":{"description":"Eres la herramienta encargada de comprobar disponibilidad de horarios","workflowId":{"__rl":true,"value":"PudKboIVq76uSf65","mode":"list","cachedResultUrl":"/workflow/PudKboIVq76uSf65","cachedResultName":"comprobar_disponibilidad CAL"},"workflowInputs":{"mappingMode":"defineBelow","value":{"FechaOriginal":"={{ $json.FechaOriginal }}","FechaMasUnaHora":"={{ $json.FechaMasUnaHora }}"},"matchingColumns":[],"schema":[{"id":"FechaOriginal","displayName":"FechaOriginal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"FechaMasUnaHora","displayName":"FechaMasUnaHora","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[512,336],"id":"1d19bf80-4335-4676-a359-dc022bf4e5ea","name":"comprobar_disponibilidad"},{"parameters":{"calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"start":"={{ $json.FechaOriginal }}","end":"={{ $json.FechaMasUnaHora }}","additionalFields":{"summary":"=Cita: {{ $('When Executed by Another Workflow').item.json.Nombre }} {{ $('When Executed by Another Workflow').item.json.Telefono }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[688,688],"id":"7d7ffde9-8cdd-45ee-aa3a-2ed3506fc28a","name":"crear_cita_CAL","disabled":true},{"parameters":{"method":"POST","url":"https://api.cal.com/v2/bookings","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-08-13"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"start\": \"{{ $json.FechaOriginal }}\",\n  \"attendee\": {\n    \"name\": \"{{ $('When Executed by Another Workflow').item.json.Nombre }}\",\n    \"timeZone\": \"America/Lima\",\n    \"email\": \"{{ $('When Executed by Another Workflow').item.json.Correo }}\",\n    \"phoneNumber\": \"{{ $('When Executed by Another Workflow').item.json.Telefono }}\",\n    \"language\": \"es\"\n  },\n  \"eventTypeId\": 3991866\n}\n","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[880,320],"id":"7e59d854-e324-433c-a03a-997a7d4213e3","name":"crear_cita","credentials":{"httpHeaderAuth":{"id":"MVqQuvYRe4TTCjc5","name":"CAL Fantino APIKEY Agente de citas 2.0"}}},{"parameters":{"method":"POST","url":"https://api.cal.com/v2/bookings","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-08-13"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"start\": \"{{ $json.FechaOriginal }}\",\n  \"attendee\": {\n    \"name\": \"{{ $('When Executed by Another Workflow').item.json.Nombre }}\",\n    \"timeZone\": \"America/Lima\",\n    \"email\": \"{{ $('When Executed by Another Workflow').item.json.Correo }}\",\n    \"phoneNumber\": \"{{ $('When Executed by Another Workflow').item.json.Telefono }}\",\n    \"language\": \"es\"\n  },\n  \"eventTypeId\": 3991866\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,80],"id":"a491384a-3daf-423b-9fe1-900067eab529","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"MVqQuvYRe4TTCjc5","name":"CAL Fantino APIKEY Agente de citas 2.0"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Agente reservar","type":"ai_languageModel","index":0}]]},"entregar_horarios":{"ai_tool":[[{"node":"Agente reservar","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"Agente reservar","type":"main","index":0}]]},"registrar_cita":{"ai_tool":[[{"node":"Agente reservar","type":"ai_tool","index":0}]]},"comprobar_disponibilidad1":{"ai_tool":[[]]},"comprobar_disponibilidad_CALENDAR":{"ai_tool":[[]]},"comprobar_disponibilidad":{"ai_tool":[[{"node":"Agente reservar","type":"ai_tool","index":0}]]},"crear_cita_CAL":{"ai_tool":[[]]},"crear_cita":{"ai_tool":[[{"node":"Agente reservar","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"Fecha":"2025-12-02T10:00:00-05:00","Nombre":"Diego Vasquez","Telefono":"+56954675214","Correo":"fantinocamara@gmail.com"}}]},"versionId":"3bcac93f-dac0-4092-8d96-a3fb89f5661f","triggerCount":0,"tags":[{"createdAt":"2025-11-24T17:21:44.159Z","updatedAt":"2025-11-24T17:21:44.159Z","id":"N9Ts4rh9w1HwhzNI","name":"Agente de reservas 2.0"},{"createdAt":"2025-11-24T17:21:34.835Z","updatedAt":"2025-11-24T17:21:34.835Z","id":"hJTfClhVd9g7R0a9","name":"CAL"}],"shared":[{"createdAt":"2025-11-24T17:26:38.923Z","updatedAt":"2025-11-24T17:26:38.923Z","role":"workflow:owner","workflowId":"D8AaTE8rMGPOtmKd","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}