backups/workflows/reservar_citas_clinica.json
{"createdAt":"2025-11-17T14:39:29.738Z","updatedAt":"2025-11-24T17:26:14.556Z","id":"QEeSvOWGY9D8pOrt","name":"reservar_citas_clinica","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-07-09T15:30:00\",\n  \"Nombre\":\"Diego Vasquez\",\n  \"Telefono\":\"56954675214\"\n \n}"},"id":"a5606684-7a91-4a86-8f0b-80028b2642d5","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[272,288],"id":"f7b27bc0-6b88-4c4e-995e-6adc343f8d28","name":"OpenAI Chat Model1"},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"timeMin":"={{ $json.FechaOriginal }}-04:00","timeMax":"={{ $json.FechaMasUnaHora }}-04:00","options":{"outputFormat":"availability"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[512,304],"id":"119d168f-7634-4284-9adc-ff0f71a81ba6","name":"comprobar_disponibilidad"},{"parameters":{"name":"entregar_horarios","description":"Eres la herramienta encargada de entregar horarios disponibles cuando no hay disponibilidad","workflowId":{"__rl":true,"value":"FarXcxBAh7UgWMkS","mode":"list","cachedResultName":"entregar_horarios"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.FechaOriginal }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[704,352],"id":"37d29842-4cdf-47eb-90cd-35c54793d366","name":"entregar_horarios"},{"parameters":{"calendar":{"__rl":true,"value":"iacondiegov@gmail.com","mode":"list","cachedResultName":"iacondiegov@gmail.com"},"start":"={{ $json.FechaOriginal }}","end":"={{ $json.FechaMasUnaHora }}","additionalFields":{"summary":"=Cita: {{ $('When Executed by Another Workflow').item.json.Nombre }} {{ $('When Executed by Another Workflow').item.json.Telefono }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[880,304],"id":"c50f5465-a3b6-4cf6-b92f-22416fc479c6","name":"crear_cita"},{"parameters":{"promptType":"define","text":"=Fecha reserva:{{ $('When Executed by Another Workflow').item.json.Fecha }}\nNombre usuario: {{ $('When Executed by Another Workflow').item.json.Nombre }}\nNumero de telefono: {{ $('When Executed by Another Workflow').item.json.Telefono }}","options":{"systemMessage":"=## 1. DEFINICIÓN DE IDENTIDAD  \nEres un **asistente automatizado encargado de todo el procedimiento para reservar citas de atención al cliente**.\n\n## 2. HERRAMIENTAS DISPONIBLES  \n- `comprobar_disponibilidad`: Confirma si hay disponibilidad en la fecha indicada.  \n- `entregar_horarios`: Proporciona horarios alternativos si no hay disponibilidad.  \n- `crear_cita`: Crea la cita en el calendario\n-\"registrar_cita\": registra la cita en el CRM\n\n\n## 3. OBJETIVO PRINCIPAL  \nEl agente tiene como propósito **verificar y gestionar automáticamente la reserva de citas de los clientes**, asegurando que las fechas sean válidas, haya disponibilidad y se complete todo el proceso de creación y registro de la cita.\n\n## 4. INSTRUCCIONES ESPECÍFICAS  \n\n1. Usar `comprobar_disponibilidad`.  \n3. Si hay disponibilidad, continuar con:\n   - `crear_cita\"\n   \n4. Si no hay disponibilidad, usar `entregar_horarios` para ofrecer alternativas al cliente.\n\nFORMATO RESPUESTA:\n{\n  \"Respuesta\": \"Su cita ha sido reservada exitosamente para el {}. Aquí tienes los detalles de la reserva:\\n- Nombre: {{ $('When Executed by Another Workflow').item.json.Nombre }}\\n- Teléfono: {{ $('When Executed by Another Workflow').item.json.Telefono }}\\n- Fecha: {fecha en dd/MM/yyyy hh:mm}\\n- Link: {link de la cita}\n\"Respuesta 2\": \"No hay cita para la fecha solicitada, estos son las horas disponibles:\n}\n\nIMPORTANTE:\n- La fecha de hoy es {{ $now }}\n- Maneja las fechas en formato ISO sin zona horaria\n- Entrega las horas ordenadamente\n\n- No utilices asteriscos ni ningún formato de texto (como negritas o cursivas) en las respuestas. El texto debe presentarse de forma simple, sin símbolos especiales.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[496,0],"id":"7325b9c3-09e2-4fd6-94d2-8f5ab494f0fd","name":"Agente reservar"},{"parameters":{"jsCode":"const fechaOriginal = new Date($input.first().json.Fecha);\nfechaOriginal.setHours(fechaOriginal.getHours() + 1);\n\n// Formatear a 'YYYY-MM-DDTHH:mm:ss'\nconst fechaFormateada = fechaOriginal\n  .toISOString()\n  .substring(0, 19);\n\nreturn [\n  {\n    json: {\n      FechaOriginal: $input.first().json.Fecha,\n      FechaMasUnaHora: fechaFormateada,\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"36678dbb-d990-40c6-9b6d-2b6e5c9068b7","name":"Code"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"apprFlWsOgSjwiTHh","mode":"list","cachedResultName":"CRM Agente Reservas","cachedResultUrl":"https://airtable.com/apprFlWsOgSjwiTHh"},"table":{"__rl":true,"value":"tbleYty0ThET8hjEt","mode":"list","cachedResultName":"Registro citas","cachedResultUrl":"https://airtable.com/apprFlWsOgSjwiTHh/tbleYty0ThET8hjEt"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $('When Executed by Another Workflow').item.json.Nombre }}","Telefono":"={{ $('When Executed by Another Workflow').item.json.Telefono }}","Fecha cita":"={{ $json.FechaOriginal }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha cita","displayName":"Fecha cita","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[1024,208],"id":"f8fb93be-d15a-446c-b7c4-b75c40591cb4","name":"registrar_cita"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Agente reservar","type":"ai_languageModel","index":0}]]},"comprobar_disponibilidad":{"ai_tool":[[{"node":"Agente reservar","type":"ai_tool","index":0}]]},"entregar_horarios":{"ai_tool":[[{"node":"Agente reservar","type":"ai_tool","index":0}]]},"crear_cita":{"ai_tool":[[{"node":"Agente reservar","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"Agente reservar","type":"main","index":0}]]},"registrar_cita":{"ai_tool":[[{"node":"Agente reservar","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"Fecha":"2025-07-12T11:00:00","Nombre":"Diego Vasquez","Telefono":"+56954675214"}}]},"versionId":"58f09a1d-4836-46a1-b54a-f6ef192edb9d","triggerCount":0,"tags":[{"createdAt":"2025-11-17T14:36:32.455Z","updatedAt":"2025-11-17T14:36:32.455Z","id":"hrIDh4R5vrcVht8l","name":"hoy"}],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"QEeSvOWGY9D8pOrt","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}