backups/workflows/SEGUIMIENTO WSP.json
{"createdAt":"2025-11-11T04:03:09.290Z","updatedAt":"2025-11-11T05:28:48.058Z","id":"5QCL5acfZrWnlKb8","name":"SEGUIMIENTO WSP","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-352,-280],"id":"03b8e9a9-abb7-460c-a237-e8eb79529c0e","name":"Schedule Trigger"},{"parameters":{"options":{"systemMessage":"Responde amablemente"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-352,-752],"id":"b747ada8-4e03-46df-a681-c669e0b57133","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-216,-528],"id":"49dbe891-fc37-4f11-9ff2-101d589c87a8","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"H8BZiMyQn9N1EgIv","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-344,-528],"id":"53cc3268-468c-49f0-9bdb-271a7874eded","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"qPtoS3F65dS7YPJZ","name":"OPENAI PRESLA APIKEY"}}},{"parameters":{"operation":"executeQuery","query":"/* Trae SOLO el último mensaje de cada sesión cuyo autor sea el bot\n\n   y que aún tenga follow-ups pendientes (attempts < 2) */\n\nWITH ult AS (\n\n  SELECT h.*,\n\n         ROW_NUMBER() OVER (PARTITION BY session_id ORDER BY id DESC) AS rn\n\n  FROM   public.n8n_chat_histories h\n\n)\n\nSELECT\n\n    id,\n\n    session_id,\n\n    message->>'content'     AS texto,\n\n    followup_attempts,      -- 0 ó 1\n\n    created_at\n\nFROM   ult\n\nWHERE  rn = 1\n\n  AND  message->>'type' IN ('assistant','ai','robot')\n\n  AND  created_at >= NOW() - INTERVAL '24 hours'  -- aún en ventana IG\n\n  AND  followup_attempts < 2                      -- 0 = FU-1, 1 = FU-2\n\n  AND  NOT EXISTS (                               -- usuario no respondió\n\n        SELECT 1\n\n        FROM   public.n8n_chat_histories h2\n\n        WHERE  h2.session_id = ult.session_id\n\n          AND  h2.id        > ult.id\n\n          AND  h2.message->>'type' = 'human'\n\n      )\n\nORDER  BY created_at ASC;      -- (opcional) más viejos primero","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-128,-280],"id":"c85408a2-7652-463e-8e72-c2d33e227a51","name":"Execute a SQL query","credentials":{"postgres":{"id":"H8BZiMyQn9N1EgIv","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7ee586f-1a0d-4531-a592-ed48d42f2a0f","leftValue":"={{ $json.followup_attempts }}","rightValue":2,"operator":{"type":"number","operation":"lte"}},{"id":"0e676700-69db-4b98-b033-1cad84ef0184","leftValue":"={{ $json.session_id }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"}},{"id":"5b41765a-5284-4526-ac5e-2f2f2c168abf","leftValue":"={{ $json.created_at }}","rightValue":"={{ $now.minus({ hours: 14, minutes: 55 }).toISO() }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[96,-280],"id":"4b6920c4-ca76-436d-a109-ee257dcbd709","name":"Filter"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.followup_attempts }}","rightValue":0,"operator":{"type":"number","operation":"equals"},"id":"bcf38b9a-a61c-4d10-9b21-12d62eed3176"}],"combinator":"and"},"renameOutput":true,"outputKey":"PRIMER SEGUIMIENTO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8a705191-6275-45d6-9405-d304b04ea03e","leftValue":"={{ $json.followup_attempts }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SEGUNDO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[320,-280],"id":"8502a65b-d42c-45e9-9e60-5cb8f6b4dda2","name":"Switch"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[640,-288],"id":"7ad9d331-5047-49b7-aabd-eabee6ed8b1f","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"d5137cdb-8e06-4e26-8a7d-eb36cdc65ee4","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"ab631884-2beb-44ce-9e20-59516d83b4ef","name":"session_id","value":"={{ $json.session_id }}","type":"string"},{"id":"74612dfd-e78c-43b0-beea-9fd1a16d9451","name":"texto","value":"={{ $json.texto }}","type":"string"},{"id":"65ef17c7-d2cd-4bb0-b54c-89873b41a127","name":"followup_attempts","value":"={{ $json.followup_attempts }}","type":"string"},{"id":"3b074291-ee03-41e7-b19a-4acbb58bf7c9","name":"created_at","value":"={{ $json.created_at }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,-352],"id":"5c8ba7c5-c793-4bc4-927d-2dd5af7c106f","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"SELECT *\n\nFROM (\n\n  SELECT *\n\n  FROM public.n8n_chat_histories\n\n  WHERE session_id = '{{ $json.session_id }}'\n\n  ORDER BY id DESC\n\n  LIMIT 10\n\n) AS sub\n\nORDER BY id ASC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1136,-336],"id":"4b957207-ad7d-4edc-a4ba-1532864964d5","name":"Execute a SQL query1","credentials":{"postgres":{"id":"H8BZiMyQn9N1EgIv","name":"Postgres account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nitems.sort((a, b) => a.json.id - b.json.id);\n\nconst mensajesFormateados = items.map(item => {\n\n  const tipo = item.json.message.type;\n\n  const contenido = item.json.message.content;\n\n  if (tipo === 'human') {\n\n    return `👤 Humano: ${contenido}`;\n\n  } else if (tipo === 'ai') {\n\n    return `🤖 IA: ${contenido}`;\n\n  } else {\n\n    return `🔸 Otro: ${contenido}`;\n\n  }\n\n});\n\nreturn [\n\n  {\n\n    json: {\n\n      contexto_chat: mensajesFormateados.join('\\n\\n')\n\n    }\n\n  }\n\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,-272],"id":"1cd4ca57-397d-42ef-8ba9-7eee4d1f64ec","name":"Code in JavaScript"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1552,-48],"id":"dd356848-41be-44a4-bbae-601136d3b2e5","name":"Merge"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Eres un asistente de WhatsApp\n\nDevuelve SÓLO un objeto JSON con esta estructura (sin texto extra, sin saltos antes ni después):\n\n{\n\n  \"respuesta\": \"SI\" | \"NO\",\n\n  \"mensaje\": \"...si respuesta es SI, aquí pones el follow-up en 1-2 frases...\"\n\n}\n\nObjetivo\n\nAnalizar toda la conversación completa y decidir si vale la pena enviar un mensaje de seguimiento breve y natural.\n\nCriterios para \"respuesta\": \"SI\"\n\nEl último mensaje visible para el usuario lo envió el bot y el usuario no ha contestado.\n\nQuedó una pregunta, interés, CTA o duda abierta (ej. “¿precio?”, “cuéntame más”, “me interesa”).\n\nCriterios para \"respuesta\": \"NO\"\n\nEl último mensaje del bot fue solo cortesía o cierre (“gracias”, “quedo atento”).\n\nEl usuario ya declinó o pidió no recibir más mensajes.\n\nReglas para \"mensaje\" (solo si \"respuesta\":\"SI\")\n\n1 – 2 frases, tono cercano y profesional.\n\nPuedes hacer referencia a la última pregunta o tema para sonar natural.\n\nNo uses emojis ni texto promocional agresivo; solo apoya y ofrece ayuda.\n\nEjemplos válidos:\n\n“¡Hola de nuevo! Solo quería saber si te quedó alguna duda sobre los planes y precios. Estoy aquí para ayudarte.”\n\n“Paso rápido antes de que se cierre el chat de 24 h. ¿Te gustaría que agendemos una llamada o te envío más info?”\n\nRecuerda: responde únicamente el JSON EXACTO acorde al esquema, sin comentarios ni campos extra.\n\nPara que tengas contexto de que intento de seguimiento es te voy a dar el numero de seguimiento\n\n0 = No se le ha mandado seguimiento\n\n1 = Se le mando un seguimiento y no respondio aun"},{"content":"={{ $json.contexto_chat }}\nNumero de seguimiento: {{ $json.followup_attempts }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1760,-48],"id":"d2e77c00-4444-447f-9d1c-aa63c3536b2a","name":"Message a model","credentials":{"openAiApi":{"id":"qPtoS3F65dS7YPJZ","name":"OPENAI PRESLA APIKEY"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6fcbf31-8a80-4566-97cc-579dc5dec148","leftValue":"={{ $json.message.content.respuesta }}","rightValue":"SI","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2112,-48],"id":"e5efc2fa-95e3-46ff-8d71-945c5ea72606","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"87752695-4deb-4d5f-b326-35a76c5ec64d","name":"message.content.respuesta","value":"={{ $json.message.content.respuesta }}","type":"string"},{"id":"55dfed75-a445-4b3f-a42b-75966c19b1fb","name":"message.content.mensaje","value":"={{ $json.message.content.mensaje }}","type":"string"},{"id":"da3e649a-0b6b-4490-bec8-349655953846","name":"session_id","value":"={{ $('Edit Fields').item.json.session_id.replace(/@.*$/, '') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2320,-144],"id":"49f5cc43-91ae-4570-8e58-183d956eb98e","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $json.session_id }}"},{"name":"body","value":"={{ $json.message.content.mensaje }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2528,-128],"id":"08f62148-559e-44fe-9625-a71bb64ad02c","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"xgx2uJsGlf6aNaVi","name":"WHAPICredenciales"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Edit Fields').item.json.id }}","followup_attempts":1,"followup_sent_at":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"followup_sent_at","displayName":"followup_sent_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"followup_attempts","displayName":"followup_attempts","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2736,-128],"id":"2d7a2ea8-5b73-4cd9-89cf-dda02416bddd","name":"Update rows in a table","credentials":{"postgres":{"id":"H8BZiMyQn9N1EgIv","name":"Postgres account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Merge').item.json.id }}","followup_attempts":2,"followup_sent_at":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"followup_sent_at","displayName":"followup_sent_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"followup_attempts","displayName":"followup_attempts","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2352,64],"id":"177122a4-c4bd-4f33-84dc-faaba0dc0fd5","name":"Update rows in a table1","credentials":{"postgres":{"id":"H8BZiMyQn9N1EgIv","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,400],"id":"5c62c409-b379-423d-9856-525239813d16","name":"Loop Over Items1"},{"parameters":{"assignments":{"assignments":[{"id":"d5137cdb-8e06-4e26-8a7d-eb36cdc65ee4","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"ab631884-2beb-44ce-9e20-59516d83b4ef","name":"session_id","value":"={{ $json.session_id }}","type":"string"},{"id":"74612dfd-e78c-43b0-beea-9fd1a16d9451","name":"texto","value":"={{ $json.texto }}","type":"string"},{"id":"65ef17c7-d2cd-4bb0-b54c-89873b41a127","name":"followup_attempts","value":"={{ $json.followup_attempts }}","type":"string"},{"id":"3b074291-ee03-41e7-b19a-4acbb58bf7c9","name":"created_at","value":"={{ $json.created_at }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,336],"id":"79bced62-5696-4e1e-bf2e-4fa6907522e1","name":"Edit Fields2"},{"parameters":{"operation":"executeQuery","query":"SELECT *\n\nFROM (\n\n  SELECT *\n\n  FROM public.n8n_chat_histories\n\n  WHERE session_id = '{{ $json.session_id }}'\n\n  ORDER BY id DESC\n\n  LIMIT 10\n\n) AS sub\n\nORDER BY id ASC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1168,352],"id":"1a329545-e594-49a6-8959-7472094acfd5","name":"Execute a SQL query2","credentials":{"postgres":{"id":"H8BZiMyQn9N1EgIv","name":"Postgres account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nitems.sort((a, b) => a.json.id - b.json.id);\n\nconst mensajesFormateados = items.map(item => {\n\n  const tipo = item.json.message.type;\n\n  const contenido = item.json.message.content;\n\n  if (tipo === 'human') {\n\n    return `👤 Humano: ${contenido}`;\n\n  } else if (tipo === 'ai') {\n\n    return `🤖 IA: ${contenido}`;\n\n  } else {\n\n    return `🔸 Otro: ${contenido}`;\n\n  }\n\n});\n\nreturn [\n\n  {\n\n    json: {\n\n      contexto_chat: mensajesFormateados.join('\\n\\n')\n\n    }\n\n  }\n\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,416],"id":"56fa7ebe-ab1a-413d-a8c2-9dfcdc51374b","name":"Code in JavaScript1"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1584,640],"id":"9ea64696-7acf-419d-81e5-265f79a757ae","name":"Merge1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Eres un asistente especializado en el segundo seguimiento para mensajes de Instagram/WhatsApp.\n\nDevuelve EXCLUSIVAMENTE un objeto JSON con este formato (sin ningún texto adicional):\n\n{\n\n  \"respuesta\": \"SI\" | \"NO\",\n\n  \"mensaje\": \"…solo si respuesta es SI, redacta aquí de 1-2 frases…\"\n\n}\n\nCriterios para \"respuesta\": \"SI\"\n\nhoras_desde_usuario ≤ 24 (seguimos dentro de la ventana de 24 h).\n\nhoras_desde_fu1 ≥ 17 (han pasado al menos 17 h desde FU-1).\n\nEl usuario no ha respondido después de FU-1.\n\nEl mensaje anterior del bot (FU-1) dejó clara la invitación a continuar, pero quedó sin respuesta o con una pregunta abierta.\n\nCriterios para \"respuesta\": \"NO\"\n\nEl usuario respondió tras FU-1 o indicó que no desea más mensajes.\n\nhoras_desde_usuario > 24 (fuera de la ventana) o horas_desde_fu1 < 17 (aún es pronto).\n\nSe detecta desinterés (“gracias”, “lo pensaré”, silencio tras rechazo).\n\nReglas para el campo \"mensaje\" (solo si \"respuesta\" = \"SI\")\n\n1-2 frases, tono cordial y breve.\n\nRefuerza la idea de que la ventana de 24 h está por cerrar (“antes de que se cierre el chat…”).\n\nMenciona de forma natural el tema pendiente: precio, reserva, llamada, etc.\n\nCero emojis y nada agresivo; solo útil y cercano.\n\nEjemplos de mensajes válidos\n\n“Antes de que se cierre la conversación de 24 h, ¿te gustaría que agendemos una llamada o te pase más detalles?”\n\n“Paso rápido para ver si aún quieres avanzar; si necesitas algo más, dime y con gusto te ayudo.”\n\nIMPORTANTE: responde exactamente el JSON solicitado. No añadas comentarios, campos extra ni texto fuera del objeto JSON."},{"content":"={{ $json.contexto_chat }}\nNumero de seguimiento: {{ $json.followup_attempts }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1792,640],"id":"0b34e72b-be27-4102-b6a1-338d0422880d","name":"Message a model1","credentials":{"openAiApi":{"id":"qPtoS3F65dS7YPJZ","name":"OPENAI PRESLA APIKEY"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6fcbf31-8a80-4566-97cc-579dc5dec148","leftValue":"={{ $json.message.content.respuesta }}","rightValue":"SI","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2144,640],"id":"fd71c93a-eb29-47d9-8376-45ce5d66e355","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"87752695-4deb-4d5f-b326-35a76c5ec64d","name":"message.content.respuesta","value":"={{ $json.message.content.respuesta }}","type":"string"},{"id":"55dfed75-a445-4b3f-a42b-75966c19b1fb","name":"message.content.mensaje","value":"={{ $json.message.content.mensaje }}","type":"string"},{"id":"da3e649a-0b6b-4490-bec8-349655953846","name":"session_id","value":"={{ $('Edit Fields2').item.json.session_id.replace(/@.*$/, '') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2352,544],"id":"d7ac4575-386a-4622-8f51-7c903750da54","name":"Edit Fields3"},{"parameters":{"method":"POST","url":"https://gate.whapi.cloud/messages/text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $json.session_id }}"},{"name":"body","value":"={{ $json.message.content.mensaje }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2560,560],"id":"18956295-f5d7-4ac7-bc36-fc8864e2e832","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"xgx2uJsGlf6aNaVi","name":"WHAPICredenciales"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Edit Fields2').item.json.id }}","followup_attempts":2,"followup_sent_at":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"followup_sent_at","displayName":"followup_sent_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"followup_attempts","displayName":"followup_attempts","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2768,560],"id":"3862a3ad-7f5f-4fce-a8f2-bb1cb8738ff4","name":"Update rows in a table2","credentials":{"postgres":{"id":"H8BZiMyQn9N1EgIv","name":"Postgres account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Merge1').item.json.id }}","followup_attempts":2,"followup_sent_at":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"followup_sent_at","displayName":"followup_sent_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"followup_attempts","displayName":"followup_attempts","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2384,752],"id":"22ea88cd-d37a-496e-b00f-786a8b88d28c","name":"Update rows in a table3","credentials":{"postgres":{"id":"H8BZiMyQn9N1EgIv","name":"Postgres account"}}},{"parameters":{"content":"PRIMER SEGUIMIENTO","height":752,"width":2576},"type":"n8n-nodes-base.stickyNote","position":[544,-448],"typeVersion":1,"id":"61071392-ff6a-4983-8260-480bd3655354","name":"Sticky Note"},{"parameters":{"content":"SEGUNDO SEGUIMIENTO\n","height":752,"width":2576,"color":4},"type":"n8n-nodes-base.stickyNote","position":[544,320],"typeVersion":1,"id":"13a5a057-a72e-4df5-b1fc-0174bdaabc23","name":"Sticky Note1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Execute a SQL query1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Update rows in a table1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Update rows in a table","type":"main","index":0}]]},"Update rows in a table1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update rows in a table":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Execute a SQL query2","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Execute a SQL query2":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Update rows in a table3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Update rows in a table2","type":"main","index":0}]]},"Update rows in a table2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Update rows in a table3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Message a model":[{"json":{"index":0,"message":{"role":"assistant","content":{"respuesta":"SI","mensaje":"Solo quería confirmar si recibiste el contacto y la confirmación para tu cita de mañana a las 11 AM. Estoy aquí para cualquier duda que tengas."},"refusal":null,"annotations":[]},"logprobs":null,"finish_reason":"stop"}}],"Message a model1":[{"json":{"index":0,"message":{"role":"assistant","content":{"respuesta":"SI","mensaje":"Solo quería confirmar si recibiste el contacto y la confirmación para tu cita de mañana a las 11 AM. Estoy aquí para cualquier duda que tengas."},"refusal":null,"annotations":[]},"logprobs":null,"finish_reason":"stop"}}]},"versionId":"a378e5f6-8ccb-43cd-99b1-621b3efb9507","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"5QCL5acfZrWnlKb8","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}