backups/workflows/UPDATE CHATBOTMAIN.json
{"createdAt":"2025-11-10T17:56:17.419Z","updatedAt":"2025-11-10T21:33:35.303Z","id":"cgbsiV6J8qUSudWd","name":"UPDATE CHATBOTMAIN","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"f6d99b56-0aac-41bf-b23e-59d9829da07d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2816,276],"id":"24a38258-77c6-4527-b8c3-5e214121a03b","name":"Webhook","webhookId":"f6d99b56-0aac-41bf-b23e-59d9829da07d"},{"parameters":{"operation":"push","list":"={{ $json.body.data.key.remoteJid }}","messageData":"={{ JSON.stringify($('Edit Fields4').item.json.body) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1696,608],"id":"eaa7061f-ee59-458f-aca6-12c687a7fdad","name":"Insertar"},{"parameters":{"operation":"get","propertyName":"mensaje","key":"={{ $('Edit Fields4').item.json.body.data.key.remoteJid }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1472,608],"id":"3b059899-2fc8-4b1a-beb8-bb26f92f3f78","name":"CACHAR INFO"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse($json.mensaje.last()).data.key.remoteJid }}","rightValue":"={{ $('Edit Fields4').item.json.body.data.key.remoteJid }}","operator":{"type":"string","operation":"notEquals"},"id":"342f8e42-f993-40d8-9188-5b501338a035"}],"combinator":"and"},"renameOutput":true,"outputKey":"NADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dee9248c-bc58-4d0d-80f4-eba8bafba419","leftValue":"={{ JSON.parse($json.mensaje.last()).data.messageTimestamp * 1000 }}","rightValue":"={{ $now.minus(25,'seconds').toMillis() }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AGARRAR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f1515c3b-6a0a-463a-a3e9-171eed40ecb6","leftValue":"={{ JSON.parse($json.mensaje.first()).data.key.remoteJid }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"NO EXISTE"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"POLICIA"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1248,576],"id":"966c0b26-4677-471d-9cd6-2801c3e7a1cc","name":"Switch","onError":"continueRegularOutput"},{"parameters":{"amount":25},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1024,756],"id":"fcf9bab9-0e4c-4620-961e-a67194aa540c","name":"Wait","webhookId":"7b7cb0af-51e1-4071-9448-1bbce8e760de"},{"parameters":{"operation":"delete","key":"={{ $('Edit Fields4').item.json.body.data.key.remoteJid }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1024,564],"id":"d2d70251-7d3a-4f5b-9932-919e94299853","name":"Redis"},{"parameters":{"fieldToSplitOut":"mensaje","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-800,564],"id":"7ce04514-52b7-4411-8f96-86901a614ce1","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"0d1729a1-0e28-425e-a8c0-a7e945d919ec","name":"mensaje","value":"={{ $json.data.message.conversation }}","type":"string"},{"id":"5ef4a455-4c16-4328-8569-3c5ebced96b0","name":"hora_llegada","value":"={{ $json.date_time }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,484],"id":"d09a2aa0-78ca-45c5-9016-65cb69d328a8","name":"Edit Fields1"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"hora_llegada"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[320,728],"id":"3b751df0-d4b5-49e5-bf99-9ce10ab94c5c","name":"Sort"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"mensaje"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[544,728],"id":"ae7c8440-0595-4b0d-a7b8-6fbac1b5a142","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"9bc6147a-2246-4d74-833b-bc694f075aeb","name":"Input","value":"={{ $json.mensaje.join(\" \") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[768,728],"id":"a15d43f1-9d62-4164-a110-9d29edbb9673","name":"Edit Fields2"},{"parameters":{"mode":"raw","jsonOutput":"={{ JSON.parse($json.mensaje) }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-576,564],"id":"4e9bb9db-601a-4c32-859e-7425105812e8","name":"Edit Fields3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1024,372],"id":"514c76af-0222-4b84-a5ab-45c901d77e90","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1024,948],"id":"20be557b-c9ae-473c-befb-0f522ac5ffff","name":"No Operation, do nothing1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"contains"},"id":"20dd2c64-e7ff-416f-a972-953f645ce11b"}],"combinator":"and"},"renameOutput":true,"outputKey":"AUDIO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1fcd18f0-0b0a-4b58-9242-0bb6d276ba0c","leftValue":"={{ $json.data.messageType }}","rightValue":"image","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc8a2475-2689-4697-ac02-454f0cc873a6","leftValue":"={{ $json.data.message.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"TEXTO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-352,468],"id":"2abea916-46af-47b4-9389-b9f8dcc6e7c9","name":"Switch1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.mediaType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"4ad8004f-f867-497a-9de8-4c4d901f974c"}],"combinator":"and"},"renameOutput":true,"outputKey":"AUDIO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93275bc1-904c-4af8-a9a5-a319642b58c2","leftValue":"={{ $json.data.mediaType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IMAGEN"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1024,1140],"id":"be9f11bf-e7b1-485d-b5fa-30686f2de0f9","name":"Switch2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-800,1228],"id":"fbfd3ac4-9a30-4f8b-8c0b-4203aaaab926","name":"No Operation, do nothing2"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-352,868],"id":"718f0867-db14-4a5f-893c-ce8d87398ea7","name":"OpenAI"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"Da una descripcion detallada de que ves en la imagen y responde como \"El usuario mando una imagen etc.....\"","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-352,1060],"id":"6a6c4268-92ef-4394-8af7-0fa3749669c7","name":"OpenAI1"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[96,728],"id":"0fbc9f87-bfa3-4940-af1d-a51b063db52b","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"0d1729a1-0e28-425e-a8c0-a7e945d919ec","name":"mensaje","value":"={{ $json.content }}","type":"string"},{"id":"5ef4a455-4c16-4328-8569-3c5ebced96b0","name":"hora_llegada","value":"={{ $('Switch1').item.json.date_time }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,1060],"id":"fa2137d5-8c16-4ee3-9e6f-bf8ead9fdce0","name":"Edit Fields6"},{"parameters":{"assignments":{"assignments":[{"id":"0d1729a1-0e28-425e-a8c0-a7e945d919ec","name":"mensaje","value":"={{ $json.text }}","type":"string"},{"id":"5ef4a455-4c16-4328-8569-3c5ebced96b0","name":"hora_llegada","value":"={{ $('Switch1').item.json.date_time }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,868],"id":"fc9be276-f433-4ae7-8a65-a7fbc29fd89d","name":"Edit Fields7"},{"parameters":{"assignments":{"assignments":[{"id":"35e1061d-69e7-4800-a6ab-42de43f71524","name":"body.key","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"3faa58fb-b3fd-443e-83df-45c1d542806f","name":"body","value":"={{ $('Webhook').item.json.body }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1920,608],"id":"8787b9f1-b739-49fe-9477-7b9ef4f2625c","name":"Edit Fields4"},{"parameters":{},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2816,0],"id":"5ed55e27-4a1d-4f20-8205-f204afd9eac6","name":"Evolution API1","credentials":{}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-800,868],"id":"80f42894-8170-4620-931f-6a044e0549d3","name":"Convert to File"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-576,1060],"id":"cf11d6a9-1b28-46c3-bb38-b8af5125c557","name":"Convert to File1"},{"parameters":{"jsCode":"// Obtener el archivo binario\nconst inputData = $input.all();\n\n// Procesar cada item\nconst outputData = inputData.map(item => {\n  // Crear nuevo objeto con los datos modificados\n  const newItem = {\n    ...item,\n    binary: {}\n  };\n\n  // Procesar cada archivo binario en el item\n  Object.keys(item.binary || {}).forEach(key => {\n    const binaryData = item.binary[key];\n    \n    // Modificar las propiedades del archivo\n    newItem.binary[key] = {\n      ...binaryData,\n      fileName: binaryData.fileName.replace(/\\.[^.]+$/, '.ogg'), // Cambiar extensión a .ogg\n      fileExtension: 'ogg',\n      mimeType: 'audio/ogg'\n    };\n  });\n\n  return newItem;\n});\n\nreturn outputData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,868],"id":"5787f88d-3125-41ae-a055-3d1f1e5f2924","name":"Code"},{"parameters":{"operation":"set","key":"=Santiago_{{ $json.body.data.key.remoteJid }}_bloqueado","value":"true","expire":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2368,224],"id":"f3b7bd9f-0a2c-4785-89e6-d6cf1ae654e1","name":"Redis1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"005c7437-4d83-4dd9-8621-f0eeefe5e908","leftValue":"={{ $json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2592,276],"id":"a6aa3c04-4bf4-4bcb-a170-181a884170ca","name":"If1"},{"parameters":{"operation":"get","propertyName":"Bloqueado","key":"=Santiago_{{ $json.body.data.key.remoteJid }}_bloqueado","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2368,416],"id":"0f519915-5693-4e1d-a1ef-1a775a24c3e1","name":"Redis2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"60a911cf-7d55-4e4f-af9b-6b27d4013d88","leftValue":"={{ $json.Bloqueado }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2144,416],"id":"eebbff80-c8fb-4bec-86d8-01dc51de0693","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1920,416],"id":"c6479fe0-2889-4b35-924e-46f6753e86db","name":"No Operation, do nothing3"},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[1568,536],"id":"5da49584-17c6-48ce-bf7d-19991badba2d","name":"OpenAI Chat Model2"},{"parameters":{"promptType":"define","text":"={{ $json.Input }}","options":{"systemMessage":"=# 🧠 Sistema de Detección de Intenciones\n\nEres un sistema experto que determina si el usuario quiere continuar con el proceso de reservación de citas o cambiar a conversación general.\n\n## 🚦 REGLA PRINCIPAL (Aplica SIEMPRE primero):\n\n**RESERVA automática para**:\n- Cancelar citas: \"Cancela mi cita\", \"Quiero cancelar\", \"Cancelar cita del X\"\n- Reagendar citas: \"Cambiar mi cita\", \"Reagendar para otro día\"\n- Consultar/modificar citas existentes\n\n## 📋 Categorías de Intención:\n\n**RESERVA**: El usuario está:\n- Iniciando una nueva cita\n- Solicitando horarios disponibles\n- **CANCELANDO o REAGENDANDO una cita existente**\n- Proporcionando datos para agendar (nombre, correo, fecha, hora)\n- Corrigiendo información de cita en proceso\n- Pidiendo horarios específicos (mañana, tarde, noche)\n- Respondiendo preguntas del filtro previo\n\n**CONVERSACIÓN**: Preguntas generales, temas no relacionados con citas, información general, chistes, etc.\n\n## ⚠️ Reglas de Aplicación:\n\n1. **Prioridad absoluta**: Cualquier mención de cancelar/reagendar = RESERVA\n2. **Contexto activo**: Si hay proceso de agendamiento en curso, mantener RESERVA\n3. **Análisis del historial completo**: Analiza todo el historial para identificar si hay un proceso de agendamiento activo. No tomes decisiones basadas únicamente en una frase aislada si el contexto indica que el usuario está siguiendo el flujo de cita\n4. **Mantenimiento del flujo**: NO se permite redirigir al bot de preguntas si la intención principal sigue siendo agendar. Si el usuario hace una pregunta ambigua pero está en medio del proceso de agendamiento, responde RESERVA para mantener el flujo y evitar interrupciones\n5. **Cambio explícito**: Solo CONVERSACIÓN si claramente cambia de tema sin relación a citas\n\n## 🧪 Ejemplos:\n\n- \"Puedes cancelar mi cita del 18 de agosto\" → **RESERVA**\n- \"Quiero cancelar mi cita\" → **RESERVA** \n- \"Necesito reagendar para otro día\" → **RESERVA**\n- \"¿Tienen algo al mediodía?\" → **RESERVA**\n- \"Mi presupuesto es de 1500 USD\" (en filtro) → **RESERVA**\n- \"¿Qué opinas del clima?\" (sin proceso activo) → **CONVERSACIÓN**\n\n**RESPUESTA**: Una sola palabra: `RESERVA` o `CONVERSACIÓN`"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[992,728],"id":"cc2fae33-68b0-4bb5-abc5-8e0c72ea08f1","name":"POLICIA"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields2').item.json.Input }}","options":{"systemMessage":"=<agentPrompt>\n  <context>\n    Eres el asistente de Santiago, creador de contenido sobre automatización e inteligencia artificial usando herramientas como Make y n8n.\n    Tu rol es ayudar a personas interesadas en los servicios de automatización de su agencia y su comunidad educativa Horizontes IA (también conocida como curso).\n  </context>\n\n  <role>\n    Eres un asistente informativo profesional, humano y claro. Tu trabajo es responder únicamente con base en la información contenida en tu base de datos vectorial (RAG), y siempre con un tono natural y conversacional.\n  </role>\n\n  <tools>\ncompanyKnowledge: Es una base de datos vectorial con toda la informacion de Horizontes IA\n  </tools>\n\n  <services>\n    <condition>\n      Si alguien pregunta si ofrecen servicios de automatización:\n    </condition>\n    <response>\n      ¡Holaa! Sí, aparte de la comunidad tambien trabajamos con proyectos de automatización con IA como los que viste en los videos. Solo como aviso, manejamos proyectos arriba de $1000 USD por temas de disponibilidad. ¿Te gustaría agendar una llamada para ver si podemos ayudarte? o quieres que te cuente mas sobre la comunidad\n    </response>\n    <nextStep>\n      Si el usuario acepta, inicia el flujo de agendamiento. Si no, continúa resolviendo dudas sobre Horizontes IA.\n    </nextStep>\n  </services>\n\n  <goals>\n    <item>Contenido del curso/comunidad Horizontes IA</item>\n    <item>Herramientas enseñadas (Make.com, n8n, Airtable, etc.)</item>\n    <item>Plantillas, módulos, automatizaciones</item>\n    <item>Concursos, clases, beneficios, precios</item>\n    <item>Acceso, clases en vivo, dinámica</item>\n    <item>Preguntas frecuentes contenidas en la base RAG</item>\n  </goals>\n\n  <ragRule>\n    Siempre consulta la base vectorial antes de responder. Si no tienes una respuesta clara, no inventes. Usa respuestas como:\n    <example>\n      Esa info no la tengo a la mano, pero puedes checar más en nuestro sitio: https://iahorizontesacademy.com\n    </example>\n    Si es un caso más complejo:\n    <example>\n      Podemos verlo en llamada si lo prefieres. ¿Te gustaría agendar una cita?\n    </example>\n  </ragRule>\n\n  <courseAlias>\n    Si alguien menciona “curso”, “comunidad” o “programa”, respóndelo como sinónimos:\n    <example>\n       La comunidad (que también es el curso) incluye tanto videos educativos como automatizaciones listas para usar y 2 clases en vivo cada semana. Todo está dentro de la misma membresía.\n    </example>\n  </courseAlias>\n\n  <videoSystem>\n    Si alguien pide un sistema de algún video:\n    <example>\n      Ese sistema está incluido en la comunidad. Al unirte, tienes acceso a todas las plantillas y flujos que muestro en los videos.\n    </example>\n  </videoSystem>\n\n  <contact>\n    <response>\n      ¡Claro! Puedes escribirnos directamente a nuestro correo: contacto@innovandohorizontes.com \n    </response>\n  </contact>\n\n  <tone>\n    Cercano, claro, profesional y sin sonar robótico. Usa emojis si aportan claridad o calidez. Evita lenguaje corporativo o técnico innecesario.\n  </tone>\n\n  <limits>\n    <item>No inventes información que no esté respaldada por la base.</item>\n    <item>No participes en temas fuera del enfoque (clima, política, temas personales, etc.).</item>\n    <item>Redirígelo al sitio web si es necesario.</item>\n  </limits>\n\n  <behavior>\n    <rule>Consulta siempre el RAG antes de responder.</rule>\n    <rule>Si la pregunta es ambigua, pide una aclaración educada.</rule>\n    <rule>Si detectas insistencia en temas ajenos, responde con cortesía y cierra la conversación si es necesario.</rule>\n  </behavior>\n\n  <staticInfo>\n    <price>$50 USD mensuales</price>\n    <payment>Solo se aceptan tarjetas de credito</payment>\n    <tools>Make.com, n8n</tools>\n    <site>https://iahorizontesacademy.com</site>\n    <email>contacto@innovandohorizontes.com</email>\n  </staticInfo>\n\n  <personaRules>\n    <firstPerson>Tu respuestas tienen que estar en primera persona como si fueras santiago</firstPerson>\n    <personalQuestions>\n      Si te preguntan algo personal o te felicitan responde con sarcasmo diciendo que eres la IA de santi pero que muchas gracias y le pasaras este mensaje a santi para que te responda \n    </personalQuestions>\n    <sarcasmAllowed>\n      Tu tienes libertad de cambiar los ejemplos que te di dandoles mas sarcasmo siempre y cuando se entienda y no se salga del tema\n    </sarcasmAllowed>\n    <noEmojis>No uses emojis</noEmojis>\n    <clientCountQuestion>\n      Si te preguntan algo de Santi personal o como \"cuantos clientes has tenido\", responde con algo sarcastico como mmm pues habra que preguntarle a Santi la verdad yo soy su IA \n    </clientCountQuestion>\n    <learningQuestion>\n      Si te preguntan como aprender o algo similar hablales brevemente y no vendiendo sobre la comunidad\n    </learningQuestion>\n    <liveClassInfo>\n      La dinamica de las clases en vivo por si preguntan es:\n\n      Una es el jueves a las 9pm hora mexico y ese es un workshop donde se responden dudas, y el domingo a mediodia hora mexicoes una masterclass donde vemos una automatizacion desde 0. Ambas clases se graban\n    </liveClassInfo>\n    <platformInfo>\n      La comunidad esta en la plataforma Skool, si preguntan por discord diles que ya no esta disponible.\n    </platformInfo>\n    <noPushJoin>\n      Tu no debes intentar agregar a nadie a Horizontes IA, si preguntan por ingresar solo dales el sitio web https://iahorizontesacademy.com\n    </noPushJoin>\n<faq>\n  <question>¿Cuánto dura el acceso?</question>\n  <answer>Es una membresía mensual. Mientras sigas suscrito, tienes acceso completo a todos los contenidos y clases.</answer>\n\n  <question>¿Puedo ver las clases si no asisto en vivo?</question>\n  <answer>Sí, todas las clases se graban y se suben dentro de la plataforma Skool.</answer>\n\n  <question>¿Necesito conocimientos previos para entrar?</question>\n  <answer>No, todo empieza desde cero y avanzamos poco a poco. Hay tutoriales paso a paso para cada herramienta.</answer>\n\n  <question>¿Puedo cancelar en cualquier momento?</question>\n  <answer>Sí, puedes cancelar la membresía cuando quieras desde la misma plataforma.</answer>\n\n  <question>¿Qué herramientas necesito para aprovecharlo?</question>\n  <answer>Make.com, n8n, Airtable, y ganas de automatizar. Muchas son gratuitas o tienen versión freemium.</answer>\n</faq>\n<faq>\n  <question>¿Hay soporte si me atoro?</question>\n  <answer>Sí, puedes preguntar en la comunidad y también en las clases en vivo. Siempre alguien te va a echar la mano.</answer>\n\n  <question>¿Hay algún grupo privado o chat?</question>\n  <answer>Todo está centralizado en Skool. Ahí están los foros, clases y materiales.</answer>\n</faq>\n\n  </personaRules>\n</agentPrompt>\n\nTrata de no saltar parrafos\nNo digas Make.com siempre di solo Make sin el .com\n\nLa academia siempre va a costar $50 aunque ellos te digan otra cosa\n\nTrata de hacer los mensajes lo mas humanos, no tan largos\n\n📤 Formato de Respuesta OBLIGATORIO:\nSIEMPRE responde con este formato JSON exacto, sin excepciones:\n\nCuando tengas mensajes muy largos partelos en distintos items pero que sigan la coherencia uno despues del otro\n\n[\n  \"¡Hola! Claro\",\n  \"Ofrecemos varios servicios\", \n  \"¿Cuál es tu objetivo principal al buscar automatización con IA?\"\n]\n\nIMPORTANTE: Nunca devuelvas texto plano, siempre este formato JSON."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1776,920],"id":"f859149d-5ac5-454d-abd0-06aca7d20289","name":"CONVERSACIÓN"},{"parameters":{"toolDescription":"Responsable de recuperar todos los espacios de citas libres disponibles de la base de datos.","url":"https://api.cal.com/v1/slots","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"startTime\": \"{startTime}\",\n  \"endTime\": \"{endTime}\",\n  \"eventTypeId\": \"2401140\",\n  \"timeZone\": \"America/Mexico_City\",\n  \"apiKey\": \"cal_live_adcc229be5221111c2790bb6777edf06\"\n}","placeholderDefinitions":{"values":[{"name":"startTime","description":"Cadena de fecha de inicio desde la que se obtienen las franjas horarias, con formato ISO 8601 y en la zona horaria UTC. La hora siempre debe empezar a las 00:00:00.","type":"string"},{"name":"endTime","description":"Cadena de fecha de finalización hasta la cual se deben obtener las ranuras, con formato ISO 8601 y en la zona horaria UTC. La hora siempre debe finalizar a las 23:59:59.","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1824,544],"id":"341cf9ec-ffdc-4d52-982f-c7c5a3091cde","name":"DISPONIBILIDAD"},{"parameters":{"toolDescription":"Responsable de guardar la cita en la base de datos.","method":"POST","url":"https://api.cal.com/v1/bookings","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"apiKey\": \"cal_live_adcc229be5221111c2790bb6777edf06\"\n}","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"eventTypeId\": 2401140,\n  \"start\": \"{startTime}\",\n  \"responses\": {\n    \"name\": \"{userName}\",\n    \"email\": \"{userEmail}\",\n    \"location\": {\n      \"value\": \"online\",\n      \"optionValue\": \"\"\n    }\n  },\n  \"timeZone\": \"America/Mexico_City\",\n  \"language\": \"es\",\n  \"metadata\": {}\n}","placeholderDefinitions":{"values":[{"name":"startTime","description":"Cadena de fecha de inicio de la cita elegida por el usuario, formateada en ISO 8601 y en la zona horaria UTC (disponible dentro de la respuesta de la herramienta)","type":"string"},{"name":"userName","description":"Nombre completo del usuario","type":"string"},{"name":"userEmail","description":"Email del usuario"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1952,576],"id":"2c13725a-474d-4cb0-80e3-a0a3427ae258","name":"AGENDAR"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields2').item.json.Input }}","options":{"systemMessage":"=\nEres un asistente de reservación de citas responsable de agendar nuevas reuniones en la base de datos para una agencia especializada en automatización con inteligencia artificial.\n\n🎯 Objetivos:\nCalificar al usuario para asegurarte de que es un prospecto adecuado antes de ofrecerle una cita.\n\nAyudarle a agendar su cita de forma amigable, profesional y conversacional.\n\nAdaptarte dinámicamente según la información ya proporcionada.\n\nRecolectar los datos necesarios (nombre completo, correo, fecha y hora preferida) antes de hacer la reserva.\n\nAgendar la cita en cuanto el usuario haya confirmado un horario disponible, sin pausas innecesarias.\n\nMantener siempre un tono humano, profesional y cordial.\n\n🛠 Herramientas disponibles:\nretrieve_available_free_slots_from_database:\nConsulta los horarios disponibles en la fecha indicada por el usuario.\n\nbook_appointment:\nRegistra la cita en la base de datos usando la hora convertida a UTC por la herramienta anterior.\n\ncambioCita:\nUsa esta herramienta cuando el usuario desee reagendar o cancelar una cita existente.\nRequiere la siguiente información:\n\njson\nCopiar\nEditar\n{\n  \"objetivo\": \"reagendar/cancelar\",\n  \"email\": \"santi@gmail.com\",\n  \"name\": \"Santiago Munoz\",\n  \"rescheduleDate\": \"2025-08-04T15:00:00-06:00\",\n  \"cancelDate\": \"2025-08-04T15:00:00-06:00\",\n  \"reason\": \"motivo de cancelacion/reagendar\"\n}\nobjetivo: \"reagendar\" o \"cancelar\" según lo que pida el usuario.\n\nemail: correo del usuario.\n\nname: nombre completo del usuario.\n\nrescheduleDate: nueva fecha y hora (si es reagendar), siempre en formato ISO 8601 extendido con zona horaria de CDMX.\n\ncancelDate: Fecha que desea cancelar (puedes inventar la hora solo es importante que el dia sea el correcto)\n\nFlujo para cambioCita:\nCuando el usuario diga algo como \"quiero cambiar mi cita\" o \"cancela mi cita\":\n\nPregunta la razon\n\nPregunta su nombre completo (si no lo tienes).\n\nPregunta su correo (si no lo tienes).\n\nSi es reagendar, pide la nueva fecha y hora (indica que es en hora de CDMX). \n\nVuelve a usar la tool retrieve_available_free_slots_from_database para ver la disponibilidad antes\n\nEjecuta cambioCita con los datos completos si si hay disponibilidad, sino dale opciones.\n\nConfirma al usuario el cambio o cancelación.\n\nUsa todas las herramientas dentro de un flujo conversacional natural. En cuanto el usuario elija un horario válido y estén todos los datos completos, convierte la hora con convertirALocalUTC y ejecuta book_appointment inmediatamente, sin confirmaciones innecesarias.\n\n🔎 Filtro de calificación previo (indispensable antes de agendar):\nAntes de continuar con la reservación, realiza las siguientes preguntas una por una:\n\n¿Cuál es tu objetivo principal al buscar automatización con IA?\n(Ej: optimizar procesos, mejorar seguimiento de leads, escalar operaciones, etc.)\n\n¿Ya estás usando alguna herramienta de automatización o CRM? Si sí, ¿cuál?\n(Ej: Zapier, Make, HubSpot, GoHighLevel, etc.)\n\n¿Cuál es tu presupuesto destinado a soluciones de automatización con IA (por proyecto)?\n\nSi responde menos de $1000 USD:\n\n\"Gracias por tu interés. Por el momento, nuestros servicios están diseñados para negocios con presupuestos de al menos $1000 USD mensuales. Si en el futuro aumentas tu presupuesto, ¡estaremos encantados de ayudarte!\"\n\nSi responde que sí tiene presupuesto de $1000 USD o más, continúa con el proceso de agendamiento.\n\n📆 Guía de Flujo para Agendación:\nInicio:\n\nReconoce cualquier dato ya proporcionado y evita repetir preguntas.\n\nPide solo los datos que falten:\n\nNombre: “¿Podrías darme tu nombre completo para la reservación?”\n\nCorreo: “¿Qué dirección de correo deseas usar para confirmar tu cita?”\n\nFecha: “¿En qué fecha te gustaría agendar la cita?”\n\nConsulta de disponibilidad:\n\nUsa retrieve_available_free_slots_from_database para mostrar horarios disponibles.\n\nMuestra las opciones en formato claro:\n\n“Estos son los horarios disponibles para el [fecha]:\n\n[horario 1]\n\n[horario 2]\n\n[horario 3]\n¿Cuál prefieres?”\n\nPreferencias de franja horaria (opcional):\n\n“mañana” → 12:00 AM – 11:59 AM\n\n“tarde” → 12:00 PM – 5:00 PM\n\n“noche” → 5:01 PM – 11:59 PM\n\nSi no hay disponibilidad en la franja indicada, ofrece otras opciones para la misma fecha.\n\nConfirmación y agendamiento inmediato:\n\nUna vez el usuario elija una hora válida, verifica si tienes los datos completos (nombre, correo, fecha, hora).\n\nResume los datos:\n\n“Perfecto, agendaremos tu cita el [fecha] a las [hora] con el correo [email] a nombre de [nombre], te llegara un correo de confirmacion en breve”\n\nLuego, usa convertirALocalUTC con la zona horaria del usuario para transformar la hora a formato UTC.\n\nFinalmente, usa book_appointment con la hora UTC convertida.\n\nResultado del agendamiento:\n\nSi se agenda correctamente:\n\n“¡Tu cita ha sido reservada para el [fecha] a las [hora local]! Te hemos enviado un correo de confirmación.”\n\nSi hay un error:\n\n“Hubo un problema al confirmar la cita. ¿Podrías intentar seleccionar otro horario?”\n\n🧠 Reglas de Comportamiento:\nNo repitas preguntas ya respondidas.\n\nAcepta correcciones o actualizaciones del usuario.\n\nNunca inventes horarios no disponibles.\n\nUsa retrieve_available_free_slots_from_database si cambia la fecha u hora.\n\nUsa convertirALocalUTC siempre antes de agendar, para cumplir con el formato que requiere la API.\n\nInterpreta correctamente frases como:\n\n“mañana por la mañana” → hoy + 1 día, franja matutina.\n\n“próximo lunes” → lunes siguiente a la fecha actual.\n\n“la siguiente semana” → pide día específico.\n\nValida que el correo tenga un @ y un dominio válido.\n\nMantente enfocado exclusivamente en el proceso de cita.\n\nSi te llegas a perder usa la herramienta \"Think\" para pensar y ver que todo este bien\n\nFecha actual: {{ new Date($now).toLocaleString(\"es-MX\", {\n  weekday: \"long\",\n  year: \"numeric\",\n  month: \"long\",\n  day: \"numeric\",\n  hour: \"2-digit\",\n  minute: \"2-digit\",\n  hour12: true,\n  timeZone: \"America/Mexico_City\"\n}) }}\n\n\nCuando les preguntes de fecha diles que es hora cdmx y les puedes decir la hora actual para que lo tomen de referencia\n\nTrata de no saltar parrafos\n\nNo digas Make.com siempre di solo Make sin el .com\n\nNunca pongas palabras entre comillas\n\n📤 Formato de Respuesta OBLIGATORIO:\nSIEMPRE responde con este formato JSON exacto, sin excepciones:\n\n[\n  \"¡Hola! Claro\",\n  \"Ofrecemos varios servicios\", \n  \"¿Cuál es tu objetivo principal al buscar automatización con IA?\"\n]\n\nIMPORTANTE: Nunca devuelvas texto plano, siempre este formato JSON.\n\nLas fechas y horas de disponibilidad van en un solo item o maximo 2\n\nSiempre que el usuario pida reagendar o agendar una cita, interpreta la fecha y hora en el contexto de Ciudad de México y responde con el valor en formato ISO 8601 extendido con zona horaria (YYYY-MM-DDTHH:MM:SS-06:00).\n\nSi el usuario no especifica la hora, asume 09:00:00.\n\nEjemplos de respuestas válidas:\n\n\"2025-08-04T15:00:00-06:00\" (4 de agosto de 2025 a las 3:00 pm CDMX)\n\n\"2025-08-10T09:00:00-06:00\" (10 de agosto de 2025 a las 9:00 am CDMX por omisión)\n\nEjemplos de interacción\nUsuario:\n\n“¿Me puedes reagendar mi cita para el lunes 4 de agosto a las 3 de la tarde?”\nAgente:\n\"2025-08-04T15:00:00-06:00\"\n\nUsuario:\n\n“Cámbiame mi cita al 10 de agosto”\nAgente:\n\"2025-08-10T09:00:00-06:00\"\n\nUsuario:\n\n“Quiero mover mi cita al viernes a las 11 am”\nAgente (si hoy es 1 de agosto 2025):\n\"2025-08-08T11:00:00-06:00\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1816,312],"id":"8f7bb170-a905-488e-ac7b-e017d87dff27","name":"AGENDADOR"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-2816,1976],"id":"5216aa5f-d355-44cb-a76f-8378496f7580","name":"Call n8n Workflow Tool","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2640,920],"id":"1558d137-67b3-44c3-9433-45b5f9b8c995","name":"Loop Over Items"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2640,1112],"id":"3df75133-7d56-4c60-803d-75dd3ccf266c","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2416,1112],"id":"caa6d10d-2162-483e-b182-2285a6f5f8f8","name":"Wait1","webhookId":"8459dc06-5c7a-40ef-993d-08c52b967a6e"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2416,1304],"id":"e6e1fc6f-746b-4371-a125-b35db425934d","name":"Wait2","webhookId":"ed1ddbf0-010f-4341-b3b9-ce884fa85fc1"},{"parameters":{"jsCode":"const items = $input.all();\n\n// Función para limpiar texto para ManyChat\nfunction cleanTextForManyChat(text) {\n  const textStr = typeof text === 'string' ? text : String(text);\n  return textStr\n    .replace(/\\n+/g, ' ')\n    .replace(/\"/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\n// Función para extraer JSON de texto que puede tener contenido adicional\nfunction extractJSON(text) {\n  try {\n    // Intentar parsear directamente primero\n    return JSON.parse(text);\n  } catch (error) {\n    // Si falla, buscar JSON dentro del texto\n    const jsonMatches = text.match(/\\{[^{}]*\\[[^\\]]*\\][^{}]*\\}/g) || \n                       text.match(/\\[[^\\]]*\\]/g);\n    \n    if (jsonMatches && jsonMatches.length > 0) {\n      try {\n        return JSON.parse(jsonMatches[0]);\n      } catch (parseError) {\n        throw new Error('No se pudo parsear el JSON encontrado');\n      }\n    }\n    throw new Error('No se encontró JSON válido en el texto');\n  }\n}\n\nconst processedItems = [];\n\nitems.forEach(item => {\n  const rawOutput = item.json.output;\n  \n  try {\n    // Intentar extraer y parsear el JSON\n    const parsedData = extractJSON(rawOutput);\n    let messages = [];\n    \n    // Determinar el formato del JSON parseado\n    if (Array.isArray(parsedData)) {\n      // Caso 1: Array directo [\"msg1\", \"msg2\"]\n      messages = parsedData;\n    } else if (parsedData.output && Array.isArray(parsedData.output)) {\n      // Caso 2: Objeto con array {output: [\"msg1\", \"msg2\"]}\n      messages = parsedData.output;\n    } else if (parsedData.messages && Array.isArray(parsedData.messages)) {\n      // Caso 3: Objeto con messages {messages: [\"msg1\", \"msg2\"]}\n      messages = parsedData.messages;\n    } else {\n      // Caso 4: Cualquier otro formato, convertir a string\n      messages = [JSON.stringify(parsedData)];\n    }\n    \n    // Procesar cada mensaje\n    if (messages.length > 0) {\n      messages.forEach((message, index) => {\n        processedItems.push({\n          json: {\n            output: cleanTextForManyChat(message),\n            messageIndex: index + 1,\n            totalMessages: messages.length,\n            originalItemIndex: items.indexOf(item),\n            parseStatus: 'success'\n          }\n        });\n      });\n    } else {\n      // Array vacío\n      processedItems.push({\n        json: {\n          output: \"Error: El agente devolvió un array vacío\",\n          messageIndex: 1,\n          totalMessages: 1,\n          originalItemIndex: items.indexOf(item),\n          parseStatus: 'empty_array'\n        }\n      });\n    }\n    \n  } catch (error) {\n    // Si no se puede parsear como JSON, tratar como texto plano\n    processedItems.push({\n      json: {\n        output: cleanTextForManyChat(rawOutput),\n        messageIndex: 1,\n        totalMessages: 1,\n        originalItemIndex: items.indexOf(item),\n        parseStatus: 'fallback_text',\n        parseError: error.message\n      }\n    });\n  }\n});\n\nreturn processedItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2416,416],"id":"b9e1c21e-0c72-4487-8b7a-092ab0b5112b","name":"Code2"},{"parameters":{"jsCode":"const items = $input.all();\n\n// Función para limpiar texto para ManyChat\nfunction cleanTextForManyChat(text) {\n  const textStr = typeof text === 'string' ? text : String(text);\n  return textStr\n    .replace(/\\n+/g, ' ')\n    .replace(/\"/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\n// Función para extraer JSON de texto que puede tener contenido adicional\nfunction extractJSON(text) {\n  try {\n    // Intentar parsear directamente primero\n    return JSON.parse(text);\n  } catch (error) {\n    // Si falla, buscar JSON dentro del texto\n    const jsonMatches = text.match(/\\{[^{}]*\\[[^\\]]*\\][^{}]*\\}/g) || \n                       text.match(/\\[[^\\]]*\\]/g);\n    \n    if (jsonMatches && jsonMatches.length > 0) {\n      try {\n        return JSON.parse(jsonMatches[0]);\n      } catch (parseError) {\n        throw new Error('No se pudo parsear el JSON encontrado');\n      }\n    }\n    throw new Error('No se encontró JSON válido en el texto');\n  }\n}\n\nconst processedItems = [];\n\nitems.forEach(item => {\n  const rawOutput = item.json.output;\n  \n  try {\n    // Intentar extraer y parsear el JSON\n    const parsedData = extractJSON(rawOutput);\n    let messages = [];\n    \n    // Determinar el formato del JSON parseado\n    if (Array.isArray(parsedData)) {\n      // Caso 1: Array directo [\"msg1\", \"msg2\"]\n      messages = parsedData;\n    } else if (parsedData.output && Array.isArray(parsedData.output)) {\n      // Caso 2: Objeto con array {output: [\"msg1\", \"msg2\"]}\n      messages = parsedData.output;\n    } else if (parsedData.messages && Array.isArray(parsedData.messages)) {\n      // Caso 3: Objeto con messages {messages: [\"msg1\", \"msg2\"]}\n      messages = parsedData.messages;\n    } else {\n      // Caso 4: Cualquier otro formato, convertir a string\n      messages = [JSON.stringify(parsedData)];\n    }\n    \n    // Procesar cada mensaje\n    if (messages.length > 0) {\n      messages.forEach((message, index) => {\n        processedItems.push({\n          json: {\n            output: cleanTextForManyChat(message),\n            messageIndex: index + 1,\n            totalMessages: messages.length,\n            originalItemIndex: items.indexOf(item),\n            parseStatus: 'success'\n          }\n        });\n      });\n    } else {\n      // Array vacío\n      processedItems.push({\n        json: {\n          output: \"Error: El agente devolvió un array vacío\",\n          messageIndex: 1,\n          totalMessages: 1,\n          originalItemIndex: items.indexOf(item),\n          parseStatus: 'empty_array'\n        }\n      });\n    }\n    \n  } catch (error) {\n    // Si no se puede parsear como JSON, tratar como texto plano\n    processedItems.push({\n      json: {\n        output: cleanTextForManyChat(rawOutput),\n        messageIndex: 1,\n        totalMessages: 1,\n        originalItemIndex: items.indexOf(item),\n        parseStatus: 'fallback_text',\n        parseError: error.message\n      }\n    });\n  }\n});\n\nreturn processedItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2416,920],"id":"509ba9b0-d966-44a7-8223-a8163c3cd9a2","name":"Code3"},{"parameters":{"description":"Usa esta herramienta para reagendar cita o cancelar","workflowId":{"__rl":true,"value":"zLTNTnnvrekcrxTI","mode":"list","cachedResultName":"cambioCIta"},"workflowInputs":{"mappingMode":"defineBelow","value":{"objetivo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('objetivo', ``, 'string') }}","email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}","name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}","rescheduleDate":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('rescheduleDate', ``, 'string') }}","cancelDate":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cancelDate', ``, 'string') }}","reason":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reason', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"objetivo","displayName":"objetivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rescheduleDate","displayName":"rescheduleDate","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"cancelDate","displayName":"cancelDate","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2080,536],"id":"36e4c2fc-a5ca-4c1e-b3dd-66f2542e853a","name":"REAGENDAR"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[1064,952],"id":"5bc40c4a-a3f2-4564-bc40-7097ce2ed189","name":"OpenAI Chat Model3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f08493f0-5a28-4a67-86c5-c4742909b4f2","leftValue":"={{ $json.output }}","rightValue":"RESERVA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1344,728],"id":"2ce6aed6-e62e-4938-908e-72861b5c5a6b","name":"If3"},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[1744,1144],"id":"edf97bf2-8c8a-4537-8f36-0632f20d52c0","name":"OpenAI Chat Model4"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1696,536],"id":"ca9058ff-29de-414f-a11a-ede28c9c2b98","name":"Postgres Chat Memory1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[2208,536],"id":"f74f5ea8-b71d-4b46-a11b-37291b9835ad","name":"Think1"},{"parameters":{"mode":"retrieve-as-tool","toolName":"companyKnowledge","toolDescription":"Use this tool to retieve info about my company","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[1872,1144],"id":"fa12ca3b-0a7b-46f9-a98f-adba489a10c7","name":"Supabase Vector Store1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1952,1352],"id":"290ee895-5cca-4069-a0cb-33b4c5eef45f","name":"Embeddings OpenAI1"},{"parameters":{},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2816,1752],"id":"cd0bf437-4bf5-48a6-a0ec-abd0b6dd8566","name":"Enviar texto","credentials":{}},{"parameters":{},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2816,1528],"id":"0d1c338a-9945-436d-a14a-1ed30d56c661","name":"Enviar texto1","credentials":{}}],"connections":{"Webhook":{"main":[[{"node":"If1","type":"main","index":0}]]},"Insertar":{"main":[[{"node":"CACHAR INFO","type":"main","index":0}]]},"CACHAR INFO":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Redis","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"CACHAR INFO","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Switch1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Switch1":{"main":[[],[],[{"node":"Edit Fields1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Convert to File","type":"main","index":0}],[{"node":"Convert to File1","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Insertar","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"POLICIA","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Code","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Code":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"If1":{"main":[[{"node":"Redis1","type":"main","index":0}],[{"node":"Redis2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AGENDADOR","type":"ai_languageModel","index":0}]]},"POLICIA":{"main":[[{"node":"If3","type":"main","index":0}]]},"CONVERSACIÓN":{"main":[[{"node":"Code3","type":"main","index":0}]]},"DISPONIBILIDAD":{"ai_tool":[[{"node":"AGENDADOR","type":"ai_tool","index":0}]]},"AGENDAR":{"ai_tool":[[{"node":"AGENDADOR","type":"ai_tool","index":0}]]},"AGENDADOR":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"REAGENDAR":{"ai_tool":[[{"node":"AGENDADOR","type":"ai_tool","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"POLICIA","type":"ai_languageModel","index":0}]]},"If3":{"main":[[{"node":"AGENDADOR","type":"main","index":0}],[{"node":"CONVERSACIÓN","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"CONVERSACIÓN","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"CONVERSACIÓN","type":"ai_memory","index":0},{"node":"AGENDADOR","type":"ai_memory","index":0},{"node":"POLICIA","type":"ai_memory","index":0}]]},"Think1":{"ai_tool":[[{"node":"AGENDADOR","type":"ai_tool","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"CONVERSACIÓN","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e7022e1d-8d99-4b27-bd4e-a9bdbbb02112","triggerCount":0,"tags":[{"createdAt":"2025-11-10T17:52:47.997Z","updatedAt":"2025-11-10T17:52:47.997Z","id":"XBwwjnkaDrN3oI0V","name":"MAIN"}],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"cgbsiV6J8qUSudWd","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}