backups/workflows/Webhook Form.json
{"createdAt":"2025-11-09T05:52:03.583Z","updatedAt":"2025-11-09T05:52:03.583Z","id":"Rzvupg3EFGuRY6fu","name":"Webhook Form","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"formulario","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-64,224],"id":"00a4bce6-1a15-4e67-a079-b68e1a66e63a","name":"Webhook","webhookId":"432807e0-af8a-4ae1-94c8-31398928dd00"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1c13UTGFfcI2xll_Mae8_wcYEk4-clBGWEzptW4LBvEs","mode":"list","cachedResultName":"ejem","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1c13UTGFfcI2xll_Mae8_wcYEk4-clBGWEzptW4LBvEs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1c13UTGFfcI2xll_Mae8_wcYEk4-clBGWEzptW4LBvEs/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre ":"={{ $('Webhook').item.json.body.nombre }}","Telefono":"={{ $('Webhook').item.json.body.telefono }}","Edad":"={{ $('Webhook').item.json.body.edad }}","Correo electronico":"={{ $('Webhook').item.json.body.email }}","Intereses":"={{ $json.interesesUnidos }}"},"matchingColumns":[],"schema":[{"id":"Nombre ","displayName":"Nombre ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Edad","displayName":"Edad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Correo electronico","displayName":"Correo electronico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Intereses","displayName":"Intereses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[336,224],"id":"1bfdb294-4da5-4309-b2b2-0f15504802bd","name":"Append row in sheet"},{"parameters":{"jsCode":"const items = $input.first().json.body.intereses\nconst interesesUnidos = items.join(', ')\nreturn [ \n          {\n            json: { \n              interesesUnidos \n            }\n          } \n        ];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[144,224],"id":"55e99808-08c9-4680-8afd-27968c8c1ddb","name":"Code in JavaScript"},{"parameters":{"sendTo":"={{ $json['Correo electronico'] }}","subject":"Hola! Hemos registrado tu info","emailType":"text","message":"=Hola {{ $json['Nombre '] }},\n\nHemnos recibido tu informacion correctamente, ya sabemos que te interesa la: {{ $('Code in JavaScript').item.json.interesesUnidos }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[544,224],"id":"e55e6100-74b7-4dd0-b50e-372681a2d32f","name":"Send a message","webhookId":"2a6227a0-300d-4f3a-94cd-010a4eec5271"}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4c77d9f4-43e4-4598-8b16-f6a613970859","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-11-20T18:17:54.888Z","updatedAt":"2025-11-20T18:17:54.888Z","role":"workflow:owner","workflowId":"Rzvupg3EFGuRY6fu","projectId":"hjSKGjfHqbYgbRJl","project":{"createdAt":"2025-11-20T16:08:16.301Z","updatedAt":"2025-11-20T17:01:47.741Z","id":"hjSKGjfHqbYgbRJl","name":"Presla Corp <svargas@presla.co>","type":"personal","icon":null,"description":null}}]}